[2015-03-28 15:38] tomav opened #1 "Need to speed up amavis scanning"
Since amavis and other filters are enabled, mail scanning add a delay in mail delivery.

	mail_1 | Mar 28 15:19:12 94f2fb3e567b postfix/smtpd[573]: connect from localhost[127.0.0.1]
	mail_1 | Mar 28 15:19:12 94f2fb3e567b postfix/smtpd[573]: DBE3C6250F: client=localhost[127.0.0.1]
	mail_1 | Mar 28 15:19:12 94f2fb3e567b postfix/cleanup[568]: DBE3C6250F: message-id=<1223FB7B-12E3-4696-93DA-8332128ACD

[2015-03-29 16:44] tomav commented on #1
Tested on a Debian 8. Works great.
Problem was related to VirtualBox and shared folder performance.

[2015-03-29 16:44] #1 closed

[2015-03-31 18:09] tomav opened #3 "Manage /etc/postfix/virtual file (aliases)"
This file records aliases for postfix users.
A default record should be given to be used as an administrator account.

[2015-03-31 20:08] tomav opened #4 "Review of main.cf and master.cf by a Postfix expert"
It works, but can be improved.
If a Postfix expert could have a look, it would be nice.
Thank you.

[2015-05-05 18:39] AndreSchwarzer opened #5 "missing: how to"
1) Thanks for your Docker-"Image"
2) it would be nice to have a >how to< ... to a running docker instance
2.1) add accounts
2.2) change passwords
2.3) add/remove aliases

BIG THANK YOU

[2015-05-05 22:16] tomav commented on #5
Hi @AndreSchwarzer

1) Thank You.
2) Done in the README.
2.1) Env variables.
2.2) Env variables.
2.3) Env variables.

I recommend using `docker-compose`, easier to understand, write and maintain.
I also recommend to use a data only container for you `/var/mail` folder.

Regards.

[2015-05-05 22:16] #5 closed

[2015-05-05 22:18] tomav commented on #3
Done in 962a98823e3b69a14c242eaac5fa3778c223e02f.

[2015-05-05 22:18] #3 closed

[2015-05-05 22:37] AndreSchwarzer commented on #5
Thanks for your reply, but it is not exactly what I wanted to know.

I wanted to know how to change on the running docker instance a users password, add additional users/aliases ...

Thanks a lot.

[2015-05-05 22:44] tomav commented on #5
@AndreSchwarzer, you have 2 options:
- change config on your running container: in this case I recommend you to have a look to Postfix / Courier-Imap documentation which will be more exhaustive than me. The problem is that when you will restart your container, your changes will be lost.
- set your config (user, pass, aliases) in your `docker-compose.yml`. This file can be versioned in a private re

[2015-05-05 22:45] AndreSchwarzer commented on #5
Thanks a lot.

[2015-05-12 11:52] jeroenlammerts opened #6 "Starting ClamAV daemon clamd: fail!"
Using docker-compose up
Ubuntu 14.04

    mail_1 | Starting SpamAssassin Mail Filter Daemon: spamd.
    mail_1 |  * Starting ClamAV daemon clamd
    mail_1 |    ...fail!
    mail_1 | Starting amavisd: amavisd-new.
    mail_1 |  * Starting Postfix Mail Transport Agent postfix
    mail_1 |    ...done.
    mail_1 | Listing SASL users
    mail_1 | info@mydomain.com: userPassword
    mail_1 | Starting.

[2015-05-12 11:54] tomav commented on #6
Hi @jeroenlammerts, can I get your `docker-compose.yml` or `command line`?
Thank you.

[2015-05-12 11:55] jeroenlammerts commented on #6
mail:
  # image: tvial/docker-mailserver
  build: .
  hostname: mail
  domainname: cloudmailer.nl
  ports:
  - "25:25"
  - "143:143"
  - "587:587"
  - "993:993"
  environment:
    docker_mail_domain: "cloudmailer.nl"
    # format is user@domain.tld|clear_password
    docker_mail_users:
      - "info@cloudmailer.nl|secret!"
      - "bounce@cloudmailer.nl|secret!"
    # format is user@domain.tld|lis

[2015-05-12 12:03] tomav commented on #6
@jeroenlammerts, just tried your `docker-compose.yml` with the image available on the registry and it works.

➜  docker-mailserver git:(master) ✗ docker-compose up mail
    Recreating dockermailserver_mail_1...
    Attaching to dockermailserver_mail_1
    mail_1 | Regenerating 'vmailbox' for given users
    mail_1 | user 'info' for domain 'cloudmailer.nl' with password 'secret!'
    mail_1 | user

[2015-05-12 12:57] jeroenlammerts commented on #6
Thanks for your quick help!

I tried this on osx and it is working there, but still have the issue on ubuntu.

I'm using a Digitalocean droplet:

Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.1 LTS
Release:	14.04
Codename:	trusty

docker version:

Client version: 1.6.1
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 97cd073
OS/Arch (client): linux/amd64
Server version

[2015-05-12 13:02] jeroenlammerts commented on #6
Looks like the issue is not in your image. I have the same error as here:
https://www.digitalocean.com/community/questions/clamav-daemon-fails-to-load-due-to-memory-any-way-to-run-clamscan-on-demand-for-attachments

I appreciate your help very much!

[2015-05-12 13:17] tomav commented on #6
Hmmm.... had a memory issue, not with docker, but with capistrano when compiling assets on Digitalocean. I resolved my issue [with this](https://www.digitalocean.com/community/tutorials/how-to-add-swap-on-ubuntu-14-04).
Hope this helps.

[2015-05-12 13:17] #6 closed

[2015-05-18 15:12] citec opened #7 "Alias not working"
Hi, I am using your mail stack with docker-compose. It works great for smtp, but for receiving emails, I could not get it to work. I get always the message:

An error occurred while sending mail. The mail server responded:  5.1.1 <test@my-domain.com>: Recipient address rejected: User unknown in virtual mailbox table. Please check the message recipient test@my-domain.com and try again.

In my docke

[2015-05-18 15:58] tomav commented on #7
Hi @citec, thanks for trying this container.

Could you give me the `docker-compose` file you're using?
Perhaps it's the default yml file?

I'll try to reproduce the problem.

Thank you.

[2015-05-18 17:23] citec commented on #7
Hi @tomav , thanks for your answer.
Sorry, my bad, I had a DNS problem, not related with any of your code. The container works great, just a filesystem initialization warning when linking the account with thunderbird.
I plan to add a db+web ui container to the mix to store the accounts and aliases and manage them visually. Do you want me to PR here or do you prefer to keep all by env vars as it is

[2015-05-18 19:30] tomav commented on #7
@citec , why don't you use Dovecot instead?

[2015-05-18 20:02] citec commented on #7
I have currently some servers with postfix+dovecot, using mysql db for storing vmailboxes. I am using your repo cuz it is already done ;) (thanks), but yes, maybe I change to dovecot and clone the config I have on the servers.

[2015-05-18 20:15] tomav commented on #7
I made this container beceause most email docker image were using databases and I wanted to keep it simple and make configs portable and easy to deploy.
So, what I suggest is to create another project because your improvement will change the philosophy of this image (event it's probably a good idea).
Thank you.

[2015-05-18 20:15] #7 closed

[2015-06-27 15:43] gegere commented on #4
Tom, in response. Your main.cf file works well but there is a more robust method to assign configuration settings. Using `postconf -e` you will be able to assign the needed variables. Also you don't need to manage the file location and placement of said file directly in the build. Your main.cf can be removed and the needed config can be directly applied within `start-mailserver.sh`

Test this:
[co

[2015-07-16 16:55] #4 closed

[2015-07-16 17:08] gegere commented on #4
Hope this was helpful. :+1:

[2015-07-16 17:33] tomav opened #8 "Put mail users and spamassassin rules out of docker-compose.yml"
This will allow to only restart container instead of killing it to recreate (and force `docker-compose.yml` to be reloaded).
This also will help files management and maintenance.

[2015-07-16 17:35] #8 closed

[2015-07-27 07:27] dy0nysos opened #9 "Accounts.cf file example"
Hello,
First of all, thank you for your work. I was able to run the smtp server and the imap server very fast.
I just had some trouble with the virtual.db map. I had to touch a new virtual file and postmap it.

But I was a bit confused with accounts.cf file, because there is not example of it in this project, and the documentation is still based on the previous account management with the env vars

[2015-07-27 07:45] tomav commented on #9
Hi @dy0nysos,

The `accounts.cf` template file is available in `postfix/` folder.
https://github.com/tomav/docker-mailserver/tree/master/postfix

Try with it to see if your problem is not related to that.
I'll let you close it if it's ok, otherwise I'll have a closer look.

[2015-07-27 07:53] dy0nysos commented on #9
Hi @tomav
My bad, I didn't see this folder.
But the documentation isn't that clear about this file; Could you do something ?

About the virtual.db problem, I don't know where it comes from. I'll try to start a new container to see if the problem still occurs. If it's still buggy, i'll open a new issue

[2015-07-27 08:01] #9 closed

[2015-07-27 08:01] tomav commented on #9
Let me know if it's ok.

[2015-07-31 07:38] dy0nysos opened #10 "Improvement on virtual"
Hi,

Once again, thanks for your job. It's pretty amazing to get a full working postfix + clamav + spamassassin server.

Is it possible to separate virtual and vmailbox configuration?

I need to have a contact email that relays its email on several other adresses (such as gmail, outlook etc.). To do this, I didn't find any other way than connect me on the container and modify the virtual file.
The

[2015-07-31 08:55] tomav commented on #10
@dy0nysos, a new file will work.
But perhaps we can improve `accounts.cf` llike this:

    # real account
    user@domain.tld|mypassword|alias1,alias2
    # relay account
    user@domain.tld|RELAY|user@external1.com,user@external2.com

With this solution, `accounts.cf` will remain the same.
You just have to improve `start-mailserver.sh` to add the parsing of `RELAY` accounts correctly.

It's an op

[2015-07-31 09:00] tomav commented on #10
Hmm, an advantage of your solution with a new file is that it will separate `accounts.cf` and `redirects.cf` (or other name) and could avoid errors.

[2015-07-31 09:06] dy0nysos commented on #10
The question is, do we need to remove aliases from `accounts.cf` and set up all aliases in `redirects.cf` (or whatever is its name) or mixing both aliases config.

My opinion is that we should separate accounts and aliases config. With this split, you could set only virtuals or only accounts, and an error in one of these file does not break the entire container.

Moreover, it could be a first step

[2015-07-31 09:12] tomav commented on #10
So `accounts.cf` will only contain mail accounts and passwords.
Both aliases and redirect will be managed by `redirect.cf`.
This is ok for me.

Note that it will break backward compatibility.

[2015-07-31 09:14] dy0nysos commented on #10
Seems good to me too.

[2015-08-10 10:55] #10 closed

[2015-08-13 17:49] ParadoxDelta opened #13 "User-Creation"
I have some issues to make my mailserver work and i think it's due to my  wrong user creation. I took your template and pasted in a new file accounts.cf under ./postfix and filled my data in there. somehow like this:

# imap
username:                  <reply-to@mydomain.com>
password:                  <mypassword>
server:                    <123.132.123.123>
imap port:                 993
imap pat

[2015-08-13 18:02] ParadoxDelta commented on #13
ah, i found the example-file with user@domain.tld|password
but my problems remain the same. client wont connect and emails wont get saved even though ports are reachable. any idea what the problem might be?

[2015-08-13 18:26] gegere commented on #13
Hello @ParadoxDelta this is a great docker instance. I thought I would share [another repo](https://github.com/htmlgraphic/Mail-Server) I have been working on maybe you can piece a few things together and get your build working.

[2015-08-13 18:49] tomav commented on #13
@ParadoxDelta, I can help you, but I need you configurations to reproduce the problem. Do not hesitate.

@gegere, advertisement spotted! :-) Please...

[2015-08-13 18:51] gegere commented on #13
Pretty Please? Happy to help your build anytime. Open source projects are epic!

[2015-08-14 05:27] ParadoxDelta commented on #13
Alright but i didn't change much. Just my URL as ENV when run and one user in the account.cf
Container looks like this
bbc381af9435        tvial/docker-mailserver   "/bin/sh -c /usr/loc   15 hours ago        Up 15 hours         0.0.0.0:25->25/tcp, 0.0.0.0:143->143/tcp, 0.0.0.0:587->587/tcp, 0.0.0.0:993->993/tcp   mailserver

main.cf
# See /usr/share/postfix/main.cf.dist for a commented, more compl

[2015-08-14 08:17] tomav commented on #13
(edit: reformatted you comment content)

[2015-08-14 08:23] tomav commented on #13
@ParadoxDelta these are default configuration that comes with the container, right? If yes your problem is somewhere else.
Are you using `docker` or `docker-compose`? (give me `docker-compose.yml` file)

Please run the container and paste me the container logs, from the first line to `postfix start`. We should see the problem quickly.

[2015-08-14 14:34] ParadoxDelta commented on #13
it keeps saying "unexpected ssl conenction shutdown"
we have a quite restrictive firewall setting. Do i need open ports other than 587 and 993?
logs:

Regenerating postfix 'vmailbox' and 'virtual' for given users
/usr/local/bin/start-mailserver.sh: 10: /usr/local/bin/start-mailserver.sh: cann

[2015-08-17 17:08] ParadoxDelta commented on #13
is this of any help?

[2015-08-17 17:16] tomav commented on #13
Sorry, was on vacation.
I had a look and there's a problem on the way you are mounting files into the container.

/usr/local/bin/start-mailserver.sh: 10: /usr/local/bin/start-mailserver.sh: cannot open /tmp/postfix/accounts.cf: No such file
    /etc/courier/userdb: not found.
    cp: cannot stat '/tmp/postfix/virtual': No such file or directory

As you can see, `/tmp/postfix/accounts.cf` and `/tmp

[2015-08-17 18:45] ParadoxDelta commented on #13
Sorry, i didn't realise the files have to be present when you create the container. so i created blank virtual and rules.cf and an accounts.cf with one user. Now the logs look better in the beginning but then: Starting amavisd: (failed). and some ssl-alerts. do i have to create a certificate and link it in some file? i was able to connect to imap with my gmail-app but to the smtp only with the set

[2015-08-17 20:21] tomav commented on #13
You just have to add users to `/etc/postfix/accounts.cf` and restart your container (what I do on my server), or check what is done in `start-mailserver.sh` to do it manually (not what I would do).

You should also use a data volume container for `/var/mail`.

Please have a look the last commit. I removed `docker_mail_domain ` env.
It's now more docker compliant (and easy to configure).

[2015-08-18 09:29] tomav commented on #13
Let me know how it is going and reopen this thread if needed.
Thank you.

[2015-08-18 09:29] #13 closed

[2015-08-18 09:32] tomav opened #14 "Add ability to provide easily a SSL certificate"

[2015-08-18 11:16] tomav commented on #14
Added:

- a SSL certificate generator
- a convention over configuration mechanism to automatically configure SSL cert

Please have a look to `README`.

[2015-08-18 11:16] #14 closed

[2015-08-19 08:13] tomav opened #15 "Set $myhostname automatically instead of forcing it in config file"

[2015-08-19 08:28] #15 closed

[2015-08-19 13:50] tomav opened #16 "Cron daemon is not started, so freshclam won't be triggered"

[2015-08-19 13:53] tomav commented on #16
Done.

[2015-08-19 13:53] #16 closed

[2015-08-20 12:32] tomav commented on #16
Works as expected.

    Thu Aug 20 01:00:01 2015 -> --------------------------------------
    Thu Aug 20 01:00:01 2015 -> ClamAV update process started at Thu Aug 20 01:00:01 2015
    Thu Aug 20 01:00:01 2015 -> main.cvd is up to date (version: 55, sigs: 2424225, f-level: 60, builder: neo)
    Thu Aug 20 01:00:36 2015 -> Downloading daily-20810.cdiff [100%]
    Thu Aug 20 01:00:39 2015 -> daily.c

[2015-08-25 22:09] GerrAlt12 opened #17 "SMTP does not respond (install at Jelastic)"
Hello!
Thx for your great work!
Looks great, but I have an issue:
I'm try to install this container into Jelastic. When installation finishes, I'm try to connect to IMAP and SMTP via Telnet (test availability), and connect to IMAP (143) proceed without any errors, but SMTP (25) fails

I have read all docs about port redirection, and looks like I dont have any problem here (IMAP works good).

I do

[2015-08-25 22:16] tomav commented on #17
Hi @GerrAlt12, I'm trying to reproduce but I need more information.
This is what I tried to match your usecase:

    docker run --name mail -v "$(pwd)/postfix":/tmp/postfix -v "$(pwd)/spamassassin":/tmp/spamassassin -p "25:25" -p "143:143" -p "587:587" -p "993:993" -h mail.my-domain.com -ti tvial/docker-mailserver bash

    root@mail:/# /bin/sh -c /usr/local/bin/start-mailserver.sh
    Regeneratin

[2015-08-26 05:42] GerrAlt12 commented on #17
I have following log:

root@docker:~# /bin/sh -c /usr/local/bin/start-mailserver.sh
Regenerating postfix 'vmailbox' and 'virtual' for given users
sed: can't read /tmp/postfix/accounts.cf: No such file or directory
/usr/local/bin/start-mailserver.sh: 10: /usr/local/bin/start-mailserver.sh: cann                                                                      ot open /tmp/postfix/accounts.cf: No

[2015-08-26 06:51] tomav commented on #17
Yep. I don't have your `docker`command line to see if it's correct or not, but it seems that you don't mount the `postfix/accounts.cf` to `/tmp/postfix/accounts.cf`.
Have a look to the documentation to fix it.

You can also modify the `start-mailserver.sh` script, but this image already does what you probably want to do.

I'll try to add a check in `start-mailserver.sh` to die if the mandatory fil

[2015-08-26 07:39] GerrAlt12 commented on #17
Unfortunately now I don't see any way to run "docker run" exactly as you describe because I use Jelastic, and I can execute any commands only inside the container (Jelastic docs have no remarks about such possibilities).

Now I have script for create /tmp/postfix dir and add files accounts.cf, main.cf, master.cf from your examples located in this repo. I run this script from second line of start-m

[2015-08-26 07:44] GerrAlt12 commented on #17
I think I have issue with permissions on some lib or dir, I will check all permissions.

I think checking for mandatory files is nice idea, better execute all functionality correctly or perform no execution at all

[2015-08-26 08:08] tomav commented on #17
Since your problem is related to your specific environment, I close this issue.
A added a check as proposed above for better understanding.

[2015-08-26 08:08] #17 closed

[2015-08-26 08:30] tomav commented on #17
Done. You can now `docker pull tvial/docker-mailserver`.

[2015-09-12 01:41] zx2015 opened #18 "Filesystem notification initialization error, check for configuration error with the FAM/Gamin library"
Get notification message after configured mail on outlook
Filesystem notification initialization error -- contact your mail administrator (check for configuration errors with the FAM/Gamin library)

Command for run the docker
docker run --name mail -v "/data/mail/postfix":/tmp/postfix -v "/data/mail/spamassassin":/tmp/spamassassin -p "25:25" -p "143:143" -p "587:587" -p "993:993" -h mail.1day.cn -

[2015-09-12 07:26] tomav commented on #18
I suppose you see this problem when a user connects to IMAP?
I'll have a look.

[2015-09-12 07:33] tomav commented on #18
Ok, this error is not server side, but client side.
I can't see it on the server, but can see it when trying to login with `telnet` on this imap server.

    $ telnet 192.168.59.103 143
    Trying 192.168.59.103...
    Connected to 192.168.59.103.
    Escape character is '^]'.
    * OK [CAPABILITY IMAP4rev1 UIDPLUS CHILDREN NAMESPACE THREAD=ORDEREDSUBJECT THREAD=REFERENCES SORT QUOTA IDLE ACL ACL2

[2015-09-12 08:52] tomav commented on #18
I'm gonna push a fix.

[2015-09-12 08:55] #18 closed

[2015-09-12 08:57] tomav commented on #18
Build in progress: https://hub.docker.com/r/tvial/docker-mailserver/builds/bgz2nzryn6s5yyxup7a2yz4/

[2015-09-12 09:35] tomav commented on #18
Found an issue generated with this fix.

[2015-09-12 09:53] tomav commented on #18
Ok. I pushed it on my server and made some test.
Everything seems fine with latest `btasyhoyubo58zacehaishu` build.

Hope this helps, and let me know.

[2015-09-12 23:45] zx2015 commented on #18
Thank you for your quit action. The old problem is solved. But I got a new problem. It looks like the STMP server can not work. During outlook configuring, smtp is not reachable.

Sep 12 23:36:23 d098b9451d15 postfix/smtpd[654]: connect from unknown[172.17.42.1]
Sep 12 23:36:27 d098b9451d15 postfix/smtpd[654]: warning: SASL authentication failure: Couldn't find mech login
Sep 12 23:36:27 d098b9451

[2015-09-13 00:21] zx2015 commented on #18
Sorry, it look like my client problem. Use another client can connect smtp successful

[2015-09-13 00:37] zx2015 commented on #18
There is still one problem. When I try to send email outside with outlook, there is always an error message.
554 5.7.1 <xxxxx@163.com>: Relay access denied
And mail is not send out yet.

I checked internet, the possible cause might be auth for SMTP is missing. Recv side server might reject such mail without auth to prevent spam mail.

But it look strange that my iphone works fine and can send emai

[2015-09-13 01:04] tomav commented on #18
@zx2015, could you open another issue for this new one?
And if you can send me a private message with an address on which we could do tests, it would be glad.
Otherwise, it will be hard for me to reproduce the problem, and help.

Thank you.

[2015-09-13 01:06] zx2015 opened #19 "554 5.7.1 : Relay access denied"
554 5.7.1 xxxxx@163.com: Relay access denied
And mail is not send out yet.

I checked internet, the possible cause might be auth for SMTP is missing. Recv side server might reject such mail without auth to prevent spam mail. And it seems smtp is not require auth.

But it look strange that my iphone works fine and can send email to outside mailbox.

My personal mail address gnesis@163.com.

[2015-09-13 01:20] zx2015 commented on #19
I found the problem is still in client configuration. If choose to have SMTP login in client, the problem will not existing.

Is it possible to change default configuration to force login for smtp before sending mail?

[2015-09-13 09:22] tomav commented on #19
Yes, **SMTP Auth is a feature enabled by default** in this image, for security purpose as you can image.

And Yes again, you can disable it in postfix configurations files (`main.cf` and `master.cf`)
You should find how to do that searching on Google or [Stackoverflow](http://unix.stackexchange.com/questions/145499/postfix-disable-authentication-through-port-25).
I won't re-document Postfix again

[2015-09-13 09:22] #19 closed

[2015-09-13 09:27] tomav commented on #18
I documented about [How to fix the Gamin/FAM issue](http://tvi.al/how-to-fix-the-gamin-fam-issue/) on my blog to let people know how to do.

[2015-09-28 11:06] Bwooce opened #20 "smtpd_proxy_filter - rejecting bad stuff and telling the sender about it"
See http://www.postfix.org/SMTPD_PROXY_README.html

It's possible to configure postfix and amavis to pre-process email and reject it back, rather than the more standard way of accepting it and then deleting/tagging it.

It does have some con's - mainly around the max throughput. This isn't generally a problem on modern servers for small domains, but then again who knows who'll use your image. So i

[2015-09-28 11:21] tomav commented on #20
If you'll submit a PR, I'll be happy to merge it.
Note that backward compatibility should not be broken, but I assume that postfix experts don't use default config.

[2015-10-01 09:10] hourliert opened #21 "Imap folders"
Hi.

First of all, thanks for this docker image. It works great and it is very easy to setup!
Almost everything works on my server but I cannot create mail folders.
I am using Mail from OS X and it cannot create Sent, Drafts and Trash folders.

I tried to use `maildirmake` into /var/mail/mydomain/myaccount/ and update `courierimapsubscribed` with
[code]
but it doesn't work.

Do you have a solution

[2015-10-01 09:40] hourliert commented on #21
It seems it is a El Capitan Mail issue. Creating a new imap folder crashes the software. Moreover, the mapping between courier imap folders and the displayed tree in mail is not done automatically.

It works great with Gmail on Android.

[2015-10-01 09:40] #21 closed

[2015-10-01 09:57] tomav commented on #21
Ok, let me know if you find something, but I can confirm that I can't reproduce the problem with OSX Mail on 2 servers.

[2015-10-01 19:53] hourliert opened #22 "Undelivered Mail Returned to Sender."
Hi,

I have setup the docker container on my server. [Here](http://mxtoolbox.com/SuperTool.aspx?action=smtp%3amail.cnode.fr&run=toolpage) is its diagnostic.

When I am trying to send a mail to an icloud email, I always get a mail saying that my mail hasn't been delivered:

[code]

Do you have any idea why?

Thanks in advance.

[2015-10-02 08:17] tomav commented on #22
@hourliert: Your IP seems to be blocked (banned) in Proofpoint RBL as you can see on the link:
https://support.proofpoint.com/dnsbl-lookup.cgi?ip=62.210.110.165

You're not listed in other RLBs (I had a look), you're not an open Relay (I also checked), but Proofpoint is used by Apple (me.com, icloud.com...)...
You should use the the form to ask for removal (this is probably a false positive).

[2015-10-02 08:17] #22 closed

[2015-10-02 08:17] tomav commented on #20
Hi @Bwooce, will work on it? Do you need help?

[2015-10-07 16:03] galuszkak opened #23 "GMail add account"
I setup account in Thunderbird and everything works great!

But when I'm trying to attach to Gmail I got an error with authentication. I got an error something like this:
"PDE1ODM5MTAzNTAuMTM5MzI4NUBtYWlsLmNsdWJhbGwuY29tPg== code(334)"

I'm not sure what is causing that and didn't find anything in logs.

[2015-10-07 16:20] tomav commented on #23
Hi @galuszkak, what do you mean by "attach to Gmail"?

[2015-10-07 16:35] galuszkak commented on #23
@tomav there is option to add other e-mail account to GMail. I'm using it to have different email accounts linked in one inbox.
![screen shot 2015-10-07 at 18 35 07](https://cloud.githubusercontent.com/assets/759579/10344194/2bd48f22-6d22-11e5-8590-8c34b44d8c19.png)

[2015-10-07 16:49] tomav commented on #23
Ok I see.
Some inputs:
* have you setup TLS/SSL?
* have you checked your certificate configuration?
* are you sure there is nothing in `/var/log/mail.log`?

I'll try to find some time to test on my server.

[2015-10-07 17:09] galuszkak commented on #23
@tomav
1) Yes
2) Yes -> I have this working in Thunderbird.
3) Nothing.
[code]

[2015-10-07 17:20] galuszkak commented on #23
@tomav  I'm happy to provide more. I'm not an expert in field of , so if you will want more information then I will be happy to help. When I'm thinking about TLS/SSL I think I have it right (I generated this into ssl/ directory). But is there any verbose output when I'm starting container that this is done right?

[2015-10-10 10:51] Bwooce commented on #20
I am working, slowly, on it -- I have it working on my own mail server now I just need to remember how/why I configured it this way. Shall I make it optional? Switch config files based on an environment variable maybe?

[2015-10-10 13:09] tomav commented on #20
You have to remember that this image provided a default set of postfix config files. The question is: "this should be enable or not by default?".
If yes, it can go the default config. (purpose of your issue)
If no, it will be enabled using a custom config file.
I don't really think that we should add complexity in this code to support all possible use cases.

[2015-10-12 10:54] kopax opened #24 "How to install signed certs, and configure sub domain for domain delivery"
Hi, I am pretty new to postfix, I was using iRedmail and didn't have to care about postfix configuration.
I need to dockerize my mail server, that's why after testing a bunch of image, I choosed your configuration.

Could you provide further information for

 - domain configuration
 - signed certs configuration

I have a mail server which is at mail.mydomain.com, I want it to be able to manage mai

[2015-10-12 12:05] tomav commented on #24
Hi @kopax, thanks for choosing this image.
I'm not a postfix expert neither, but I'll try to help you.

I think that generated certs (with the provided tool) are probably not named explicitly.
Any suggestion welcome.

Anyway, you will find a part of your answer here:
https://github.com/tomav/docker-mailserver/blob/master/bin/generate-ssl-certificate

Let me know if you can't find your answer there

[2015-10-12 12:06] kopax commented on #24
Well, I have decided first to try with the signed certs and I couldn't make it work.
Do I have any extra configuration to know for configuring a mail server at mail.mydomain.com to host mail to @mydomain.com ?

[2015-10-12 12:11] tomav commented on #24
This is a postfix related question, not docker.
But I'll suggest you to use your own files in `main.cf`

        smtpd_tls_cert_file=/etc/postfix/ssl/mail.domain.com-cert.pem
	smtpd_tls_key_file=/etc/postfix/ssl/mail.domain.com-key.pem
	smtpd_tls_CAfile=/etc/postfix/ssl/cacert.pem
	smtp_tls_CAfile=/etc/postfix/ssl/cacert.pem

[2015-10-12 12:12] tomav commented on #24
And this page should help you: http://www.postfix.org/TLS_README.html

[2015-10-14 12:11] tbutter opened #25 "forward only domains are not added to vhosts"
When I add a domain in /postfix/virtual like this

test@test.com blah@example.com

The domain test.com should appear in vhosts, but it only appears if there is a user @test.com in accounts.cf.

[2015-10-14 12:27] tomav commented on #25
You're right, we have to parse the file and move line 32 later in the script.
https://github.com/tomav/docker-mailserver/blob/master/start-mailserver.sh#L32

Are you able to do it?

[2015-10-14 15:51] #25 closed

[2015-10-14 15:54] tomav commented on #25
Link to the build status:
https://hub.docker.com/r/tvial/docker-mailserver/builds/boaqlhnekjfyy3rmpaocn44/

Image will be available soon.

[2015-10-18 13:52] tomav opened #28 "Add unit or integration test"
Help appreciated :-)

[2015-10-18 19:33] tomav commented on #28
Work in progress.

[2015-10-18 20:19] #28 closed

[2015-10-20 09:16] tomav commented on #23
@galuszkak I can't find how to add a non-POP account to help you...

[2015-10-22 13:51] jokesterfr opened #31 "Error while generating SSL keys/cert"
Hi,
I've been using your explanations to generate the certificates, with the docker container and the `generate-ssl-certificate` command. At the very end of the procedure I get:

[code]

Most of my files has been generated, but the `cert.pem` file is empty:

[code]

Do you have any idea where this comes from? What `openssl` command is perfomed by `generate-ssl-certificate
`? Thanks!

Jk.

[2015-10-22 13:59] jokesterfr commented on #31
I found in the sources the openssl command:

[code]
But it's still showing up the same error in or out of the container...

[2015-10-22 14:31] tomav commented on #31
Hi @jokesterfr, I reproduced your issue. I'll have a look.
Tell me if you find a lead.

[2015-10-22 14:35] tomav commented on #31
Ok, found [answer](http://nicolasjolet.blogspot.fr/2011/01/as-i-m-completly-unaware-of-openssl-use.html) and tested.

    failed to update database
    TXT_DB error number 2
    This is probably because you have generated your own signing certificate with the same Common Name (CN) information that the CA certificate that you've generated before.

I'm gonna update the `README`.

[2015-10-22 14:38] #31 closed

[2015-10-22 14:39] tomav commented on #31
Hope this helps.

[2015-10-22 14:41] jokesterfr commented on #31
Thanks a lot for the quick response!

I've just done it by-hand using [this tutorial](https://www.e-rave.nl/create-a-self-signed-ssl-key-for-postfix) it also works.

Thanks a lot for this docker project, you saved me 2 days of email server configuration...

[2015-10-22 14:45] tomav commented on #31
You're welcome.

[2015-10-25 03:19] septianw opened #32 "How to make pop3 enabled?"
imap and smtp was perfect with webmail interface. With pop3 enabled, it will match perfectly with mail client. How to make it enabled?

[2015-10-25 08:41] tomav commented on #32
Hi @septianw, this image does not contain a `pop` server.
`pop` has been widely used, but today `imap` is the standard because it works better for multi-device synchronization. ([some](http://wpu.me/pop-vs-imap/) [sources](http://support.mightymerchant.com/pop-vs.-imap-which-should-you-choose))

This image won't include all use case because we want to to be easy to use and maintain, so that's why

[2015-10-25 08:41] #32 closed

[2015-10-26 16:24] tomav commented on #24
@kopax I hope your certs are working as expecting. Without update from you, I close this issue.

[2015-10-26 16:24] #24 closed

[2015-10-26 16:30] tomav commented on #23
POP is not supported by this image. I don't know if you have enabled POP or if Gmail let you add an IMAP account, but I need more information to give it a try.
Reopen this issue if you still have a problem.

[2015-10-26 16:30] #23 closed

[2015-11-07 04:52] kopax opened #33 "How to install signed SSL certs"
I want to install my signed gandi certificate.

In `start-mailserver.sh` you have `if [ -e "/tmp/postfix/ssl/$(hostname)-cert.pem" ]`, the file doesn't exist but another file is present and not used by the script : __mail.domain.com-req__

 - Should I rename the file ?

I have tried by renaming it and it didn't worked :

	CONNECTED(00000003)
	140445282178704:error:140790E5:SSL routines:SSL23_WRITE

[2015-11-09 14:31] tomav commented on #33
Hi @kopax, I quickly added the feature for self generated certs which simplifies the process if you don't have certificates. I'm pretty sure that in your case, you should mount a volume with your certs and apply a specific postfix configuration.

If you find a way to make it work, I'll be happy to merge your PR.
I'm not a SSL expert (only use self singed certs) but will probably have a deeper look

[2015-11-09 14:41] tomav commented on #33
I'd also like to make this image easy to use with https://letsencrypt.org/

[2015-11-09 15:10] kopax commented on #33
Unfortunatly I have tried for a few hours and let it go. Can you leave this post open ?

[2015-11-09 15:14] tomav commented on #33
Yep, we have to have a clear answer to SSL.

[2015-11-12 17:14] fentas opened #34 "generate self-signed ssl certificate - fails."
Heyho,
I follow your instructions with `docker run -ti --rm -v "$(pwd)"/postfix/ssl:/ssl -h mail.my-domain.com -t tvial/docker-mailserver generate-ssl-certificate` but it fails in the end with

[code]

Apparently it fails here
[code]

[2015-11-13 09:47] tomav commented on #34
Hi @fentas, I can't reproduce your issue. I used your command line and successfully generated certificates. Here's the log:

    ➜  34  docker run -ti --rm -v "$(pwd)"/postfix/ssl:/ssl -h mail.my-domain.com -t tvial/docker-mailserver generate-ssl-certificate
    CA certificate filename (or enter to create)

    Making CA certificate ...
    Generating a 2048 bit RSA private key
    ...............

[2015-11-13 12:26] fentas commented on #34
Hm I guess it did not work because I didn't enter a pass phrase in the beginning.
With pass phrase it works perfectly. Thanks a lot!

[2015-11-13 12:26] #34 closed

[2015-11-13 12:39] tomav commented on #20
@Bwooce, I close this issue since there's no update on it. Feel free to repoen or push your enhancement when needed.

[2015-11-13 12:39] #20 closed

[2015-11-13 12:46] tomav commented on #33
LetsEncrypt will go public beta on Dec 3.
https://letsencrypt.org/2015/11/12/public-beta-timing.html

[2015-11-17 05:53] nathema commented on #33
Seem to have similar issues as @kopax .

I'm using valid signed certificates that I used with postfix on my previous server installation.

I prepared local storage:

    ayase ssl # pwd
    /srv/docker/mail/postfix/ssl
    ayase ssl # ls
    ca.pem  mail.mysuperdomain.tld-cert.pem  mail.mysuperdomain.tld-combiner.pem  mail.mysuperdomain.tld-key.pem sub.class1.server.ca.pem

And ran the container w

[2015-11-17 08:27] tomav commented on #33
@nathema do you provide your own postfix configurations?
Because as you can see [here](https://github.com/tomav/docker-mailserver/blob/master/start-mailserver.sh#L57) the script is waiting for 4 files named as expected (the `generate-ssl-certificate` tool name them as expected). It's not the case for your files so it won't work as expected.

I'm also thinking that's not the only problem. There's p

[2015-11-17 10:05] nathema commented on #33
@tomav Renaming the files precisely according to `start-mailserver.sh` fixed it. Checked with openssl. Thanx!

After getting more familiar with docker, I might contribute to this project!

[2015-11-17 11:33] kopax commented on #33
@nathema  what do you mean by "renaming the files precisely according to start-mailserver.sh" ?

I did it with the provided certs, not mine, it didn't work.

How did you construct your own certs ?

[2015-11-17 12:24] nathema commented on #33
@kopax As written in my previous post I prepared the files `mail.mysuperdomain.tld-combiner.pem` (typo!) and `ca.pem` (wrong name, wrong spot).

Contents of my `/srv/docker/mail/postfix/ssl`:

    mail.mysuperdomain.tld-combined.pem
    demoCA
    demoCA/cacert.pem
    mail.mysuperdomain.tld-cert.pem
    mail.mysuperdomain.tld-key.pem

[2015-11-17 12:33] kopax commented on #33
@nathema great so you made it work.

can you post the key count of each pem files as I did ? It is still something I am not sure about.
As explained in my first post, I have :

    mail.mysuperdomain.tld-combined.pem > concatened certificate > made by me, contain 4 keys (mine x 1 + gandi x 2 + comodo x 1)
    demoCA
    demoCA/cacert.pem > GandiStandardSSLCA2.pem > provided by gandi, contain 2 key

[2015-11-17 13:44] nathema commented on #33
@kopax ok.

Last year, I generated certificates for 2 of my domains using StartSSL (free certificates as long you don't have to revoke them =~ $40). Waiting for https://letsencrypt.org/ .

mail.mysuperdomain.tld-combined.pem => concatenation of mail.mysuperdomain.tld-cert.pem and cacert.pem.
demoCA/cacert.pem => StartSSL Root CA
mail.mysuperdomain.tld-cert.pem => 1 cert, received from StartSSL, af

[2015-11-17 16:31] jokesterfr commented on #33
I'm also interested in using let's encrypt to manage my certificates, because my [rainloop installation](https://github.com/monder/docker-rainloop) does not handle self-signed certificates.

I think it would make more sense to create a separate Dockerfile/Docker project to certficiates, by providing an interface to monitor your service, keys validity and last update... Using volumes would suffice

[2015-11-17 17:06] tomav commented on #33
@jokesterfr, I think *letsencrypt* comes with its own docker project so it will be external the `docker-mailserver`. And you're right, it's better.
They currently only will provide help and tools for webserver. Since I'm not part of LE developer preview, I haven't try it myself and have to wait for december 3rd, when they'll open the public beta.

If someone has information, feel free to share.

W

[2015-11-17 17:33] jokesterfr commented on #33
I've just tried out their private beta, and it can generate credentials in `/etc/letsencrypt`:

[code]

These are symlinks to:
[code]
So I guess the volume option will be `-v /srv/docker/mail/postfix/ssl:/etc/letsencrypt/live/<urdomain>/`

[2015-11-18 17:48] tomav opened #35 "Easy install and usage of LetsEncrypt certificates"
This has been discussed [here](https://github.com/tomav/docker-mailserver/issues/33) and could be started in December when LetsEncrypt beta will go Public.

[2015-11-18 17:49] tomav commented on #33
@kopax Let us know if these answers help you to resolve your problem. If yes, I let you close the issue.

@jokesterfr @nathema : I opened another issue for LE compliance.
https://github.com/tomav/docker-mailserver/issues/35

[2015-11-18 19:37] nathema commented on #33
@kopax what bind volumes did you define for the container. Can you show us your directory structure for that volume. Is your hostname set correctly?
The script will write a line (`echo "Adding $(hostname) SSL certificate"`) to the log if it finds the files. Doesn't matter if they are valid certificates at that point in the script.

[2015-11-18 20:24] tomav commented on #33
@nathema is right, if you don't see error at startup AND if you see `Adding $(hostname) SSL certificate`, they're loaded.
By the way, have you ever tried your files with another server?
The problem can also be related to the combined file. On my combined file, I count 3 keys in this file, not 4. But I use self-signed certs so there can be a difference. Here is a simplified example:

    $ cat mail

[2015-11-19 08:26] nathema commented on #33
@tomav I have 3 base64 armored certificate-blocks in the combined file.

[2015-11-20 00:21] kopax commented on #33
I still can't make it work.

Here are the step I did to get a signed cert :

1. generate a csr + key
2. get signed crt from gani

So for every signed certs you have at least 3 files :

- .csr (only for requiring the .csr)
- .key (obiously the key that goes with the cert)
- .csr (YOUR signed cert)

By agreeing this, we will also agree that :

mail.domain.com-cert.pem __is__ the signed cert
mail.dom

[2015-11-20 09:36] tomav commented on #33
@kopax here is how to build the combined file (extract from code):
    # Combine certificates for courier
    cat /ssl/$FQDN-key.pem /ssl/$FQDN-cert.pem >> /ssl/$FQDN-combined.pem

Regarding the open ssl ouput, when I see `Verify return code: 20 (unable to get local issuer certificate)` in your log, I clearly think that the problem is your `cacert.pem`

As said before, this feature has been create

[2015-11-20 13:25] kopax commented on #33
cat /ssl/$FQDN-key.pem /ssl/$FQDN-cert.pem >> /ssl/$FQDN-combined.pem

Why are you concatenating the key and the cert together? these files shouldn't be together does it ?

All the files exist in the running container, this if obviously the first thing I have checked.

[2015-11-20 13:48] tomav commented on #33
Have a look to [this link](http://www.mad-hacking.net/documentation/linux/applications/mail/using-ssl-tls-postfix-courier.xml) at section *"Configuring Courier POP3 and IMAP to use SSL/TLS"*

[2015-11-20 13:53] kopax commented on #33
@tomav thanks a lot it did work.
I was really confused, in nginx and apache when you do the "chained" cert file, you just concat all the certs from your domain to the top certificate.

I have never seen a mixed key/cert, so It wasn't obvious at all to me.
I let you decide if you should update the documentation and I close the post.

[2015-11-20 13:53] #33 closed

[2015-11-20 13:54] kopax opened #36 "Password encryption"
I wan't to know how hard would it be to have encrypted password in a file.
Just in case some users get the access to the git project.

[2015-11-20 14:02] tomav commented on #36
You're probably talking about the `postfix/accounts.cf`.
It's possible, but you'll have to add a third col in the file to specify current encoding.
You could have `PLAIN` and `MD5`.

Then you'll have to modify [this part](https://github.com/tomav/docker-mailserver/blob/master/start-mailserver.sh#L25) to do something conditional using this new value (don't encode if already encoded).

It's a good i

[2015-11-20 14:08] tomav commented on #36
Both lines 25 & 26 uses the `pass`. The first is easy to manage.
The second, I don't know right now. you have to check how `saslpasswd2` can use an already encrypted password.

[2015-11-20 14:13] kopax commented on #36
Ok I will do it, thanks for the short explaination.

[2015-11-20 15:45] kopax commented on #36
So I did had a look.
I can't make the implement you discribed because of `saslpasswd2` as you said.

	saslpasswd2 -h

	This product includes software developed by Computing Services
	at Carnegie Mellon University (http://www.cmu.edu/computing/).

	saslpasswd2: usage: saslpasswd2 [-v] [-c [-p] [-n]] [-d] [-a appname] [-f sasldb] [-u DOM] userid
		-p	pipe mode -- no prompt, password read on stdin

[2015-11-20 17:22] tomav commented on #36
If it can't be done using non altered software... I think we can close the issue.
I keep in mind the need, just in case...

[2015-11-20 17:22] #36 closed

[2015-11-22 00:46] tomav opened #38 "authdaemond: Configuration error - missing 'daemons' setting, using 1"
Postfix autocorrects the number of daemons but the configuration should be ok in its default state.

[2015-11-22 00:47] tomav commented on #38
Postfix autocorrects the number of daemons but the configuration should be ok in its default state.

[2015-11-22 00:48] #38 closed

[2015-11-23 20:17] Lewiscowles1986 opened #39 "Data Backup / Migrate / Preserve"
Hey, this is great, but how would someone migrate e-mails (~100GB across 10 accounts) into this, how would a person export emails from this for backup & migration?

[2015-11-23 21:07] tomav commented on #39
Hi @Lewiscowles1986, thanks for your support.
I'm currently thinking about backups.
It's not only a `docker-mailserver` question, but a mmore large `postfix` question.

I'm thinking using docker data volume container, and perform a backup using a cronjob.
Ideas are welcome. We can work together on this feature.

Regarding migration, this will be specific to your current mail server / deamons / pat

[2015-11-24 00:43] Lewiscowles1986 commented on #39
I'd love to help if I can be of assistance, I have to say, I use cronjob backups quite a lot sans-docker, with rsync, so I'd love to help in any way I can. My workflow tends to be a lot more vagrant than docker, which I am currently learning.

I'm thinking

#### total backup
`cd /var/mail; tar -zvcf /tmp/mail-`date +"%Y-%m-%dT%H%M.tar.gz"` ./* >> /dev/null`

#### domain backup
`cd /var/mail/${DOMA

[2015-11-24 01:27] gegere commented on #39
This process could occur directly via a docker data container copying data directly to a new host.

[2015-11-24 10:08] Lewiscowles1986 commented on #39
@gegere do you mean another docker container launched with environment args for `DOMAIN`, `USER`, `DESTHOST` etc? would this really need to be done just to back up?

Don't get me wrong it will be amazing if it works (my current email host delivered me an 8MB backup of emails because their script does not work with 30+GB of emails), so whatever we do I think we need to make sure it is robust. For t

[2015-12-01 10:20] keyrush opened #40 "time out on port 25"
Hi,
The configuration went well, I'm able to fetch messages using STARTTLS for my different users.
But I'm unable to send any messages from some mail clients (Thunderbird can, but Evolution can't).

I'm seeing a strange behaviour of the port 25:
[code]
gets a timeout from a remote host, but works on the server itself.
Whereas,
[code]
is OK from a remote host.
It seems to be related to my server co

[2015-12-01 10:39] tomav commented on #40
Hi @keyrush, if it works locally, it's not related to the image, but perhaps to the port exposition to the outside world. This can be docker related or iptables related.
Check that:
* your port 25 is open from the outside
* that you ISP don't block request to unknown hosts on port 25

Let us know.

[2015-12-01 11:08] keyrush commented on #40
My server is hosted at OVH, so I guess it's not ISP related.
Here at some outputs on the server:
[code]
And for nmap from outside:
[code]

[2015-12-01 11:54] tomav commented on #40
The `nmap` status should be `open` no?

    PORT   STATE SERVICE
    25/tcp open  smtp

I think your problem is related to iptables and the `DOCKER` chain.

Try to add:

iptables -t nat -A PREROUTING -m addrtype --dst-type LOCAL -j DOCKER
iptables -t nat -A OUTPUT ! -d 127.0.0.0/8 -m addrtype --dst-type LOCAL -j DOCKER
iptables -t nat -A POSTROUTING -s 172.17.0.0/16 ! -o docker0 -j MASQUERADE

And

[2015-12-01 12:15] keyrush commented on #40
Thanks for the advice. Unfortunately it didn't work.
I agree that the state should be reported as open. It looks like something is processing the request before postfix. Could it be related to amavis/anti-virus stuff?

[2015-12-01 12:22] tomav commented on #40
I don't think so. It's received on port 25 and forwarded to amavis.
If you don't see anything on your logs, it's because the request doesn't reach the docker image.

I had the same kind of issues when I deployed my `docker-mailserver` to production.
I know that docker can manage iptables rules:

	Do your iptables allow this particular connection? Docker will never make changes to your system iptab

[2015-12-01 12:37] keyrush commented on #40
OK, I'll dig the iptables configuration.
It worked with Thunderbird on port 587 only. I could not manage to send any emails with Evolution. So this is another problem, probably related to the client. I could live with that, but there is still a problem somewhere with my port 25 :)

[2015-12-02 00:43] Sabmit commented on #39
Hello,

Thanks for this project, it looks great.
What about managing backups the same way you would manage backups for data-container ?
I mean, you could start your container with a volume for /var/mail.

Then, to make a backup, you could :
- Run a new container with the --volumes-from option
- Make a script that will tar, rdiff, send the backup to s3/store it locally)

Here's everything you need

[2015-12-02 06:41] Lewiscowles1986 commented on #39
:+1: That is actually amazing

[2015-12-02 08:27] tomav commented on #39
As proposed by @Sabmit, this is a more general docker related topic.
I don't think we have to build something specific inside the image because a lot of things exist in the open source world.
Probably more a `README.md` update.

@Sabmit would you have few minutes to do that?

[2015-12-02 13:16] Sabmit commented on #39
Yep @tomav, I'll try to find that time to write something understandable ASAP.
Here's another link explaining what really are data containers (volumes) : http://container-solutions.com/understanding-volumes-docker/

[2015-12-02 13:53] tomav commented on #39
And I add https://github.com/5pi/docker-backup to the discussion :-)

[2015-12-02 14:51] keyrush commented on #40
I got it finally.
Even after stopping my container I still got time-outs on port 25, although no one was listening on this port any more.
A traceroute from a remote host indicated that I wasn't even passing my ISP's box.
There is indeed a setting for that (my provider is Free, and I have a Freebox v5).

For the record ("Blocage SMTP sortant" is "Block SMTP out") :
![screenshot](https://cloud.githu

[2015-12-02 15:13] tomav commented on #40
I was still using Free few months ago (I think Bouygues has the same behaviour).
That's why it was one of my two leads.

But it's a good new!

[2015-12-02 15:13] #40 closed

[2015-12-05 11:20] tomav commented on #35
I'm on it.

[2015-12-05 17:16] tomav commented on #33
Hi guys, for those who wanna try LetsEncrypt support, have a look to https://github.com/tomav/docker-mailserver/pull/41

I'll merge soon.

[2015-12-06 19:36] tomav opened #42 "Disable weak SSL ciphers"
Can be checked using https://ssl-tools.net/mailservers

[2015-12-06 20:00] #42 closed

[2015-12-07 12:32] #35 closed

[2015-12-07 13:10] tomav commented on #33
Merged, you can now use Letsencrypt. Feedback welcome.

[2015-12-15 11:00] Sabmit opened #44 "Authentification failed"
Hello,

Sorry for this issue, I may be the only one which cannot get this repo working at 100%.
After building this image on a docker-machine at digitalOcean, setting up the DNS records, and setting the virtual account, I successfully get all the email forwarded and stored to /var/mail/.

Unfortunately, I didn't succeed to login to my email account.
Here's the auth.log :

[code]

Here's the startu

[2015-12-15 19:27] tomav commented on #44
Hi @Sabmit, I did not have a look to sasl for a long time.
I can reproduce the problem. I'll try to give an answer.
If you find something, let me know.

[2015-12-16 14:25] tomav commented on #44
I really don't know why it doesn't work locally.
But it works from a mail client sending an email:

    mail postfix/submission/smtpd[7745]: DB150116B: client=bbox.lan[192.168.1.254], sasl_method=DIGEST-MD5, sasl_username=user@domain.tld

[2015-12-22 00:14] virtualfunction commented on #33
Hi, I'm not sure how many other people are confused with installing SSL certs but this is what I found. I wanted to use an existing COMDO wildcard cert and I think there needs to be better docs for people who have brought certs (while Letsencrypt is pretty good, it can be a bit esoteric at times and throw up some odd errors when trying to generate certs and I might as well use existing certs), and

[2015-12-22 08:00] tomav commented on #33
@virtualfunction I agree on the same structure for Letsencrypt and self-signed certs.
If you want to provide the PR, I'll be happy to merge it. I won't be able to work on it in the next weeks.

[2015-12-25 16:23] rubytastic opened #45 "CoreOS support?"
This Repo looks great and Im in the need for setting up an easy dockerized mailservice.
But, how does this work for a coreOS read only file system.

What would be the best way to add the mail accounts on a coreOS system where you cannot mount a filesystem on the host to the docker container?

[2015-12-25 16:30] rubytastic commented on #39
Both seem no longer maintained.
Perhaps a mechanism where the last 7 docker container images are back upped and stored.

http://linuxconfig.org/docker-container-backup-and-recovery

[2015-12-25 16:38] rubytastic opened #46 "Some ideas ( out of office, config script, push mail )"
Perhaps a nice feature to have is an out of office feature.
And a simple script you can run in the terminal to manage the account creation, editing , removal out of office. Although both are minor I would love to contribute to this repo and have thought of writing such a solution myself for a non dockerized mailserver setup I currently run in production. ( but plan to move to the base of this dock

[2015-12-25 17:03] gegere commented on #45
Greetings! Using this with CoreOS should be of no problem at all. About a year ago I started learning Docker, Fleetd, etcd and CoreOS.

Here is a link to service files examples: https://github.com/htmlgraphic/CoreOS/tree/master/Services

After having a working cluster I was meet with issues and maintaining / troubleshooting became a chore. The disadvantages w/ CoreOS simply out weighed the advanta

[2015-12-25 21:36] rubytastic commented on #45
Hi Gegere,
Thanks for your extensive reply much appreciated. I have just started with coreOS and thought it was read-only. I will investigate your suggestions. Very much appreciated. happy christmas!

[2015-12-25 21:47] rubytastic commented on #45
@gegere
Could you please state some more information regarding your comment on digital ocean and loosing data on a mounted data volume inside coreOs?

[2015-12-25 23:02] rubytastic commented on #45
After reading more on the subject I think that using AWS as a cloud storage would be the best option.
This could add also extra security if the AWS storage can be encrypted.
Assuming this more of a docker issue and not really related to this repo perhaps it could be useful never theless. Is anyone using this docker with a data volume that is stored on AWS and what are your thoughts?

[2015-12-26 00:34] gegere commented on #45
@rubytastic there is more information on the system having hardware boot issues. https://github.com/coreos/bugs/issues/320 (I would not recommend CoreOS)

To answer your most recent post explore [Tutum.co](http://tutum.co) I do recommend this as you can host Docker containers on Digital Ocean, Microsoft or Amazon others are also supported.

[2015-12-30 16:21] rubytastic commented on #45
Thank you gegere
I hope there is a workaround for moving data volumes inside coreOS then again that is not an issue for this project. Digitalocean advantages falls away there if on AWS we could just mount a EC2 volume on the coreos

[2015-12-30 16:21] #45 closed

[2015-12-31 14:14] sisso19 opened #47 "SASL LOGIN authentication failed"
Hello

I am not sure if this is the same issue as https://github.com/tomav/docker-mailserver/issues/18 but Im going to report this anyways

So I am trying to set up gitlab docker containers to use this magnificent mailserver but I am unable to connect to the server.

The error that i am getting is

    Dec 31 14:10:39 mail postfix/submission/smtpd[591]: connect from unknown[172.17.0.6]
    Dec 31

[2016-01-01 19:41] tomav commented on #47
Hi @sisso19, try to configure `MD5` instead of `LOGIN` mech on your client.
Currently it's not supported.
https://github.com/tomav/docker-mailserver/blob/master/postfix/sasl/smtpd.conf#L2

[2016-01-09 00:39] tomav commented on #47
@sisso19 could you confirm that it is ok for you and close this issue? Thank you.

[2016-01-09 13:11] sisso19 commented on #47
@tomav, I have not been able to get this working.
There seems to be an issue with my gitlab configuration as well because the only time I am able to get a connection to the mail server it is only with "login", "plain" and "anonymous". login and plain profuce no maching mech but the anonymous seems not to work for gmail:

    Jan  9 12:47:06 mail postfix/submission/smtpd[608]: NOQUEUE: reject: RCPT

[2016-01-09 13:41] tomav commented on #47
You can do a PR and we'll add `login` and `plain`.

[2016-01-09 18:03] sisso19 opened #49 "Mounting volumes does not change container files"
I am playing around with the postfix folder and trying to change sasl/smtpd.conf file but the files in the container are not loaded to the /etc/postfix folder.

In the readme.md there is noted that all folders (expect letsencrypt) need to be mounted to the tmp folder.

To make changes I need to rebuild the image with the changed code in the git project folder

my docker-compose file:

    mail:

[2016-01-09 18:17] tomav commented on #49
You don't need to rebuild, but restart the container.
Some files are generated at startup.
You should have a look to https://github.com/tomav/docker-mailserver/blob/master/start-mailserver.sh to understand how it works.

I use git to pull new configuration and then I `docker-compose up -d mail` to restart it using the new config.

[2016-01-09 19:37] sisso19 commented on #49
Ahh I see. I thought the start-mailserver.sh was a part of the image it self. I'll have a look at it.
Thank you

[2016-01-09 19:45] tomav commented on #49
Let me know if I can help.

[2016-01-10 15:53] rubytastic commented on #39
Im still investigating the options.
It seems the most simple way for now ( if wanted to use CoreOS ) is making a volume on the CoreOS itself with read and write permissions. This would still be inside a digitalocean droplet for example but the data could be easily exported to external backup.
Then upon recreating a droplet or restoring a backup one would manually need to trigger a restore of this

[2016-01-10 15:56] rubytastic commented on #39
This

http://www.formatccolon.com/mounting-storage-to-a-coreos-server/

Backup could be a very simple script exporting data to external data source
would love to hear your opinions regarding this

[2016-01-11 07:57] tomav commented on #39
@rubytastic I think that the backup could should be simple as possible to let everybody use it.
People using CoreOS, AWS or other particular have skills to plug their own backup solution.
Moreover, it probably has nothing to do with `docker-mailserver` and should be a separated software.

The short term way is to document how to backup the `/var/mail` folder (assuming that you have your configurat

[2016-01-11 18:23] #49 closed

[2016-01-11 19:39] sisso19 commented on #47
@tomav, regarding your offering of help from the other issue. I have come to the conclusion that it will be greatly needed.
I have been reading about postfix and reading through this site: http://www.postfix.org/SASL_README.html

I thought that the change that I needed to do was in the smtpd.conf file. Currently my smtpd.conf file looks like this:

    pwcheck_method: auxprop
    auxprop_plugin: s

[2016-01-12 00:08] tomav commented on #44
@Sabmit can you try this branch? https://github.com/tomav/docker-mailserver/pull/50

[2016-01-12 00:08] tomav commented on #47
@sisso19 can you try this branch? https://github.com/tomav/docker-mailserver/pull/50

[2016-01-12 21:10] sisso19 commented on #47
Perfect. It worked on the first try. Thanks a million! :)

[2016-01-13 07:44] tomav commented on #47
Great!

[2016-01-13 07:44] #47 closed

[2016-01-13 07:57] tomav commented on #44
This line should be interesting for you: https://github.com/tomav/docker-mailserver/blob/add-plain-and-login-mech/test/test.sh#L18

[2016-01-13 10:26] bilak opened #51 "Dummy Question: load balancing docker-mailserver"
Hello,
this is dummy question, but it can be helpful for someone like me. I don't know much about docker even about postfix, but if I would like to install your image(s) is there way how to create some load balancing between them?

what about balancing on same host (one linux machine) and what about balancing on many hosts (many linux machines)

Thanks in advance.

[2016-01-13 20:22] tomav commented on #51
You can use DNS to balance, using MX priority ti balance on multiple IPs.
Otherwise you have to put a load balancer in front of your mail servers but I won't be able to help you on this, sorry.

[2016-01-14 08:07] #51 closed

[2016-01-15 10:49] tomav commented on #44
@Sabmit I will merge today. If you can have a look to the branch before it would be appreciated.
Thank you.

[2016-01-15 13:44] Sabmit commented on #44
Hello tomav, thanks for this PR.
It seems to be Ok, but unfortunately, I'll not be able to test this new version before this WE.
I deleted my docker-machine and I need a few hours to setup everything back.
Can't take that time at work :/

[2016-01-15 13:58] tomav commented on #44
Ok, we're friday, I can wait, no worry :-)
Let me know this week end, just to be sure.
Thank you @Sabmit

[2016-01-16 13:45] ShiroiKuma opened #53 "Catch-all for non-existent accounts"
Is there any way to have a catchall for any mail that's not sent specifically to an account?

If I have user1@example.com and user2@example.com and then
If I specify a domain level alias @example.com user1@example.com, all mail to user2@example.com get's redirected to user1@example.com

[2016-01-16 13:52] ShiroiKuma commented on #53
Raised issue too soon, it works the same as standard. All real accounts need an alias, virtual file order is important. First match wins rule.

The above works, as it matches user2 before it reaches the catchall.

[2016-01-16 13:52] #53 closed

[2016-01-17 18:33] tomav commented on #44
Time to merge.

[2016-01-17 18:33] #44 closed

[2016-01-18 01:14] crash7 opened #54 "About pop3 support"
Hi,

Is there any special reason about not installing pop3 (and pop3-ssl)? Seems that with the courier modules and a couple of lines in the config (TLS certs and port), it should work.

I'm asking because if you want to use the mail server with gmail pop3 check, it may not work since this only supports imap.

Great work anyway, these docker images is really helpful.

UPDATE: just saw this issue ht

[2016-01-18 08:06] tomav commented on #54
Hey @crash7, thank you for your message.

If you want to add `pop3` support in this public image:
- `pop3` should be disabled by default
- enabling `pop3` could be done using an ENV variable
- don't forget to add integration tests

If you PR I'll merge. I can help you if you have any question.

[2016-01-19 13:49] bilak opened #55 "FeatureRequest: add dkim support"
What about adding [dkim](https://www.digitalocean.com/community/tutorials/how-to-install-and-configure-dkim-with-postfix-on-debian-wheezy) support?

[2016-01-19 16:20] tomav commented on #55
:+1:

I think @spacecowboy worked on it:
https://github.com/spacecowboy/docker-mailserver/commit/0704ff1bf64f5a48ec680705b495e1233ec2688a

[2016-01-19 21:31] spacecowboy commented on #55
I never finished it though. Instead I implemented it and other things from scratch in https://github.com/spacecowboy/docker-post because I wanted to integrate with dovecot and use a database.

You can probably take most of the logic though. Some key points:

Setup of keys is done here: https://github.com/spacecowboy/docker-post/blob/master/postfix/run.sh#L3

Outgoing mail is signed with dkim via a

[2016-01-19 23:12] rubytastic commented on #55
Looks great; great repo only a bit to complex like the simplicity of this one.
Going to run this container soon and if time allows take a look at this also.

[2016-01-20 18:27] citec opened #57 "Does it allow multiple domains?"
Hi, I have a question. Does this stack allow multiple domains? As it open the common ports, I wonder if it allows multiple domains, so I can deploy just one instance of it without the need for a proxy to separate domains.

[2016-01-20 19:54] citec opened #58 "own ssl certs"
Hi, I am trying to setup a container with my own ssl certificates (not self-signed, bought, signed by GeoTrust).

I have generated the files into ./postfix/ssl, combining private key and ca into mail.grupocitec.com-combined.pem and putting the key into mail.grupocitec.com-key.pem and putting cert into mail.grupocitec.com-cert.pem.
My certificate is a wildcard one for *.grupocitec.com
Then I have s

[2016-01-20 19:59] citec commented on #57
When I say "multiple domains" I mean: can I set account for multiple domains in the postfix/accounts.cf file? What happend then with the ssl certificate? should I put just one certificate for the main domainname configured in the docker-compose.yml or do I need a ssl cert for each account domain?
thanks

[2016-01-20 20:43] tomav commented on #57
Hi @citec, this is more a `postfix` question than a `docker`one.

The answer is yes, postfix is multidomain.
You can manage as many domains as you want using Postfix virtual domains that is pre-configured on this docker image.
The `accounts.cf` is the key.

You also should have a look to Postfix configuration: http://www.postfix.org/VIRTUAL_README.html

Regarding your SSL question, these answer wi

[2016-01-20 20:45] tomav commented on #58
Can you check that the SSL configuration is applied (you should see something in startup logs and check `smtpd_tls_cert_file` in `postfix/main.cf` in you running image).

[2016-01-21 09:27] citec commented on #58
Hi, thanks to your answer, I could find where the start_mailserver.sh script was looking for the files. I was missing the cacert.pem. Now I am not getting the certificate warning, but I am getting a different error. I will open new issue for that. Thanks again.

[2016-01-21 09:27] #58 closed

[2016-01-21 09:33] citec commented on #9
Hi,
I am using this in the accounts.cf:
teste@testemail.com|aaa123
and using the whole email 'teste@testemail.com' as user and aaa123 as password in my email client. However, I am getting wrong username and password error message in my email client.
So my question is what am I doing wrong? must the password be encrypted somehow, or just plaintext as I use it?

Log of the server on test:
mail_1 | J

[2016-01-21 09:40] citec opened #59 "FeatureRequest: autoconfig"
Hi, if I get this working, I plan to add a web server container to render the autoconfig/mail/config-v1.1.xml files so email clients can be auto-configured.
Example of the xml file:
[code]
We could render that xml on the start-mailserver.sh script and share that file with the new web server, mounting it in both containers.

Do you like the idea of adding this to the project? I will have to do it a

[2016-01-21 11:04] tomav commented on #55
@bilak just PR this feature. Code is being reviewed.
https://github.com/tomav/docker-mailserver/pull/56

[2016-01-21 11:06] tomav commented on #59
Hi @citec, do you know which email client are currently supporting these xml files?

[2016-01-21 11:10] tomav commented on #9
With the latest image, plaintext is supported.

[2016-01-21 11:44] citec commented on #59
I have been using it in thunderbird and it works great, just put email and pass, press next and it finds out everything. For outlook a different file is needed, I have never done that, but it seems easy:
https://i-mscp.net/index.php/Thread/3771-Mail-autoconfiguration-for-Thunderbird-and-Outlook/

[2016-01-21 14:50] tomav commented on #59
Ok. Something seems to exist for Apple Mail: https://developer.apple.com/library/ios/featuredarticles/iPhoneConfigurationProfileRef/Introduction/Introduction.html

Regarding your implementation, why a webserver and not a command line tool?

[2016-01-21 15:41] citec commented on #59
webserver because, the email clients query those files using http. Not sure about all the different email clients, buy I am sure that thunderbird does, for example.
We could do similar as you do with start-mailserver.sh into a new container for the web server: the xml files will be rendered based on domainname, hostname and the accounts.cf file.
I prefer new container as it is a different service,

[2016-01-21 15:53] citec commented on #57
Ok, I understand now: I will set the autoconfig for my clients, or tell them, to use mail.mycompany.com
Thanks

[2016-01-21 15:56] tomav commented on #59
I do agree, nice feature but in another image.

[2016-01-21 17:30] citec opened #60 "authentication failed"
Hi, I have set up everything, I get all green in checktls.com (my server is cepheus.grupocitec.com). The server receives ok the mails from other servers, and creates correctly the files in the mail dir, etc.
BUT: I continue getting the wrong password error. I have even tried:
`testsaslauthd -u test@cepheus.grupocitec.com -p myPlainPassword smtp`
and I get:
`0: NO "authentication failed"`
The user

[2016-01-21 17:35] tomav commented on #60
Try like this: https://github.com/tomav/docker-mailserver/pull/50/files#diff-b8765e8e12fe5b90ee3f4f3a864b5d96R18

[2016-01-21 17:41] citec commented on #60
thanks, but nothing, still:
` 0: NO "authentication failed"`

[2016-01-21 17:56] citec commented on #60
could you paste here some account.cf file working? just a sample with dummy passwords or something, I suspect that I am doing something wrong in that file

[2016-01-21 18:07] tomav commented on #60
Try with test data in `test/` folder.

[2016-01-21 18:08] citec commented on #60
ok, I will, thanks

[2016-01-21 18:09] tomav commented on #60
➜  docker-mailserver git:(master) make run
    # Copy test files
    cp test/accounts.cf postfix/
    cp test/virtual postfix/
    # Run container
    docker run -d --name mail -v "`pwd`/postfix":/tmp/postfix -v "`pwd`/spamassassin":/tmp/spamassassin -v "`pwd`/test":/tmp/test -h mail.my-domain.com -t tvial/docker-mailserver:
    e92bbe74e2609bd93282e38e70fb0755b7d9e44ec263580abd1a48d14cb77428

[2016-01-21 18:19] tomav commented on #60
#44 & #47

[2016-01-21 18:26] citec commented on #60
ok, now the test works, maybe I had bad file encoding or something. So test as you told me to do works, but not when I try to connect from the email client from another machine
The log is not very specific:
[code]

[2016-01-22 09:05] tomav commented on #60
You should see something like that when it works:

    Jan 22 09:01:07 mail imapd-ssl: Connection, ip=[::ffff:192.168.1.254]
    Jan 22 09:01:07 mail imapd-ssl: LOGIN, user=user@domain.com, ip=[::ffff:192.168.1.254], port=[55971], protocol=IMAP

Try:

    telnet mail.domain.com 143
    # then when connection is open
    a1 LOGIN user@domain.com MyPassword
    # you should see "a1 OK Logged in."

[2016-01-22 09:08] tomav commented on #59
Let me know when it's done, I'll test it and link it in the documentation.

[2016-01-22 09:08] #59 closed

[2016-01-22 09:09] #57 closed

[2016-01-22 09:09] tomav commented on #54
@crash7 Let me know if you work on it or not.
Thank you.

[2016-01-22 13:08] rubytastic opened #61 "Use more secure minimal linux distro?"
How about using a more secure minimal linux distro.
If this is to be run at CoreOS

[2016-01-22 13:33] tomav commented on #61
Let's see what users think bout that.

[2016-01-22 13:43] citec commented on #61
+1 , but not priority, in my opinion. I think we should put all functionality in it first (dkim, autoconfig, backup, etc)

[2016-01-22 13:48] tomav commented on #61
Backup exists. DKIM is being upgraded to multi-domains.
Autoconfig is external. So, we're close.

[2016-01-22 13:49] citec commented on #61
yes, agree. I would put also pop, etc. There is a lot of users still using those protocols.

[2016-01-22 13:52] tomav commented on #61
Yes, but the goal is not have a "one size fits all" which will be another average docker image. The goal is to have clear choices on what's best and most simple.
That was my point on `pop` protocole. It could enter this image but should not be enable by default, `imap` being a better alternative.

[2016-01-22 14:02] #39 closed

[2016-01-22 14:03] tomav commented on #39
Added to `README`.

[2016-01-22 14:11] tomav commented on #60
@citec does it work sing telnet?

[2016-01-22 14:14] citec commented on #60
yes, it works, so I guess I am doing something wrong in the mail client

[2016-01-22 14:17] citec commented on #60
ok, imap without sasl works from email client now. so the problem is with sasl, right ?

[2016-01-22 14:18] citec commented on #60
how do I test sasl login with telnet ? I remember there was some username:password hash

[2016-01-22 16:48] tomav commented on #60
Easily testable using telnet for `PLAIN` and `LOGIN`.
I'm currently adding tests so you will soon have working example.

`CRAM-MD5` and `DIGEST-MD5` are more complicated to test manually because you have to compute data sent by the server before sending it back.

I'll let you know.

[2016-01-22 18:06] tomav commented on #60
@citec you can have a look to http://www.fehcom.de/qmail/smtpauth.html
Working examples available here: https://github.com/tomav/docker-mailserver/blob/master/test/auth/smtp-auth-login.txt and https://github.com/tomav/docker-mailserver/blob/master/test/auth/smtp-auth-plain.txt

[2016-01-22 18:49] tomav commented on #60
BTW, pull the latest image, I fixed a bug.

[2016-01-22 19:14] Lewiscowles1986 commented on #39
:+1: Thx

[2016-01-22 19:35] crash7 commented on #54
Hi!
Yes, I will try to submit this during the weekend.

[2016-01-23 05:53] tomav commented on #54
Thanks!

[2016-01-23 19:35] bilak commented on #61
I was thinking about rewriting this image to [centos](https://www.centos.org/).
If I have time next week, I will try to rewrite it.

[2016-01-24 15:05] unilynx opened #64 "Link dead"
The link in the readme:

https://tvi.al/simple-mail-server-with-docker/

no longer works

(and is unfortunately also unavailble through web.archive.org)

[2016-01-24 15:09] citec commented on #64
the domain name has no TLD in the link, maybe that's the reason

On 01/24/16 13:05, unilynx wrote:

[2016-01-24 15:58] unilynx commented on #64
There may be some strange email filtering going on, but if you look at the issue on github the dot is there. 'tvi.al'

It's reporting '502 Bad gateway', so it's probably either gone or just misconfigured..

[2016-01-24 16:18] insanebits opened #65 "documentation on hostname and domainname"
While trying to build image using docker-compose it some time to figure out how letsencrypt directory should be named. As far as I understand build script will contatenate hostname and domainname and when you generate letsencrypt certificates usually you will get directory with only a domain name. So when you mount start-mailserver.sh will look for invalid location.

It would be nice to have some

[2016-01-24 21:33] rubytastic commented on #61
Im still investigating a clean small linux distro to be used for all containers.
Have not found a good solution yet. Think centOS is also to full-stack.

[2016-01-24 22:27] citec commented on #60
Hi, I won't have time till february now, but I will try it. Thanks very much.

[2016-01-25 09:34] slintes commented on #61
have a look at Alpine Linux:
- http://www.alpinelinux.org/
- http://wiki.alpinelinux.org/wiki/Hosting_Web/Email_services_on_Alpine

[2016-01-25 17:15] tomav commented on #64
Yep, there is a TLD, `.al` but I was on a server migration.
Website is back.

[2016-01-25 17:15] #64 closed

[2016-01-25 17:23] tomav commented on #65
You're right, an information is missing.

[2016-01-25 17:23] #65 closed

[2016-01-26 11:41] bilak opened #66 "Add DMARC support"
As DKIM and SPF should work now in this image, we can look at [DMARC](https://dmarc.org/) support.
I have working setup in my local image, just need time to send a pull request.

[2016-01-26 12:00] #54 closed

[2016-01-26 12:02] tomav commented on #55
Merged.

[2016-01-26 12:02] #55 closed

[2016-01-26 19:37] tomav commented on #55
@bilak does the server sign outgoing emails?

When I do `amavisd-new testkeys` I have:
`No DKIM private keys declared in a config file.`

Are you sure there's nothing to do in Amavis configuration?

Thank you.

[2016-01-26 20:34] bilak commented on #55
Hi @tomav.
Yes it's definitely signing outgoing requests, but I'm testing this from java application in my laptop  and server with docker is another computer. Try to remove entries from `/etc/opendkim/TrustedHosts` reload the config and send mail.

[2016-01-26 21:07] tomav commented on #55
Yes, you're right.

    BC0BB9F9: DKIM-Signature field added (s=mail, d=domain.com)

I was asking that because there are DKIM options in Amavis.

[2016-01-26 21:10] #66 closed

[2016-01-27 21:19] konstantinj opened #68 "/usr/local/bin/start-mailserver.sh: line 111: /etc/letsencrypt/live/mail.domain.tld/combined.pem: No such file or directory"
Hi,

thanks for this awesome image.

I've tried starting it with docker-compose.yml from this repo. With my domain of course. Im getting this error at start:

in line 111 in the current master is just "fi". Is the build not up2date?
I've provided the DMS_SSL=letsencrypt env. According to the start log there is no letsencrypt run.

[2016-01-27 22:25] bilak commented on #68
Hi,
If you have your letsencrypt certificates generated on your host just mount a volume with it `-v "$(pwd)/letsencrypt/etc":/etc/letsencrypt`. This could help you to resolve this issue.

[2016-01-28 08:09] konstantinj commented on #68
OK, that would work. But I thought the image is creating the certs for me if missing. Still haven't looked through the sources.

[2016-01-28 08:16] bilak commented on #68
That could be added in future, but then ports 80 and 443 should be exposed and they must be accessible to public.

[2016-01-28 11:54] tomav commented on #68
Or using the LE manual mode.

[2016-01-28 20:06] bilak commented on #61
I was working today with CoreOS and this is not OS for installation of mail-server. It's used for "containerization" - something like [Project Atomic](http://www.projectatomic.io/). Alpine linux is based on busybox and I'm affraid that there won't be all required packages for this docker.

[2016-02-01 08:24] #68 closed

[2016-02-01 08:24] tomav commented on #60
@citec I'll let you reopen this is you have any problem.

[2016-02-01 08:24] #60 closed

[2016-02-01 11:31] kshitizlondon opened #70 "Docker-compose example file for multiple domains"
It would be great if you can show example code for:

- multiple domain docker-compose.yml file
- account files (to manage users/email addresses on multiple domains)

[2016-02-01 11:38] tomav commented on #70
Hi @kshitizlondon, the `docker-compose.yml` file is not multi-domain. There's only one main domain called the [fqdn](https://en.wikipedia.org/wiki/Fully_qualified_domain_name).

Regarding the accounts, have a look to the `accounts.cf` located [here](https://github.com/tomav/docker-mailserver/blob/master/test/accounts.cf). It should answer your question.

Feel free to ask if needed.

[2016-02-01 11:41] kshitizlondon commented on #70
Do I have to build the image everytime I update the account.cf file for new user/email address
?

[2016-02-01 11:42] kshitizlondon commented on #70
Can you also tell what changes I need to make in domain setting at domain registrars example godaddy.com

[2016-02-01 11:42] tomav commented on #70
Nope, use a volume to provide the files and restart the container.

[2016-02-01 11:44] tomav commented on #70
Regarding DNS, there's nothing more to do with this image than with any other mail server.
A `MX` record in your DNS zone to tell which IP is the mail server.
After that, you'll probably want to add `SFP` or `DKIM`.

[2016-02-01 14:08] #70 closed

[2016-02-01 14:16] tomav commented on #46
I close this issue and wait for PR if someone wants to add some new features without doing something overkill.

[2016-02-01 14:16] #46 closed

[2016-02-07 17:10] konstantinj opened #72 "No secure imap connection possible with letsencrypt certs"
Hi,

still can't figure out why I can't get a secure imap connection. The combined.pem is there and has the privkey.pem and the cert.pem in it.

Do you know how to debug this more?

[2016-02-07 22:26] andrius opened #73 "volumes"
I have removed some pieces to external volumes, below you'll find my docker-compose.yml. However, I had some permission issues with opendkim. Could you update how to use external data volumes properly with docker-mailserver? (permissions, ownership, any  notes?)

[code]

[2016-02-08 00:23] Pixinn commented on #72
Hi !

Maybe it is because I mounted the _letsencrypt_ volume Read-Only, but I had to manually build my _combined.pem_ file using _cat_.
Here is the error I got before that :

I did not recall reading a clear warning from your starting script about the missing file or the impossibility to build it. If I'm not mistaken, maybe you should add one.

[2016-02-08 08:33] konstantinj commented on #72
Hi, as I said the combined.pem is in the correct place and I also created it myself to see if that helps. I wonder why s_client is complaining about ssl23 since both ssl protocols are disabled. But even if I tell it to only use tls it fails with the same error message. Still no clue how to debug courier to track this down.

[2016-02-08 08:47] tomav commented on #73
Regarding `./mail:/var/mail`, I suggest to use a data container volume instead.
You will not have any permission issue.

Here is my personal `docker-comfig.yml`

    maildata:
      image: ubuntu
      volumes:
        - /var/mail
      command: /bin/true

    mail:
      image: "tvial/docker-mailserver"
      hostname: "mail"
      domainname: "domain.com"
      volumes_from:
       - maildata

[2016-02-08 17:12] tomav commented on #72
Hi @konstantinj, could you give me your `docker-compose.yml` file and run `tree` command at your project root? Thank you.

[2016-02-08 19:08] konstantinj commented on #72
Hi @tomav

[code]

[code]
nginx-procy/certs is
[code]

[2016-02-08 22:01] tomav commented on #72
Could you try on port `993`?

[2016-02-08 22:49] tomav commented on #72
Just push something else to be more clear: https://github.com/tomav/docker-mailserver/pull/74

[2016-02-09 16:33] tomav commented on #72
@konstantinj I'm pretty sure that your certs are not correctly mounted.
Also get the latest image via `docker pull tvial/docker-mailserver`.

For the others LetsEncrypt users, you can try:

    docker exec mail openssl s_client -connect 0.0.0.0:143 -starttls imap -CApath /etc/ssl/certs

You should see something like that:

    depth=2 O = Digital Signature Trust Co., CN = DST Root CA X3
    verify

[2016-02-09 17:43] tomav commented on #72
I close this since it seems to be a configuration on your part.
Reopen if I'm wrong.

[2016-02-09 17:43] #72 closed

[2016-02-09 17:44] tomav commented on #73
@andrius does it work?

[2016-02-09 18:03] andrius commented on #73
it work better than my version :) However, I kept mail folder on host filesystem.

[2016-02-10 08:05] tomav commented on #73
Ok. I really recommend users to use data volume containers and a backup system to keep portability. You won't have to struggle with host/container `uid/gid` as explained [here](https://medium.com/@ramangupta/why-docker-data-containers-are-good-589b3c6c749e#.djtvm2ec5).

[2016-02-10 08:05] #73 closed

[2016-02-10 08:34] grosbedos commented on #73
Hi,

It would be great to have this information on the readme file.

Thanks

[2016-02-10 08:40] tomav commented on #73
It was in the [FAQ](https://github.com/tomav/docker-mailserver/wiki/FAQ) but I just added the example.

[2016-02-13 04:22] dominikwinter commented on #61
As has already been said by @bilak CoreOS is for the docker host.

@rubytastic What do you mean by "secure" distribution? Take the biggest one like Debian, Ubuntu or CentOS (or for enterprise: SUSE Linux, Red Hat) to get as fast as possible security patches.

[2016-02-16 12:35] tomav commented on #61
:+1: @dominikwinter

[2016-02-17 11:28] tomav opened #79 "Fix spamassassin configuration issue"
A part of `start-mailserver.sh` contains wrong path: https://github.com/tomav/docker-mailserver/blob/master/start-mailserver.sh#L185-L188

[2016-02-18 21:11] tomav commented on #79
This fix was crap... I'm pushing a real improvement instead.

[2016-02-18 22:16] #79 closed

[2016-02-18 22:50] NitroPye opened #82 "Using example setup: "authentication error: Input/output error""
I'm trying to use this container and starting with the example setup in the README but I am running into a snag.

When I try to auth for either imap or pop I get the same output. I've turned on authdaemon debug output to see whats going on.

accounts.cf:
[code]

imap auth test
[code]

pop3 auth test
[code]

Both telnet auth tests will immediately disconnect and the courier-imap or courier-pop will

[2016-02-18 22:58] tomav commented on #82
Could you start the container in foreground and paste the logs from start to end of postfix boot?
I'll have a look tomorrow. Please copy your docker command line or compose file.

[2016-02-18 23:25] NitroPye commented on #82
Sure.

Docker command:

[code]

Foreground log output:

[code]

Then on a different shell I run this

[code]

I set authdaemon debug log to 2 (show all debug and passwords). Docker output looks like this after performing the same above action:
[code]

Note: I scrubbed any FQDN bits from the logs and turned it into myhidden.mydomain.com.

[2016-02-19 07:47] tomav commented on #82
I can't try right now, but try to provide a `postfix/virtual` file with an alias:
`somethingelse@myhidden.mydomain.com test@myhidden.mydomain.com``

Then start the container and test login again.
I'm not sure but if it's the problem, there's a bug to fix.

[2016-02-19 17:45] NitroPye commented on #82
Okay I gave that a try. Same issue it seems. Logs don't say its skipping postfix/virtual now but other than that no change.

[code]

Not sure if this matters but I've included the output of `docker info`:

[code]

[2016-02-19 18:06] tomav commented on #82
I can't reproduce your problem, and without that, it's hard to investigate.

Be sure to use the latest image event if I think that **the problem is related to the a file provided, a mount issue or a permission issue.**

We have integration tests on each build and they're green, and production servers work fine. You can send me a download link with your config file and I'll have a look.

[2016-02-19 20:50] NitroPye commented on #82
Totally understand how tough it is to work with someone you cannot reproduce. We are having a tough time getting a stable case to show.

Using this:
https://github.com/NitroPye/docker-mailserver-test

On some hosts, sometimes the container does not work (error from above) and in some cases it does work. Unable to isolate whats causing it. I've tried fresh docker-machine instances. Fresh Vagrant VM

[2016-02-19 20:52] tomav commented on #82
Checking...

[2016-02-19 20:57] tomav commented on #82
➜  Desktop  git clone git@github.com:NitroPye/docker-mailserver-test.git
    Cloning into 'docker-mailserver-test'...
    remote: Counting objects: 8, done.
    remote: Compressing objects: 100% (4/4), done.
    remote: Total 8 (delta 0), reused 8 (delta 0), pack-reused 0
    Receiving objects: 100% (8/8), done.
    Checking connectivity... done.

    ➜  Desktop  cd docker-mailserver-test

    ➜

[2016-02-20 20:20] cigzigwon commented on #82
Sounds like ur facing a networking or DNS issue. The box seems to work fine but for me digital ocean bars port 25 for SMTP. I also would avoid telnet as a debug or test tool because itself is another attack vector.

[2016-02-20 20:37] NitroPye commented on #82
Telnet is only being used as a client to test not as a server component. I've experienced the same results using `nc` from inside the container (`docker exec -ti mailcontainer bash`) ruling out network.

[2016-02-20 22:02] cigzigwon commented on #82
When I actually try with telnet as a test in from my host box via telnet localhost 110 I can connect but upon authenticating I get a TLS error. I ran this in a beta env and was able to grab mail through it via 110.

[2016-02-20 22:13] NitroPye commented on #82
I can't even get that far. Any auth commands via IMAP or POP3 protocols will cause the same error.

You mean is 127.0.0.1 pointing to localhost in my hosts file? Of course.

[2016-02-20 22:25] cigzigwon commented on #82
See that error with spam assassin you have? You mounted off of root.

[2016-02-20 22:37] NitroPye commented on #82
Are you referring to this?

I know I mounted off root. There was no rules file in that particular run. Whether or not that is there doesn't seem to make a difference.

[2016-02-20 23:08] cigzigwon commented on #82
Yes, so if /postfix/accounts.cf doesn't exist you won't have a login there. Just saying but other than that I don't see a problem running this container and using it in beta works. I can send and receive mail and one of my webapps uses it as a relay.

[2016-02-20 23:30] NitroPye commented on #82
I'm sorry I don't think you are following. /postfix/accounts.cf is definitely there. You can see from the logs. I'm really glad you can send and receive mail using this container. I think I'm looking at a deeper issue than just setup. Thats been ruled out long ago.

and later in the log

[2016-02-24 11:12] tomav commented on #61
The host should provide security, CoreOS being a good solution.
Currently, no plan to go from ubuntu to something else so I close this issue.
Let's check during the next months if we have good alternatives and what is the gain of such change.
Feel free to comment.

[2016-02-24 11:12] #61 closed

[2016-02-24 16:01] tomav opened #84 "Move from "assert.sh" to "bats" to have understable tests"
This is not an issue, but working everyday using tests framework in Ruby or PHP, "assert.sh" is not really meaningful.

I'm gonna migrate to test framework to https://github.com/sstephenson/bats

This won't change anything in the mail server, only the test suite.

[2016-02-25 08:42] #84 closed

[2016-02-26 16:51] Chris54721 opened #86 "Duplicate DKIM signature"
Outgoing emails have two identical DKIM signatures; this makes both of them invalid and triggers spam filters (the message gets marked as spam on [MailTester](https://www.mail-tester.com) and Outlook).

Container log after sending the mail from an IMAP client:
[code]

Notice how the mail gets signed twice by `opendkim`.
I confirmed the issue on every client I tried, including Airmail for OS X, Gma

[2016-02-26 16:52] tomav commented on #86
It seems that someone fixed in his local repo : https://github.com/robertdolca/docker-mailserver/commit/2ff42baf41378f6c410b13fb6db6ddf07266f443

@robertdolca, wanna PR? ;-)

[2016-02-26 17:03] robertdolca commented on #86
It is in the open PR #83. I will finish it this week.

[2016-02-26 17:07] tomav commented on #86
Oh yeah!

[2016-02-26 17:10] Chris54721 commented on #86
Great! :+1:

[2016-02-26 21:43] echo511 opened #87 "Sieve filters"
Is it a desired to-do? Or is it off-topic for this project?

[2016-02-26 22:39] tomav commented on #87
Hi @echo511, what do you mean?
I'm not an expert but we already have amavis and spamassassin.
Let me know.

[2016-02-27 00:29] NikolaMandic opened #88 "open relay"
this things starts an open relay by default right?

[2016-02-27 09:19] echo511 commented on #87
Well, that's for eliminating the unwanted. Sieve is for mail ordering based on user specific rules. For example move mail marked as spam by spamassassin to Junk folder etc.

Look here: http://wiki2.dovecot.org/Pigeonhole/Sieve/Examples

[2016-02-27 09:26] echo511 commented on #87
Ok, it may not be possible to set up Courier-Sieve, no support from Courier. Maby move to Dovecot instead? I'll look into it. Let me know if Sieve-Dovecot sounds good to you. If so I'll send a pull.

[2016-02-27 10:04] tomav commented on #88
Nope, you need an account to use it as smtp.

[2016-02-27 10:10] tomav commented on #87
If we can keep the root concept of using only versionable configuration( no *sql database), why not.
I'm just wondering if dovecot allows to do that.

[2016-02-27 10:17] echo511 commented on #87
By default it uses system accounts but can be configured to use userfile or sql or whatever. So no problem

[2016-02-27 11:58] NikolaMandic commented on #88
but if I run it does it accept all from local networks. I had it tested for open relay here http://www.mailradar.com/openrelay/ and it showed some tests failing
also my provider gave me a notice I must have done something wrong.
Can you please tell me can you think of a setup this might be an open relay by default?

[2016-02-27 12:47] tomav commented on #88
Checking my server with your URL... I'll let you know.

[2016-02-27 12:49] tomav commented on #88
All tested completed! No relays accepted by remote host!

Could you tell me which test said your server is an open relay?

[2016-02-27 14:18] emazzotta opened #89 "Custom non-letsencrypt certificate"
I'd like to have an easy way to use my own certificate (that already contains the key and is the only file needed) which is signed by a real CA and is a non-letsencrypt certificate.

[2016-02-27 15:36] NikolaMandic commented on #88
hm not sure. now it is working for me. Thanks for the project it is great.
Also I ran it without NETCAP maybe that did something

[2016-02-27 16:17] emazzotta commented on #89
Untested, but this should do the trick:
https://github.com/tomav/docker-mailserver/pull/90

[2016-02-27 17:09] tomav commented on #88
Happy to hear you like it.
Regarding `NETCAP`, it works without, but `fail2ban` won't be able to ban IPs.

[2016-02-27 17:09] #88 closed

[2016-02-27 17:12] tomav commented on #89
Hi @emazzotta, I'll merge as soon you can confirme it works as expected.
Also, if there are integration can may check everything is working correctly, please add them.
We have currently 45+ tests.

Thank you.

[2016-02-27 17:27] emazzotta commented on #89
I was able to verify, that the code within my if-statement works as expected.

However, I'm having issues exercising the flow that uses the DMS_SSL variable. This issue persists for "cutom" as well as for your "self-signed" option. Meaning, inside the container I can verify that the DMS_SSL variable is set correctly, but the operations are not executed (I don't even see `echo "Adding $(hostname) S

[2016-02-27 17:39] tomav commented on #89
echo "Adding $(hostname) SSL certificate"

This part is inside a if statement, so you probably don't match your requirements.
Try to put another `echo` just after line 142

[2016-02-27 17:43] emazzotta commented on #89
Yes, I figured the same :)

I do see echo's before and after the switch cases for DMS_SSL so I probably really don't match the if-statement. However when I open bash inside the docker container and run:

`[ -e "/tmp/postfix/ssl/$(hostname)-full.pem" ]; echo $?`

I get `0`

Any advice?

[2016-02-27 17:53] tomav commented on #82
Hi @NitroPye, any update on this issue? Still exists?

[2016-02-27 17:59] tomav commented on #89
I suppose you got `0` because `/tmp/postfix/ssl/FQDN-full.pem` exists :-)
I don't have it and it returns `1`.
Tried on an existing file I get `0`.

	root@mail:/# ls -la /tmp/postfix/ssl/
	total 36
	drwxr-xr-x 3 1000 1000 4096 Nov  9 14:08 .
	drwxr-xr-x 3 1000 1000 4096 Feb 27 16:24 ..
	drwxr-xr-x 4 1000 1000 4096 Nov  9 14:08 demoCA
	-rw-r--r-- 1 1000 1000 4562 Nov  9 14:08 FQDN-cert.pem
	-rw-r--r

[2016-02-27 18:03] emazzotta commented on #89
That's exactly my point! :)

I have the file: `/tmp/postfix/ssl/$(hostname)-full.pem`
Therefore the if-statement `if [ -e "/tmp/postfix/ssl/$(hostname)-full.pem" ]; then`
Should be true and I should have `Adding $(hostname) SSL certificate` in the logs.

See: https://github.com/emazzotta/docker-mailserver/commit/6bd5c5015af895f98ef38c50778b0519074dd9d4

This is not happening though.

[2016-02-27 18:06] tomav commented on #89
Could you paste here all the things you see between your docker start command and the last line of log (start it in foreground). Thank you.

[2016-02-27 18:17] emazzotta commented on #89
Nevermind, my mistake, I thought if I built my fork of your repo with my change on dockerhub, I'd have my change integrated, but for some reason, dockerhub built your repo instead of my own (with my dockerhub account). If you accept the pull request it should be all good :)

[2016-02-27 18:21] tomav commented on #89
Good new!
Bt why can't you test before I merge on master. Not really safe, no? ;-)

You can add your fork on your docker hub account or just test locally with an email client.
Think about integration tests.

Thanks.

[2016-02-27 18:26] emazzotta commented on #89
Yes, you're obviously right, something weird happened, I opened a pull request, but the code change was not reflected in my fork. My bad. That's why my docker build didn't contain the change and I had issues testing it. Will test as soon as docker finished building.

[2016-02-27 18:28] tomav commented on #89
Thanks @emazzotta

[2016-02-27 19:07] emazzotta commented on #89
Tested and works flawlessly!

[2016-02-27 19:12] tomav commented on #89
Merged.

[2016-02-27 19:12] #89 closed

[2016-02-27 19:14] tomav commented on #89
Thank you @emazzotta.
If you find a way to ass integration test or this part of the code, feel free to PR.

[2016-02-28 05:41] playent opened #91 "How do I use this with Apple Mail?"
Usually, I set up DNS records to get this to work. Need a little guidance here. Also, how can I review logs?

[2016-02-28 09:35] tomav commented on #91
Hi @playent, its works exactly as another mail server regarding DNS.
Add a `MX` entry that points to your mail server IP. That's all.
The way to do that depends on the way you manage your DNS server (locally using zone file, or using the web interface of your DNS provider like Godaddy, Gandy...)

For the logs, here it's like every docker container: `docker logs -f mail`

If you're new to docker, I

[2016-02-28 09:35] #91 closed

[2016-03-01 06:48] scher200 opened #93 "Letsencrypt"
I get an error on line 129 from /usr/local/bin/start-mailserver.sh
the line looks like:
`
cat "/etc/letsencrypt/live/$(hostname)/cert.pem" "/etc/letsencrypt/live/$(hostname)/chain.pem"  "/etc/letsencrypt/live/$(hostname)/privkey.pem" > "/etc/letsencrypt/live/$(hostname)/combined.pem"
`
and it is pretty clear why, the directory does not exist at all.

do i need to mount these directories myself?

[2016-03-01 08:16] tomav commented on #93
I experienced the same issue yesterday but didn't get time to dig into.
The normal use case is to provide `cert.pem`, `chain.pem`, `privkey.pem` and combined is auto-generated on startup and overwritten if exists.

[2016-03-01 09:45] minderrd commented on #82
Hi, I also have the same issue. And here is what I did

1. set DEBUG_LOGING to 3 in /etc/courier/authdaemonrc
2. stop courier-authdaemon
[code]
3. check the daemon is gone
[code]
4. start courier-authdaemon
[code]
5. check the daemon is back
[code]

and login with this
[code]

and here is the debug message in /var/log/mail.log
[code]

And if I login with password, it works

[code]
[code]

[2016-03-01 09:54] tomav commented on #93
And we need to add a test on that part.

[2016-03-01 09:55] tomav commented on #82
@NitroPye and @minderrd, do you have a volume linked to the host for `/var/mail`?

[2016-03-01 09:57] tomav commented on #82
And regarding to your last comment on `saslpasswd2` password, could you try to change it in your `account.cf`? If the password remains the same, then the password is probably not read correctly from the file.

[2016-03-01 12:23] tomav commented on #93
@scher200 I think the problem was my files. Everything works as expected.
Could you confirm that providing `cert.pem`, `chain.pem`, `privkey.pem`, the `combined.pem` is generated correctly?

[2016-03-01 18:57] NitroPye commented on #82
@tomav I do not have a volume linked to the host for `/var/mail` should I give that a try?

[2016-03-02 01:03] minderrd commented on #82
@tomav that's what I guess. I don't have a volume link, too, but I checked `/var/mail`, I think it works fine.

I change my `account.cf`, and the password is changed, but the result is the same

here is the log

[code]

[2016-03-02 09:27] tomav commented on #82
Really strange... so accounts are created correctly.
Sorry, we'll have to try few things to find the issue.
Could you check that:
* folders in `/var/mail` are owned by `docker`
* folders have 755 mode
* `docker` user exists in `/etc/passwd` with uid/gid 5000

Another test will be to use a docker data container volume. Here's my `docker-config.yml`

    maildata:
      image: ubuntu
      volumes:

[2016-03-02 13:27] tomav commented on #93
Confirmed, I know what's the problem. `combined` can't be created if `live/` symlink are absolute. Changing them to relive works as expected.

        cert.pem -> ../../archive/domain.com/cert1.pem
	chain.pem -> ../../archive/domain.com/chain1.pem
	combined.pem
	fullchain.pem -> ../../archive/domain.com/fullchain1.pem
	privkey.pem -> ../../archive/domain.com/privkey1.pem

[2016-03-02 13:31] scher200 commented on #93
@tomav I am not so sure where to find this live/ symlink ..
Or has it something todo with the mounted files in my docker-compose file:
`
mail:
  image: tvial/docker-mailserver
  hostname: mail
  domainname: mydomain___.com
  cap_add:
    - NET_ADMIN
  ports:
    - "25:25"
    - "143:143"
    - "587:587"
    - "993:993"
  volumes:
    - ./spamassassin:/tmp/spamassassin/
    - ./postfix:/tmp/postfix

[2016-03-02 14:25] tomav commented on #93
Usually, with LE, `live/mail.domain.com/*` certificates are symlinked to `archive/mail.domain.com/*` folder.

[2016-03-02 14:29] tomav commented on #93
On my host, here is the result of `tree .` from `docker-mailserver/letsencrypt/`

[15:26:14] letsencrypt [git:master*] $ tree .
	.
	├── etc
	│   ├── accounts
	│   ├── archive
	│   │   ├── mail.domain.com
	│   │   │   ├── cert1.pem
	│   │   │   ├── chain1.pem
	│   │   │   ├── fullchain1.pem
	│   │   │   └── privkey1.pem
	│   ├── csr
	│   ├── dhparams.pem
	│   ├── html
	│   ├── keys
	│   ├── live
	│

[2016-03-03 03:11] minderrd commented on #82
@tomav

* folders in `/var/mail` are owned by `docker` -> correct
* folders have 755 mode -> they are 700 mode
* `docker` user exists in `/etc/passwd` with uid/gid 5000 -> correct

[2016-03-03 08:36] tomav commented on #82
Try moving `/var/mail` and `/var/mail/domain.com` to 755. Mine is 755.

[2016-03-03 12:43] Dynamite874 opened #94 "lets encrypt ssl stupid question time"
Hiya.

I generated my cert with the cert-only command with letsencrypt and left it in the /etc/letsencrypt/live folder.

Whenever I run the SSL test I get the following back
[code]

Is thats enough info for someone to work out where I have been stupid and gone wrong ?

[2016-03-03 12:50] gpearre opened #95 "New to this"
Installed DOCKER and pulled the docker-mailserver on AWS instance.  Got everything installed and the mail server running.  I opened the ports using AWS security groups.  I configured DNS (correctly, I think).  Mail client seems to be connecting ok.  Sending e-mails to the account results in them disappearing forever.  No bounce back and not received in my mail client.  I sent an email from the mai

[2016-03-03 13:01] tomav commented on #94
Hi @Dynamite874, are you sure your LE certs a correctly mounted?
Can I see your folder setup and `docker-compose.yml` file?
Thank you.

[2016-03-03 13:04] tomav commented on #95
Hi @gpearre!
First thing to do is looking at logs using `docker logs -f mail_container_name` when container starts.
If you see an error, we'll have to fix it.

If everything seems good, when you send an email, you should see something in the logs as well.
If the mail cannot be delivered, you should see why in the logs.

Do not hesitate to copy paste here.

[2016-03-03 13:09] tomav commented on #94
Here is my test using your command:

    $ docker exec mail openssl s_client -connect 0.0.0.0:25 -starttls smtp -CApath /etc/ssl/certs/
    depth=2 O = Digital Signature Trust Co., CN = DST Root CA X3
    verify return:1
    depth=1 C = US, O = Let's Encrypt, CN = Let's Encrypt Authority X1
    verify return:1
    depth=0 CN = domain.com
    verify return:1
    CONNECTED(00000003)
    ---
    Cert

[2016-03-03 13:18] gpearre commented on #95
I see the following warnings:

==> Warning: '/tmp/postfix/virtual' is not provided. No mail alias created.
Mar  3 12:18:04 mail postfix/smtpd[717]: warning: hostname mail.creativepair.us does not resolve to address 52.72.171.135
Mar  3 12:18:04 mail postfix/smtpd[717]: connect from unknown[52.72.171.135]
Mar  3 12:18:04 mail postfix/smtp[715]: warning: host mail.creativepair.us[52.72.171.135]:25 g

[2016-03-03 13:28] tomav commented on #95
Can I see the full log? Post a gist if you prefer.

[2016-03-03 13:55] Dynamite874 commented on #94
Not sure what you mean by correctly mounted that may be the issue :).

`root@cg-docker1:~/mail# nano docker-compose.yml
  GNU nano 2.2.6                                                               File: docker-compose.yml

maildata:
  image: ubuntu
  volumes:
    - /var/mail
  command: /bin/true

mail:
  image: "tvial/docker-mailserver"
  hostname: mail
  domainname: clevergirls.tv
  volumes_fro

[2016-03-03 13:59] gpearre commented on #95
Here is the full log.  removed originating email addresses:

[code]

[2016-03-03 14:16] gpearre commented on #95
Update:
so e-mails are coming in to the server and I'm receiving them at the mail client, but it took about 45 minutes before the message showed in the mail client.  Still no luck at all with outbound messages.

[2016-03-03 14:38] tomav commented on #95
The problem was your DNS propagation. Everything seems fine in the logs and the resolution is now correct.
You can also add an alias from `root` to your main email account.

[2016-03-03 14:38] #95 closed

[2016-03-03 14:42] tomav commented on #94
I am getting this from google

What is Google usage here?

[2016-03-03 15:01] Dynamite874 commented on #94
Google is what I am using to connect to the server. So the mail client, I
am assuming the errors google is giving me is due to the config I have for
the mail server.

Sorry for not being clear about that.

--
Will Wright
will@willsworkspace.co.uk
http://willsworkspace.co.uk
--

On 3 March 2016 at 14:42, Thomas VIAL <notifications@github.com> wrote:

[2016-03-03 15:20] Dynamite874 commented on #94
This might not be a issue with the mailserver anymore, seem to be having a
issue with my server MX records :). You should be able to close this now.
Thanks for the help.

--
Will Wright
will@willsworkspace.co.uk
http://willsworkspace.co.uk
--

On 3 March 2016 at 15:01, Will Wright <will@willsworkspace.co.uk> wrote:

[2016-03-03 15:22] tomav commented on #94
Or perhaps Google is waiting for special SSL ciphers... Let's close this issue since not directly related to features provided by the image.
But feel free to contribute if needed.

[2016-03-03 15:22] #94 closed

[2016-03-03 19:38] gpearre commented on #95
Thanks for the help.

[2016-03-04 00:51] minderrd commented on #82
@tomav I tried, I still can't login.

I did another test by using `testsaslauthd`
[code]
and it returns
[code]
But I can't change the password using `saslpasswd2`, it remain the same. Weird.

[2016-03-04 12:44] Dutchy- opened #96 "Password security"
So, password security. You might have heard that you shouldn't store these in plain text.

I've looked at your setup and I feel that it could be improved by storing both the courier userdb and the sasldb locally, and providing a simple script to add users. That way we could remove the plain text passwords in accounts.cf.

However, docker is not my area of expertise. Can you tell me what the challe

[2016-03-04 15:56] millaguie commented on #96
Hi,

I'm working (not yet released) on a mysql with modern crypto for storing users... But I'm out of time, if some one can help or discuss about it, I can publish it in github.

Cheers

On Mar 4, 2016 1:44 PM, Edwin Smulders <notifications@github.com> wrote:

[2016-03-04 16:02] tomav commented on #96
Why not something lighter like sqlite? As you can see, this image is not like most docker mail images that you can find with dovecot and *sql databases that require other daemons to be started.

This allow to version configuration with a very light and portable solution (data being the only thing that has to be backuped)

@Dutchy-: I agree when you talk about security when storing passwords clear

[2016-03-04 16:51] Reldeis opened #97 "Postfix ErrorRecipient address rejected: User unknown in local recipient table"
Hi,

unfortunately i can't receive mails on my server from external addresses.

- Sending from user@docker-mail.tld to user@docker-mail.tld works as expected (send and receive).
- Sending from user@docker-mail.tld to someone@example.com works as expected
- Sending from someone@example.com to user@docker-mail.tld gets returned with the following error

[code]

a als check from [http://www.checktls.

[2016-03-04 16:54] tomav commented on #97
Hi @Reldeis, can I see your `accounts.cf` and `virtual` files? Thank you.

[2016-03-04 16:58] Reldeis commented on #97
accounts.cf:
t.willems@xxx.com|20CharPass

virtual:
info@xxx.com t.willems@xxx.com
admin@xxx.com t.willems@xxx.com

[2016-03-04 17:06] tomav commented on #97
Your log is the bounce message. Could you paste what you have in the server logs (`/var/logs/mail.log`) when sending from external email to server address?

[2016-03-04 17:22] Reldeis commented on #97
Actually there is nothing in there regarding received messages...

`Mar  4 16:31:15 mail imapd-ssl: Connection, ip=[::ffff:172.17.0.1]
Mar  4 16:31:15 mail imapd-ssl: LOGIN, user=t.willems@xxx.com, ip=[::ffff:172.17.0.1], port=[49518], protocol=IMAP
Mar  4 16:31:17 mail postfix/smtpd[745]: connect from localhost[127.0.0.1]
Mar  4 16:31:17 mail postfix/smtpd[745]: 1C843A99: client=localhost[127.0.0

[2016-03-04 17:30] tomav commented on #97
I fixed your log format. Use ``` before and after code block.

[2016-03-04 17:32] tomav commented on #97
Everything is fine in the logs. You had another MX before? If yes, the DNS propagation was the issue.

[2016-03-04 17:39] Reldeis commented on #97
Ohh i need my weekend :D

I forgot to change the mx records with my domain reseller. It would have saved both you and me time if i had read the first few lines of the TLS check...

Thanks for the help

[2016-03-04 17:39] #97 closed

[2016-03-04 17:44] tomav commented on #97
You're welcome.

[2016-03-04 18:14] Chris54721 commented on #86
@robertdolca Any news?
If the PR is still incomplete, since this is a one line fix (as in https://github.com/robertdolca/docker-mailserver/commit/2ff42baf41378f6c410b13fb6db6ddf07266f443) it could be merged separately as well. @tomav

[2016-03-04 18:21] tomav commented on #86
@Chris54721 You can also help @robertdolca to finish his PR. See https://github.com/tomav/docker-mailserver/pull/83

[2016-03-04 19:05] Dutchy- commented on #96
I feel like sqlite might be a good option here to solve this problem, but it could be some work to write the queries. In sqlite we can also use crypt for hashing, that's way better than md5.

Looking at https://github.com/tomav/docker-mailserver/blob/master/start-mailserver.sh#L25 we can see md5 is used for `userdbpw`. If we just remove that piped segment, we can simply supply a crypt hash (userdb

[2016-03-04 19:17] tomav commented on #96
@Dutchy- could you do a Proof Of Concept?

[2016-03-04 19:41] Dutchy- commented on #96
Maybe, I don't know how much time I have. I made a checklist for steps (the order can vary a bit) to investigate this though, taking into account that i dont have experience with building docker images yet.

- [ ] Setup `docker-mailserver` in its current form to make sure it works.
- [ ] Build the docker image myself and make sure it still works.
- [ ] Remove the `userdbpw` pipe and supply a crypt

[2016-03-05 08:26] millaguie commented on #96
Hi,

I'm working on it because I need it for a client. As soon it's finished, or at least, working I'll share it... Give me some weeks.

I'll keep compatibility and keep this working with the current format. I'm using a system variable to define witch system you will use, and some others to configure db access.

Cheers

On Mar 4, 2016 5:03 PM, Thomas VIAL <notifications@github.com> wrote:

[2016-03-05 15:37] Brandl opened #98 "Reducing docker image size"
Hello,

there are not many solutions for a docker based mailserver out there and from what I've looked at this is a very promising project. Starting at feature-completness to active maintenance this features a lot of the things I'm looking for to use in production.

One thing, that would totally win me over is to reduce the docker image size to a minimum. Currently the image size is around 500mb,

[2016-03-07 10:47] tomav commented on #98
Hi @Brandl and thanks for your support.
These tasks can be done very quickly:
* do installs and cleanup in a single RUN-command
* reduce number of installed packages (do you really need vim in a container?)

If you wanna PR this, it can be merged very fast.

Regarding the base image, why not! I'll have to have a look to these images. I mostly work with Ubuntu and Debian so I don't know the other.

[2016-03-07 13:33] kopax opened #99 "forward, alias, mailing list"
Hi want to create aliases for every email.

tom.soyer@compay.tld => tsr@company.tld

Is it possible to have multiple alias ?

tsr@company.tld => job@company.tld

I also want to be able to create mailing list, for example :

job@company.tld => tsr@company.tld, lvm@company.tld

Is it possible to forward to multiple mail ? If yes, should I use one line by forward are is there a sweeter syntax ?

[2016-03-07 13:42] tomav commented on #99
Just try in the `virtual` file. I think it's out of the box in postfix.

[2016-03-08 09:59] tomav commented on #99
http://www.postfix.org/VIRTUAL_README.html#forwarding

[2016-03-08 10:20] kopax commented on #99
It work. Thanks ;)

[2016-03-08 10:20] #99 closed

[2016-03-08 16:26] scher200 opened #100 "strange error on client"
Hi men,

I got it running with SSL letsencrypt but now I get the following error in my thinderbird:

[code]

if you like i can mail you the credentials of my mailserver so yo can try it yourself.
I used the following settings:
![settingsmailtvial](https://cloud.githubusercontent.com/assets/9550429/13607956/d707230c-e552-11e5-87eb-921ea0fbb7cc.png)

Greets Jeroen

[2016-03-09 17:34] Dutchy- commented on #96
Just a heads up, I concluded this week that I do not have time to look into this matter myself and it's unlikely that I will. Hopefully somebody else can use the points to investigate that I wrote down :)

One final thing I should note: with hashed passwords, sasl will no longer support challenge based authentication methods, but that's ok with proper transport security (TLS).

[2016-03-10 12:10] Gymnae commented on #61
I'm currently setting up a host with CoreOS and most images based on Alpine.
Maybe I'm ignorant, but couldn't it be as simple as just to change the FROM and make sure that all packages are available in Alpine?
The only caveat I see are potentially different paths.

Alpine Linux is just 5MB and pretty quick with updates, also regarded secure.
I'll fork and see how badly I fail :)

[2016-03-10 12:13] Gymnae commented on #98
I just replied to a closed request going in the same direction.
It would be superb to see this project with an Alpine base and it's smaller attack surface.

[2016-03-10 12:42] Gymnae opened #101 "Add z-push / Activesync"
Do you think it would be a good idea to also integrate push functionality, or to keep it seperate?
There is a container for making use of z-push, but maybe it could be integrated directly:

https://github.com/fmbiete/Z-Push-contrib/tree/master/docker

[2016-03-10 17:37] tomav commented on #101
Note : I like the idea, I used `zpush` on my mail server before I moved to docker.

[2016-03-10 23:27] Gymnae commented on #101
I have not worked with your package `docker-mailserver `yet - Right now I'm spinning up my single private node and got into Alpine Linux. I'm waiting if you might change your mind about rebasing, if not, I'll pull your package as it is and will see if `z-push` could be added.
The thing I thought about if integrating it would go against the docker manifest. `docker-mailserver` is already a collecti

[2016-03-11 04:41] scher200 commented on #100
Hi Tomav,

did it work, with you server and thinderbird?

[2016-03-11 11:56] PhilippeChepy commented on #98
I have removed vim, and merged lots of commands in Dockerfil in #102

[2016-03-12 05:48] Thetoxicarcade opened #103 "very nearly perfect"
This very nearly worked completely out of the box for me. You're **AMAZING**!

[code]

It did have a fit with a few things:

1. cnames on mail servers (yay for me being abnormal) - `mail.toxik.io` isn't my normal letsencrypt cert name, just `toxik.io` and lots of cnames in the same file. I had to run `letsencrypt certonly -d mail.toxik.io` to get a dir for just the mail. - it's weird for me, but t

[2016-03-14 16:26] tomav commented on #98
The move to Alpine will break a lot of changed.
We can plan that later in a specific branch to test things before merge.
Anyone can work on that?

The rest is being discussed in #102 with @PhilippeChepy.

[2016-03-14 16:39] tomav commented on #103
Hi @Thetoxicarcade,

Regarding your certs, you can create a cert for multiple hostname.
Let's imagine your cert is in `toxic.io` folder and your mail hostname is `mail.toxic.io`, you just have to symlink `mail.toxic.io` to `toxic.io` folder.

Regarding Thunderbird, I'm sorry but I really can't help you.

Regarding google, it seems that the ssl connection being kept by Google.
If you speak french,

[2016-03-14 16:42] tomav commented on #103
"Same" article in english : http://askubuntu.com/questions/73865/postfix-gmail-certificate-verification-failed

Currently, I don't have time to code but will help people who want to contribute.

[2016-03-15 00:33] philhansen commented on #100
I recently set up the container and I access my mail over IMAP using Thunderbird.  Those are the same settings I use.  Initially I had some troubles with the SSL connection and this command was helpful for debugging:

openssl s_client -showcerts -connect mail.sg20.com:995

In my case there was a path issue with the letsencrypt generated cert.  Trying the SSL connection directly gave me the necessa

[2016-03-15 06:22] scher200 commented on #100
thanks Phil I am going to check it.

2016-03-15 1:33 GMT+01:00 Phil Hansen <notifications@github.com>:

--
[image: FreeLaunching - Jeroen Schermer] <http://freelaunching.nl/>

[2016-03-15 09:24] tomav commented on #100
@scher200 it works with Thunderbird on my server with the same configuration you have.

[2016-03-17 10:54] Gymnae commented on #101
I'm working on a z-push image and will report back once it works, so far things are promising.
I should be very well linkable to your image

[2016-03-18 18:18] Chris54721 commented on #86
@tomav Sorry for the delay, taking a look at it now.

[2016-03-18 18:37] tomav commented on #86
No problem, we're all busy in real life ;-)

[2016-03-18 19:45] #86 closed

[2016-03-19 17:37] tomav commented on #98
An image can be tested at `tvial/docker-mailserver:lightweight `

[2016-03-21 16:21] tomav commented on #98
tvial/docker-mailserver           lightweight                fe2efbb8c8e8        47 hours ago        432.4 MB
    tvial/docker-mailserver           latest                     294dcb629180        2 weeks ago         540 MB

[2016-03-21 16:56] 00angus commented on #96
I think this project is very interesting :)
Since I don't like clear text passwords me too, I'm working on a possible solution.
My current version - not completely tested - works as follows:
- On startup it accepts "accounts.cf" file _OR_ two DBs for sasl and courier
- In case DBs are provided (/tmp/postfix dir), they are put into place in the right directories with the right names and permissions

[2016-03-21 17:04] tomav commented on #96
Thank you @00angus. We have to add password security, you're all right with this concern.
The clear passwords have to be kept out of the project?

[2016-03-21 17:08] 00angus commented on #96
@tomav we could leave the choice to the user ... ?
It would have been preferable to put encrypted passwd in accounts.cf ... but I've not found a solution for inserting the password in sasldb !

[2016-03-21 22:48] IwateKyle opened #106 "Hit and miss mail delivery"
### First
Wow, thank you for such a great contribution to those of us who want to operate their own mail servers.  I actually have gotten this to work - even though I am experiencing a problem.  I have also attached a question at the bottom.  Wasn't sure if I should have made two different issues or not.  Please advise.

### Problem - Hit and Miss mail delivery
I have a couple accounts setup in my

[2016-03-22 10:54] tomav commented on #106
Hi @IwateKyle, and thanks for using `docker-mailserver`.
Regarding your mail delivery issue, have you changed a DNS configuration recently? Few users had this problem as you can see in issues.
If not, have a look to container logs (they're from `/var/log/mail.log`). You will see which mails `PASSED CLEAN` and also `SPAM`.

No this is wrong: `accounts.cf` can manage multi-domain as you can see in d

[2016-03-22 10:57] tomav commented on #82
Password have to be changed in config files and restart server.

[2016-03-22 10:58] tomav commented on #82
Note that password changing (event with restart) is not tested yet.
I'll try to test it and we have to write a functional test on it.

[2016-03-22 10:59] tomav commented on #93
Closed due to inactivity.

[2016-03-22 10:59] #93 closed

[2016-03-22 11:00] tomav commented on #98
Anyone tried?

[2016-03-22 11:01] tomav commented on #100
@scher200 You tried with another mail client? Are you sure it's not related to SSL configuration / certs?

[2016-03-22 11:02] tomav commented on #103
@Thetoxicarcade hope this helps. Let me know and reopen if needed.

[2016-03-22 11:02] #103 closed

[2016-03-22 11:03] tomav commented on #96
https://github.com/tomav/docker-mailserver/issues/87 proposal could help here?

[2016-03-22 11:10] scher200 commented on #100
@tomav I am able to try it tomorrow I will let you know

2016-03-22 12:01 GMT+01:00 Thomas VIAL <notifications@github.com>:

--
[image: FreeLaunching - Jeroen Schermer] <http://freelaunching.nl/>

[2016-03-22 14:40] jmparra commented on #98
i have tested with debian, but no improvements in image size
[code]

[2016-03-22 15:14] 00angus commented on #96
@tomav : yes, I think so. Dovecot can auth users against several password DBs.
From the [Dovecot wiki page](http://wiki2.dovecot.org/PasswordDatabase) we could use "passwd-file" for the database, I think.

[2016-03-22 16:01] tomav commented on #96
:+1:

[2016-03-22 16:19] tomav commented on #98
As proposed above, we can work on a POC with alpine if we think that it will really reduce the image size (based on `docker images`, it's 180MB)
This could be the base of a `docker-mailserver:v2` with some improvements that I have in my head but I will need contributors.

[2016-03-22 16:26] tomav commented on #98
Let me know if few of you are ready to help. Thanks.

[2016-03-22 23:25] Gymnae commented on #98
I would like to help, just that I'm not a developer. I could point a domain which I don't use for testing to an install. Are there specifics you'd like to be tested? Or how could one assist in moving it to an alpine based image? I've set up some docker images on alpine - I just started with docker some weeks ago - and it feels a bit gentoo'ish - which is fine by me, but can be anal compared to deb

[2016-03-23 09:08] tomav commented on #98
@Gymnae we also need testers :-)

[2016-03-23 21:43] tomav commented on #96
https://github.com/tomav/docker-mailserver/pull/107

[2016-03-25 03:17] KyleOndy commented on #98
@tomav I'd be willing to help with the POC / testing of an alpine based container.

[2016-03-26 15:42] tomav opened #109 "Docker MailServer V2"
Here is the list of what should be done in version 2 of this image

- [x] Reduce image size
- [ ] Move to Alpine or other lightweight image
- [X] Use encrypted user database + generator from clear password text file (#123)
- [x] Comment `start-mailserver.sh` to help maintenance
- [x] Move from `/tmp` folder to `/var/docker-mailserver` or equivalent
- [x] Rename files (some are `.cf`, some are not)

[2016-03-26 16:13] tomav commented on #98
Check this: https://github.com/tomav/docker-mailserver/issues/109

[2016-03-26 16:14] tomav commented on #96
https://github.com/tomav/docker-mailserver/issues/109

[2016-03-29 05:33] DominikTrenz opened #110 "Issue with combined.pem from LE certificates"
I had many problems getting the courier server running with LE certificates. After a while i found the problem:

The .pem files from LE are merged into "combined.pem" and when there is no newline at the end of the LE files this happens:
`-----END CERTIFICATE----------BEGIN CERTIFICATE-----`
Which causes the imap server to fail.

Changing Line 129 in start-mailserver.sh to:
`( cat "/etc/letsencrypt

[2016-03-29 06:59] tomav commented on #110
Hi @DominikTrenz, do you want to submit a PR?

[2016-03-29 07:00] chadyred commented on #110
How do you create the LE certificate ?

On many case I use the URL /well-known URL when I have a web server running/ I don't have this possibility to do that, so I don't know how generate a certificate with LetEncrypt with a mail server.

[2016-03-29 07:20] DominikTrenz commented on #110
@tomav Maybe i will do so the next days. Thanks for this awesome image btw :)
@chadyred I use following docker images for automatic LE certificates:
[code]
The proxy-companion sets up the well-known urls in nginx and renews the certificates which are shared the email server.

[2016-03-29 07:44] chadyred commented on #110
Yes, I alse use them, but to generate certificate jrcs/letsencrypt-nginx-proxy-companion and particulary lets encrypt, use an URL for ACME challenge is needed and mail server container don't have one.

My idea :

Create a container with nginx which could receive /well-known link to mail server
So the certificate is generate and I shared this one to my mail container in the /etc/letsencrypt/live
fo

[2016-03-29 08:07] DominikTrenz commented on #110
The ACME challenge should be received just fine if you mounted the /usr/share/nginx/html volume from nginx in the letsencrypt container. At least it works fine with my setup. I also had to modify the letsencrypt image to generate all the necessary certificate files for the mailserver.

[2016-03-29 13:05] chadyred commented on #110
Thanks for help, I will re-open an issue if I have more problem more developed.

[2016-03-30 01:24] KyleOndy commented on #98
So I've started to work on the alpine container. A thing that I noticed is that the [opendkim](https://pkgs.alpinelinux.org/package/testing/x86_64/opendkim) and [courier-authlib](https://pkgs.alpinelinux.org/package/testing/x86_64/courier-authlib) packages are both in the testing repository of alpine linux.

I'm not sure if we using packages from a testing repo is a great idea.

[2016-03-30 07:07] tomav commented on #98
The time we build this new image, perhaps the packages will be stable. We need some time to refactor some things and test it before out stable release.
But good point and open question.

[2016-03-30 10:45] Reldeis commented on #110
PR #111 fixes the Problem

For further reference: my PR in in `jrcs/letsencrypt-nginx-proxy-companion` got merged recently. So if you use this container, like Dominik does, all you have to do is add its generated files to the mailserver. (You may need to rename key.pem to privkey.pem)

[2016-03-30 15:12] 00angus commented on #96
@tomav I'm currently working on a dovecot based version. This way we could have a single userdb with encrypted passwd. There's a lot of work still to be done, but I'm starting to see some results.

[2016-03-30 16:03] 00angus opened #112 "fail2ban and iptables question"
It would be useful to have Fail2ban not started by default, IMHO. In my case, for example, I prefer to filter on the host by looking at the container logs. And usually  I don't like privileged containers :o

What do you think?

[2016-03-30 18:28] gegere commented on #112
I agree with not having Fail2ban start by default. There is often valid IMAP requests with the incorrect password often enough and Fail2ban would block it.

[2016-03-30 19:20] gegere commented on #98
I have a good amount of knowledge with shippable.com. I see the site tests the build using Travis-CI but using Shippable the entire build process could be tested. Thoughts?

[2016-03-30 23:50] KyleOndy commented on #112
Could be have this configurable via an environmental variable? That way its easy to have one way or the other.

[2016-03-31 06:34] 00angus commented on #112
Yes, something like ENABLE_FAIL2BAN. I've implemented it for my own purposes: just a few more tests and I'll pull a request to see also @tomav opinion.

BTW we could also implement it as DISABLE_* if this make more sense to you, but for general concordance with the rest of the project ENABLE_*  is a better solution IMHO.

[2016-03-31 06:42] 00angus opened #113 "loggings"
I'd like to suggest to put mail.* logs inside a specific folder instead of the more general /var/log. In this way it's easy to provide let's say a -v mail-log:/var/log/mailserver where only mail logs are made available on the host.
I use that approach together with a fail2ban modification to filter incoming connections directly on the host, for example.

What do you think?

[2016-03-31 08:48] #110 closed

[2016-03-31 08:49] tomav commented on #113
I agree.
`/var/log/mail` could be a good place to be (not `mailserver`, project could change in v2 milestone)

[2016-03-31 08:50] tomav commented on #112
I agree, use an env to enable it.

[2016-03-31 08:51] tomav commented on #106
Close du to inactivity. Reopen if necessary.

[2016-03-31 08:51] #106 closed

[2016-03-31 08:51] tomav commented on #82
Close due to inactivity. Reopen if necessary.

[2016-03-31 08:51] #82 closed

[2016-03-31 08:54] tomav commented on #96
This can be part of v2. I think it will bring to much changes for a minor update.

[2016-03-31 08:55] tomav commented on #98
@gegere what do you mean by "the entire build process could be tested"?

[2016-03-31 08:56] tomav commented on #100
Closed due to inactivity. Reopen if needed.

[2016-03-31 08:56] #100 closed

[2016-03-31 09:22] tomav commented on #98
@KyleOndy it seems that some other packages are not yet available (even in testing). You confirm?

[2016-03-31 09:32] 00angus commented on #112
BTW - by looking at the integration tests for fail2ban I've found the following:

     @test "checking fail2ban: localhost is not banned" {
      run docker exec mail_fail2ban /bin/sh -c "fail2ban-client status sasl | grep 'IP list:\s*127.0.0.1'"
      [ "$status" -eq 1 ]
    }

Here the grep will match '127.0.0.1' only when it's the first IP listed. So for example here will not match:

     - IP

[2016-03-31 11:51] KyleOndy commented on #98
@tomav Confirmed. I am having a really tough time getting anywhere with the alpine container.

[2016-03-31 12:50] iannazzi opened #115 "DNS setup examples"
@tomav
Do you have any examples or references for setting up DNS? I have your docker image running in a digital ocean droplet. I have my domains registered through namecheap. I am assuming I need to point the nameserver records in namecheap to digital ocean, and in digital ocean possibly setup  mx records, however I am trying to follow & apply the [mail-in-a-box digital ocean setup tutorial](https

[2016-03-31 12:55] KyleOndy commented on #115
I was actually thinking about getting some documentation written up. I'll put a PR together.

[2016-03-31 13:34] 00angus commented on #113
@tomav Ok, `mailserver` is not ok. I'm thinking of putting inside this directory also the `clamav` logs, so all relevant server logs (apart from fail2ban) could be made easily available on the host.
In this case `mail` could still be adopted for that directory, I think. Ok?

[2016-03-31 13:36] iannazzi commented on #115
I would suggest including dns/mx entries in the readme install section. I would also modify the docker-compose.yml to be in a separate code block and include the ssl by default as in the docker-compose example in the FAQ. I think that would reduce some of the install issues that I had.

In the meantime, any hints on those mx entries?

[2016-03-31 13:47] iannazzi commented on #115
you guys might also get a ton of love if you wrote an install guide specifically for digital ocean on [digitialocean.com](digitialocean.com), it seems like a couple other mail box creators have done so.

[2016-03-31 15:36] iannazzi commented on #115
This is my setup
Namecheap: nameserver points to ns1.digitalocean.com, ns2,ns3....
Digital ocean: craiglorious.com:
A record `mail` points to mail droplet IP (45.55.111.111)
MX entry points to `mail.craiglorious.com.` priority of 1
Digital ocean: craigiannazzi.com:
A record `mail` points to mail droplet IP (45.55.111.111)
MX entry points to `mail.craigiannazzi.com.` priority of 1

accounts.cf:
[co

[2016-03-31 15:38] KyleOndy commented on #115
what are you trying to use as account name in mac mail?

[2016-03-31 15:40] iannazzi commented on #115
craig@craiglorious.com <mailto:craig@craiglorious.com> and me@craigiannazzi.com <mailto:me@craigiannazzi.com>

I am going in to try gmail as sometimes mac mail is odd....

[2016-03-31 15:52] KyleOndy commented on #115
It looks like you have DNS setup right for the craiglorious.com domain, confirmed by that fact that you are getting an `unable to verify account name or password` error. The login should be the full username, as you tried.

I don't see the DNS setup for craigiannazzi.com.

I would try getting one or the other working, then mirror the setup.

[2016-03-31 16:15] iannazzi commented on #115
OK, digging through the closed issues I did find [http://checktls.com/](http://checktls.com/) which hints to me ssl is not installed which it is not, I skipped over that part of the docs. I will go through your ssl docs

[2016-03-31 16:15] #115 closed

[2016-04-01 01:32] gegere commented on #98
Regarding my https://github.com/tomav/docker-mailserver/issues/98#issuecomment-203830743 you are using Travis-CI to build and check various merges on the build. Correct? As more and more variables are added various builds would need a matrix of environmental variables to test all the various options. This could be part of the .travis.yml file.

Here is another Docker container and I am using Circl

[2016-04-01 09:13] tomav commented on #98
You're right, the way we do it today is not pretty clean.
If you have an idea to test env vars configurations using travis (before trying to move to another CI service), feel free to PR something. I'm gonna add this to v2 requirements.

[2016-04-01 10:47] tomav commented on #112
Fixed by #114

[2016-04-01 10:47] #112 closed

[2016-04-01 10:53] tomav commented on #98
#102 if a first step in size reduction but has ti be finished.

@KyleOndy is there another base image we can use instead of alpine?

[2016-04-01 15:45] 00angus commented on #113
I'm going to do a PR for that issue. I've changed the way fail2ban jail.con get updated (from perl to awk) because there are now several changes to be managed and awk was simple IMHO,  but if you think perl is better please let me know.
Moreover there was an annoying message when no spamassassin rule file was not provided l, so I've added a simple check.

[2016-04-01 16:25] gegere commented on #113
I have been using a external logging service called LogEntries.com would this be something to consider? I have been using their service for about a year and have been quite happy even with the free tier. I have about 10 containers logging at any given time and can easily search across all logs. You simply pass the API call into the containers that are built and you don't need to worry about storin

[2016-04-01 16:40] gegere commented on #98
I am not super familiar with Travis-CI and regarding Docker builds they were late to the game when I was investigating a year ago, this looks to have changed. Recently Shippable released a big update the beginning of March. Many improvements to their backend service and processes which required a large amount of time to refactor my tests on a similar repo and in doing so I realized new methods and

[2016-04-02 21:48] 00angus commented on #113
@gegere I personally prefer to locally manage (on the host) the logs, but probably logentries.com is a good service. Anyway I've not configured such a service so I cannot be of help.

[2016-04-03 00:27] gegere commented on #113
We all have our tools for the job. It has been really challenging to merge
logs locally for 5 containers spread across 5 datacenter locations, so
external logging was a proper solution and I can choose to keep logs for a
short or long duration per the storage provider.

Using this service is very easy and if the idea grows I will lend my
support.

On Sat, Apr 2, 2016 at 4:48 PM, 00angus <notificat

[2016-04-03 08:56] mgansler opened #117 "LE SSL working with IMAP, but not SMTP"
I'm a bit confused right now, because the container is using the correct certificate for IMAP, but the self signed one for SMPT:

[code]

[code]

My docker-compose looks like this:
[code]

What did I miss?

[2016-04-03 09:28] mgansler commented on #117
I took a look at `/etc/postfix/main.cf` inside my container and for some reasons, there are spaces:
[code]
Not sure where they're coming from...

[2016-04-04 10:21] tomav commented on #117
Hi @mgansler, could you try:

    openssl s_client -connect 0.0.0.0:587 -starttls smtp -CApath /etc/ssl/certs/

[2016-04-04 10:49] mgansler commented on #117
Hey @tomav,

The port doesn't make a difference.

But I did some more testing with the `start-mailserver.sh` script.

[code]

I put an extra line in there (`cat /etc/postfix/main.cf|grep smtpd_tls_`) and indeed. The config is initially set to LE but is changed back to self signed through these lines.

So what I did was to clone your repo, modify the `docker-compose.yml` file and run the container.

[2016-04-04 10:57] hitokiri8x commented on #117
I'm nearly in the same situation, if from newly container with env variable and right certificate from letsencrypt I can't connect to my server on port 587  using ssl/tls, while I can on starttls.

but firstly clear me a question:
- the container is supposed to work on 587 with ssl/tls   or starttls ?  because of answer in my case might be not problems.

Anyway the result of

is

[code]
than it ha

[2016-04-04 13:25] mgansler commented on #109
Hi!

Take a look at https://gitlab.martingansler.de/docker/mail
I basically took your postfix configuration and integrated it in an alpine/s6 based image.
Currently it doesn't result in a working server but it should help you figuring out how to start the services etc.
Unfortunately I don't have much time at the moment, so that all I could hack together in the last 30 minutes or so.

[2016-04-04 14:50] tomav commented on #109
The challenge for us if to find a lightweight and secure distro with all our needed packages.
After a first look with @KyleOndy it seems that some packages are not available on Alpine.

[2016-04-04 15:25] mgansler commented on #109
Do you remember which ones are missing?

[2016-04-04 17:51] andrealinux1 commented on #117
I also experienced this issue after having pulled the latest version from the dockerhub. I took a quick look with docker logs and I noticed strange errors about some parsing of the `main.cf` file when this block of code is being executed at the startup
[code]
So I took the suggestions of @mgansler and I built the docker image locally removing that block from the `start-mailserver.sh` script and al

[2016-04-04 17:57] andrealinux1 commented on #117
An easy fix that just came to my mind is to add an env variable to specify if a custom main.cf is provided to the container, and to execute the previous block of code only if that variable has a certain value. But this would add another env variable, and of course it would be better find a more elegant solution.

[2016-04-04 17:58] robertdolca commented on #117
@andrealinux1 are you using a `/tmp/postfix/main.cf`. I am asking because if the file is not present that code should not run. Also, are you seeing `'/tmp/postfix/main.cf' not provided. No extra postfix settings loaded.` message?

[2016-04-04 18:07] andrealinux1 commented on #117
@robertdolca the code is executed since I mount as a volume the postfix folder provided with this repo, that contains a template of the `main.cf`. I think that this error occurs because other people like me mount the same folder in the container. I can delete the `main.cf` file and I think that all should be ok, but I think that especially a new user of the container would mount the folder in the

[2016-04-04 18:13] robertdolca commented on #117
I believe that the best way to go is to rename `main.cf` (in the code mentioned) to `main.overwrite.cf` or something similar and everything should be fine then.

[2016-04-04 21:20] 00angus commented on #117
@robertdolca maybe you are right: that way it should be clear the role of the file that add/update config options in postfix.

Anyway, I'd point out that the main.cf provided by the github repo is the same present in the docker image (built with the Dockerfile that ADD main.cf): so it seems it isn't useful to provide the same file. The feature is meant to provide extra parameter not already includ

[2016-04-04 21:37] robertdolca commented on #117
@00angus I think that, for reliability, both changes should be done

[2016-04-04 22:31] 00angus commented on #109
First of all ... what a great project @tomav :)
Really! I'm enjoying using it, while trying to contribute some changes.
One of the key issue is the 'encrypted database': well, I'm currently running a modified docker-mailserver image where all _cyrus-sasl_ and _courier-*_ has been replaced with **dovecot**: it builds and it WORKS :)

My current implementation:

- postfix auth for sending out emails

[2016-04-05 07:39] tomav commented on #109
Hi @00angus, of course we're interested for the v2 milestone.
How do you manage alias/forwards?

[2016-04-05 08:57] andrealinux1 commented on #117
@00angus I agree with you that not providing the `main.cf` file should fix the thing, I only wanted to highlight this because I think that the typical workflow for using this container, at least for the first time, is:
- clone this repo
- edit the `accounts.cf` and `virtual` files in the postfix directory according to the needs
- edit the `docker-compose.yml` in order to mount the directories (inc

[2016-04-05 11:23] 00angus commented on #117
@andrealinux1 you are probably right. Let's think of the reason why we have the possibility to provide a main.cf (a recent feature, btw): it should provide configuration items not already or different from that included in the downloaded image. So in this context make more sense to parse it at the end of any change we apply in start-mailserver.sh.
So my previous suggestion shouldn't be considered.

[2016-04-05 11:36] 00angus commented on #109
@tomav postfix/virtual as in your project.
I've maintained the same architecture you introduced, with the same overall approach... We should however test the config and the security of the solution.
Anyway I've also tested my setup using free online services like checktls.com.

[2016-04-05 16:04] joshmanders commented on #109
Regarding packages in Alpine, have you thought about building from source? Building on Alpine is a highly suggested route. I'd like to incorporate this project into my services but I am not keen on 600MB images.

[2016-04-06 05:59] kazu9su opened #119 "Build container on vagrant"
Hi,
I just built docker container on vagrant env, but I can't send emails from the container.

I sent mail like below from another container and got the error
[code]

Mail server log is here
[code]

I'm wondering above error is just because I don't have `/etc/postfix/vhost ` or not?
If you have any idea, please let me know that.

Thank you for your help.

[2016-04-06 16:37] tomav commented on #109
Could be more difficult to maintain...

[2016-04-06 17:11] 00angus commented on #119
@kazu9su what's the content of your `accounts.cf` file, the one you have provided to the container ?
`vhost` gets populated while reading that file.

[2016-04-06 21:29] 00angus opened #120 "Question on start-mailserver.sh and SASL_PASSWORD"
I've seen that in the code of start-mailserver.sh it has been introduced the use of SASL_PASSWORD env var. However when no passwd is being provided the script outputs a warning:

I find this warning not necessary. Could we leave simply the message without the warning?
Or it has been left there for a specific reason? For the parsing of main.cf the warning has been removed, for example, by the PR #1

[2016-04-07 14:00] tomav commented on #120
I agree. If optional, it should be an `Info`.

[2016-04-07 14:01] tomav commented on #120
Feel free to PR.

[2016-04-07 14:10] tomav commented on #113
Out of the box, it should work locally. Using an external tool can't be a default but could be an option.
@00angus do you want to PR the folder modification (we should add test on it)

[2016-04-07 14:24] auguster opened #121 "wrong vhost from virtual with side effect"
I'm trying to configure postfix to accept multiple domains, so that say all map to the same corresponding mailboxes. For example, I want the mails for userA@domainB.tld and userA@domainA.tld to go into the same mailbox. I haven't find how to do that yet.

Anyway, during my tests I noticed there is something wrong with the way vhost is generated from virtual. In the following example the server's h

[2016-04-07 15:44] 00angus commented on #113
@tomas as for the tests I'll add a check.
Unfortunately yesterday evening I've mistaken the commit comment
(referencing ENABLE_FAIL2BAN when instead I was committing changes on log
path changes!). So yes, in the next PR I'll also add the reference to the
path modification.

On Thu, Apr 7, 2016 at 4:10 PM, Thomas VIAL <notifications@github.com>
wrote:

[2016-04-08 01:38] kazu9su commented on #119
@00angus Thank you for your reply.
I didn't prepare my `accounts.cf`.
So that means I have to preparing `accounts.cf` at `/etc/postfix/` after deploying container to use, right?

[2016-04-08 06:58] 00angus commented on #113
@tomav PR done, pls let me know if it's ok.

[2016-04-08 07:19] 00angus commented on #119
The best method I've found to startup this image is by providing the following setup and the command line that follows:

- create a subdir, lets say `mymail ` where will be stored the configs for the image, and enter that dir
- you then will have to add a postfix subdir that will host the following files: `accounts.cf `and eventually `virtual`
- optionally you can provide spamassassin rule file, a

[2016-04-08 08:03] tomav commented on #119
And it's highly recommended to use `docker-compose` :-)
There are a lot of possible parameters (env, volumes, config...) and it's really more readable / maintainable using compose.

[2016-04-08 08:07] tomav commented on #113
Yeah nice. Thank you @00angus

[2016-04-08 08:07] #113 closed

[2016-04-08 11:23] 00angus commented on #109
@tomav how do you want to proceed? Would you like to create a new branch, say dovecot, where I can make PR?

[2016-04-08 13:12] tomav commented on #109
@00angus branch will be v2.
Empty branch or from master?

[2016-04-08 13:47] tomav commented on #121
Perhaps @bilak may help on this.

[2016-04-08 13:52] bilak commented on #121
Hi, try to mount you opendkim configuration from volume and it should be ok.

[2016-04-08 13:55] tomav commented on #121
Hmm, the problem is that `domainB.tld userA` is wrong. It should only be the domain name.

@auguster could you post a link to a repo that we can clone and start to see what happens?

Thank you.

[2016-04-08 14:04] auguster commented on #121
@bilak I already did that, the issue I describe overwrites the existing files anyway.
@tomav you want me to commit the machine and post the docker image somewhere or you just want a copy of /etc/postix ?

Normally you can easily reproduce the issue:
accounts.cf
[code]
for the two other files, the content is in my initial post.

[2016-04-08 14:06] tomav commented on #121
I'll try with the information provided in this post.

[2016-04-08 14:20] tomav commented on #121
Just tried from latest image and here what I have:

[code]

The `vhost` file is correct.

[2016-04-08 14:30] auguster commented on #121
That's normal, the output you show is from `/etc/postfix` and not `/tmp/postfix`. The latter is not modified by `start-mailserver.sh`.

I did not use docker-compose (as it's not compatible with fleetctl on CoreOS) so my hostname is   `mail.domaina.tld`, but I don't suppose it's important.

[2016-04-08 14:30] bilak commented on #121
@auguster how are you mounting the dkim? Try to look at [this line](https://github.com/tomav/docker-mailserver/blob/master/start-mailserver.sh#L68) and decide if you have correctly mounted the dkim folder.

[2016-04-08 14:31] auguster commented on #121
@bilak `-v /data/data/mail/dkim:/etc/opendkim/` it's not a problem of persistence of the file but a problem of having those file overwritten.

[2016-04-08 14:37] 00angus commented on #109
Maybe it's better from master ? My branch is derived from your on master
anyway, with not so much things changed.
They can merge, I think.
Anyway for me is the same.

On Fri, Apr 8, 2016 at 3:12 PM, Thomas VIAL <notifications@github.com>
wrote:

[2016-04-08 14:38] tomav commented on #121
@auguster 2 first output are input files.
The last one is output file from `/etc/postfix`

[2016-04-08 14:40] tomav commented on #109
https://github.com/tomav/docker-mailserver/tree/v2

[2016-04-08 14:42] auguster commented on #121
oops, sorry, my bad (friday effect)...
I'll try to make it into an automated script to make it easier to reproduce.

[2016-04-08 14:47] bilak commented on #121
@auguster maybe I don't get the issue here. Are you telling me that those files are overwritten even if tehre exists file `/etc/opendkim/keys/$domainname/mail.private` for specified domain? I've tested that (not within image) and I don't see the issue.

[2016-04-08 14:50] tomav commented on #121
@auguster Try with this working example.

[2016-04-08 14:51] auguster commented on #121
@bilak exactly, I end up with `$domainname` containing "domainB.tld userA" because of the issue in the last line of my vhost.
@tomav ok, I will

[2016-04-08 15:48] 00angus commented on #121
@auguster Sorry just a question to better understand the issue.
You have configured a mailserver to handle email for domainA (accounts.cf), but you want email for domainB (not managed by your server) to be redirected ? I'm probably missing smtg of your setup :)

[2016-04-08 15:54] KyleOndy commented on #109
I would like to see what you have gotten so far with your approach @00angus.

[2016-04-08 16:28] auguster commented on #121
@00angus the mailserver handles email for `domainA` as you said and I like it to also handle email for `domainB` that would be an alias for `domainB`. mail.domaina.tld and mail.domainb.tld are both pointing to the same server.

So I'd like mail for the same username on both domains to end up in the same mailbox. I'd be better if it were domainA for historic reasons but its not a strong constraint.

[2016-04-08 18:00] 00angus commented on #121
@auguster ok - thank you for the clarification.
Now... if I understand correctly the problem is with the incorrect generation of "`vhost`" file: the opendkim issue is a by product of it.
The startup script [here](https://github.com/tomav/docker-mailserver/blob/master/start-mailserver.sh#L50) iterate on the content of the virtual file and your line, from your `virtual` example:

      virtual:

[2016-04-08 22:13] 00angus commented on #109
@KyleOndy I'm integrating the latest changes of master-v2 ... and I'll call for a PR.
Anyway CI tests don't work: @tomav do I have to take that into consideration someway when making the PR? Because I don't know in case the Travis-CI get activated if it would build (I don't know how it works).

[2016-04-08 23:33] 00angus commented on #109
PR submitted.
The Travis-CI build is started ... If it's going to use the `make all` command for the build, it could end-up in a green state:

    $ make all
    docker build --no-cache -t tvial/docker-mailserver:dovecot .

I've changed the makefile to:

- comment out `fixtures`, `tests` and `clean` targets from the _all_ rule
- give a version to the image, the version being **dovecot**. This way

[2016-04-09 17:40] awb99 opened #124 "logfiles"
What is the recommmended way how to look into smtp/imap/pop logfiles?
And where are they located?

A lot of entries I found via docker logs  mymail_mail_1. But many entries seem
to be missing also.

Is telneting into a docker container the right thing to do in order to view detailed logs?

Thanks!

[2016-04-09 18:37] awb99 opened #125 "imap mail access"
I have a container running;  and smtp sending works, but getting data via imap does not work. There are no folders displayed at  all. I just added the accounts.cf file .

My computer is: backoffice.newstrading.org[104.222.96.51]:
This is the log I get via  docker logs mymail_mail_1
http://pastebin.com/QXN3pwVW

I believe it misses all the imap log entries.

[code]

[2016-04-10 07:54] tomav commented on #124
The container log are `/var/log/mail.log`.
If you need something else:
`docker exec -ti mail tail -f /path/to/the/requested/file.log`

[2016-04-10 07:54] #124 closed

[2016-04-10 15:53] awb99 commented on #124
@tomav : Many Thanks

[2016-04-10 16:17] andrealinux1 commented on #125
I also experienced this problem yesterday after having pulled the latest version from dockerhub. I thought that the issue was due to a misconfiguration (I moved some folders lately after having refactored my deploy method of the services running on my server, and i thought I broke something). I tried building a old version (I cloned the repo and did a checkout of 5-6 commits ago, built it locally)

[2016-04-10 18:37] awb99 commented on #125
What I noticed is that the complete filesystem of the host appears mounted in the guest mail container... Perhaps this is related?

[2016-04-11 07:37] 00angus commented on #125
@awb99 you are right, the **logs are missing entries for imaps connections**.
Some suggestions:

- are the services up and running in the container? **The log say they have been started**, but pls check it out
- if the services are up and running from the logs it's clear the container isn't receiving any request on  imap/s ports: are those ports available from outside your host (firewall issues?).

[2016-04-11 08:19] kazu9su commented on #119
I put `accounts.cf` file in just like `mymail/postfix` dir and then I can set `to` address successfully.
Now, I have network problem but I think this is problem just about my environment.

Thanks a lot!

[2016-04-11 08:35] awb99 commented on #125
@00angus I have been able to telnet  into the imap server, and I see all the normal messages. Also my client app can connect, just authentication fails.

[2016-04-11 08:41] awb99 opened #126 "full host system available on guest"
I have noticed that the full host filesystem is available on the guest. The directories that are mounted like /tmp/postfix are available ON TOP of this.

I have no explanation for this really.

I have checked with other docker images that I run, and the docker-mailserver is the only one for which this occurs. I checked it by doing exec -  "ls /home" into the container image, and I see home  direct

[2016-04-11 08:53] auguster commented on #125
The new image seems to have broken the SSL Certificates, I have this line that has appear in my logs:

`sed: can't read /etc/letsencrypt/live/<my domains>/{cert,chain,privkey}.pem: No such file or directory`

[2016-04-11 08:57] 00angus commented on #125
@auguster you are right.
I've already patched it in my upcoming v2 release:

https://github.com/tomav/docker-mailserver/pull/123/commits/a0832928503bfcf3bd08528f86677f67d741c6c3

but had not time to PR on master yet.

[2016-04-11 09:12] 00angus commented on #126
What's the yaml/cmdline used to start the container? Any ref to volume there?
And which filesystems of the host do you see in the container?
Also useful: the output of the following

    docker inspect -f "{{ .HostConfig.Binds }}"  <your_container_name>

[2016-04-11 09:36] awb99 commented on #126
[code]

[2016-04-11 10:11] tomav commented on #119
Great!

[2016-04-11 10:11] #119 closed

[2016-04-11 10:59] 00angus commented on #126
From there I don't see how your container can see those dirs.  From where did you get the image ... Are those dirs live ... or a copy?

[2016-04-11 11:45] tomav commented on #109
Merged https://github.com/tomav/docker-mailserver/pull/123

A `v2` tag should appear soon on Docker Hub.
https://hub.docker.com/r/tvial/docker-mailserver/tags/

[2016-04-11 11:54] awb99 commented on #126
The directories are live directories from the host. At first, I was working with the image I got from dockerhub. Then when I noticed this behavior, I did run make on this github project.

[2016-04-11 11:56] tomav commented on #126
@awb99 are you using vagrant?

[2016-04-11 12:04] awb99 commented on #126
no.

[2016-04-11 12:25] awb99 commented on #126
I have now tested this and on host system ARCH all is fine. Onn host debian 8 it occurs.

Additionally soemthing else is weird: all the commands from the host system are available in the guest system as well.  For example "tree" is not installed in docker-mailserver, but is available in the docker-mailserver image via "exec".

[2016-04-11 13:45] tomav commented on #126
I think this is not related to the image but to your host / mount points / volume / homedir folders.
I close the issue but let us know here if something is related to it.

[2016-04-11 13:45] #126 closed

[2016-04-11 13:46] tomav commented on #120
Fixed.

[2016-04-11 13:46] #120 closed

[2016-04-11 13:54] tomav commented on #125
We really need tests on certificates.

[2016-04-11 14:25] sspreitzer opened #127 "multiple domains"
Hi

Is it possible to receive emails from multiple domains like @spreitzer.ch and @spreitzer.name ?

Thanks

[2016-04-11 14:30] auguster commented on #127
The short answer is yes. I'm working on the how right now.
You can read issues #57 and #121 for reference.

[2016-04-11 14:38] sspreitzer commented on #127
Okay, i can see this now. Thanks :+1:

[2016-04-11 14:38] #127 closed

[2016-04-11 14:40] sspreitzer opened #128 "Close open relay"
Hi

Just fired up a new container of docker-mailserver and saw that it is an open SMTP relay by default:

[code]

I think this needs to be addressed.

Thanks

[2016-04-11 15:04] auguster commented on #121
I found out what was wrong, in my `virtual` file, I separated the source and the destination column with a tabulation instead of a space. Because the IFS is set to space on [L47 of start-mailserver.sh](https://github.com/tomav/docker-mailserver/blob/master/start-mailserver.sh#L47) it considers the line as a single column.

With one or more spaces it works fine ;)

I'm not sure specifying IFS is us

[2016-04-11 15:50] auguster commented on #128
I have a rather different answer when I try this:
[code]

[2016-04-11 16:35] jmparra commented on #128
Are you testing from inside the mailserver container?

[2016-04-11 16:52] tomav commented on #128
`mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128 172.17.0.0/16`

I'm pretty sure you were on localhost or on your docker host.

[2016-04-11 16:52] #128 closed

[2016-04-11 16:58] tomav commented on #121
Hi @auguster, you can submit a PR with an additional test case if needed.

[2016-04-11 17:02] #125 closed

[2016-04-11 17:11] 00angus commented on #121
@auguster Ok, now it's clear and make sense!

[2016-04-11 18:28] sspreitzer commented on #128
Oh yes, true. Thanks a lot!

[2016-04-11 18:45] tomav commented on #128
You're welcome!

[2016-04-11 19:05] awb99 opened #130 "no crontab for root on rebuild of image"
Step 18 : RUN (crontab -l ; echo "0 1 * * * /usr/bin/freshclam --quiet") | sort - | uniq - | crontab

I get this error when I build the new image.

I guess that this was not intended.

[2016-04-11 19:15] awb99 commented on #126
@tomav you were exactly right. When I upgraded the debian kernel this strange behavior disappeared.Thanks 1000x for yourhelp. Strangely enough, this error ONLY appeared on docker-mailserver image.

[2016-04-11 19:20] awb99 commented on #125
Not yet working for me..
[code]

this is what I get when I telnet to my IMAP
[code]

[2016-04-11 19:24] awb99 commented on #125
[code]

[2016-04-11 20:03] awb99 commented on #54
I have ENV variable set for POP. But I cannot telnet into the pop ports. Why is this?
In docker ps it shows that the pop ports 110 and 993 arenot showing 0.0.0.0    but instead
no IP address.

[2016-04-11 20:37] tomav commented on #130
What kind of error?

Here is the log from Travis:
https://travis-ci.org/tomav/docker-mailserver/builds/122300393#L1491

[2016-04-11 20:43] #121 closed

[2016-04-11 20:46] tomav commented on #126
You're welcome.

[2016-04-11 20:50] awb99 commented on #130
Ups.  It says crontab (or cron) does not exist.

[2016-04-11 21:01] 00angus commented on #125
Are your client connecting from the outside? In this case:
are you able to connect from the *outside* ? By using telnet as in your example:

but from the outside?

[2016-04-11 21:49] tomav commented on #109
I'm about to push some enhancements.

[2016-04-11 21:53] tomav commented on #130
True. But it's just the output of crontab list before setting it.
Try `docker run --rm tvial/docker-mailserver crontab -l`

You should see:
`0 1 * * * /usr/bin/freshclam --quiet`

[2016-04-11 21:53] #130 closed

[2016-04-11 22:06] tomav commented on #109
Done.
Tests are now a high priority.

[2016-04-11 22:09] awb99 commented on #125
Yes connecting from outside also works.
Telnet 104.222.96.51 143
'''
* OK [CAPABILITY IMAP4rev1 UIDPLUS CHILDREN NAMESPACE THREAD=ORDEREDSUBJECT THREAD=REFERENCES SORT QUOTA IDLE ACL ACL2=UNION STARTTLS] Courier-IMAP ready. Copyright 1998-2011 Double Precision, Inc.  See COPYING for distribution information.
'''

[2016-04-11 22:09] 00angus commented on #109
Waiting for it :)
We will have to merge some commit, moreover ;)

[2016-04-11 22:11] awb99 commented on #125
I am using evolution for IMAP. It does not get me error messages..  Only there is no folder appearing... And no mail.

[2016-04-12 07:50] tomav commented on #109
@00angus the build is now named `tvial/docker-mailserver:v2` (from the branch name)

[2016-04-12 08:13] 00angus commented on #109
Ok ... then I'd suggest to put somewhere the information that v2 == dovecot
... Readme or something else...

-- Marco

On Tue, Apr 12, 2016 at 9:50 AM, Thomas VIAL <notifications@github.com>
wrote:

[2016-04-12 10:53] tomav commented on #109
Yeah, we'll do that when work will be finished. As you can see at the top of this thread, migration to dovecot is not the only task.

[2016-04-12 11:41] 00angus commented on #109
Well, it's only an opinion, but since v2 is downloadable maybe people want
to know what's inside..
But OK, let's wait.
On Apr 12, 2016 12:53, "Thomas VIAL" <notifications@github.com> wrote:

[2016-04-12 12:00] mgansler commented on #109
Great work so far!
Did you think about migrating from v1 to v2?
With IMAP you can always just start ab v1 and v2 parallel and copy all messages with your mail client, but maybe there is a better way?
Or is it possible to just use the same volume?

[2016-04-12 12:52] awb99 commented on #125
I now have found out that the issue of IMAP and no folders appearing was due to GNOME Evolution EMail client. Mozilla Thunderbird works 100% ok with docker-mailserver with imap!

1000 Tanks to you all guys!

[2016-04-12 12:57] tomav commented on #109
@00angus dovecot uses `Mailbox` format like postfix no?

[2016-04-12 12:57] tomav commented on #125
Thank you for the feedback!

[2016-04-12 13:02] tomav commented on #109
@00angus I really don't want to release a new version to quicly.
Tests are disabled right now on this branch and documentation is not up to date.
I think that Clamav doesn't start properly and I haven't tested it myself for the moment.

Of course, code and build are available for testing but really not recommended for production right now.

I should get some time at the end of the week to close so

[2016-04-12 13:11] 00angus commented on #109
@tomav I'm not sure that v2 is still working by looking at your recent patches, but I may be wrong.
Because...

 [ this line](https://github.com/tomav/docker-mailserver/blob/v2/target/start-mailserver.sh#L11) of start-mailserver.sh look for a different path from [this other one](https://github.com/tomav/docker-mailserver/blob/v2/target/start-mailserver.sh#L55) for user config file.

I'll have a cl

[2016-04-12 13:19] awb99 commented on #117
Does this mean that SMTP connections currently do not work over  SSL?
In the docker compose file there is no mapping for port 465 (smtp over ssl) also.

[2016-04-12 13:20] tomav commented on #109
I missed this line. I'll have a look.

[2016-04-12 13:21] awb99 commented on #125
Thank you for helping me and thank yo for this wonderful lightweight docker image!!

I was searching for logfiles for GNOME Evolution to see what was going wrong; but seems that Evolution does not keep logfiles... how strange...;

[2016-04-12 13:22] robertdolca commented on #117
@awb99 yes, it does as long as you don't put the wrong `main.cf` in `/tmp/postfix/`. You can use TLS on port 25 with STARTTLS

[2016-04-12 13:27] awb99 commented on #117
@robertdolca Thanks Robert! I got it working with STARTTLS on port 587 which I believe is the standard port? and I guess this means that only the username/password sent on login is secure, right? But the full email over ssl which normally would be on port 465 which encrypts everthing .. this is not working.I wonder if only the port mapping is missing or if there is another reason...

[2016-04-12 13:31] robertdolca commented on #117
@awb99 I suggest opening another issue for this matter so people can answer there.

According to wikipedia

Also 465 is not exposed on the `Dockerfile`

[2016-04-12 13:33] awb99 commented on #117
@robertdolca
[code]

[2016-04-12 13:38] awb99 commented on #117
I think it is essential to make sure that the docker mailserver is as secure as it can get. So doing SMTP over 465 SSL sounds like the most secure way to me.

[2016-04-12 13:43] robertdolca commented on #117
The entry listed as `submission` is port `587`. As far as I know (I don't have allot of experience with postfix) the port number has nothing to do with the connection. As you can see in the wikipedia quote the port you are searching for is legacy.

You can force all smtp connection to be encrypted with

[2016-04-12 14:58] 00angus commented on #109
Dovecot uses maildir inboxes, as courier, as for configs.

[2016-04-12 15:02] 00angus commented on #109
Haven't tested/used it:

http://wiki.dovecot.org/Migration/Courier

[2016-04-12 15:19] awb99 commented on #117
@robertdolca Thanks Robert!

[2016-04-12 15:20] KyleOndy commented on #109
I'm putting my work on the alpine based container on indefinite hold. At this point I can't see it working without jumping through a lot of hoops.

I know image size is important, but perhaps we should get a solid v2, then work to reduce size in v2.x?

[2016-04-12 15:44] tomav commented on #109
I agree. Again we need tests to be sure that nothing breaks on big changes like changing the distribution.
I don't know what is the amount of work... Perhaps the best thing is to have the exact list of packages and see if they exist in stable alpine distro.

I created this file with the v2 packages:
https://docs.google.com/spreadsheets/d/1VFkt-741KVjFqOTpu60Qj--PYEtWHqwYA3SC0DY6TFs/edit?usp=sharin

[2016-04-13 13:07] auguster opened #132 "opendkim howto ?"
I mounted the `/etc/opendkim` folder on the host to ensure persistence of the DKIM signature, I set the corresponding public key in the DNS using content from `/etc/opendkim/keys/<my domain>/mail.txt`. But while testing it I noticed the mail weren't signed.

In fact, I noticed this in my logs:
`opendkim: /etc/opendkim.conf: refile:/etc/opendkim/TrustedHosts: dkimf_db_open(): No such file or direct

[2016-04-13 13:18] auguster commented on #132
Ok, I got it to work by manually adding the `/etc/opendkim/TrustedHosts` with the correct content. It was easier than I thought.

I noticed it's not part of the opendkim initialization process of the script I guess it should be. I will make a fix and a PR soon.

[2016-04-13 19:54] tomav commented on #109
@00angus: I just pushed fixes.

Now we have `49 tests, 26 failures`.

[2016-04-13 21:17] tomav commented on #109
`49 tests, 21 failures`

[2016-04-13 21:18] tomav commented on #109
I let you have a check for authentication tests on imap. You have a better dovecot knowledge than me.

[2016-04-13 21:19] tomav commented on #109
BTW, I think you've disabled accounts in postfix, so smtp auth does not work.
No more time for today, let me know if you have suggestion.

[2016-04-13 22:45] 00angus commented on #109
I'll have a look but not today as I'm busy. Anyway I'm using in production the dovecot image I PR and it does smtp auth (but I've also custom main.cf ...?).  I'll have a closer look tomorrow.

[2016-04-14 22:10] tomav commented on #109
Could you diff your main.cf?

[2016-04-14 23:16] 00angus commented on #109
I'll look at my conf later today... However master.CF should open up
submission port!?
Anyway I'll let you know as soon as I have time to dedicate at the subject.
On Apr 15, 2016 00:10, "Thomas VIAL" <notifications@github.com> wrote:

[2016-04-15 19:04] tomav commented on #109
`49 tests, 12 failures`. Better.

Most of remaining tests are related to authentication.
@00angus I'll need your help, I'm not a Dovecot expert.

BTW, `/etc/dovecot/userdb` contains clear login/passwords.

[2016-04-15 20:55] 00angus commented on #109
This all sounds very strange as pwd are taken from accounts.cf, which if
encrypted should remain encrypted.

I'm out of time these days, sorry. But on the WEnd I'll find enough time.
On Apr 15, 2016 21:04, "Thomas VIAL" <notifications@github.com> wrote:

49 tests, 12 failures. Better.

Most of remaining tests are related to authentication.
@00angus <https://github.com/00angus> I'll need your help,

[2016-04-16 18:27] 00angus commented on #109
@tomav I've tried to understand the problems on `v2` you have commented here:

- **smtp auth**: is disabled in your version of V2 simply because the main.cf you are ADDing (via Dockerfile) to the image _is almost empty_, i.e.:

       max_idle = 600s
       readme_directory = /tmp

    _It cannot works_. I'm reverting the configs from my commits, while keeping your dir layout
- **dovecot userdb**:

[2016-04-16 18:57] tomav commented on #109
That's what I found yesterday and pushed. Are you sure you got the updated version?

[2016-04-16 20:04] 00angus commented on #109
No - it seems I've fetched v2 a few moments before you pushed, and I started debugging on that version.
Glad to know you worked it out :)

[2016-04-16 20:09] 00angus commented on #109
@tomav Can I ask why in the Dockerfile do you need to add "sasl2-bin" package ??

     This is the Cyrus SASL API implementation ...

[2016-04-16 20:46] tomav commented on #109
Testing SASL only. `testsaslauthd` in part of this package.
If you have other options, let me know. I'd like not to have to install specific binaries for testing.

[2016-04-16 21:09] 00angus commented on #109
Ok, I'll let you know.
On Apr 16, 2016 22:46, "Thomas VIAL" <notifications@github.com> wrote:

[2016-04-17 09:49] 00angus commented on #109
testsaslauthd can safely be substituted with doveadm auth test (parte of dovecot-core) and that's what I've already done in my branch.

I finally managed to have :

    49 tests, 2 failures

But I've a question for you @tomav :) since I don't know very much of how the tests work.
The two failures comes from fail2ban checks:

- how can fail2ban effectively ban via iptables inside the container if w

[2016-04-17 09:57] tomav commented on #109
Great news!
I can work on fail2ban if you want. We should not try using `127.0.0.1` so I'll do it from another container.

Push your current work and I'll finish fail2ban.

[2016-04-17 21:02] tomav commented on #109
Commit https://github.com/tomav/docker-mailserver/commit/72d72076901ea2e6f4c6d53c46c7a7a03c4cdfa3

Building on Travis...

[2016-04-17 21:45] tomav commented on #109
Works locally, not on Travis. Trying something else.

[2016-04-17 21:52] tomav commented on #109
`Done. Your build exited with 0.`
https://travis-ci.org/tomav/docker-mailserver/builds/123774801

[2016-04-17 21:55] 00angus commented on #109
Good :)

[2016-04-17 22:13] 00angus commented on #109
@tomav in the new commits I've found a new file:

    target/fail2ban/jail.conf

It seems that the `start-mailserver.sh` doesn't need any more the fail2ban setup for jail.conf ... what do you think ?

[2016-04-18 07:32] tomav commented on #109
What has been done in `start-mailserver.sh`should have been done in `Dockerfile` because it's core configuration. The `jail.conf` I added is the generated version + a modification regarding `backend` configuration. I also removed some not usued lines.

[2016-04-18 14:31] KyleOndy commented on #109
In regards to running tests, are you having you docker-compose/yml point to your locally build image? I have having issues getting it to see the local image, docker-compose keeps trying to pull  from docker.io and I get `ERROR: Tag V2 not found in repository docker.io/tvial/docker-mailserv`.

Can someone share their docker-compose.yml with me?

[2016-04-18 18:09] 00angus opened #137 "cron.daily for spamassassin"
I'm experiencing problems with the distro-provided cron job for spamassassin in `cron.daily`.
It seems that the implemented `reload function` is not working as is trying to reload spamassassin via `invoke-rc.d` instead /etc/init.d/script

Ubuntu 14.04 is supporting both methods ... but invoke-rc.d isn't working for me:

     # invoke-rc.d spamassassin status
     invoke-rc.d: policy-rc.d denied ex

[2016-04-18 19:37] tomav commented on #130
Will be fixed on v2.

[2016-04-18 19:44] tomav commented on #109
@KyleOndy it's `v2` not `V2`
https://hub.docker.com/r/tvial/docker-mailserver/tags/

[2016-04-18 20:26] tomav commented on #109
@00angus I think we should add a generator that output the whole line needed that can be added using a redirect to `postfix-accounts.cf` using:

    $ docker run --rm -ti tvial/docker-mailserver:v2 doveadm pw -s MD5-CRYPT -u user1@domain.tld > config/postfix-accounts.cf

What do you think regarding removing the pipe in this file?

[2016-04-18 20:30] 00angus commented on #132
@auguster sorry for the late reply... anyway...
I've that same setup.
I've copied the content from a first run of the container and made it persistent, that way all the needed file are ok :)
I've added a commit to the v2 branch that handles host based opendkim configurations.
If interested I can merge it on master, take a look and let me know :)

[2016-04-18 20:38] auguster commented on #132
@00angus  Don't worry, I was supposed to make a PR soon anyway ^^

I think the file should be generated by the start script if missing. It should just contain `127.0.0.1` and `localhost` anyway. Manually copying files feels `manual` and error proned if not well documented (or if the documentation gets ignored).

I still hope on making a quick fix soon if my schedule allows.

[2016-04-18 21:05] 00angus commented on #109
We could provide a command, e.g. something like:

      u="user@domain.it" && docker run --rm -ti tvial/docker-mailserver:v2 /bin/bash -c "echo ${u}|`doveadm pw -s CRAM-MD5 -u $u`" > config/postfix-accounts.cf

A space instead of a pipe may not be part of the password and username, so probably would be better.

[2016-04-18 21:14] tomav commented on #109
That's it. But I think a generator will be easier.

[2016-04-18 21:16] 00angus commented on #132
[Here](https://github.com/tomav/docker-mailserver/blob/v2/target/start-mailserver.sh#L94) is the patch take a look if you want.

The only manual part is the initial creation of the config that should be made persistent. It's sufficient to add a /usr/local/bin/ script and call it like we call the script for the generation of ssl certs.

[2016-04-18 21:22] 00angus commented on #109
Ok, but then I'm missing what do you mean with 'generator' :) The above command isn't a sort of a generator?

[2016-04-18 21:29] auguster commented on #132
From what I read that script doesn't create `/etc/opendkim/TrustedHosts` if the file is missing.

By the way, this script doesn't add a new DKIM for a new domain while `/etc/opendkim/TrustedHosts` exists. So I would say the [current version of the script](https://github.com/tomav/docker-mailserver/blob/master/start-mailserver.sh#L69) is more powerfull in term of flexibility. It's just missing a ch

[2016-04-18 21:34] tomav commented on #109
Perhaps a shell script like the certificate generator. We can start without but I think it will provide more simplicity to generate users.

[2016-04-18 21:34] tomav commented on #109
BTW, My last commits broke the tests. I'm fixing it.

[2016-04-18 21:39] tomav commented on #109
Just forgot to commit a file...

[2016-04-19 07:28] tomav commented on #137
Reproduced. I agree on the proposed solution.

[2016-04-19 07:31] tomav commented on #132
Yep, and this has been fixed in v2.
https://github.com/tomav/docker-mailserver/blob/v2/Dockerfile#L39

[2016-04-19 07:34] auguster commented on #132
Nop, that doesn't change a thing. If I mount an empty folder from the host to `/etc/opendkim/`, to have it populated with persistent DKIM stuff. Then the `TrustedHosts` file is not there and won't be recreated by `start-mailserver.sh`. That's what this issue is all about.

[2016-04-19 08:48] 00angus commented on #132
Maybe I'm getting confused :)
Let me clarify:

1. I want to generate - one time - opendkim data/config ? Then I **cannot** mount a host volume on /etc/opendkim **to generate** that data with **that** image (v2 or master in this case is the same).
By mounting an empty host volume into /etc/opendkim you are overwriting the image current content, and that includes the TrustedHosts file. That file wil

[2016-04-19 09:05] auguster commented on #132
No your not not getting confused, that's exactly the behavior I'm looking for.

[2016-04-19 14:23] 00angus commented on #132
@tomav what do you think about it? Could you add a "feature" label to the issue so to not forget about it?

[2016-04-19 16:18] tomav commented on #109
Just for information, I did not have time to check a migration to Alpine.
But a quickly tried `cloudgear/ubuntu` which allow to save 30MB (only...)

[2016-04-19 16:19] tomav commented on #132
Just added `enhancement` and `help wanted` if someone can get time to PR something.

[2016-04-19 16:26] KyleOndy commented on #109
I'm was working on a `debian:jessie` branch today, but it ended up being larger than the `ubuntu:14.04` image.

[2016-04-19 16:30] #96 closed

[2016-04-19 22:05] t94j0 opened #141 "exec: "doveadm": executable file not found in $PATH"
I am trying to add a user using the way found on dockerhub (because storing encrypted passwords is much more secure 😄),  but when doing so, I am getting the error `exec: "doveadm": executable file not found in $PATH`. I guess dovecot is not getting installed? I have no idea, and would love some help.

[2016-04-20 07:29] tomav commented on #141
Hi @t94j0, I suppose you're using `latest` tag and not `v2`.
Only `v2` (currently in beta) supports dovecot.

[2016-04-20 07:31] tomav commented on #109
Migrated my mail server from `latest` to `v2`. Everything works as expected so far.

[2016-04-20 07:48] 00angus commented on #109
Great!
:)
I've tested mine with several online check tools, but the best way to
improve our configuration is by using it :)

On Wed, Apr 20, 2016 at 9:31 AM, Thomas VIAL <notifications@github.com>
wrote:

[2016-04-20 08:04] tomav commented on #109
Yep. I'm currently working on the `README`. I'll push something in few minutes.

For those who ask, `/var/mail` remains the same so you will keep your content when upgraded but **we recommend to backup everything before, and we're still in Beta**.

[2016-04-20 12:15] tomav commented on #141
[code]

[2016-04-20 12:15] #141 closed

[2016-04-20 12:47] tomav commented on #132
I think I'm gonna close this issue and open another one to get a generator (script) to get files for opendkim.
We do the same for accounts management in v2, so it makes sense.
`start-mailserver.sh` is just a start script, and I think that config generation should be out of it.

Let me know what you think about it.

[2016-04-20 14:00] auguster commented on #132
That's a good idea, it makes perfect sense.

[2016-04-20 14:00] #132 closed

[2016-04-20 14:20] aguerrave opened #142 "mail dovecot: auth: Error: passwd-file"
This is my docker-compose

`mail:
  image: tvial/docker-mailserver:v2
  hostname: mail
  domainname: alge.net.ve
  cap_add:
  - NET_ADMIN
  ports:
  - "25:25"
  - "143:143"
  - "587:587"
  - "993:993"
  volumes:
  - ./spamassassin:/tmp/spamassassin/
  - ./postfix:/tmp/postfix/
  - ./mails:/var/mail/
  - ./letsencrypt/:/etc/letsencrypt/
`

mail_1 | Apr 20 00:55:25 mail postfix/master[532]: daemon s

[2016-04-20 15:07] tomav opened #143 "Have a DKIM configuration generator"
Followup to the discussion in #132
We'd like to generate DKIM config files like to do for accounts in v2.

[2016-04-20 15:08] tomav commented on #142
Hi @aguerrave, your `docker-compose.yml`and probably your accounts file is wrong.
Have a look to v2 documentation, there are breaking changes.
https://github.com/tomav/docker-mailserver/tree/v2

[2016-04-20 16:29] aguerrave commented on #142
Perfect!!!

[2016-04-20 16:29] #142 closed

[2016-04-20 17:30] 00angus commented on #143
In the discussion on #132 I proposed the following:

We could - as an example - generate all the needed config/data during start-mailserver.sh startup (included the TrustedHosts file) and then at each startup if a config is already available do not generate anything else ... or something like that. That way our host volume could safely be mounted on /etc/opendkim and everything should work.

That

[2016-04-20 18:48] tomav commented on #143
I agree on this part:

But one key element of this image if **versioning files**.

So this files must:
- be generated on another computer, pushed to your repo, and then deployed (the classic and safe way, because you also have to configure your DNS regarding DKIM)
- generated on server startup, and saved to repo from server (not really safe, even if we sometimes do that on our personal and non cri

[2016-04-20 19:09] tomav commented on #143
I'm working on a POC to let you try.

[2016-04-20 21:12] tomav commented on #143
@00angus & @auguster: please have a look to this commit and let me know.

[2016-04-20 21:18] #137 closed

[2016-04-21 10:22] tomav commented on #143
I struggled with Travis. Test were passing locally but not on CI.
Now it works. Let me know.

[2016-04-21 10:42] auguster opened #146 "User DB Discussion"
It's not really an issue but I wanted to discuss about the new encrypted password db thing. I find the idea great but I think it's missing something.

The accounts.cf still have to be kept somewhere to be able to add or remove a new user, so the clear password are still somewhere. But I guess it's easier to keep this file safe if it's left on the host (or somewhere else).

The problem is that the

[2016-04-21 16:30] mkz71 opened #150 "Can't send email out to SMTP"
Not sure if I did something wrong.
Can't send out email to SMTP.
I tried it on Thunderbird with "None" Connection security for  both IMAP and SMTP.
I can receive incoming mail but not going out.

[2016-04-21 17:21] tomav commented on #109
`v2` is 411.5 MB while `latest` is 525.3 MB

[2016-04-21 18:47] KyleOndy commented on #109
So now that I've spent a few days hacking at the `alpine` image, I don't see anyway its going to work.

It seems that `alpine:3.3` is based off of busybox, which breaks the test suite since the `ps` exec doesn't support the proper command line arguments.

Even if we were to rewrite all the tests, `alpine` doesn't have an init system, so there is no way to start multiple services needed for this co

[2016-04-21 20:07] mgansler commented on #109
@KyleOndy would you mind sharing your progress so far?
I think it should be possible to install `ps`.
And I also played around a little with `s6`, a very small init like system.

[2016-04-21 21:33] KyleOndy commented on #109
Let me clean up (a bit) and I'll push it. Full disclosure, it is in rough shape.

[2016-04-22 06:15] 00angus commented on #109
As for the init system, normally in a docker container it's not used. But
since we start several services it **could** be useful. Anyway what if we
script the full command line startup of each service?
Consider the following:

- postfix binary self manage the usual stop, reload. That means that on
cmdline or script we can use that method
- the same apply to dovecot

BTW as @tomav said, I'm a littl

[2016-04-22 07:45] tomav commented on #109
@00angus for a better user experience, keeping `pull/run` is a better option.

@KyleOndy please push your branch so we'll have a look to see if we can make the necessary effort to make it work, and also check what it means regarding maintenance.

[2016-04-22 07:46] tomav commented on #109
And thank you guys for the work by the way, I don't have a lot of time these weeks.
It's nice to know that some of you are invested in this project.

[2016-04-22 07:52] tomav commented on #150
Hi @mkz71, what the logs say when you try to send an email?

[2016-04-22 11:19] mkz71 commented on #150
Where do I check the logs?

I did some testings and it seems that I have to change SMTP server setting to make it work.
I changed Connection security from "None" to "STARTTLS" before I can send it.
Is this correct setting?

Another issue I have is if I send the mail when I connect to vpn service, it won't send the mail.
I got connection timed out to SMTP server.
If I disable the vpn connection, I

[2016-04-22 11:52] 00angus commented on #87
Dear all, still a work in progress but we have dovecot in v2 :)
We can now add sieve. Someone interested?

[2016-04-22 12:04] 00angus commented on #117
I'm going to close this issue as I think I've implemented the @robertdolca suggestion in PR #145

[2016-04-22 12:13] 00angus commented on #146
Ok let's think about your suggestion.
What would then be the expected user workflow?
**setup**
docker run -v config:/tmp/config <image > generate-user-database
The config path provides only accounts.cf.

**runtime**
docker run <image >
No accounts.cf provided: and it keeps being archived in a well known path not accessible from container.

For me it's OK.

[2016-04-22 12:29] auguster commented on #146
Almost, I would do something like that instead:

**setup**
`docker run -v config:/tmp/config -v postfix:/tmp/postfit image generate-user-database`

Maybe it could be a good place to launch something like "image setup" that calls various setup scripts like `generate-user-database`

**runtime**
`docker run -v postfix:/tmp/postfit image`

[2016-04-22 12:44] auguster commented on #146
another way to do that would be to add a Dockerfile for deploy that extends `tvial/docker-mailserver` and set's everything up for the user. It would hold all the configurations and password DB. The set-up image can be stored on a private registry.

**Pro**
It's more robust to breaking change we could do on it. Such as forbidding the presence of `accounts.cf`at launch.

**Cons**
The image might not

[2016-04-22 13:11] KyleOndy commented on #109
I agree that the upgrade should be a simple `pull/run`. It fits the ideology of docker.
It also mean I can keep on using [watchtower](https://github.com/CenturyLinkLabs/watchtower).

---

While I think it is good to strive for a small image size, I'm in the opinion that maintainability should be a higher priority.

[2016-04-22 13:23] tomav opened #152 "Fail2ban puts IP in JAIL but doesn't really block"
`iptables` should be used but is missing and needs `NET ADMIN` capabilities.
I'll move to `/etc/hosts.deny` but currently `ed` package is missing...

Will work on that.

[2016-04-22 13:54] tomav commented on #150
`STARTTLS` is the correct setting, I'll update the FAQ.

Your other problem seems related to your VPN configuration. It probably blocks SMTP connections, especially if it works without.

[2016-04-22 13:54] #150 closed

[2016-04-22 14:59] tomav commented on #109
I do agree, it should work, maintain and upgrade easily, evan if it's 150 additional MB.

[2016-04-22 15:00] tomav commented on #117
Tank you guys.

[2016-04-22 15:00] #117 closed

[2016-04-22 16:03] tomav commented on #152
https://github.com/tomav/docker-mailserver/pull/153

[2016-04-22 19:16] tomav commented on #152
#153

[2016-04-22 19:17] tomav commented on #152
Merged.

[2016-04-22 21:52] tomav commented on #143
Done and available in `v2`.

[2016-04-22 21:52] #143 closed

[2016-04-22 21:54] tomav commented on #98
Closing this issue because:

- master has been reduced
- same for v2 on which efforts are concentrated
- an attempt on moving to alpine is available here: https://github.com/tomav/docker-mailserver/pull/151

[2016-04-22 21:54] #98 closed

[2016-04-22 21:55] tomav commented on #101
Hi @Gymnae, this issue is still Work In Progress?
If not let me know, I'll close it.
Thanks.

[2016-04-22 22:04] 00angus commented on #143
I'm looking at it now - seems ok.
Great.

On Fri, Apr 22, 2016 at 11:52 PM, Thomas VIAL <notifications@github.com>
wrote:

[2016-04-23 03:20] t94j0 opened #154 "System error: exec: "generate-user-databases": executable file not found in $PATH"
I'm using v1 because I wasn't able to get v2 to work. When I try to create an account, it fails giving this error: `System error: exec: "generate-user-databases": executable file not found in $PATH`

[2016-04-23 07:38] tomav commented on #152
Reopening the because, even if I fixed the `ban/unban`in `/etc/hosts.deny`, the IP displayed in the file are not really blocked.

[code]

[2016-04-23 07:55] tomav commented on #152
I think that `tcp-wrappers` is missing or going back to `iptables` but needs `NET_ADMIN` capabilities.

[2016-04-23 08:24] tomav commented on #154
[code]

[2016-04-23 09:18] tomav commented on #152
Have to backport `fail2ban` because `0.8.x` is buggy.

[2016-04-23 09:52] tomav commented on #152
@00angus Ok, I have a version which passes tests locally.

My question is: why can't we user the default `filter.d/dovecot.conf` file?

[2016-04-23 12:07] 00angus commented on #152
The default filters for dovecot (I found) do not identify all the relevant
attacks. The added filter rules wants to address that issue.
Improvements on those rules are welcome.

Can I ask what's changing on fail2ban? I may have missed some thread, btw.
Thanks.
On Apr 23, 2016 11:52, "Thomas VIAL" <notifications@github.com> wrote:

[2016-04-23 18:12] tomav commented on #152
Lots of changes 😄
http://www.fail2ban.org/wiki/index.php/ChangeLog

I had several errors due to bugs as forums said.
Now it works as expected and I'm also checking that `iptables` banned the IP which was not the case in the current implementation.

You should have a look to the default file.
https://github.com/fail2ban/fail2ban/blob/master/config/filter.d/dovecot.conf
Let me know if I can keep the

[2016-04-23 18:20] tomav commented on #152
(for the moment I keep yours)

[2016-04-23 19:07] #152 closed

[2016-04-23 19:14] tomav commented on #109
https://hub.docker.com/r/tvial/docker-mailserver/tags/

Image is smaller and smaller, just got 25 additional MB free.

[2016-04-24 10:50] tomav commented on #154
@t94j0 please provide more information on version used, configuration.
If we're blind, we can't help you.
Thank you.

[2016-04-24 10:50] #154 closed

[2016-04-24 12:28] tomav commented on #109
7 additional MB removing man pages.
https://hub.docker.com/r/tvial/docker-mailserver/tags/

[2016-04-24 14:33] 00angus commented on #152
IMHO my last two regex can help match something the others don't, so it's useful to keep them.

[2016-04-24 14:45] tomav commented on #152
Ok, Kept!

[2016-04-24 14:55] #101 closed

[2016-04-24 21:29] stonemaster opened #159 "/etc/dovecot/userdb not generated correctly"
I am using the **v2** of the container.

I think that the `/etc/dovecot/userdb` isn't generated correctly. I have a `postfix-accounts.cf` with two users (just posting one as example).

`
test@test.com|{CRAM-MD5}0..[65 bytes total]..f
`

During startup of the container I see the message

`
mail_1     | user 'test' for domain 'test.com' with password '********'
`

.. which seems to indicate that eve

[2016-04-24 22:21] Niklv commented on #159
Have same issue.

[2016-04-24 22:53] Niklv commented on #159
@stonemaster found that file config/postfix-accounts.cf has CLRF line endings.
I recreate this file with LF endings and it fork fine for me.

You can check endings:

[code]

[2016-04-25 04:04] tomav commented on #159
`CLRF` is windows format, and we're on a linux docker image :-)
That said, it's possible to add a check on that using:

    tr -d '\r' < input.file > output.file

or

    sed 's/$'"/`echo \\\r`/" input.txt > output.txt

(should probably be adapted)

By the way, how did you generate your `postfix-accounts.cf`? Using:
- command line with password and `>> config/postfix-accounts.cf`
- command line wi

[2016-04-25 04:09] tomav commented on #159
I added the tip regarding line endings in the FAQ.

[2016-04-25 04:12] tomav commented on #109
**I plan to release V2 early May.**

[2016-04-25 07:48] stonemaster commented on #159
I am unsure how I actually added the accounts. But that's it. It's just about the wrong line endings. I would suggest adding some check in the script because this is an evil one if you don't know what happens and the file actually **looks** good :-)

[2016-04-25 08:40] Niklv commented on #159
@tomav @stonemaster I generate file on my linux VPS using this command from README.md:
[code]

[2016-04-25 09:44] stonemaster commented on #87
I've always configured my dovecot server to enable Sieve by uncommenting the file following line in `/etc/dovecot/90-sieve.conf`:

`
sieve = file:~/sieve;active=~/.dovecot.sieve
`

That will look for a `~/.dovecot.sieve` in the user's home directory and enable appropriate sieve rules.

Is there anything more comfortable or elegant needed? For me something like this would be enough given it is poss

[2016-04-25 10:27] 00angus commented on #109
Good! The image size is more than acceptable.

Anyway... I'm having an hard time let CI tests pass while building an image
locally. I'm working on a minor patch but 2 or more tests keep failing
(fail2ban, opendkim...). I do not understand how on Travis they passed.
On Apr 25, 2016 06:12, "Thomas VIAL" <notifications@github.com> wrote:

[2016-04-25 11:28] tomav commented on #109
We can talk about that is you want. I'm currently traveling for work so I won't be really available before wednesday, but leave a comment here, I'll try to have a look in the evening.

[2016-04-25 13:44] tomav commented on #159
Tested and reproduced. I will push:
- `test/config/postfix-accounts.cf` generation from the command (and not from a static file anymore)
- check in `start-mailserver.sh` to covert line endings

[2016-04-25 13:59] Gymnae commented on #101
I actually have an image which needs testing. I haven't migrated my mailserver yet and plan to to so once your v2 is released - then I'll continue working on my z-push container.
The repo is [here](https://github.com/Gymnae/docker-zpush). It might already work, it might burn down your house and steal your wife. Dunno. Will continue working on it once I've got a dockerized mailserver running :)

[2016-04-25 14:14] tomav commented on #159
Done. Build in progress.

[2016-04-25 14:14] #159 closed

[2016-04-25 14:28] tomav commented on #159
@stonemaster, @Niklv, image available on hub. You can pull and re-test.

[2016-04-25 18:02] stonemaster opened #161 "Discussion: more restrictive Postfix configuration to block spam early"
I am using an issue here to discuss the possibility to have a more restrictive ***Postfix*** configuration to block spam before it is even looked at by Spamassasin etc.

I recently switched to **docker-mailserver** and I observed an increase in daily spam mails that actually land in my INBOX. Looking at the diff between the container's postfix configuration I noticed that the container's configura

[2016-04-25 18:45] tomav commented on #161
Hi @stonemaster, any change that can improve the image is welcome. It should just not be too restrictive

[2016-04-25 19:59] stonemaster commented on #161
@tomav Okay great. I'll have a look at a safe configuration in the next days that is not too restrictive but blocks away many of those standard spam bots out there. I have a mail server in production that I can use for testing. I'll create a pull request once I'm done.

[2016-04-25 21:22] tomav commented on #87
If you want to PR something, feel free to do it :-) Just add necessary tests.

[2016-04-25 21:23] tomav commented on #87
Do it on v2 of course.

[2016-04-26 06:23] stonemaster commented on #87
Okay I'll have a look :-) And yes v2 of course.

[2016-04-26 19:01] tomav commented on #109
Added tests for letsencrypt.

[2016-04-27 09:24] tomav commented on #161
👍

[2016-04-27 09:24] #161 closed

[2016-04-27 17:32] natostanco commented on #109
docker-slim gave an image of 150MB~ , clamAV is the biggest burden being >100MB, and alpine is not gonna help with virus signatures

[2016-04-27 21:20] tomav commented on #109
If I follow you, an idea can be to add an env variable to disable automatic updates. So `freshclam` will move out from `Dockerfile` but I'm not sure that tests still pass without a first update.

Regarding `docker-slim`, I'll have a look but we need something compliant with docker hub automated builds.