[2018-01-05 08:45] cruisemaniac commented on #787
@time4tea Can you show me how to setup a backup MX? Thanks

[2018-01-05 09:01] time4tea commented on #787
I don't configure that myself, just buy the service from e.g. dnsmadeeasy, then update DNS MX record to set their mailservers as lower priority MX for your daomain.

[2018-01-05 19:52] johansmitsnl commented on #786
Sounds good

[2018-01-06 16:56] sandrodz opened #788 "DKIM for a newly added domain requires restart"
Hi,

For newly generated dkim key container needs to be recreated, otherwise DKIM won't function / e.g. email headers won't show DKIM signature. After recreating containers all work.

I imagine this needs to go in docs/readme, or somehow mitigated.

[2018-01-08 18:14] BirgerK commented on #680
So, is there a recommended way to define all those ldap config files with custom values?

I'm not sure if this issue has a result.... But I'm pretty interested in it!

[2018-01-08 18:44] jonbaldie commented on #575
I experienced the exact same error on my DigitalOcean instance.

I had to upgrade from a 1 GB instance to a 2 GB instance, and I added a 640 MB swapfile for good measure.

[2018-01-09 06:34] time4tea commented on #787
I found a possible solution. Looking at http://www.linuxcertif.com/man/5/policyd-spf.conf/

You can add a file into docker-compose.yaml directory: postfix-policyd-spf-python/policyd-spf.conf

[code]

Then add line to docker-compose.yml
`- ${PWD}/postfix-policyd-spf/policyd-spf.conf:/etc/postfix-policyd-spf-python/policyd-spf.conf`

[2018-01-09 07:36] johansmitsnl commented on #787
Could you add this to the WIKI section?

[2018-01-11 16:43] dar72 commented on #768
I think it would be a good idea to not delete anything by default, simply mark as spam without deleting.

I potentially lost important mail due to false positives on initial setup

[2018-01-13 06:47] justinvoelker opened #790 "SMTP error ever since switch to debian:stretch-slim"
I had been using this mailserver image for many months without any issues. I had Windows software and batch scripts sending emails and also PHP scripts using SwiftMailer to send emails from a few websites running on Ubuntu and Alpine linux. It seems that since the switch to debian:stretch-slim my PHP scripts are unable to connect to the mail server to send email. Other connections are working (IMA

[2018-01-13 08:58] mwlczk commented on #790
Hey @justinvoelker ,
I did three things while upgrading:
- updated all the libraries/services to newer versions. Some ciphers might be not accepted by default anymore
- removed all SHA1 ciphers manually from the cipher list of the submission port.
- now the server is presenting the list of ciphers he wants to negotiate about. Before it was the client. This might have lead to a weak cipher being us

[2018-01-13 17:51] justinvoelker commented on #790
Thanks for the tips @mwlczk. I created a small PHP script using the newest version of SwiftMailer and the short example from [here](https://swiftmailer.symfony.com/docs/introduction.html) but set the transport as `Swift_SmtpTransport('mail.example.com', 587, 'tls')`. Still no go. I enabled logging in SwiftMailer and this is what it produces:

[code]

I'm using a pretty basic setup for the mailserv

[2018-01-13 17:55] mwlczk commented on #790
@justinvoelker , look here
https://github.com/tomav/docker-mailserver/pull/784/commits/3dee443f31dff6525605accf1b702f9a31eb6aa0

[2018-01-13 18:21] mwlczk commented on #790
@justinvoelker look at sstok comment here.
https://github.com/swiftmailer/swiftmailer/issues/598

[2018-01-14 01:18] justinvoelker commented on #790
@mwlczk you're a life saver. The killer was that SwiftMailer was working with AWS SES. In any event, your link got me around my problem. Bummer that it isn't exactly a great fix, but, at least it's a fix for now. It's still better than dumbing down the mailserver. Thanks again!

[2018-01-14 01:18] #790 closed

[2018-01-14 18:18] strarsis opened #791 "setup.sh: Change password"
It would be nice if the password can be directly resetted/changed using the setup.sh script.

[2018-01-14 18:33] johansmitsnl commented on #791
This would be a nice enhancement. Could you create a PR for this feature?

[2018-01-14 21:17] strarsis commented on #791
@johansmitsnl: I would really like to, but I currently got no time for one 😿 .
I will look into it again later, when no PR has been provided until then.

[2018-01-15 13:56] Starbix opened #792 "Daily error-mail"
I daily get emails which look either like this
[code]

or this:
[code]
My config:
<img width="871" alt="bildschirmfoto 2018-01-15 um 14 55 02" src="https://user-images.githubusercontent.com/12443257/34945602-2f058d24-fa04-11e7-83c3-6850c4b689e0.png">
<img width="862" alt="bildschirmfoto 2018-01-15 um 14 55 13" src="https://user-images.githubusercontent.com/12443257/34945603-2f1cf630-fa04-11e7-94d9

[2018-01-15 18:25] modInfo opened #793 "z-push"
how to add z-push?

[2018-01-15 20:16] johansmitsnl commented on #793
See #622

[2018-01-15 20:16] #793 closed

[2018-01-16 21:28] andig opened #794 "Setting up mail for IDN domain"
I'm trying to setup an IDN domain for proper IMAP handling across the toolchain and have various problems:

 - `domainname` has to be punycode
  - dovecot rejecting the login due to invalid characters (needs `auth_username_chars` or explicitly using punycode for user name in mail client)
  - postfix rejecting IDN recipient address (`NOQUEUE: reject: RCPT from unknown: 450 4.2.0 <foo@fötz.name>: Re

[2018-01-16 21:46] modInfo opened #795 "How to move Spam messages into Spam folder?"
[code]

## My solution:

File: /var/lib/dovecot/sieve/default.sieve
[code]

File: /etc/dovecot/conf.d/90-sieve.conf
[code]

Compile this file by sieve compiler
[code]

do not forget to commit changes
`docker commit <container-id> tvial/docker-mailserver:latest`

[2018-01-17 20:08] Seennt commented on #755
Lony197  You have declared your volumes as binded host volumes here:

And here you have declared named volumes without a volume reference within you service.

Nevertheless, lets assume you want to use hosted volumes please remove the named volume declaration.

- run docker-compose.yml

Furthermore /var/lib/postgrey is a symlink to /var/mail-state/lib-postgrey. To solve your issue:

` find /opt/mai

[2018-01-18 19:22] gegere commented on #656
Expanding on @dodekeract as a feature request and adding more information to hopefully help others.

I found that other *docker-letsencrypt-cron* for SSL only works well if you are hosting Docker within an operating system, as @ulm0 share. What would be super helpful is a container which can run within a cloud service and manage certificate creation and renewal via `--volumes-from`

Have a look at

[2018-01-19 07:12] zerpex commented on #791
Hi,

If it can help, here is a script I wrote for that :
[code]

[2018-01-19 08:36] jzhbiao opened #796 "where is my mail.log file ? I cannot find out it"
I use centos7 , help me

[2018-01-19 08:43] jzhbiao commented on #796
[ALERT] Plaintext authentication not allowed without SSL/TLS, but your client did it anyway. If anyone was listening, the password was exposed.

[2018-01-19 22:59] 17Halbe commented on #791
It‘s not documented, but i‘s already in there, isn‘t it?

[code]

[2018-01-19 23:11] 17Halbe commented on #796
You can get the logs via
`docker logs mail`
or via the [setup script](https://github.com/tomav/docker-mailserver/wiki/Setup-docker-mailserver-using-the-script-setup.sh)

Your second post about the alert is pretty descriptive, what is your question?

[2018-01-19 23:19] 17Halbe commented on #795
It‘s the default and configurable implementation:
See also #768

[2018-01-19 23:21] modInfo commented on #795
How do it automatically move to Junk?
What settings have I forgotten to add to docker-compose?

[2018-01-19 23:23] 17Halbe commented on #792
That‘s a problem with logrotate on your host server and has nothing to do with this docker image or docker itself..

[2018-01-19 23:27] 17Halbe commented on #795
From the link, I provided:

This is default.

So if you set the kill level to something high(or low(?)) even the worst spam won‘t be deleted but also be moved to your Junk folder

[2018-01-21 11:27] modInfo commented on #795
Junk folder doesn't exist for new users how to create it?

[2018-01-22 01:56] jzhbiao commented on #796
Thank you for your reply, your project is good, I seem to solve the problem

[2018-01-23 21:33] kortenkamp commented on #705
I just ran into a similar issue - I do have a user using an old iPad with iOS 9.3.5 and he cannot send mails via smtp to my server. On all other devices everything works fine, checking the server with openssl or other means reveals no problems. I seems to be the case that iOS 9.3.5 and the postfix server do not find a common cipher.

Does anybody have any idea how I can proceed from here? The warn

[2018-01-24 00:48] loslch commented on #791
@17Halbe Yeah. It seems it is. Below is the scrips of it.

- setup.sh:124
[code]

- target/bin/updatemailuser
[code]

[2018-01-24 09:17] 17Halbe commented on #796
Thanks, it's not mine though! It's ours I guess! ;) Can be closed.

[2018-01-24 09:32] 17Halbe commented on #795
Are you sure? It should have gotten created by dovecot at creation time. But one is not "subscribed" to it. To see if had been created:
`./setup.sh debug login
ls -al /var/mail/<DOMAIN>/<USERNAME>`
Where you replace <DOMAIN> with your domain (like domain.net) and <USERNAME> with the address portion of the email-address in question ( user in case of user@domain.net)
You should then see a folder `.J

[2018-01-24 09:33] 17Halbe commented on #791
So this can be closed, right?

[2018-01-24 09:47] 17Halbe commented on #787
Shouldn't it be possible to just whitelist your backup IP in mynetworks?

Try to add

`mynetworks = 127.0.0.0/8 [::1]/128 [fe80::]/64 <YOUR BACKUP MX IP>`
to your `config/postfix-main.cf`
(And probably check the output via `postconf -n | grep "mynetworks ="`
See: [Postfix/mynetworks](http://www.postfix.org/postconf.5.html#mynetworks)

Even though your config is working now. Could you probably try

[2018-01-24 09:56] time4tea commented on #787
That would probably mean that all checks are bypassed, but thats not what
you want. It could  mean that any mail sent via the backup server would be
forwarded.... i.e. whoops you made an open relay.

James

On 24 Jan 2018 9:47 am, "17Halbe" <notifications@github.com> wrote:

Shouldn't it be possible to just whitelist your backup IP in mynetworks?

Try to add

mynetworks = 127.0.0.0/8 [::1]/128 [fe

[2018-01-24 10:10] loslch commented on #791
Yes. Is there anyone who want to write a document about this on wiki?

[2018-01-24 14:44] modInfo commented on #795
[code]

[2018-01-24 15:28] wildtang opened #801 "If set SMTP_ONLY=1, logs output "INFO exited: amavis (exit status 2; expected)" uninterruptedly"
My docker-compose.yml content is

  mail:
    image: tvial/docker-mailserver:latest
    hostname: mail
    domainname: somewhere.com
    container_name: mail
    restart: always
    ports:
    - "587:587"
    volumes:
    - /etc/letsencrypt:/etc/letsencrypt
    - maildata:/var/mail
    - mailstate:/var/mail-state
    - ./config/:/tmp/docker-mailserver/
    - /etc/timezone:/etc/timezone
    - /etc/

[2018-01-25 07:30] #796 closed

[2018-01-25 07:59] cruisemaniac opened #802 "Warning: Hostname does not resolve to address"
When I look at the logs from the server using `docker logs mail -f` I see this pattern for every email sent:
[code]

The IP address above is static AND the reverse PTR for the domain `mail.qag.me` is set to the static IP above.

I'm unable to figure out where this setting has to be configured. I have set the static IP and hostname in my host's `/etc/hosts` file like below:

[code]

I do notice tha

[2018-01-25 09:26] Gymnae opened #803 "Delay of up to 15 Minutes when receiving eMail"
This container has been working like a charm since I set it up, but there's a long delay in receiving eMail.
It's the only MX assigned to the domain with priority 1 - so there should be no bouncing.

DNS settings:
[code]
docker compose:
[code]
Could it be a server-side slowness? The machine is running other services, like web server, without a problem, the load is also not too high.

[2018-01-25 11:46] Starbix commented on #803
It‘s probably Postgrey that is delaying the mails. Try turning it off.

[2018-01-25 12:33] Gymnae commented on #803
That could be a solution, but rather than having it turned off, where could I adjust the delay?

[2018-01-26 16:04] Wohlraj commented on #772
can you try adding a trailing slash after "folder"?

[code]

that's the only difference I see with my docker-compose.yml.

[2018-01-26 21:13] H4R0 commented on #795
@17Halbe @modInfo
I think the Problem is in docker-mailserver/target/dovecot/15-mailboxes.conf
The Folder Trash is missing either "auto = create" or "auto = subscribe" therefore the Junk folder is not created for the users.
As mentioned in my issue i use a sed replacement to fix the file:

(Warning: this renames the Junk folder to "Spam" keep this in mind for the sieve filter "fileinto" option)
do

[2018-01-26 21:35] modInfo commented on #795
Now works.

[code]

[2018-01-27 02:43] jeffwji opened #805 "What is DOVECOT_PASS_FILTER and DOVECOT_USER_FILTER?"
I have been very confused by this two variables:
[code]

I'm trying to setup the mailbox against with AD, I think I should have something like
[code]

But what is DOVECOT_PASS_FILTER and DOVECOT_USER_FILTER? `start-mailserver.sh` has this contents from line 558:
[code]

Which has been commented out, and even funny thing is looks like the script author himself is not sure how to use this two variab

[2018-01-27 10:13] thiesschneider commented on #622
Hey @Gymnae, did you make any progress?

[2018-01-28 13:08] kuche1991 opened #807 "Critical security issue in Clamav !!!"
This week seven critical vulnerabilitys in Clamav where found.
http://blog.clamav.net/2018/01/clamav-0993-has-been-released.html
The issues can lead to DoS-attacks and even to remote code-execution.
The currently installed clamav-version is still  **0.99.2**, which is vulnerable.
It needs to be updated to **0.99.3** as soon as possible.

[2018-01-28 16:39] skorotkiewicz opened #808 "How to allow users to change own password?"
Some interaction with POPPASSD would be a great idea for the docker-mailserver.

[2018-01-28 17:57] Gymnae commented on #622
I did make some progress, but then stopped on the project since I found an eMail client on my mobile which uses a middleman server to push emails to the phone, thus negating the need to pursue this further.

[2018-01-28 19:36] thiesschneider commented on #807
agreed!

[2018-01-29 03:04] dolanor commented on #805
Well, I've been fighting it also, and I'm taming the beast as we speak.
So, yes, that [comment](https://github.com/tomav/docker-mailserver/blob/master/target/start-mailserver.sh#L558) is valid, depending on the point of view.

Can DOVECOT_PASS_FILTER and DOVECOT_USER_FILTER be the same ? I'd say yes. This is what I do (with an OpenLDAP, but should be the same for AD)
Can DOVECOT_PASS_FILTER and DO

[2018-01-29 08:16] 17Halbe commented on #780
So the PR has been sent.
But, some questions remain, on how to do some things in detail:

## Do we need a whitelist/backlist file?
(http://postfix.cs.utah.edu/postconf.5.html#postscreen_access_list)
        Via introducing an optional config/postfix-access.cidr
        The only permanent whitelisting I could imagine are monitoring services(which might (still?) behave weird/hastely) or blacklisting

[2018-01-29 09:27] dolanor opened #809 "Improve docker image building: reducing layers"
Hi,

First thanks for that great project. Even if I had some issues with my LDAP setup, it is wonderful to exist and work pretty well.
I was wondering if you were open to improve the Dockerfile because it seems it creates a lot of small layers, and maybe we could bundle them up together, without losing readability?

For example, it has multiple ENV commands, but we could bundle them up in 1 to avo

[2018-01-29 11:03] mwlczk commented on #324
Hi, what if we cluster the tests. This would allow us to stop those containers after we are done with testing that specific configuration. We would not have to totally abandon and rewrite using a different technology.

[2018-01-29 15:19] BirgerK commented on #680
I'm trying to set some Dovecot parameters by environment variables:
[code]

But the configomat breaks with the message:
[code]

Not sure what it means, but seems like the configuration of dovecot by environment variables isn't that generic. What's wrong?

[2018-01-29 16:20] alinmear commented on #680
Hm, will try to investigate, what's happening here

[2018-01-29 19:58] alinmear commented on #633
Seems like there is no more information on this issue. Closing it

[2018-01-29 19:58] #633 closed

[2018-01-30 01:01] foughtgeoduck opened #810 "add environment attribute for SMTP relay"
Hi there, i use this at home and when i need to restart the docker appliance my changes (manually) for the 'relayhost=' option in /etc/postfix/main.cf - get wiped out

my ISP blocks outbound port 25 (except to their own server - which i can relay through)
could someone make a pull request to get the feature added.
EG.
environment:
      - ENABLE_SPAMASSASSIN=1
      - ENABLE_CLAMAV=1
      - RELAY

[2018-01-30 03:04] jeffwji commented on #805
Hi @dolanor , Thank you for answer, I also guess it should be able to be the same. So I put in:

    DOVECOT_PASS_FILTER: (&(userPrincipalName=%u)(objectClass=person)(memberOf=cn=emailusers,cn=Users,dc=example,dc=com))
    DOVECOT_USER_FILTER: (&(userPrincipalName=%u)(objectClass=person)(memberOf=cn=emailusers,cn=Users,dc=example,dc=com))

But it doesn't work and finally I figured out that the scr

[2018-01-30 14:51] dolanor commented on #779
@johansmitsnl actually, linking is not encouraged anymore since it was a hacky way in docker to interact between containers.
Now that docker network have DNS resolution, it's way better to put the containers in the same network. By putting the LDAP container also in the same docker-compose will automatically put it in the same docker network, and they will be able to contact each other.

[2018-01-30 15:07] dolanor commented on #805
Here is a little trick I learned from reading the [start-mailserver.sh](https://github.com/tomav/docker-mailserver/blob/master/target/start-mailserver.sh#L566)
It uses configomat to create config out of env vars.
So, yes, user_attrs and pass_attrs seem to be fixed, but actually, the config file is modified by configomat. So by creating an env var `DOVECOT_USER_ATTRS="blablabla"`, it will fill the

[2018-01-31 01:59] TheCraiggers commented on #772
Thanks, but I'm still getting the same error about how volume must be a mapping, not a array. Still no idea what it's talking about. Also, I did run it through a YAML validator, and it passed.

Was I correct originally that this belongs at the end of the file? All I can think of is that it belongs under some other section, but it's not working any other place, either.

[2018-01-31 04:18] jeffwji commented on #805
No, AD authentication mechanism just doesn't allow you to read any password information from it, even hashed. the only way to verify your password is to send it to AD itself. so you have to put "auth_bind=yes" to the configuration, which also makes "userPassword=password" not works.

I also don't think `ldap-domains.cf` is necessary, postfix will call `/etc/postfix/vhost` first and I don't have se

[2018-01-31 05:57] icebal commented on #809
Also could collapse the run commands into one string, thereby reducing layers even more. Or collapse all of these into a script that can be added and then ran.

[2018-01-31 09:19] TechnicLab opened #811 "Postfix reject_sender_login_mismatch"
Consider using reject_sender_login_mismatch in postfix to prevent users from sending emails from any address.

[2018-01-31 21:18] johansmitsnl commented on #811
Could you suggest a PR?

[2018-01-31 21:19] johansmitsnl commented on #809
Happy to accept a PR. Could you suggest one?

[2018-01-31 21:20] #791 closed

[2018-01-31 21:22] johansmitsnl commented on #779
@dolanor Ok, but it might also be wise to declare a depend for the container.
Is it solved?

[2018-01-31 21:24] johansmitsnl commented on #810
Please read: https://github.com/tomav/docker-mailserver/wiki/Configure-AWS-SES

[2018-01-31 21:27] johansmitsnl commented on #324
@mwlczk What do we gain from clustering? could you explain be pro's?

[2018-01-31 21:35] johansmitsnl commented on #808
Could you add a PR?

[2018-01-31 21:36] dolanor commented on #809
I wanted to talk about it before starting to hack on it :)

The run could also be collapsed, but right now, I think they are pretty well separated. I guess I'll start a PR and we will review it to see how we like it :)

[2018-01-31 22:43] mwlczk commented on #324
@johansmitsnl By clustering/grouping the tests inside(!) the bats-file we could run only the needed instance (env-combination) at the same time. We would not have to "run" 15 different instances at the same time and put pressure on the build-machines.
It is not a beautiful approach to solve the problem, but it is doable.

[2018-01-31 22:49] mwlczk commented on #324
in addition we could define a "small" set of standard tests and run them against every test-instance as stated by @KyleOndy just to verify the standard is working for every combination of ENV-variables.

[2018-02-01 04:45] TechnicLab commented on #811
I’m happy to but it looks like there are some new configuration needed for current users: http://www.postfix.org/postconf.5.html#smtpd_sender_login_maps, also I’m not sure how to configure this with LDAP.

[2018-02-01 06:51] johansmitsnl commented on #811
I think no extra configuration is needed, but if you have a branch I can test it (i use a ldap setup).

[2018-02-01 06:54] johansmitsnl commented on #324
For me to understand, you would like to loop over the different env-combinations and run on each env the "default" tests and with some env specific tests?
This would increase better test coverage on multiple env-combinations indeed and it looks like a good start.

[2018-02-01 09:06] mwlczk commented on #324
Yes, I want to loop through the different env-combinations. This would increase test coverage as well as lower the impact on the build machines and thus make the tests more stable.

[2018-02-01 11:04] TechnicLab commented on #811
Ok, I will create it this evening.

[2018-02-01 16:28] IvanovOleg opened #812 "Endless restart series of DKIM"
I run this container on Kubernetes 1.9.1 and attach dkim-related files as a ConfigMap (volume from the container perspective). These files have been generated inside of the container. DKIM accepts them but then goes to the endless restart cycle. I tried to disable clamav, spamassasin, postgrey, fail2ban, but without a success. I also tried to override the hostname, but it didn't help. Is it possib

[2018-02-04 19:08] 17Halbe commented on #812
How did you configure Dkim? With the setup.sh script?

Did you enable [Debug Logging](https://github.com/tomav/docker-mailserver#dms_debug)?

[2018-02-04 20:31] #718 closed

[2018-02-04 20:31] #780 closed

[2018-02-05 11:00] 17Halbe commented on #384
Why not use the successor with sieve? [AntispamWithSieve](https://wiki2.dovecot.org/HowTo/AntispamWithSieve)
It would be nice opportunity to implement a global sieve filter as well.. :)

[2018-02-05 11:29] 17Halbe commented on #452
I could implement that.
But IMHO this is a feature that is not commonly used. What do you think? Is a separate optional file with permissions just for that feature desirable?

What about a wiki entry/Howto?

But as I said, I could do a PR which would add an additional config file.(i.e. something like postfix-recipient-access.cf?)

[2018-02-05 12:06] 17Halbe commented on #763
@Shemeikka Is that still valid? I can't reproduce your results.

[2018-02-05 13:05] 17Halbe opened #815 "simplify Configuration"
What about moving all configuration options into an .env file?
This is the docker-compose way of configuring environmental variables anyway. See [env-file](https://docs.docker.com/compose/env-file/)

Benefits would be:
- The user wouldn't have to mess around in the compose file itself which we in turn wouldn't have to debug. :+1:
- It's backward compatible: If one uses his old docker-compose file

[2018-02-05 13:11] 17Halbe commented on #808
How would you(your users) use it? Website login? Proprietary software? Commandline? It's using the FTP protocol right?
If you wouldn't have to connect to it from the outside world, wouldn't it be easier to just script something which we could also implement into the setup.sh script?
This can then be utilized via the commandline, and as well via a website-login-form.

[2018-02-05 16:14] cybertschunk opened #816 "create sendonly users"
hey guys,
I've just setup this mailserver, but couldn't find a way to create sendonly users. Is this feature supported?

[2018-02-05 17:20] n9yty commented on #810
Not to add noise and confusion, but I am just getting into Docker and looking to hopefully use this awesome project to rebuild a mailserver for a nonprofit... But I read the link you provided and it doesn't seem to answer the original question about being able to specify a relayhost except for Amazon, does it? In the use case I'm looking at, they would route it through their ISP, and I can see oth

[2018-02-05 22:27] 17Halbe commented on #816
Is this what you are looking for? #452

It's probably getting implemented as a separate feature, but you could already override the postfix main.cf.
Consult your local [wiki](https://github.com/tomav/docker-mailserver/wiki/Overwrite-Default-Postfix-Configuration)!

For a start have a look [here](http://www.postfix.org/RESTRICTION_CLASS_README.html)
And you can put your restriction-texthash file in

[2018-02-06 06:52] johansmitsnl commented on #384
Sounds good, could you provide a pr?

[2018-02-06 06:54] johansmitsnl commented on #452
A separate file that you could manage trough the setup script would do.

[2018-02-06 07:28] johansmitsnl commented on #810
@n9yty
You could read the variable like: EXTERNAL_MAIL_RELAY.
My personal opinion about unauthorized mailservers is that it is a security issue indeed.
But I guess when a server is in a tightly monitored and secured network it could be considered save. But adding authentication should not be hard these days.

[2018-02-06 07:29] johansmitsnl commented on #808
@17Halbe multiple options, but the right one that fits all did not appear yet (for me).
Suggestions are welcome.

[2018-02-06 07:38] johansmitsnl commented on #815
Users can use both at the same time. It could definitely be mentioned in the readme page with a example to.

[2018-02-06 08:11] perarg opened #817 "Security and protection"
1. How can i control - prevent - secure the mail server of sending blast mails ?

2. Is there any way to check for "attacks" to mail server ? For example multiple tries for login or DoS

[2018-02-06 08:18] dragonito commented on #817
Try fail2ban for secure up login

[2018-02-06 08:19] perarg commented on #817
Yes, i have fail2ban enabled. It's ok with that.

[2018-02-06 10:18] dragonito opened #818 "Adding rancher-compose example to documentation"
Hi there,

is it possible to add a "rancher-compose.yml" example to documentation?

I´m not shure if it´s the same as "docker-compose.yml", perhaps there are just a few changes?

Would be really great!

Robin

[2018-02-06 10:20] dragonito commented on #818
Found some links about it:

https://github.com/rancher/rancher-compose

http://rancher.com/docs/rancher/latest/en/cattle/rancher-compose/

[2018-02-06 13:33] perarg opened #820 "Every sent mail as junk and what about multiple domains under same mailserver"
Hello,

i a fully working mail server. Mails can be sent and can be received. My real problem though is that every email i sent goes to spam or junk folder of other mail servers. I tried gmail.com and hotmail.com.

I use one main domain for serving mails. Let's say for example, mail.mydomain.com. I have set mx record and txt records v=spf1, v=DKIM. I don't know if the problem is that the domain i

[2018-02-06 13:52] mwlczk commented on #820
Most important: you need a PTR record in the dns of your mailservers ISP.

For every domain you need to configure the DNS separately

[2018-02-06 15:33] perarg commented on #820
Ok, i see. I have to setup a ptr record for my mail.mydomain.com.

What about the other domains in the same server ?
Will share the same ptr record of the main domain ? If i setup a second domain, secondomain.com, i will create an A record pointing to the same place as mail.mydomain.com. Is this valid ?

So, i have to create a MX record for secondomain.com pointing to mail.mydomain.com ? And creat

[2018-02-06 18:28] johansmitsnl commented on #818
You could suggest a PR with a example or write a wiki about it.

[2018-02-06 18:35] #811 closed

[2018-02-06 18:52] johansmitsnl commented on #770
You should send email on the 587 port. Port 25 is only for receiving.
Did you solve it?

[2018-02-06 18:53] #778 closed

[2018-02-06 18:54] johansmitsnl commented on #781
Is it solved?

[2018-02-06 18:54] #782 closed

[2018-02-06 18:55] johansmitsnl commented on #786
Please add a PR. Will close the issue for now.

[2018-02-06 18:55] #786 closed

[2018-02-06 18:57] johansmitsnl commented on #788
Added to the wiki documentation: https://github.com/tomav/docker-mailserver/wiki/Configure-DKIM

[2018-02-06 18:57] #788 closed

[2018-02-06 19:02] johansmitsnl commented on #803
Did you recreate the container?

[2018-02-06 19:10] johansmitsnl commented on #807
It depends when Debian releases the update to the stable version.
Check https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=888484 for the progress on this.

[2018-02-06 19:13] johansmitsnl commented on #817
You should setup your ptr, dkim and spf correctly.
https://github.com/tomav/docker-mailserver/wiki/Configure-DKIM
https://github.com/tomav/docker-mailserver/wiki/Configure-SPF

[2018-02-06 19:13] #817 closed

[2018-02-06 19:19] johansmitsnl commented on #820
Your MX should point to the mailserver name.
Example:
mail.domain.com SERVER
email-1.com MX mail.domain.com
email-2.com MX mail.domain.com
etc..
SPF should point to the mail.domain.com as the allowed sender for both domains.

[2018-02-06 19:22] johansmitsnl commented on #795
#806 is merged.

[2018-02-06 19:22] #795 closed

[2018-02-06 19:40] perarg commented on #820
Thank you for reply @johansmitsnl but as DKIM is concerned i didn't get an answer, so i cannot understand why you closed the issue...

Should the command `docker run --rm \ -v "$(pwd)/config":/tmp/docker-mailserver \ -ti tvial/docker-mailserver:latest generate-dkim-config` produce keys for every domain i have setup or only for the mailserver domain ?

[2018-02-06 19:55] mwlczk commented on #807
@johansmitsnl @thiesschneider we are safe already!
from the container: `clamav is already the newest version (0.99.2+dfsg-6+deb9u1).`
changelog for that version from here http://metadata.ftp-master.debian.org/changelogs/main/c/clamav/clamav_0.99.2+dfsg-6+deb9u1_changelog

clamav (0.99.2+dfsg-6+deb9u1) stretch; urgency=medium

  * Apply security patches from 0.99.3 (Closes: #888484):
    - fixes fo

[2018-02-06 19:57] helmutundarnold commented on #781
I had to remove the postfix package
`yum remove postfix`
and this solves the problem

[2018-02-06 20:36] mwlczk commented on #770
@cloudtestsoftware what version of JRE are you using? is it compatible with the cipher list?

[2018-02-06 20:49] #807 closed

[2018-02-06 20:49] #781 closed

[2018-02-07 09:03] dragonito commented on #818
I´ve to evaluate it first ;) I will serve my cognitions about it till i got them LOL

[2018-02-07 09:34] 17Halbe commented on #808
That shouldn't be too difficult...
What do we need?
- A check if the password for that user is correct
- and we already have a update function to change a users password.

I would leave the php/js coding to the respective admin.. or someone else. ;) I'm neither really good at this kind of stuff, nor am I confident enough to get all security pitfalls convered..

So the user would then login on a we

[2018-02-07 10:31] jurekbarth commented on #820
It should create dkim configs for every domain. Can you login to your seconddomain account?

[2018-02-07 10:47] perarg commented on #820
Yes without problem

Στις 7 Φεβ 2018, 12:31 ,και ώρα 12:31 ,Jurek Barth <notifications@github.com> έγραψε:

[2018-02-07 11:01] jurekbarth commented on #820
Ok dump question, you're in the right directory while running your command?

[2018-02-07 12:47] hubermi opened #823 "Spamassassin Bayes Check always scores -1.9"
Hi,
I have a problem with spam recognition. All spamassassin rules work perfect except the bayes test. Every single mail passes with result BAYES_00 and gets -1.9 added to its score which results in many spam mails coming through.

I am training the filter with the  commands from the wiki, and have also trained on a downloaded zip with spam samples.

docker exec  mail sa-learn --dbpath /var/mail-s

[2018-02-07 12:53] exhuma opened #824 "Provide a way to amend main.cf"
On my server I would like to increase the message size limit. But the only way I can do that is by entering the container and manually editing the `main.cf` file.

If I upgrade the container in the future that change will get lost as it's not coming from a volume.

It would be great to have some way to amend the `main.cf` file via a persistent file. I'm sure there are other settings which may make

[2018-02-07 12:59] hubermi commented on #810
I use the AWS environment variables to set a relayhost. Just ignore that the env variables contain AWS in its name and set the hostname of your relayserver and user:password pair. Works like a charm in my configuration.

[2018-02-07 13:19] 17Halbe commented on #787
@time4tea
you are so right! I feel sorry for even suggesting it!
So your solution works?
Could you elaborate a bit on those sections:
[code]

[2018-02-07 14:02] perarg commented on #820
Yes, in place where docker-compose.yml is located.

[2018-02-07 16:06] dmcgrandle commented on #824
Hi exhuma,

This is a pretty common configuration.  See the wiki for more details, but essentially all you have to do is create a "postfix-main.cf" file in your config directory, and in it place this directive:

`# increase maximum message size
   message_size_limit = 52428800`

That is the value I used.  YMMV.  :)

Regards,
:D

[2018-02-07 16:23] dmcgrandle commented on #810
I actually set this in the "postfix-main.cf" file in my config directory and it works just fine.  Here is my directory listing and contents of my postfix-main.cf file:

[code]

[code]

[2018-02-07 17:50] exhuma commented on #824
Oh great. I did not find this when I was first looking for it (I did not realise there was a wiki). I assume you are talking about [the page titled "Overwrite Default Postfix Configurations"](https://github.com/tomav/docker-mailserver/wiki/Overwrite-Default-Postfix-Configuration)?

A quick follow-up question though: The page is titled "*overwrite*" the config, so, do I copy the existing config com

[2018-02-07 18:15] #768 closed

[2018-02-07 18:16] H4R0 commented on #768
Solution at #795

[2018-02-07 18:29] johansmitsnl commented on #824
Now you have to copy the whole file over. But you might miss features that are added to this file.
I think a easy way is to amend the main file with a extra file in the startup script, if I'm correct postfix overrides the previous value if it is defined twice?

[2018-02-07 18:37] #815 closed

[2018-02-07 18:42] johansmitsnl commented on #808
One of the pitfalls are that you need to gain root rights and that is something you want to be very careful about. Without root your not allowed to changes passwords, but also adding a webserver/webservice to a mailserver sounds strange from a docker perspective.
With a database model (Ldap or MySQL) it seems simpler (safer) then with the setup files.
#557 is indeed a better approach. It needs som

[2018-02-07 18:46] johansmitsnl commented on #810
@hubermi @dmcgrandle shows that it works.

[2018-02-07 18:46] #810 closed

[2018-02-07 19:39] dmcgrandle commented on #824
Actually @johansmitsnl when I look at my main.cf file within the container it contains many additional lines, and just appends what I put in, it does not "overwrite" it.  I was careful to only include directives that were not already defined, so my entire config/postfix-main.cf file is quite short.  I posted it in another issue, but for completeness in this thread here is my entire config/postfix-

[2018-02-07 19:55] dmcgrandle commented on #824
@johansmitsnl - we probably should amend the wording on the wiki, since it is misleading when it says "overwrite".
:D

[2018-02-07 20:03] dmcgrandle commented on #824
@johansmitsnl - I went ahead and amended the wiki myself.  :)  I borrowed the wording from our section on "overriding the dovecot configuration" since it looks like we use the same logic for that as well, and the word "override" seems more clear than the word "overwrite" which implied we completely replaced the main.cf file which we clearly don't do.  I also threw in the example from this thread o

[2018-02-07 20:05] jurekbarth commented on #808
@johansmitsnl can you explain why MySQL is a saver way? Somehow you have to read the passwords/accounts anyway or am i wrong? Of course the root access is not ideal. We could do some kind of polling on one side and only give read access and make changes to another file. Not sure if that makes it any better.
I've also tinkered a litte bit, you can checkout the code here: https://github.com/jurekbar

[2018-02-07 20:31] johansmitsnl commented on #808
Safer in the way that you can only access the database information. When you are root you can also access the emails an modify other files on the system.
A separate database gives more separation by default.

[2018-02-07 20:33] #452 closed

[2018-02-07 20:33] #816 closed

[2018-02-07 20:59] exhuma commented on #824
You guys are awesome for giving feedback this quickly ;)

However, I now created a `postfix-main.cf`, but don't see the changes in the container. Do I have to delete and re-create the container after modifying the file? I was trying to find this in the docs as well without luck :(

[2018-02-07 21:03] dmcgrandle commented on #824
Hi exhuma,

Yes, you have to "docker-compose down" and then "docker-compose up -d mail" again.  Updates are made when the container starts up.

Regards,
:D

[2018-02-07 21:10] time4tea commented on #787
No problem.
To be honest, I just copied an example solution and made it work for the docker image.
The meaning of the various flags should be in the documentation for the python program. I didn't look!

[2018-02-08 07:06] dmcgrandle commented on #823
How many training emails have you got?  If memory serves it needs a minimum of 2000 (1000 ham and 1000 spam) before it starts taking them into account.

[2018-02-08 07:19] hubermi commented on #823
IIRC it was 200 messages, but anyway both limits should not be a problem according to sa-learn --dump magic:
`
0.000          0      83842          0  non-token data: nspam

0.000          0      25674          0  non-token data: nham

0.000          0     148623          0  non-token data: ntokens
`

[2018-02-08 07:30] exhuma commented on #824
Cool thanks.

Given that my original question is answered I'll close the ticket.

[2018-02-08 07:30] #824 closed

[2018-02-08 08:14] 17Halbe opened #827 "Why don't we start the test-docker containers with docker-compose?"
Is there a reason for not starting all test containers in the Makefile with a docker-compose file?
I was testing quite a lot lately and this testing thing really needs improvement on the time scale!

The creation of all the docker container alone takes **5(!) minutes of sleep(!)** time.

I haven't tried to just delete the sleep time, but I guess it's there for a reason! ;)
So any objections on the

[2018-02-08 08:31] 17Halbe commented on #787
Thanks for the honesty! ;)
I can add this to the wiki or even implement this into the repo, if you can help me a bit with that:

Just to make sure:
You installed this apt package:
`apt-get install postfix-policyd-spf-python`

you should then somehow require the script to be "mentioned' in the `master.cf` file of postfix, right? Could you please post the output of
main.cf:
`docker exec mail postcon

[2018-02-08 09:02] cybertschunk commented on #816
@17Halbe  yeah that was what I meant. Thanks for your advice! Have a nice day

[2018-02-08 10:52] time4tea commented on #787
Hi. No i gave full instructions in the earlier post. The package is already installed and configured in the docker image. It's just the comfiguration that needs tweaking to support a backup MX. The docker-compose line simply overlays the existing version of the configuration file with the modified version.

[2018-02-08 12:35] hubermi commented on #823
Just checked, the default limit is 200 spam and 200 ham messages learned. I easily am above that threshold.

I activated debug messages for spamassassin in amavis, here is the output, anybody sees something suspicious?

`
mail    | Feb  8 12:16:50 mail amavis[2156]: SA dbg: config: read file /usr/share/spamassassin/23_bayes.cf
mail    | Feb  8 12:16:51 mail amavis[2156]: SA dbg: bayes: learner_new

[2018-02-08 19:36] johansmitsnl commented on #827
The sleeps where there before I joined the project. To me they are to give Travis time to boot up all the containters.
You could do a test with the compose file, it is much easier to maintain to. If tests pass I'll merge it.

[2018-02-08 21:32] 17Halbe commented on #787
Ah, perfect, I'll have a look at that tomorrow.. Thanks!!

[2018-02-08 21:43] 17Halbe commented on #384
Ah, forgot about it. I'll have a look into it tomorrow

[2018-02-09 12:17] jurekbarth commented on #827
Not sure if this is the right place, but for me the docker daemon is crashing all the time while running these tests. I've tested on different machines and also ported the stuff to docker-compose, not much better results. It's faster, but crashing anyway. How do you get these tests running? I've tested on mac and a linux vm. Also i've already tried different versions of docker.

[2018-02-09 15:14] Gymnae commented on #803
Yes, I did. The times have now improved massively. Maybe it was a backlog. I suppose postgrey is to "blame". SPAM has increased somewhat, so I rather live with the delay and reactivate postgrey. Thank you, I'll close this question.

[2018-02-09 15:14] #803 closed

[2018-02-09 21:17] 17Halbe commented on #787
Done, it's under the SPF page.. Hope that's alright?

[2018-02-10 11:56] Exadra37 commented on #809
The most important here is to the RUN commands to be compacted in one if possible because I think this ones would be the ones creating the bigger layers.

Another improvement is that each component of this mail server should have is own Docker Image in order to run as a separated service as per Docker best practices, plus this will allow easy update/upgrade of individual components.

[2018-02-10 12:16] Exadra37 opened #832 "Why configuration files in the universal tmp folder?"
In my point of view storing the mail server configuration files in `/tmp/docker-mailserver` isn't wise from a security perspective.

A best solution would be to have them moved to a dedicated folder, outside `/tmp`, where it could only be accessed by the services needing them.

[2018-02-10 12:33] Exadra37 commented on #557
From a quick look into rainloop it as a lovely interface but it lacks on security best practices:

* default login credentials `12345`  for the admin user on installation, thus open to be hacked by automated scripts until is changed.
* data folder is public accessible and needs to be protected with .htaccess rules or any equivalent ones depending on the server being used, thus if forgotten we have

[2018-02-10 15:07] nknapp commented on #557
I went with roundcube in my Installation. It should be possible to write a plugin for that as well, but I soon noticed that I was unable to develop in PHP like I would in JavaScript (test first etc.). It's pretty long ago, my PHP. So I postponed this issue when I noticed, I could just use the old password hashes from my etc/shadow in the docker mailserver accounts

[2018-02-10 20:11] 17Halbe commented on #827
I have no problems so far, but I run those tests on a native ubuntu 17.04 Laptop.
My specs are: 1.8Ghz i7 8550U 8GB Ram.
No Idea if this helps?!

I tried with a docker compose file, but got stuck on those link parts.. Basically it took too much time and IMHO isn't really worth the effort..
But what about reducing the amount of containers.. That's probably a way to reduce the minimum requirements q

[2018-02-10 21:04] mwlczk commented on #827
@17Halbe, please see #324 as well for test suite considerations.

[2018-02-11 00:52] aterclara opened #833 "[Wiki] Missing port mapping 80:80 for certbot authentication"
https://github.com/tomav/docker-mailserver/wiki/Configure-SSL

I was having an issue with this.
I managed to fix it by adding an additional port mapping 80:80

docker run --rm -ti -v $PWD/log/:/var/log/letsencrypt/ -v $PWD/etc/:/etc/letsencrypt/ -p 443:443 -p 80:80 deliverous/certbot certonly --standalone -d mail.domain.tld

Any thoughts?

[2018-02-11 09:36] 17Halbe commented on #827
Great! So you're on it? If you need any help, please call in! ;)

[2018-02-11 10:18] mwlczk commented on #827
@17Halbe not really, i started 1-2 weeks ago but have very little spare time.
It's a bit of an odyssey to go through all the >160 tests and sort them for "std."/" reusable" and on the other hand "specific" tests.

[2018-02-11 17:26] #698 closed

[2018-02-11 17:32] johansmitsnl commented on #809
@Exadra37 for seperate services see: #539

[2018-02-11 21:32] Exadra37 commented on #539
Another good example of running a mail server with separated docker compose services can be found in [this docker compose file](https://github.com/Mailu/Mailu/blob/master/docs/compose/docker-compose.yml).

[2018-02-12 08:39] IvanovOleg commented on #812
Looks like there was a problem with the keyfile.

[2018-02-12 08:39] #812 closed

[2018-02-12 09:49] 17Halbe commented on #832
Good point!
It would be nice though to keep the config/ folder as it is.
One solution would be mounting everything under root and delivering everything from there to the specific folders, but that would require monitoring those folders as well, since data might get altered via the container.
Or we would create a single mountpoint for every config file/folder.

Any other ideas?

[2018-02-12 20:26] johansmitsnl commented on #832
@tomav could you add some thoughts about this why it was done in the past?

[2018-02-12 21:59] Exadra37 commented on #832
We don't need to change the structure of the `config` folder.

It will be enough to map a docker volume `/host/path/to/docker-mailserver:/docker-mailserver` and rename all current occurrences of `/tmp/docker-mailserver` to `/docker-mailserver` and adjust permissions if necessary.

[2018-02-12 23:18] mwlczk commented on #786
@johansmitsnl @cruisemaniac
If it comes to namecheap, we don't need any changes in source-code for now. This is an extract from http://www.opendkim.org/opendkim-genkey.8.html:

We should be fine with that dkim-key and namecheap (most likely most dns-services).

[2018-02-13 01:02] scrwr opened #838 "SMTP: No AUTH option"
In latest version (286 MB, 5 days ago, 9ef4efc51cd7...) SMTP EHLO doesn't provide
[code]
anymore. Ergo login isn't possible anymore.
In tag 2.3 (320 MB, 17 days ago, 7aaf98379b39...) its still working fine.

I checked the usual suspects:
[code]

And I also tried via STARTTLS:
[code]

My docker-compose:
[code]

[2018-02-13 03:38] boaorm commented on #833
Hi,

The letsencrypt certbot tls-sni challenge uses port 443 and is disabled due to a [security issue](https://community.letsencrypt.org/t/important-what-you-need-to-know-about-tls-sni-validation-issues/50811). HTTP (port 80) or DNS challenge is the way to go until this is resolved!

[2018-02-13 13:23] 17Halbe commented on #838
Can you please post the log from the container?
Preferable with [DMS_DEBUG](https://github.com/tomav/docker-mailserver/blob/master/README.md#dms_debug) enabled.
From which client are you connecting to the server? From which network?

[2018-02-13 18:37] zzvara opened #839 "Delivery monitoring"
Hi,

Please suggest a tool that would monitor delivery from/to this mail server. Unfortunately many services fail within the container, that builds up a Postfix queue. Currently these problems are identified from the logs. Are there any open-source monitoring tools, that the author or others would recommend? It would be a great addition to this stack.

Cheers,
Zoltán

[2018-02-13 21:12] scrwr commented on #838
[mx-clean.log](https://github.com/tomav/docker-mailserver/files/1721693/mx-clean.log)

I tried to anonymize the log as much as possible. Example.org and .net are not the real domains, the user names and IPs have been obfuscated. If you need more details on these log lines, let me know.

First time encounter was on an MacOS Mail client. But to abstract the issue from a certain client, I was showcas

[2018-02-13 23:29] 17Halbe commented on #838
If the last part of the log states what happened while you attempted to login to that server we got two problems.
Postscreen is complaining about your login attempt not behaving correctly:
`Feb 13 20:55:21 mail postfix/postscreen[1256]: PREGREET 11 after 0.01 from [x.x.x.x]:23476: EHLO User\r\n`
Means that the client at [address]:port sent 11 bytes before its turn to speak. This happened 0.01 seco

[2018-02-14 01:30] boaorm opened #840 "Postgrey stopped working."
Postgrey is not working despite toggling the .env variables and rebuilding (docker-compose up -d). I've seen a previous issue regarding the postgrey PID. Could this be similar? PID has changed over time. How can I fix this?

`lxd       7222  0.0  1.6  74200 16680 ?        S    01:23   0:00 postgrey --inet=127.0.0.1:10023 --syslog-facility=mail --delay=700 --max-age=35 --greylist-text=Delayed by po

[2018-02-14 06:58] scrwr commented on #838
The first attempt was mine, and the complain from postscreen is correct, but is a result of the fact, that EHLO didn't offer me an AUTH mechanism (see initial bug report). So thats not the cause, but a result.

The second attempt (from 20:55:21 on) with the blacklisted IP wasn't me. So this is also correct.

My problem is, that EHLO doesn't offer AUTH mechanisms with this latest release, and I don

[2018-02-14 07:36] johansmitsnl commented on #838
You should not send email out with a client over port 25.

[postscreen readme:](http://www.postfix.org/POSTSCREEN_README.html)

[2018-02-14 09:04] viveksuhanda commented on #779
@johansmitsnl I tried to implement the method given by @dolanor but still facing the same issue. I also tried the steps to configure LDAP according to this link https://help.ubuntu.com/lts/serverguide/openldap-server.html upto the 'Modifying the slapd Configuration Database' step but still facing the same issue.

[2018-02-14 09:27] viveksuhanda commented on #315
@Josef-Friedrich According to your comment on Sep 7 2016 which illustrates how to add the text record but where do we add that text record I am using AWS cloud ubuntu VM and configuring mail server in that VM. Also, I have assigned elastic IP to that VM which I have registered with a domain in route 53 and created a MX, A and PTR record for that in route 53.
@tomav Also, I am unable to locate the

[2018-02-14 10:07] viveksuhanda opened #841 "Unable to connect to AWS ELB"
Hi,

I have created the mail server using AWS cloud. In that I am using two VMs which has the mail server docker image configured on it with LDAP server disabled.  Now the scenario is there is another test VM which runs a python script which request to ELB which in turn communicates to two mail servers.
Below is the image illustrating the scenario:
![smtp](https://user-images.githubusercontent.com

[2018-02-14 17:07] scrwr commented on #838
So. Indeed on port 587 AUTH mechanisms are advertised. On the opposite, what is the rationale behind not advertising AUTH mechanisms on port 25. Many end-user clients still use this port per default.

[2018-02-14 17:14] mwlczk commented on #838
@scrwr this is deprecated and at some point should be dropped. Most of those clients are capable of using the correct ports.

[2018-02-14 19:32] johansmitsnl commented on #315
What @tomav means is that you need to add a TXT record.

[2018-02-14 19:36] johansmitsnl commented on #841
Make sure you use a clasic loadbalancer in TCP mode.
Also the LB should be sticky (not sure how they call it in TCP mode)
https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/elb-listener-config.html#using-elb-tcp-layer4

[2018-02-14 19:46] johansmitsnl commented on #838
If you use Thunderbird or Android the default port is already 587 or 465.
Port 25 is also blocked for a lot of providers to prevent personal mailservers or other malicious software spamming.

[2018-02-14 20:47] danielpanteleit commented on #792
I also receive daily messages with this kind of content and I'm pretty sure that the problem lies within the docker image. Some time ago I fixed a similar bug in #715. I don't think that we need logrotate for rsyslog anyway so maybe we should just delete /etc/logrotate.d/rsyslog or even stop logrotating completely by deleting /etc/cron.daily/logrotate.

@johansmitsnl: please reopen

[2018-02-15 08:27] acch commented on #792
I'm also receiving fore mentioned daily messages. My host runs Arch Linux with `logrotate 3.13.0-1`, but docker-mailserver is the only container producing such messages...

[2018-02-15 08:38] acch opened #842 "Make SRS_EXCLUDE_DOMAINS a configurable option"
I've properly set up SPF and SRS. My mailserver is used to relay messages to different relayhosts (using  `sender_dependent_relayhost_maps`) and postsrsd properly rewrites the envelope sender address to something like "srs0=xxx=yy=example.com=alice@example.net" when doing so.

This works fine for most of the relayhosts, but *some* relayhosts do not accept such rewritten envelope sender addresses.

[2018-02-15 08:46] 17Halbe commented on #838
Sorry for the late reply. I overread that you were using port 25, that would have been a lot easier to solve then! ;)

For further information, why this is important:
[The importance of locking down Port 25](https://www.fusemail.com/en-gb/email-security-importance-locking-port-25-2/)
So can this be closed than?

[2018-02-15 09:23] scrwr commented on #838
Thanks guys for your quick support.

But even with the read through your information about locking down port 25, I don't get the point behind preventing only AUTH-enticated access, which is the opposite to the complained open relay. I get of course the point, that unauthenticated access on port 25 only delivers to local recipients. But this doesn't imply preventing AUTHenticated access at all.

In

[2018-02-15 09:56] edgeux commented on #523
I am running the mailserver on docker on osx and have this exact problem. ie, all ip address that attempt to communicate with the mailserver appear as 172.18.0.1. It doesnt take long for fail2ban to ban the mailserver from itself. Theres no way im running a mailserver without fail2ban. no sir

If i run the **exact** same container (and config) on a vm (ubuntu 16.0), i can see all manners of ip add

[2018-02-15 11:00] dolanor opened #843 "Check of cert.pem in Let's Encrypt"
Configuring my letsencrypt for my container, I found this.
https://github.com/tomav/docker-mailserver/blob/b08c9b42ed2a211784499a3adbc46d4a80ad4b71/target/start-mailserver.sh#L731

As I was using letsencrypt certificates generated by my [caddy](http://caddyserver.com/), it stored it differently. It only had the fullchain and the key. No simple `cert.pem`.
Then I had to investigate how to make the

[2018-02-15 12:29] #827 closed

[2018-02-15 13:01] akmet commented on #839
Hey,
you mean something like https://linux.die.net/man/1/pflogsumm ?
I am running this as a cron every night and it sends me an email what happend on my mail server

[2018-02-15 16:28] 17Halbe commented on #838
Sorry, didn't want to sound rude..
And I changed my mind, I think we shouldn't close this, it's actually quite essential to figure out which ports we want to keep open.
IETF published RFC 821 in 1982, establishing port 25 as the default channel for email. There were some RFCs obsoleted this initial SMTP RFC. Whatever, you are still/partly right, [RFC2476](https://tools.ietf.org/html/rfc2476) state

[2018-02-15 18:08] johansmitsnl commented on #792
Where does this message arrive? By email our just in the log?

[2018-02-15 18:09] johansmitsnl commented on #842
Can you suggest a PR?

[2018-02-15 18:13] johansmitsnl commented on #523
Which configuration on the host is needed to let the IP appear of the real client? To me it sounds like a docker issue and not a container issue?

[2018-02-15 18:16] johansmitsnl commented on #843
Check this section of the wiki: https://github.com/tomav/docker-mailserver/wiki/Configure-SSL#custom-certificate-files I think it will answer your question.

[2018-02-15 18:29] johansmitsnl commented on #838
@scrwr what @17Halbe described was what I always used to to submitting email and knew about. When you look at Office365 or Amazon they all use 587 for email submission.
But I agree a note in the README should be nice, I'll make a PR for this.
The tests that are in place for this project didn't test for email submission on port 25 so that's why the change of @17Halbe didn't ring the alarm bells of

[2018-02-15 19:15] boaorm commented on #840
Hi again,

I've poked around a little bit more. I'm new to docker so please excuse me for making foolish assumptions.

Did the following and postgrey works for a minute or two:
[code]

Yesterdays tests:
[code]

Checked the PID:
[code]

[code]

[code]

So it seems that the PID does not correspond to the running process ID.

Todays tests:

Rebuilt container.

Missing postgrey.pid in /run/postgrey

`

[2018-02-15 19:24] Starbix commented on #792
@johansmitsnl by email

[2018-02-15 19:36] 17Halbe commented on #838
@johansmitsnl Do you want me to change the postscreen implementation? We could change it to be optional.
Though I would rather have it enabled by default.
I could also do that README PR, since i introduced that braking change.
Sorry for not realizing that the postscreen service broke AUTH on Port 25.

[2018-02-15 21:45] 17Halbe commented on #840
I'm not running postgrey (and by the way really don't like it ;) ), but I just looked it up, the postgrey.pid should be located here:
`/var/run/postgrey/postgrey.pid`
Does that file contain the correct pid?

[2018-02-15 23:05] boaorm commented on #840
Hi, thanks for the feedback!

I guess I value every single method to get rid of spam! :)

Did a follow up on your tip on postgrey.pid file. I think it is a symlink:

[code]

Basically the same type of digging here again (I think the next step would be to look into the postgrey startup script):

[code]

It comes up again automatically as:
[code]

No change in postgrey.pid though:
[code]

Still doin

[2018-02-16 08:49] viveksuhanda commented on #841
Sticky session is not available for TCP protocol in AWS Classic ELB

[2018-02-16 09:22] 17Halbe commented on #832
If we want to keep the files all in one place, we would have to change the ownership depending on the  file (or some folders)and limit read/write access to only the owner(probably group?). Which is definitly no problem, but that could also be done in the tmp folder. There wouldn't need to be a possible breaking change of moving the config folder somewhere else.
Or am I missing something here?

[2018-02-16 09:35] acch commented on #792
Here's a copy of my email:

[code]

[2018-02-16 10:24] acch commented on #842
Not yet. I need to get my head around how `start-mailserver.sh` works... Hope to be able to spend some time on this on the weekend.

I wanted to evaluate if this is, in general, something that's useful for others? Does that qualify for a sensible feature?

[2018-02-16 11:12] Tygore opened #844 "Error in default configuration"
Hello,
Standard settings. Changed only in .env:
hostname: mail
domainname: mycooldomain.com

I can not receive and send mail. In the logs of the server writes:
`

- Feb 16 11:03:54 mail postfix/postscreen[12994]: CONNECT from [172.21.0.1]:54410 to [172.21.0.2]:25
- Feb 16 11:03:54 mail postfix/postscreen[12994]: PASS OLD [172.21.0.1]:54410
- Feb 16 11:03:54 mail postfix/smtpd[13007]: error: open d

[2018-02-16 11:15] mmarchand commented on #844
had the same since last night, you need to create 2 empty files in your config/ directory :
postfix-send-access.cf
postfix-receive-access.cf
this will make it work
it probably needs a real fix though

[2018-02-16 11:35] zzvara commented on #839
Seems like a useful tool, I will check it out. Are you using this with `tomav:mailserver`?

[2018-02-16 12:01] Tygore commented on #844
@mmarchand 4 hours googling, and you fixed the problem for 2 lines :)
I'll continue to test further, but it seems like the letters are sent now and come :)

[2018-02-16 13:19] 17Halbe commented on #844
Thanks for reporting. I introduced that problem. PR is testing right now.

[2018-02-16 13:30] 17Halbe commented on #840
I don't think it's related, but could you post your docker-compose.yaml?
And probably the output of the log after starting postgrey?
(`docker logs mail`)

btw: you can reference the container by name as well. (`docker exec -ti mail ls /tmp/docker-mailserver`)

[2018-02-16 14:58] 17Halbe commented on #840
I found the problem, stay tuned! It's not your fault! ;)

[2018-02-16 17:04] Starbix commented on #844
@mmarchand Thank you 😄

[2018-02-16 17:21] dmcgrandle commented on #844
Ran into the same issue last night when watchtower upgraded to the latest build.  @mmarchand thank you.
:D

[2018-02-17 02:03] boaorm commented on #840
Hi again!

Thanks! However I'm not sure what the change does and if changing the SED search-variable actually makes a difference. (Again I'm not confident in how things are put together here so bear with me).

Ok, so I'm assuming you thought "check_policy_service inet:127.0.0.1:10023" was missing from the "smtpd_recipient_restrictions"-parameter in main.cf since there was two occurences of "bl.spa

[2018-02-17 08:16] 17Halbe commented on #840
You might be right. Your main.cf file looks fine. You might still have a 'correct' version of this repo. :)

So yes, could you post your docker-compose.yaml?
And probably the output of the log after starting postgrey?
(`docker logs mail`)

[2018-02-17 15:03] thiesschneider commented on #611
I have the same problem now. None of the above worked :/
Any tips?

[2018-02-17 21:32] pn2 opened #847 "help requested: postfix-(send|receive)-access.cf not found"
I am struggling configuring this image.

I got IMAP access to the server working, using let's encrypt certificates extracted from Traefik. However, mail delivery does not work. This seems to be related to the files 'postfix-send-access.cf' and 'postfix-receive-access.cf' not existing, but I don't understand what I need to change to have them created.

In the container, /var/log/syslog shows:
[code

[2018-02-17 21:52] 17Halbe commented on #847
see https://github.com/tomav/docker-mailserver/issues/844#issuecomment-366208862

PR is waiting for being accepted

[2018-02-18 07:51] pn2 commented on #847
Thats solved it, thanks!

[2018-02-18 09:32] johansmitsnl commented on #838
@17Halbe I think it should be default.

Could you verify: https://github.com/johansmitsnl/docker-mailserver/tree/update_readme_and_changelog#exposed-ports

[2018-02-18 09:33] johansmitsnl commented on #841
But you are using it in TCP mode?

[2018-02-18 09:36] johansmitsnl commented on #842
It does to me.

[2018-02-18 10:49] 17Halbe commented on #838
Nice! :+1:

[2018-02-18 11:50] Exadra37 commented on #832
No matter how we chmod it, using `tmp` folder for this is not a good security practice and in my opinion should be fixed.

[2018-02-18 14:44] 17Halbe commented on #832
I agree, it leaves a wrong "gut feeling", but can you elaborate what kind of security holes/attack vectors persists if we would change the ownership and access-rights of a file to the respective owners only?
So far I can't figure out one and my "gut feeling" right now isn't strong enough to justify such a major change, especially if there's no real security issue.

[2018-02-18 15:53] acch commented on #842
Created PR #849 with a potential fix. Let me know if I'm missing something...

[2018-02-18 15:53] #842 closed

[2018-02-18 19:51] johansmitsnl commented on #847
Should be fixed in: #846

[2018-02-18 19:51] #847 closed

[2018-02-18 19:51] johansmitsnl commented on #844
Should be fixed in: #846

[2018-02-18 19:51] #844 closed

[2018-02-18 19:51] sereysethy commented on #611
@thiesschneider can you try `PERMIT_DOCKER=host`? how do you run your mail server using service (swarm) or docker-compose?

[2018-02-18 21:41] pn2 opened #850 "Option to select recipient_delimiter in dovecot and postfix"
This is a wish for feature extention.

I think that it would be great if one could change the recipient delimiter used for subaddressing and sorting to IMAP folders using sieve. Default delimiter is '+', but many web forms unfortunately do not allow for '+' in email addresses although it is a perfectly legal character. Changing it to '-', '_', or '.' often solves the problem.

The files requiring

[2018-02-19 03:33] boaorm commented on #840
Ok, so I reinstalled Docker (and also did: `rm -r /var/lib/docker`)

Here is the output from `docker-compose config` (I've replaced hostname/domain with mail/domain.tld):

services:
  mail:
    cap_add:
    - NET_ADMIN
    - SYS_PTRACE
    container_name: mail1
    domainname: domain.tld
    environment:
      DMS_DEBUG: '0'
      DOVECOT_PASS_FILTER: ''
      DOVECOT_TLS: "yes"
      DOVECOT_USER

[2018-02-19 07:44] pn2 commented on #728
I suggest adding...

[code]

...unless something speaks against this way to change things.

On a side note, I wonder whether this way of checking for changes could not lead to problems in the unlikely case that a change is detected in the very moment the files are being written (and yet incomplete).

[2018-02-19 10:39] mherfurt opened #852 "Wrong domain name in postsrsd config"
Hi,
thanks for your excellent work with docker-mailserver!
Quite recently, some changes were introduced, that broke my setup. It took me some time to figure out, why some mailservers were rejecting my mails with the errorcode 554 "Sender address rejected: Domain not found (in reply to RCPT TO command)". The reason for this is, that the file /etc/defaults/postsrsd contains the local domain of my ba

[2018-02-19 14:22] akmet opened #853 "Weird email sender"
Hey! I installed the latest docker-mailserver and nearly everything works fine.
I am able to send and receive mails. but when sending emails the FROM value looks a little bit weird..
My Dockerhost's hostname is id.vendor.com
My Docker's is mail.host.com
I have mydomain.com which MX records points to id.vendor.com
My account sender@mydomain.com exists, sender@host.com not.

Is this an expected beha

[2018-02-19 15:02] viveksuhanda commented on #841
Yes I am using it in TCP mode
I was able to connect with classic ELB by putting the Public and Private IPs in the main.cf mynetworks part
But I have an issue when I try to implement the same configuration with network ELB, in that I have assigned elastic IP to subnet and when I try to run the python script I get the same error that it get disconnected from the IP and the test VM gives me the error

[2018-02-19 16:42] mzedeler opened #854 "Can't send"
My mailserver upgrades with the latest docker image now and then. Now it has suddenly stopped accepting ingoing mail. The logs are full of this:

    Feb 19 16:39:30 ip-10-0-1-60 docker[1015]: Feb 19 16:39:30 8e55eafcefa9 postfix/smtpd[1213]: Anonymous TLS connection established from mailrelay2-2.pub.mailoutpod1-cph3.one.com[46.30.212.1]: TLSv1.2 with cipher ECDHE-RSA-AES256-GCM-SHA384 (256/256 bi

[2018-02-19 17:12] boaorm commented on #840
It would be great if someone could reopen this issue :)

[2018-02-19 17:16] boaorm commented on #854
Do you have `postfix-send-access.cf` and `postfix-receive-access.cf` in the config dir? If you don't create those two files (they can be empty) and see if it works again.

[2018-02-19 19:28] johansmitsnl commented on #850
Checkout: https://github.com/tomav/docker-mailserver/wiki/Configure-Aliases#address-tags-as-an-alternative

[2018-02-19 19:29] johansmitsnl commented on #852
@17Halbe could you check this?

[2018-02-19 19:33] johansmitsnl commented on #854
@boaorm this is fixed in: 5e09074d587114ef4d771fe65c911b67735d4fcb

[2018-02-19 19:43] 17Halbe commented on #853
So, to get you right, your email is being sent as sender@host.com and not as it should be as  sender@mydomain.com? But your OVERRIDE_HOSTNAME=id.vendor.com?

[2018-02-19 20:27] akmet commented on #853
No. It looks more weird. From looks like this: srs0=tvi6=fn=mydomain.com=sender@host.com

I tested a little bit more and it seems to depend on the account I am using:
When using an valid server@host.com everthing works fine.
When using valid sender@mydomain.com the Return-Path looks crazy, but From seems to be right.
When using valid root@id.vendor.com on my host with msmtp Return-Path and From lo

[2018-02-19 20:39] 17Halbe commented on #852
First of all try if this would help: https://github.com/tomav/docker-mailserver/issues/844#issuecomment-366208862
It might be easier than you think. ;) If that's the case, a update is on the way.
If it's actually the sender rewriting scheme daemon, I would need some more information, since to my knowledge there hasn't been a change to the OVERRIDE_HOSTNAME implementation recently nor to postsrsd.

[2018-02-19 20:43] boaorm commented on #854
Great, I did a reinstall today and had to add those two files to get it up an running.

[2018-02-19 21:13] mherfurt commented on #852
I added the files postfix-send-access.cf and postfix-receive-access.cf yesterday... after seeing the deamon complain about their absence in the logs. IMHO the described postsrsd issue is not related.

When postsrsd is running (in my case with the option '-d coreos.local', the receiving mailserver bounces back mails due to the header generated by postsrsd. The bounce reads as follows:
[code]
After

[2018-02-19 21:40] 17Halbe commented on #852
I‘m still curious why it worked before?! Any idea?
Would you like to provide a pull request?

[2018-02-19 22:10] mherfurt commented on #852
I am still curious as well. Since I am not pulling every single image, the issue was maybe introduced a longer time ago. Or maybe the issue existed already in earlier versions of my mailserver and I just did not notice the problems.
I am sorry for not being able to provide a pull request for this.

[2018-02-20 08:41] pn2 opened #855 "openDKIM key length"
This is a wish for a feature:

Some DNS servers restrict the length of TXT fields.
The opendkim default key length seems to have been increased from 1024 to 2048 bits. In my case, the DKIM entry now does not fit the TXT field anymore.

I now would like to have an option to shorten the key length back to 1024 bits to make it fit. I understand that it of course would be better to keep the longer key

[2018-02-20 12:28] dolanor commented on #779
@viveksuhanda Can you share your docker-compose.yml again with the declaration of the ldap service ?
And please put it into [code block](https://help.github.com/articles/creating-and-highlighting-code-blocks/)

[2018-02-20 12:31] dolanor commented on #843
You're right, even if I use let's encrypt, it's not what you recommended (certbot), therefore, it is as foreign to let's encrypt as a custom certificate.
Still, my question about the verification of `cert.pem` in the script still holds, since it is not used/referenced by the rest of the script.

[2018-02-20 17:43] #854 closed

[2018-02-20 17:54] johansmitsnl commented on #843
The cert.pem is indeed not used with Letsencrypt, I guess this is some copy/paste when adding Letsencrypt support in the past.

[2018-02-20 17:58] 17Halbe commented on #852
No problem. I'll see if I can trace down, why and what has changed tomorrow..

[2018-02-20 20:42] kortenkamp opened #856 "iOS 9 devices cannot send mails using SMTP"
The new cipher list introduced in #784 makes it impossible for iOS 9 based devices to send mail via SMTP. This is particularly bad for devices that cannot be upgraded to newer iOS versions.

Actually I found in the commit messages of #784 a note that the new cipher list should be checked.

This issue comes with a fix (sorry for not committing the patch as well). Just add the cipher `ECDHE-RSA-AES2

[2018-02-20 21:09] mwlczk commented on #856
could you please use postfix-main.cf to overwrite this one setting?
I am going to implement a setting/switch for this TLS settings, but didn't have time so far to finish it.

[2018-02-21 06:07] viveksuhanda commented on #779
@dolanor This is the docker-compose.yml file

version: '2'

services:
  mail:
    restart: always
    image: abc/docker-mailserver:latest
    hostname: x
    domainname: y.z.com
    container_name: mail
    ports:
      - "25:25"
      - "143:143"
      - "587:587"
      - "993:993"
    volumes:
      - maildata:/var/mail
      - mailstate:/var/mail-state
      - ./spamassassin:/tmp/spamassassin/

[2018-02-21 18:02] lokipo opened #857 "setup.sh throws error on "restrict""
When trying to use setup.sh to restrict an email-adress or list restrictions an error is thrown:

user@host:~/docker-mail$ sudo ./setup.sh email restrict list
OCI runtime exec failed: exec failed: container_linux.go:296: starting container process caused "exec: \"restrict-access\": executable file not found in $PATH": unknown

[2018-02-21 18:20] #857 closed

[2018-02-21 19:22] johansmitsnl commented on #779
When you enter the mailserver with bash, can you ping the ldapserver by its hostname? `frosty_stonebraker` or its ip?

[2018-02-21 21:09] thiesschneider commented on #611
hey @sereysethy, thx for your input. found the solution here: https://github.com/tomav/docker-mailserver/issues/844

[2018-02-21 22:29] mwlczk commented on #856
@kortenkamp PR #831 is supposed to fix your problem. still needs to be merged/fixed though.

[2018-02-22 09:06] mzedeler commented on #854
@johansmitsnl - I have both files and they are both empty:

    ls -l *access*
    -rw-rw-rw-. 1 root root 1 Feb 19 15:56 postfix-receive-access.cf
    -rw-rw-rw-. 1 root root 1 Feb 19 15:57 postfix-send-access.cf

I tired pulling the latest image and the problem is still there.

[2018-02-22 09:13] mzedeler commented on #854
It seems that `postsrsd` just dies without any log output:

    root@37b79c4bfa86:/# supervisorctl start postsrsd
    postsrsd: started
    root@37b79c4bfa86:/# ps axguww | grep posts
    postfix   1089  0.0  0.3  87644  3520 ?        Ss   09:04   0:00 postscreen -l -n smtp -t inet -u -s 2
    root      3052  0.0  0.0  11116   972 pts/0    S+   09:13   0:00 grep posts

[2018-02-22 09:21] mzedeler commented on #854
What causes this seems to be this line in `/etc/init.d/postsrsd`:

    test -r "$SRS_SECRET" -a -n "$SRS_DOMAIN" || exit 0

[2018-02-22 09:27] mzedeler commented on #854
I've been doing some more digging and it seems that `postconf -h mydomain` doesn't return anything when run by the init script. It works from the command line.

[2018-02-22 09:36] mzedeler commented on #854
I found the source of the bug - in /etc/default/postsrsd:

   SRS_DOMAIN=

But this is sourced *after* the defaults provided by the init script, so this empty value overrides the one set in the init script:

[code]

[2018-02-22 09:40] mzedeler commented on #854
And I tracked this back to:

    DOMAINNAME="$(hostname -d)"
    sed -i -e "s/localdomain/$DOMAINNAME/g" /etc/default/postsrsd

In ` postsrsd-wrapper.sh`.

[2018-02-22 09:50] mzedeler commented on #854
I found the issue: I'm running this without `docker-compose`, so I needed to add the flag `--hostname <my.host.name>` to make it work.

[2018-02-22 09:54] mzedeler commented on #854
It would be nice if there was a more explicit error message somewhere. I don't mind writing a patch for this. How about adding it to the postsrsd wrapper script?

[2018-02-22 09:54] mzedeler commented on #854
@johansmitsnl

[2018-02-22 10:17] dolanor opened #858 "DKIM with LDAP accounts"
Hi, I followed the tutorial in the wiki and it didn't generate anything from my current configuration using LDAP.
Digging deeper, I checked the script and saw it didn't check for LDAP accounts.
I will try to add this and make a PR if you can confirm my initial intuition.

Side question, does the regexp mail alias work with LDAP too? Is it possible to make it work?

[2018-02-22 10:30] 17Halbe opened #859 "Docker images are not building"
Docker image hasn't been build since [2018-02-15T23:06:01.690Z](https://hub.docker.com/r/tvial/docker-mailserver/builds/).
Anything I could help with?

[2018-02-22 17:48] johansmitsnl commented on #854
@mzedeler it is a good location to add it to the wrapper script. If you provide a patch I'll look in to it and merge it.

[2018-02-22 18:29] johansmitsnl commented on #858
Mail alias should work.
The generator also takes a domain argument.
https://github.com/tomav/docker-mailserver/blob/c36e878d76827fc7062558f1edada05d7ba38880/target/bin/generate-dkim-domain#L6

But auto detection of the ldap would be nice.

[2018-02-22 18:31] johansmitsnl commented on #859
I asked @tomav to check this, I don't have access to the docker managment of this project.

[2018-02-22 19:13] 17Halbe commented on #859
Thanks, let's hope for the best then! :)

[2018-02-22 21:36] helmutundarnold opened #860 "Is there a way to cleanup the docker logs output?"
Current when I run _`"docker logs <docker-container>"`_ the loglines start with the time from the latest docker-creation. If I checked the logfiles inside  of the container i.e. /var/log/mail/mail.info I can see they are rotated and there are only 4 files. Of course it would be possible to limit the output using
`_"docker logs --since 1h"_`,  but i fear that memory, disk, swap or something else fi

[2018-02-22 22:40] dolanor commented on #858
Oh! Fine!
I'm gonna use the domain script directly. Thanks!

[2018-02-22 22:40] #858 closed

[2018-02-22 22:44] dolanor opened #861 "Not being considered spam by outlook.com/hotmail.com"
Hi,

Thanks to this image, I'm finally not considered as spam by gmail thanks to SPF (which was the big blocker).
And I hoped by configuring the DKIM, I would be good with outlook.com .
Since a lot of my client love to use those exchange servers and now with office365, everything is on it, it's really bad for business to be considered as spam. Especially when my clients get me out of the spam fold

[2018-02-23 05:52] youaresofunny commented on #786
@mwlczk it is not only namecheap problem, got same at yandex and reg.ru

[2018-02-23 08:43] leokun commented on #855
I have the same problem, I cannot past all the key (about 16 digit missing)

[2018-02-25 20:14] #859 closed

[2018-02-25 21:58] 17Halbe commented on #852
Ok, took me some time..
Can you have a look at  #849 and if this would fix your issue as well?
(It didn't for me)
Otherwise the "bug" got introduced here: #814
Quick workaround would be to delete those lines in the `/etc/postfix/main.cf`:
[code]
(Command would be something like this: `docker exec mail sed -i /sender_canonical_/# sender_canonical_/g` and `docker exec mail sed -i /recipient_canonica

[2018-02-25 21:59] 17Halbe commented on #853
See https://github.com/tomav/docker-mailserver/issues/852#issuecomment-368348831
I guess that would fix your setup as well. Sorry, took me quite some time to figure that out.

[2018-02-26 05:13] Jdesk opened #862 "cannot deliver / send emails / login from thunderbird"
When testing this setup via thunderbird I get the error "Cannot get server configuration"

I am also using jwilders nginx proxy and let's encrypt companion.  I used this to setup ssl according to your wiki.

I am getting issues when starting this container - here is my setup and log file:

Here is my docker-compose.yml file:

version: '3.3'

services:

  mail-server:
    image: tvial/docker-mailse

[2018-02-26 07:22] johansmitsnl commented on #855
Can you provide a PR?

[2018-02-26 07:23] johansmitsnl commented on #859
There where errors but it is build now.

[2018-02-26 07:26] johansmitsnl commented on #862
See #847

[2018-02-26 10:33] 17Halbe commented on #859
Ok, well I got it with the latest Docker build from yesterday.. ¯\_(ツ)_/¯

...von unnerwegs...

[2018-02-26 11:15] akmet commented on #853
Yes, that fixed the problem!
Thank you very much for investigating.

[2018-02-26 11:15] #853 closed

[2018-02-26 13:36] Jdesk commented on #862
I added the two files and now I'm getting this:

mail-server    | Feb 26 13:35:03 mail dovecot: imap-login: Disconnected (no auth attempts in 0 secs): user=<>, rip=69.136.219.106, lip=172.18.0.8, TLS handshaking: SSL_accept() failed: error:1408F10B:SSL routines:ssl3_get_record:wrong version number, session=<e/XSkx1meN1FiNtq>

[2018-02-26 14:04] Jdesk commented on #862
Now getting this:

mail-server    | Feb 26 14:00:39 mail dovecot: imap-login: Error: Timeout waiting for      handshake from auth server. my pid=191, input bytes=0
mail-server    | Feb 26 14:00:39 mail dovecot: imap-login: Disconnected: Auth process      broken (disconnected before auth was ready, waited 92 secs): user=<>, rip=69.136.219.1     06, lip=172.18.0.8, TLS handshaking: SSL_accept() fail

[2018-02-26 14:55] Jdesk commented on #862
I also tested ssl/tls using docker exec mail-server openssl s_client -connect 0.0.0.0:25 -starttls smtp -CApath /etc/ssl/certs/

Verify Return Code 0 (OK)

So there doesn't seem to be an issue with the cert chain.

[2018-02-26 15:19] dolanor commented on #861
Well I did, I have SPF, DKIM and DMARC set and verified, and still, I arrive in spam for office365/hotmail/livemail users.
So I don't know what's wrong, what's left to configure.

[2018-02-26 15:32] Jdesk commented on #862
Docker logs mail-server output:

# mail.aimatz.com is up and running
#

Feb 26 14:35:53 mail amavis[443]: starting. /usr/sbin/amavisd-new at mail.aimatz.com amavis     d-new-2.10.1 (20141025), Unicode aware
Feb 26 14:35:53 mail amavis[443]: Net::Server: Group Not Defined.  Defaulting to EGID '111      111'
Feb 26 14:35:53 mail amavis[443]: Net::Server: User Not Defined.  Defaulting to EUID '109'
F

[2018-02-26 18:18] dmcgrandle opened #863 "latest build breaks ssl connections with Mac OS clients"
Hey team,

New issue just came up with the latest build.  Watchtower updates for me nightly at 1:00am and this time when the latest build came online it broke connection to mac OSX El Capitan (10.11) clients.

Once I reverted to the previous image, all is working again.  Logs clearly show an "unsupported protocol" issue with the latest build.  Here is the relevant output from /var/log/mail/mail.lo

[2018-02-26 18:19] mwlczk commented on #861
Microsoft Servers are very strict about allowed servers. It looks more like they are working with a white list instead of blacklist.
I had to validate my server with ms-servers. Follow the instructions from the bounced e-mail.

[2018-02-26 18:28] mwlczk commented on #863
Hey, we have a new security ENV-variable "TLS_LEVEL" (see#831). The default value is "modern"- which Is not supported by OpenSSL 0.9.8. Only the neweset Mac OS X has a newer SSL-library (LibreSSL supports modern ciphers).
In your case I suggest you set the env-variable to "intermediate".

[2018-02-26 18:31] johansmitsnl commented on #861
@mwlczk said is true. I personally use this site http://www.appmaildev.com/en/dkim to test the setup. If all ok your setup is good.

[2018-02-26 19:03] 42wim commented on #861
@mwlczk what validation did you have to do ? My mails don't get bounced, they just get accepted but appear in the spam filter of the users. (SPF, DKIM and DMARC enabled)

It seems like the only way to get sorta on the whitelist is to pay for it:
https://returnpath.com/solutions/email-deliverability-optimization/ip-certification/

http://mail.live.com/mail/troubleshooting.aspx for more info

[2018-02-26 19:19] dmcgrandle commented on #863
@mwlczk - that works, thanks.  I was looking through #831 and the string "TLS_LEVEL" doesn't show up in any of the comments, much less have a detailed description of what the different options are.  Reading through the PR and the changed files there does show it, and I now see there was an entry made in the README.md file as well.

@johansmitsnl - I would suggest that whenever we make a change whi

[2018-02-26 19:37] johansmitsnl opened #864 "Proposal release channels"
New changes introduce new issues or it might even break things that should not.
Right now the master branch is linked to the docker latest tag. There is no edge of development branch available and it might be useful to create one.

My proposal is to link master to docker:latest and add a new branch stable linked to the docker:stable.

This issue is to see if this sounds good and if there are sugge

[2018-02-26 19:37] johansmitsnl commented on #863
Wanting to introduce a stable and a edge channel for the docker builds. So that people that run latest are edge and other that prefer a more stable solution run the stable releases.
Now due to new features things break because of the lack of specific tests or simple missed it.
Then we can do better releases and update the changelog accordingly so users get better info about the changes and if it m

[2018-02-26 21:47] mwlczk commented on #861
Hi @42wim and @dolanor, my mails have been bounced with this message:

    example.mail.protection.outlook.com[SOM.EIP.STR.ING] said: 550
    5.7.606 Access denied, banned sending IP [MY.SER.VER.IP]. To request
    removal from this list please visit https://sender.office.com/ and follow
    the directions. For more information please go to
    http://go.microsoft.com/fwlink/?LinkID=526655 (AS1601

[2018-02-26 21:59] mwlczk commented on #864
Hi @johansmitsnl  this sounds good. and i don't mind to have an extra branch with more "edge"-development.
Here is the thing: When do we decide to move new functionality to a stable branch? At some point we have to do it, in that moment it would break the stable branch for some people even if the patch was completely fine.
What if we have a latest (or edge) and additionaly start numbering the stab

[2018-02-27 07:26] johansmitsnl commented on #864
The decision to release features could be made based on the time in development. Example: I only merge every 2 weeks new features and before I start merging the issues with the last pulled features should have been solved and I create a release of that stable/development version.
Then the window opens again to pull in new changes and we start testing them again for 2 weeks.

On the docker hub ther

[2018-02-27 14:52] dolanor commented on #861
Ok, I tried your email tester @johansmitsnl , I'm actually listed on spamrats because my whole IP range is blacklisted… Yeah. I will try to get it delisted, but it seems it will require some work.

Thank you!

The whole rest is good.

[2018-02-27 17:02] pepmadon opened #865 "Following Let's encrypt need clarification on mount step"
Let's encrypt (recommended)

To enable Let's Encrypt on your mail server, you have to:

    get your certificate using letsencrypt client
    add an environment variable SSL_TYPE with value letsencrypt (see docker-compose.yml.dist)
    mount your whole letsencrypt folder to /etc/letsencrypt
    the certs folder name located in letsencrypt/live/ must be the fqdn of your container responding to the

[2018-02-27 17:36] #861 closed

[2018-02-27 19:21] mwlczk commented on #855
This is a duplicate of #786 .
In fact debian uses key size length of 2048 as default since January 2017(!) Those bloody debians living on the edge ;)

  * Set umask to 0007 in opendkim.service so opendkim socket is group readable
    (Closes: #851141)
  * Set opendkim-genkey to default to 2048 bit sha-256 only keys based on
    current best practices
  * Add debian/patches/nsupdate_output.patch to

[2018-02-28 03:19] boaorm commented on #865
Hi,

In docker-compose.yml:
    volumes:
    - /etc/letsencrypt:/etc/letsencrypt:ro
    - maildata:/var/mail
    - mailstate:/var/mail-state
    - ./config/:/tmp/docker-mailserver/

Hope this works for you :)

[2018-02-28 03:24] boaorm commented on #864
Great! Thanks for initiating this! I would love to have a stable branch with security updates only :)

[2018-02-28 03:31] pepmadon commented on #865
I had that without the   :ro I assume its READ ONLY.
It worked Thanks so much!

[2018-02-28 03:31] #865 closed

[2018-02-28 14:53] boaorm opened #867 "ufw does not work as expected"
Hi,

I noticed that the mailserver ports were opened although they had been closed by ufw:

[https://askubuntu.com/questions/652556/uncomplicated-firewall-ufw-is-not-blocking-anything-when-using-docker](https://askubuntu.com/questions/652556/uncomplicated-firewall-ufw-is-not-blocking-anything-when-using-docker)

Possible quick fix: Can we bind to localhost 127.0.0.1 instead of all interfaces 0.0.0

[2018-02-28 16:45] Pingbo commented on #628
I have the same issue, tried the solution of @techgourmet and @YouriT, but still sending spam...

[code]

I used the following yaml:

[code]

[2018-02-28 17:10] johansmitsnl commented on #867
Don't expose the ports isn't an option?

[2018-02-28 17:18] johansmitsnl commented on #628
What version of the docker image are you running?
Current image is:
`tvial/docker-mailserver                                   latest              c8ebefa3c259        21 hours ago        513MB`

I ask this because I'm missing the new `postfix/postscreen` feature in the logs you send.

[2018-02-28 17:47] boaorm commented on #867
I guess it depends on the hosting provider. If this isn't easy to fix I'd label this as low priority.

In my case the hosting provider has an external firewall but all internal customers can still access one another. So ufw would be a nice extra security feature, eg. limiting imap access to specific IPs.

According to the link: the ports are opened directly in iptables and therefore ufw is bypasse

[2018-02-28 17:50] johansmitsnl commented on #628
could you enter on gitter for a chat?
https://gitter.im/tomav/docker-mailserver

[2018-02-28 17:56] johansmitsnl commented on #867
This is not related to the project but with docker itself.
Read https://docs.docker.com/network/iptables/#restrict-connections-to-the-docker-daemon and especially
**Prevent Docker from manipulating iptables**

You can always decide to not map all ports public
https://github.com/tomav/docker-mailserver/blob/2687469f38715c34a8a006bc90a40d3b2c18fe3e/docker-compose.yml.dist#L8-L12

[2018-02-28 19:34] johansmitsnl commented on #628
After some chatting with @Pingbo it looks like a firewall issue. The source IP of the client connecting to the docker is masqueraded and does not show the real IP. Because of the docker host permit the local ip's are permitted and therefore allows everyone to send. He is investigating.
@YouriT do you also run with iptables disabled for docker?

[2018-02-28 19:39] Steiniche commented on #628
@johansmitsnl nice that you guys are looking into this.
When you say firewall issue is it an external firewall, as in external to docker or something related to the container it self?

[2018-02-28 19:51] Pingbo commented on #628
@Steiniche
In my case i'm running docker behind an ufw firewall, so ufw is masquerading the traffic...
Thats the only problem with ufw and docker together. Because if you want ufw you need to disable iptables in docker...
Therfore i have to put in a direct nat that the container will get the "real" source IP again.
So thats a general issue with docker/ufw not with the image

[2018-02-28 22:08] boaorm commented on #867
Alright thanks!

So basically binding to localhost/127.0.0.1 would actually not be a fix since mailserver wouldn't be reachable from the internet.

[code]

The docker networking infrastructure would probably need more than a few simple ufw lines. I'm gonna leave this be :)

[2018-02-28 22:15] #867 closed

[2018-03-01 00:41] dolanor commented on #861
Just an update.

Instead of getting delisted, I was wondering if I could use one of my Failover IP address that could be clean. I had one that wasn't listed, so I used it.
Problem was, that the mail was still sent through the same main IP address. I had to add some iptables rules to make it work. Following moby/moby#30053 I found [tozd/docker-external-ip](https://github.com/tozd/docker-external-ip

[2018-03-01 06:31] pepmadon opened #869 "multiple domains under same mailserver"
I am able to run the docker mailserver with one domain, certs and DKIM.
After seeing this closed issue https://github.com/tomav/docker-mailserver/issues/820 I am still unsure how to configure the docker mail-server with two domains
Using DigitalOcean I have one droplet with two domains and two separate DNS panels so I am able to
configure separate records for each domain.
-------------------------

[2018-03-01 07:16] johansmitsnl commented on #628
@Steiniche do you also have a similar setup?
Would be nice if it matches up so we got track of the problem and focus on how to solve.

[2018-03-01 07:17] johansmitsnl commented on #867
Please check #628 and join in when your changing your ufw. Maybe you solved this already?

[2018-03-01 07:21] johansmitsnl commented on #869
Both MX records and spf txt records should be the same as the primary domain of the server.

DKIM needs to be uniq for each domain.

[2018-03-01 08:28] 17Halbe commented on #864
Sounds good and reasonable!
The only thing I would be worried about, is if we are enough people on the testing branch to really test the new features. We would need many different setups to be tested on the dev branch in production, otherwise we just delay possible breaking changes to be merged to latest/stable. See: [Works for someone but not all of us ;)](https://github.com/tomav/docker-mailserv

[2018-03-01 08:39] 17Halbe commented on #862
What is the message from thunderbird now? is it still not getting a server config?
What is the thunderbird version?( tls_process_client_hello:version too low)
What port are you using to connect to the mail server?

[2018-03-01 08:45] 17Halbe commented on #860
Would that help: [Docker-compose Logging](https://docs.docker.com/compose/compose-file/#logging)?
In a different container I use something like this:
[code]

[2018-03-01 12:51] boaorm commented on #628
Hi all, I had an issue with ufw and docker and came to the conclusion below. Please correct me if I'm wrong! :)

I guess ufw and docker aren't really compatible since it seems that ufw places its iptables rules after docker, hence the ufw rules are not evaluated for docker services.

Disabling the default docker iptables rules and going for a custom "bridging/host network and iptables" approach (w

[2018-03-01 17:46] johansmitsnl commented on #864
That's true. But most users have latest now and they might be lazy in switching so I guess we keep a good userbase in dev.

[2018-03-01 18:48] pepmadon commented on #869
Thanks seems to work now!

spf txt record to both domains:
Added the following to domain 1
TXT | @ | "v=spf1 a include:_spf.gyyyy.com ~all"

And domain 2 now looks like this now,  note( dropped MX | mail.gzzzz.com.gzzzz.com | 138.xxx.xx.01)
gzzzz.com
TXT | @ | "v=spf1 a include:_spf.gyyyy.com ~all"
MX | gzzzz.com | mail.gyyy.com.
A | gzzzz.com | 138.xxx.xx.01
etc...

[2018-03-01 19:36] #869 closed

[2018-03-02 15:40] boaorm commented on #840
Got some more data on this issue:
Adding an alias for an already "postgrey-not-working-email-address" and postgrey will work for this alias once.

[2018-03-02 17:56] Steiniche commented on #628
@johansmitsnl no my server does not run ufw so unfortunately this does not seem to be the pattern.
At least not for the issue I am experiencing.
I still believe the problem to be affect by AV

[2018-03-02 18:19] johansmitsnl commented on #628
@Steiniche when you connect to the docker you see the real client ip or the ip of the docker network?

[2018-03-02 18:20] johansmitsnl commented on #628
@Steiniche AV as in Antivirus?

[2018-03-02 18:25] Steiniche commented on #628
@johansmitsnl yeah specifically ENABLE_CLAMAV=1
When CLAMAV looks at the mail and decides it can be passed it will be passed with an internal docker IP which makes postfix think that the sender is okay.
At least that is my current though process about it.

[2018-03-02 18:28] johansmitsnl commented on #628
@Steiniche Could you provide a log with and without clamav enabled?
Clamav does only scan the email and does not mangle the IP.

[2018-03-02 19:27] mzedeler opened #870 "Postscreen is blocking sending with authorized SMTP"
It seems that https://github.com/tomav/docker-mailserver/pull/799 is currently stopping me from sending outgoing mail, because my IP address is listed by spamhaus (ask my ISP why that is):

    Mar  2 19:25:28 mail postfix/postscreen[3222]: CONNECT from [X]:17308 to [Y]:25
    Mar  2 19:25:28 mail postfix/dnsblog[3227]: addr X listed by domain b.barracudacentral.org as 127.0.0.2
    Mar  2 19:25:2

[2018-03-02 20:37] johansmitsnl commented on #863
@mzedeler Keeping it on the latest release will never increase security. Due to not having analytics of the servers and clients connecting we try to follow the security standards.

[2018-03-02 20:39] johansmitsnl commented on #870
See #838

[2018-03-02 21:26] johansmitsnl commented on #863
Close the issue, solution is to lower the TLS_LEVEL

[2018-03-02 21:26] #863 closed

[2018-03-02 21:27] johansmitsnl commented on #860
@helmutundarnold the answer of @17Halbe worked for you?

[2018-03-02 21:29] johansmitsnl commented on #856
The PR is merged now. You can lower the the TLS level: https://github.com/tomav/docker-mailserver#tls_level

[2018-03-02 21:29] #856 closed

[2018-03-02 21:29] johansmitsnl commented on #855
#868 is merged. You can now generate with any key size

[2018-03-02 21:29] #855 closed

[2018-03-02 21:31] #850 closed

[2018-03-02 21:32] johansmitsnl commented on #843
Can you provide a PR to fix it?

[2018-03-02 21:32] johansmitsnl commented on #841
@viveksuhanda did you solve it?

[2018-03-02 21:33] johansmitsnl commented on #840
@boaorm Could you create a test for this and do you know how to solve it?

[2018-03-02 21:34] #838 closed

[2018-03-02 21:34] #833 closed

[2018-03-02 21:35] johansmitsnl commented on #832
Could you provide a PR for the change to see what might break?

[2018-03-02 21:36] johansmitsnl commented on #805
@jeffwji did you solve it?

[2018-03-02 21:37] johansmitsnl commented on #792
Did the error got tracked down? Can someone provide a PR?

[2018-03-02 21:37] johansmitsnl commented on #755
@lonly197 Is this still an issue?

[2018-03-02 21:39] johansmitsnl commented on #680
Is this solved?

[2018-03-02 21:40] #640 closed

[2018-03-02 21:40] johansmitsnl commented on #839
@akmet could you suggest a PR for this?

[2018-03-02 21:45] johansmitsnl commented on #611
@Rajh did this issue got solved with #814?

[2018-03-02 21:45] johansmitsnl commented on #559
It should be solved with this PR: #814

[2018-03-02 21:45] #559 closed

[2018-03-02 21:46] johansmitsnl commented on #524
It could be solved once #825 will be merged.

[2018-03-02 21:47] #717 closed

[2018-03-02 21:48] johansmitsnl commented on #721
Is this still an issue?

[2018-03-02 21:49] #756 closed

[2018-03-02 21:50] #634 closed

[2018-03-02 21:50] #606 closed

[2018-03-02 21:51] #737 closed

[2018-03-02 21:51] #773 closed

[2018-03-02 21:52] #729 closed

[2018-03-02 21:53] johansmitsnl commented on #772
could you list the files in the /my/path/to/cert/folder/ directory?

[2018-03-02 21:54] #763 closed

[2018-03-02 21:55] johansmitsnl commented on #802
Is it still an issue?

[2018-03-02 21:55] #770 closed

[2018-03-02 21:56] johansmitsnl commented on #820
See also #869

[2018-03-02 21:56] #820 closed

[2018-03-03 10:55] scrwr commented on #838
Thanks guys.

Changed the setup according to your recommendations.

[2018-03-03 12:55] MIvanchev commented on #721
I think so, but it's not a severe one, because there's a workaround. And it only affects certain setups. I would close it. In case someone encounters the issue and needs a fix:

you're probably encountering it, because you have bound the log directory of the server to preserve the logs, e.g. something like `/home/<someuser>/logs/mailserver:/var/log`. In this case create a directory called `mail` i

[2018-03-03 12:55] #721 closed

[2018-03-03 13:39] pepmadon commented on #862
I don't know if this will help
I did same setup in docker-compose.yml as above but I created my email with the ./setup.sh not inside docker compose.
After trying to configure Thunderbird  a few times I noticed connection refused so I checked the fail2ban log and found out I was banned.
For testing Thunderbird I deleted the docker container, disabled fail2ban in the docker-compose.yml
- ENABLE_FAIL

[2018-03-03 17:42] Exadra37 commented on #832
I can, but once I am not using this mail server or any other one for now I may not be the best person to fully test it, thus the current users will have to ensure it does not break anything ;)

[2018-03-03 20:36] alexanderkjeldaas commented on #852
I'll just chime in and say that with a dog standard docker setup, I also had to remove those 4 lines to make it work.

They also removed this stream of warnings:
[code]

[2018-03-03 21:24] 17Halbe commented on #862
Looks like you blocked your IP.
See [debug fail2ban section](https://github.com/tomav/docker-mailserver/wiki/Setup-docker-mailserver-using-the-script-setup.sh#debug)
You should be able to get a list of blocked IP-Addresses.

[2018-03-03 21:43] 17Halbe commented on #852
Thanks for reporting!

[2018-03-03 21:50] 17Halbe commented on #840
Can you try starting your container with those environmental variable only:
[code]
I'm a bit confused why this is not working.. :/

[2018-03-04 01:38] pepmadon commented on #862
17Hable I hope you are not replying to me, Jdesk needs to report back. I posted  the configuration that works with Thunderbird. I was suggesting to JDesk he might have banned his own IP. I have been using Thunderbird with the docker mail-server container with no problems.

[2018-03-04 01:58] akmet commented on #839
I am using it currently on my host but I think it would be much better when it is inside the docker. Over the next week I should have enough time for that! :)

What do you guys would prefer:
An env variable like DAILY_SUMM and then every night a summery is send to postmaster or a SUMM_USER mail account? Using cron with @daily and output yesterdays Summery?

[2018-03-04 06:16] 17Halbe commented on #862
Ah, right you are! So nevermind! ;)

[2018-03-04 13:57] viveksuhanda commented on #841
@johansmitsnl Actually in the earlier solution by putting private and public IP of classic ELB in mynetworks part of main.cf the issue was classic ELB changes it IPs after several interval of time
Hence, I tried putting the both the subnet's private address in which the VM are located  in mynetworks part of main.cf and I was able to send mail
This same I have to test it with network load balancer

[2018-03-04 14:40] akmet commented on #839
@johansmitsnl I could not found any mail client. Wasn't it just not needed in the past or is there an agreement to use other methods? I have not worked this much with mail servers in the past and maybe just dont really understand enough whats going on 😆

[2018-03-04 15:41] pirmax opened #873 "This Docker container doesn't works for me..."
I have a fresh installation of Debian 9 and I have installed this docker container.

But, when I access to my domain, the page doesn't start : **ERR_CONNECTION_REFUSED**

Could you help me please?

[2018-03-04 15:45] 17Halbe commented on #873
You are trying to access the domain how? With a Webbrowser? Thunderbird? Telnet? What program is issuing the error message? What is the output of `docker-compose up`? What port are you connecting to?

[2018-03-04 15:59] pirmax commented on #873
They is my logs of container: https://pastebin.com/raw/MxVsNURs

I try to access to mail.domain.tld. But I get this Google Chrome error: **ERR_CONNECTION_REFUSED**

[2018-03-04 16:02] 17Halbe commented on #873
Thanks.
This is a mail server. It doesn't have a web interface. You can connect to it via a client (Thunderbird, Smartphone mail app, etc)
See [FAQ](https://github.com/tomav/docker-mailserver/wiki/FAQ-and-Tips#how-can-i-configure-my-email-client)

Additionally did you edit the .env file to your needs?

[2018-03-04 16:03] pirmax commented on #873
Oh okay, I think is webmail interface... I not know read :)

[2018-03-04 16:19] johansmitsnl commented on #839
You could add to the `apt-install` the package: `bsd-mailx`
Somewhere here:
https://github.com/tomav/docker-mailserver/blob/253c8faef61c3544ddb006c291105b02dd8febc3/Dockerfile#L20-L22

[2018-03-04 16:52] mzedeler commented on #864
I would *really* like if the releases are backwards compatible. On one hand, I want my server to pick up the latest changes to stay up with the latest security related patches, but it becomes a game of whack a mole if stuff breaks on every release.

Another way to see this is that we should consider how the release cycle should look like in the consumer end. Should people just track the latest sta

[2018-03-04 17:04] Steiniche commented on #628
Here is one mail which seems to go through with a standard docker-mailserver container.
It seems to be happening with and without clamav being enabled.

`Mar  4 16:35:27 mail postfix/postscreen[895]: CONNECT from [172.21.0.1]:42624 to [172.21.0.2]:25
Mar  4 16:35:27 mail postfix/postscreen[895]: WHITELISTED [172.21.0.1]:42624
Mar  4 16:35:27 mail postfix/smtpd[896]: connect from unknown[172.21.0.1

[2018-03-04 17:17] 17Halbe commented on #873
So this can be closed, right?

[2018-03-04 18:10] johansmitsnl commented on #864
@mzedeler agree. When possible we keep them backwards compatible, but sometimes changes are needed.
Also with better release management and changelogs we want them easier to track when incompatible changes where introduced but we want to keep those to a minimum and with introducing tags you could also use a tagged release. Currently waiting tomav to make the changes to the docker repo.

[2018-03-04 18:14] johndevs opened #874 "DKIM validations fails with latest version"
Hi,

I recently updated to the latest version and now my DKIM validation is failing and causing for example Gmail to consider my mails as spam.

I tested the validation with http://www.appmaildev.com/en/dkim and indeed the DKIM validation is failing.

Here is an example result:
[code]

What I don't understand is that the body hashes are correct but the DKIM validation still is failing with the bad

[2018-03-04 18:16] johansmitsnl commented on #628
@Steiniche thats what I thought, I run with clamav on and don't experience this.

My docker-compose file is, I use a specific network for my docker containers. You can ignore the ipv6 is not available but it is the bridge driver, you use this to?
[code]

[2018-03-04 18:26] johansmitsnl commented on #874
Just tested myself and it is ok on my setup.
Signing is the last step of the message so no modification should be done.

I run this image:
[code]

[2018-03-04 18:38] johndevs commented on #874
I'm running the image from a week ago:
[code]

Has something changed regarding this in that time?

[2018-03-04 18:58] Steiniche commented on #628
Yeah I use a specific network as I use docker-compose, it just creates a default bridge network to use.
Furthermore, I run with:

`cap_add:
  - NET_ADMIN`

To allow FAIL2BAN to work, but it does not seem to do much though.

[2018-03-04 19:59] tomav commented on #873
Hi @pirmax, just saw your tweet. Github is obviously the best place to get support.
@17Halbe is right, this is a mailserver, not a webmail (which can be plugged on top of this project).

[2018-03-04 19:59] #873 closed

[2018-03-04 20:03] johansmitsnl commented on #874
it should not, can you try the latest image?

[2018-03-04 20:04] johansmitsnl commented on #628
but you have this problem with all server like applications?
Like apache/nginx etc..?

[2018-03-04 20:23] mwlczk commented on #874
@johndevs when was the last time the dkim validation worked for you? On 31st Dec we upgraded nearly every package, i.e. opendkim aswell, of the server. Nothing should have changed for you though, unless you re-generated the dkim-keys.
Check with your DNS if it is capable of 2048 Bit size of the dkim key. This is the new default key size, but some DNS services do NOT support it yet.
All docker-imag

[2018-03-04 21:55] BirgerK commented on #680
I don't think so, no.

I tried to set the expanded LDAP options, but an error got thrown. @alinmear wanted to investigate this, and I'm waiting for this. :)

[2018-03-04 22:28] andihit commented on #861
The blacklisted IP gets your mails into the spam folder, and the clean IP gets your mails bounced?

My IP isn't on any blacklist, and mail-tester.com and appmaildev.com/en/dkim didn't show any problems, but still my mail also gets into the junk folder. I asked the Outlook.com Deliverability Support Team, but they told me everything is fine with the IP and the mail is flagged as spam due to their p

[2018-03-04 22:49] alexanderkjeldaas commented on #487
fail2ban doesn't work with swarm mode.

[2018-03-04 22:55] alexanderkjeldaas opened #875 "Find alternative fail2ban setup for docker swarm mode"
In swarm mode, CAP_NET_ADMIN can't be set for iptables to work.

An alternative way to do this is to run fail2ban on the host and having a pre-cooked setup for the required rules.

Yet another alternative is (maybe?) to have a separate docker image that runs outside of swarm mode, with `--net=host` and with some sort of access to the logs of the swarm service.

Maybe there are other setups, but fo

[2018-03-05 15:20] boaorm commented on #840
Ok I started by creating a new alias; postfix is restarts:
[code]

So now postgrey works:
[code]

[2018-03-05 16:17] Steiniche commented on #628
@johansmitsnl I am unsure what you mean about "this problem" and "all server like applications"?

What I am experiencing is that this docker image seem to have some unsafe defaults which allows it to be used as an open relay in some cases.

[2018-03-05 16:25] boaorm commented on #840
Hey! Turns out that this actually works as designed. I'm new to all of this. Sorry for the trouble! At least this got me involved into the project, I'll try to contribute as much as I can :)

[2018-03-05 16:26] #840 closed

[2018-03-05 17:34] johansmitsnl commented on #861
@andihit outook.com/hotmail.com etc.. flags my calendar invites as spam but emails not. They are very picky but why is always the question.

[2018-03-05 17:38] johansmitsnl commented on #875
The issue is much lower in the docker stack. See https://github.com/moby/moby/issues/25526 for the ongoing issue there.

[2018-03-05 17:50] johansmitsnl commented on #628
@Steiniche I think the "unsafe" defaults are related to the limitation of the docker setup you run that masks the original IP and communicates with the docker network IP that you allowed with [PERMIT_DOCKER](https://github.com/tomav/docker-mailserver#permit_docker).
When you change the variable to "empty" is it still an open relay?

With "all server like applications" I mean when you have nginx ru

[2018-03-05 18:15] Jdesk commented on #862
I will try this and report back - just curious as I am new to this - what do I run to unblock ip addresses with that script?  Specifically what is the command

[2018-03-05 18:18] Jdesk commented on #862
nevermind I see it - however will fail2ban block all ip addresses?  will I need to manually run the script for every ip that will try to use this mailserver?

[2018-03-05 18:18] Steiniche commented on #628
Thanks for clarifying.
When I run the debugging-simple-server I actually get a 172.xx.xx.xx/16 IP which is the docker internal network IP.
The same goes for the nginx container.
It does not seem to be related to the `PERMIT_DOCKER=host` configuration as this was not configured in the nginx and debugging-simple-server tests.
I think you are right that this can lead to the "unsafe" defaults in the c

[2018-03-05 18:42] nicklayb opened #876 "Container not using Let's Encrypt certificates"
I'm trying to setup LE certificates into the container but it still uses the self signed one.

my `docker-compose.yml` :
[code]

In my .env file I have correctly setup the following `SSL_TYPE=letsencrypt`

As I see in issue #94 the command :
`docker exec mail openssl s_client -connect 0.0.0.0:25 -starttls smtp -CApath /etc/ssl/certs/`
It should output something like
[code]
but instead I have
[code

[2018-03-05 19:03] johansmitsnl commented on #628
@Steiniche thats what I thought. The PERMIT_DOCKER is a ENV variable that works only for the mailserver image.
The network driver you use is also bridge? Can you post the section of the network and image definition of your compose file? What OS are you running on?
I use Ubuntu 16.04 for my server.

[2018-03-05 19:04] johansmitsnl commented on #876
The hostname of the server should match the domain name of the mail certificate directory.

[2018-03-05 19:06] nicklayb commented on #876
It does. The hostname of the container is mail.mydomain.com and so is the certificates

[2018-03-05 19:30] Jdesk commented on #862
I have disabled all security environmental variables and still am getting this:

[code]

[2018-03-05 19:34] Jdesk commented on #862
here is my docker-compose file:

[code]

At this point I'm at a complete loss - I am using apple mail now.   I am getting the error "unable to verify username and password" .

I mean I disabled every single security setting and still am getting errors... I can't think of anything I've done wrong at this point.

[2018-03-05 20:59] Steiniche commented on #628
The network driver is bridge, it is create with everything default, therefore there is no network section in my compose file.
I am running on a synology.

The important parts of my compose file can be found below

[code]

[2018-03-05 21:22] nicklayb commented on #876
You were right, I thought they where the same but my host hostname has to be the fqdn of the container.

I updated the `OVERRIDE_HOSTNAME` key in .env to the fqdn and it works perfectly?

Thank you!

[2018-03-05 21:22] #876 closed

[2018-03-05 21:36] johansmitsnl commented on #628
Looks like a synology issue. Don't know this platform well, are there simular issues on the internet for this device?

[2018-03-05 21:56] mathuin opened #877 "Traefik certificate support?"
https://docs.traefik.io/configuration/acme/#storage

Traefik stores its certs in a JSON file.  Is there any interest in supporting these certs?  Previously my cert generation tool wrote to files so I could use manual, this is ... different. :-)

[2018-03-05 22:03] Steiniche commented on #628
It seems to be more of a moby problem: https://github.com/moby/moby/issues/15086

[2018-03-06 00:58] mathuin commented on #877
https://github.com/containous/traefik/blob/master/contrib/scripts/dumpcerts.sh

This script provides the logic necessary to extract certificates and private keys.  It looks like "a simple matter of `jq`" -- if the domain is known (which it should be) the individual cert/key combination can be extracted into memory as if it were being read from a file.

[2018-03-06 07:58] pepmadon commented on #862
You should not have to set any security settings to 0 .
The only time you have to unban an ip is if you test your connection more than three times and you get yourself banned for incorrect sign in.

Test your email with this site
http://www.checktls.com/perl/live/TestReceiver.pl
looks like its trying to run through  amazons smtp  then a second time to your server named
dc-0b636d042a9a.aimatz.com

[2018-03-06 08:25] andihit commented on #861
@johansmitsnl: from the first mail on, or did you have to train microsofts junk filter by marking lots of messages as non-junk?

The only "unusual" config I have is that my mailservers hostname (and rDNS entry) is different from the `From:` header. But all domains have the correct DNS entries (checked with mail-tester.com and appmaildev.com/en/dkim), so theoretically this shouldn't be an issue. Wh

[2018-03-06 09:43] vedtam opened #878 "Correct way of removing unused accounts"
Hi,

Thanks for this wonderful docker image.

I would like to remove some of the unused accounts and wondering if all I have to do is to remove the account from the `postfix-accounts.cf` and log into the container to delete its folder from `/var/mail/myaccount.com` as well?

Or is there maybe another way?
Thanks.

[2018-03-06 12:15] 17Halbe commented on #878
If you got aliases set up you could also delete those in the respective file. Except that, your actions would be enough, yes.
You could also use the [setup script](https://github.com/tomav/docker-mailserver/wiki/Setup-docker-mailserver-using-the-script-setup.sh) but as I just realized this wouldn't delete the maildir itself nor the aliases but only remove the user.
Probable Enhancement?! Would you

[2018-03-06 13:15] kiliant commented on #792
This seems indeed to be an arch-related issue (_/sbin/init_ being not existent). As I am also experiencing this, I have tracked it down and fixed it.
Give me one more day to test whether the actual mail does not arrive any more, then I will submit a PR.

[2018-03-06 14:18] Starbix commented on #792
I use unRAID where /sbin/init exists. Also how would that affect the container?

[2018-03-06 14:29] kiliant commented on #792
Well, on both my host and my ws (running arch) _/sbin/init _ is indeed existing, but NOT inside the container, which might likely be the problem leading to the above error message. idk if it is existing when using another host os.

[2018-03-06 18:53] johansmitsnl commented on #861
I never got hold of why it is not working. If someone can tell me please do, spend already to much time on them (Microsoft).

[2018-03-06 20:43] Jdesk commented on #862
I believe the first issue I am having is with the SSL config.  My certs were generated per your instructions on the wiki using nginx-proxy and letsencrypt.  Their relative path is as follows:

/docker/nginx/certs/mail.aimatz.com

Here is my latest config.  I have disabled all security plugins to tackle this one issue at a time:

`version: '3.3'

services:

  mail-server:
    image: tvial/docker-ma

[2018-03-06 21:29] akmet commented on #792
I'm also getting this messages and I am using Debian Jessie. /sbin/init exists on my host but not inside the container

[2018-03-06 22:12] pepmadon commented on #862
I am not the author of the container or the wiki, just someone who uses the container.

dc-0b636d042a9a.aimatz.com is this your A record in your DNS setup?

test email again shows the server is looking for Host "dc-0b636d042a9a" which has a  FQDN of dc-0b636d042a9a.aimatz.com your docker mail container host is "mail" which has a  FQDN mail.aimatz.com
test email site is looking for email certs on d

[2018-03-06 22:37] Jdesk commented on #862
I updated my DNS to match your record setup above - Also to answer your question as to why dc-0b636d042a9a.aimatz.com is showing up as the MX record in DIG, I was attempting to setup amazon SES and updated my DNS config yesterday with that record.  I have changed the DNS today and I guess it has been slow to update.   I'm using cloudflare for this project.

[2018-03-06 22:50] Jdesk commented on #862
Furthermore I added ~/docker/nginx/certs/mail.aimatz.com:/etc/letsencrypt/live/mail.aimatz.com:ro to the volume and now tls is working - I had to add the "~"

[2018-03-06 22:50] pepmadon commented on #862
Your site should be aimatz.com or www.aimatz.com
 You can add  :
          CNAME rec of www.aimatz.com

THEN
dig aimatz.com ANY +noall +answer
and you should see DNS recs when the server is propagated

Again test
http://www.checktls.com/perl/live/TestReceiver.pl

[2018-03-07 04:12] Jdesk commented on #862
Once DNS propagates, I should be able to use my mail client and connect - I'm hoping this is what happens.   Logs are not showing any errors at this point in the container -

just curious for your second mx record you have:

MX | mail.YOURDOMAINNAME.com.YOURDOMAINNAME.com | 1xx.xxx.xx.x0

How can you setup a dns record like that with your host ip within an MX record?  Im using cloudflare - this is

[2018-03-07 04:57] Jdesk commented on #862
So I can send and receive emails - only issue is - when sending an email to a free email account through yahoo or gmail this is the error I get -

[code]

For gmail this is what I get:
[code]

I can receive emails from gmail and yahoo mail accounts however.

[2018-03-07 07:39] johansmitsnl commented on #862
This looks like your firewall (provider) is blocking port 25 outgoing.
Try to `telnet gmail-smtp-in.l.google.com 25` to the server
You should see this:
[code]
I guess you will get a timeout. And this is not image related.

[2018-03-07 09:32] kiliant commented on #792
issue is indeed fixed on my end in #879

[2018-03-07 11:25] boldt opened #880 "Thunderbird + LE + SMTP_ONLY = Issues with amavis + SASL"
* If set up the initial server wrt to the README (with Let's Encrypt), everyting worked fine. I can send mails with SMTP from Thunderbird.
* If I **only** set the flag `SMTP_ONLY=1`, I cannot send mails from Thunderbrid anymore.

**Current workaround**: use `SMTP_ONLY=` and only expose port 587.

### Issue 1: amavis

I see plenty of amavis logs:

[code]

### Issue1: SASL

Something seems to be con

[2018-03-07 14:31] pepmadon commented on #862
If you run dig on your fqdn www.aimatz.com it looks like you created it as an MX record that should be a CNAME

Your mx record is www.aimatz.com which is wrong it is not the mail exchange.

**dig www.aimatz.com mx**

; <<>> DiG 9.10.3-P4-Ubuntu <<>> www.aimatz.com mx
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 3503
;; flags: qr rd ra; QUERY: 1, ANSWER

[2018-03-07 16:30] Jdesk commented on #862
I actually updated firewall rules "ufw allow 25" and I'm still getting a timeout.   I updated cloudflare dns so it's not running through their proxy.  The DNS is correct at this point.   I still cannot send any emails to free email servers - Any other thoughts?

Sidenote - telnet to gmails server on port 25 from my home computer times out as well.

[2018-03-07 16:38] Jdesk commented on #862
Any other ideas here?

[2018-03-07 17:52] pepmadon commented on #862
My  advice is to get the site https://aimatz.com or https://www.aimatz.com working with a cert first then worry about the docker mail container.
The DNS is not set up correctly.
Ngnix is not setup correctly for a secured site. Did you even configure ngnix for your secured site?
Your site has a 503 error, and is UNSECURED  for aimatz.com is this port 80?, fix this Ngnix issue.

I use apache and the

[2018-03-07 18:16] Jdesk commented on #862
There is no site at the moment - it's just being used for the mail-server.  Therefore we don't need anything on port 80 or 443.

[2018-03-07 18:35] pepmadon commented on #862
What do you mean for the moment are you going to configure multiple instances with cloudfare? Are you going to have separate running instances for each service, mail and https? or are you going to run all on one instance. Are all your services going to be in docker containers? This is way beyond the scope of your initial question about the configuration of Thunderbird.

[2018-03-07 18:46] johansmitsnl commented on #862
Good to see this activity on the issue!
Just to inform there is also a chat possibility: [Gitter](https://gitter.im/tomav/docker-mailserver)

What it looks like is DNS + firewall issues indeed.
You can also use openssl to verify: `openssl s_client -starttls smtp -crlf -connect MAIL.EXAMPLE.com:587`

[2018-03-07 19:21] #843 closed

[2018-03-07 20:10] Jdesk commented on #862
All services are docker based and running on a single vps at the moment.  There are actually several other domains and apps running on the VPS.  Everything is in Docker containers.

In regards to the mail container - the initial question has actually been answered through our dialogue here . The steps taken thus far, have led me to a 90% working mail-server.   I will say 100% once Vultr opens up t

[2018-03-07 20:12] Jdesk commented on #862
what I have already done is added the hosts that are trusted in the TrustedHosts file for the dkim config.

[2018-03-07 20:40] Jdesk commented on #862
I've also generated DKIM settings using the setup.sh script for each domain.   Other than DNS configuration for each domain, mails for each should be able to function on a single container since this setup uses OpenDKIM.

[2018-03-08 12:27] kopax opened #886 "[V1] How to send email to gmail (not in spam) and configure dkim and dmarc"
I am using https://github.com/tomav/docker-mailserver/tree/v1 and I am trying to send email in Google ( not in spam folder )
I am reading at : https://support.google.com/mail/answer/81126#authentication

[code]

I am using v1 of mail-server,  have configured spf for my main domain `domain0.com` and aliases domain, I want to know how I can configure opendkim, opendmarc with aliases domain :

The fo

[2018-03-08 16:43] baxerus opened #887 "FEATURE REQUEST: Adding /var/lib/dovecot to mailstate"
The folder /var/lib/dovecot should be added to the mailstate, so that ssl-parameters.dat doesn't have to be recreated everytime the service is recreated by docker-compose.

The folder has only to be added target/start-mailserver.sh

Best regards

Benedict

[2018-03-08 17:58] xXcoronaXx opened #888 "mail server users + google apps users"
Hi, i'm trying yo setup a second mail server to create not importants mail account for free.

With my actual configuration i can send email from mailserver to @gmail but not to my own domain. I mean to my google app users. Google apps users can send emails to mailserver users but they can`t respond.

This is the error:

This is the mail system at host mail.XXXX.es.

I'm sorry to have to inform you

[2018-03-08 18:46] xXcoronaXx commented on #888
if i set this POSTFIX_DAGENT=lmtps:inet:smtp-relay.gmail.com:25

i got warning: connect to transport private/lmtps: No such file or directory and dsn=4.3.0, status=deferred (mail transport unavailable)

[2018-03-08 21:53] johansmitsnl commented on #886
The V1 i'm not sure (before my time) But take a look at: https://github.com/tomav/docker-mailserver/wiki/Configure-DKIM

[2018-03-08 21:53] johansmitsnl commented on #887
Could you add a PR?

[2018-03-08 21:55] johansmitsnl commented on #888
You can use this variable for a email relay with authentication: https://github.com/tomav/docker-mailserver/wiki/Configure-AWS-SES

[2018-03-08 22:02] xXcoronaXx commented on #888
Do you mean ? something like this?
    - AWS_SES_HOST=smtp-relay.gmail.com
    - AWS_SES_USERPASS=user@XXXX.es:gmailpassword

That is for Amazon i want to send my emails through google.

[2018-03-08 22:11] nicklayb opened #889 "Configuring email works on a machine, not on the other"
I know it maybe not related to the container but it's weird.

I've configured an email address on a machine using Thunderbird and it works perfectly and instantly as expected.

I tried the same configuration, on another machine, same Thunderbird version and now it hangs and it ends by an error that thunderbird could not find parameters for server.

In the container's log I have the following error

[2018-03-08 22:13] johansmitsnl commented on #888
yes like that. The variable has the amazon name but can be used for any relay host.

[2018-03-08 22:14] johansmitsnl commented on #889
Incorrect ssl certificate with the hostname?

[2018-03-08 22:20] nicklayb commented on #889
I’m not sure why it would matter only on one system, my Airmail macbook, airmail mac mini, two windows terminal server would work on thunderbird but not one physical host... that’s where I’m lost

[2018-03-08 22:31] xXcoronaXx commented on #888
Thanks that works, but i still getting the error " User doesn't exist:" when i try to send email from mailserver user to a GoogleApps user. :/

[2018-03-09 13:01] baxerus commented on #887
Have done so 😉
A one liner

[2018-03-09 18:16] johansmitsnl commented on #889
You could check the https://github.com/tomav/docker-mailserver#tls_level if your client supports the latest versions.

[2018-03-09 18:17] johansmitsnl commented on #888
Looks like wrong credentials or the from email does not match.
When you use the same smtp credentials in your email client they work?

[2018-03-09 18:46] #887 closed

[2018-03-09 19:25] nicklayb commented on #889
It works!
I add the environment `- TSL_LEVEL=${TLS_LEVER}` to `docker-compose.yml` and added `TLS_LEVEL=intermediate` to the `.env` file

Everything is alright! Thank you!

[2018-03-09 19:25] #889 closed

[2018-03-10 09:47] vedtam commented on #878
Hi @17Halbe,

Thanks for the suggestion. My bash knowledge is rather scarce, but I would like to help and contribute if I can.

[2018-03-10 14:40] 17Halbe commented on #878
No problem, thanks for the idea! :+1:

[2018-03-10 20:12] xXcoronaXx commented on #888
The credential works in Gmail. I think maybe there are a missing configuration in the Google Apps panel.

it only fails when i send an email from an user from the email server to a Google apps user from the same domain.

[2018-03-11 09:39] johansmitsnl opened #892 "Spoof failure with valid account and sender address"
@17Halbe introduced in #872 spoof protection but this fails with ldap accounts.

[code]

The email server has `mail.domain.net` as the hostname and the email address is johan@domain.net. It  verifies with my username and mail host domain to verify the sender address.

This is incorrect because it should check if the email address matches what is in the ldap as the `mail` field or `mailalias` field

[2018-03-11 09:41] kopax commented on #886
Where can I found the v1 documentation?

[2018-03-11 12:43] johansmitsnl commented on #705
I noticed that the relay service of https://www.combell.com also has an issue:
[code]

I opened an issue and will report back when I know something.

[2018-03-11 18:10] mwlczk opened #893 "Debian update"
Debian 9.4 released - https://www.debian.org/News/2018/20180310

Clamav 0.99.4
Opendmarc 1.3.2-2
Postfix 3.1.8

Those packages might need some attention

[2018-03-11 18:51] 17Halbe commented on #892
Thanks for testing!
Can you check, why the ldap tests succeed? What’s different in the mail_with_ldap container than in yours?
I did check the address against the default ldap-account and ldap-alias config.
Would be great if you could help debugging since I don‘t run a ldap setup.

[2018-03-11 19:18] johansmitsnl commented on #892
Try to use this email address for the account:
https://github.com/17Halbe/docker-mailserver-1/blob/c53c0f67cf18a22acbb1e1434dbb79099778d7ed/test/docker-openldap/bootstrap/ldif/04_user-email-different-uid.ldif

Could it be that the `sender_login_maps.ldap` file is missing? Looking at the tests I don't see why this works and my setup does not. I added in the past fixes to the ldap (found from my set

[2018-03-11 20:08] rourke opened #894 "Can't connect through POP3"
I can't seem to connect through pop3, both with or without SSL.

## Context

I can connect through SMTP with SSL, but I can't connect through POP3 at all. With or without SSL, on port 110 or 995. I have opened up both ports in my docker-compose file and also added `ENABLE_POP3=1` to it. I
I get my SSL certificates through Let's Encrypt. It's also setup for mail.mydomain.com.

When I'm trying to co

[2018-03-11 20:45] 17Halbe commented on #892
No, sender_login_maps.ldap was only needed to aggregate the account and alias config into one file. Since they are being tested directly, this config isn‘t(shouldn‘t) be needed anymore.
I‘m not at home and can‘t test and debug right now. Probably tomorrow.

So what‘s happening here?
The emailaddress trying to send an email (in this case user@domain.com) is being tested against all the ldap configs

[2018-03-11 23:17] akmet commented on #894
How did you setup SSL in your docker_compose?

[2018-03-11 23:26] rourke commented on #894
I'm using the [letsencrypt container](https://github.com/linuxserver/docker-letsencrypt) from linuxserver. The `letsencrypt` folder is mounted to `/etc/letsencrypt`. Below is the docker-compose file. It is seperated from the mailserver docker-compose file since I followed the readme instructions, but I'm intending to merge them when the mailserver works.

[code]

[2018-03-12 00:06] akmet commented on #894
I noticed you wrote that dovecot is looking for the certificate at etc/dovecot/ssl/dovecot.pem and that means either you did not set ssl type to letsencrypt or the certification files are not available.

Could you run the following and post the output:
[code]
With $HOSTNAME replaced with your actual hostname

[2018-03-12 00:17] rourke commented on #894
I initially forgot to mount the `letsencrypt` folder, but fixed it soon after. Perhaps that has something to do with it?

The files seem to be there now:
[code]

[code]

[2018-03-12 00:38] akmet commented on #894
Please rebuild the container with
[code]
So that the startup script change the path to letsencrypt certificates.
Then you should be able to connect to your server :)

[2018-03-12 00:51] rourke commented on #894
Did that, still a no go. :(

`10-ssl.conf` still contains:
[code]

[2018-03-12 13:30] akmet commented on #894
That's strange.
Could you provide your startup log?

[2018-03-12 20:08] johansmitsnl commented on #892
The email adres is like: my_name@domain.com but it rewrites to user@mail.domain.com.
The rest you wrote is correct.

[2018-03-12 20:09] rourke commented on #894
Sure, here it is. I masked my domain for privacy purposes.

[code]

[2018-03-12 20:44] alinmear commented on #680
@BirgerK i fixed the problem within the configomat. Can you retry please and leave some comment for feedback, thx!

[2018-03-12 21:01] Fmstrat opened #895 "Align Docker HUB image with stable branch?"
This isn't an actual issue, but I noticed that https://hub.docker.com/r/tvial/docker-mailserver/builds/ seems to be updating with every commit that is run on the master branch.

Is this your actual intent? A single failed commit could cause issues for anyone running production off the main HUB image. Should this be aligned to the stable branch (perhaps on the next stable release)?

[2018-03-12 23:13] akmet commented on #894
Ah, forgot to mention: Could you enable DMS_DEBUG with adding ```DMS_DEBUG=1``` to your docker-compose and then rebuild the container?

[2018-03-12 23:16] akmet commented on #895
Please have a look here #864
We are working on it and hope that we have proper release channels soon.

[2018-03-12 23:25] rourke commented on #894
Ah right. Here it is:

[code]

[2018-03-13 07:10] #680 closed

[2018-03-13 07:10] johansmitsnl commented on #680
Updated the branch, master is building. Could you verify if it works and reopen if not?

[2018-03-13 07:13] johansmitsnl commented on #895
Closing it in favour of #864.
There is a [stable](https://hub.docker.com/r/tvial/docker-mailserver/tags/) branch/tag on the hub available.
Working on the tags for versions.

[2018-03-13 07:13] #895 closed

[2018-03-13 07:30] dmcgrandle commented on #895
Just tried switching to :stable, but getting the following errors:

Mar 13 00:26:29 mail dovecot: master: Error: service(lmtp): Initial status notification not received in 30 seconds, killing the process
Mar 13 00:26:29 mail dovecot: lmtp: Fatal: master: service(lmtp): child 1568 killed with signal 9
Mar 13 00:26:59 mail dovecot: master: Error: service(lmtp): Initial status notification not receiv

[2018-03-13 11:48] 17Halbe commented on #892
Yes, that's what I don't get either. There shouldn't be anyone trying to rewrite anything.
It's just a lookup table.
Postfix looks for a match of the address( which is trying to send a mail) in those tables.
If it doesn't find a match or the match doesn't match exactly the logged in user, it reports `Sender address rejected: not owned by user logged_in_user@domain.net`.
So in your case the lookup

[2018-03-13 17:30] Fmstrat commented on #895
As a note, I switched to stable from latest on the HUB and it worked fine for me.

@dmcgrandle Perhaps try:
[code]
To clear the system? That's what I did and it worked for me.

[2018-03-13 18:59] 17Halbe commented on #892
@TechnicLab Can you help? You are running a ldap service, right? Do you have the same problems with the current image?

[2018-03-13 19:09] 17Halbe commented on #892
@johansmitsnl I really don't know anything about ldap. How do I set up a service for testing? How do I setup the former mentioned user? You got a link to a quick tutorial or the basics?

[2018-03-13 19:23] TechnicLab commented on #892
Just verified that messages with forged mail address are rejected and I can still send normal mails, so all things are working as expected.

[2018-03-13 20:00] 17Halbe commented on #892
Thanks a lot for your quick reply!!
Could you share your ldap configs? And your docker-compose.yml file? It would be great if we could track that issue down!

[2018-03-13 20:01] TechnicLab commented on #892
version: '2'

services:
  mail:
    image: tvial/docker-mailserver:latest
    container_name: mail
    restart: always
    ports:
      - "25:25"
      - "143:143"
      - "587:587"
      - "993:993"
    hostname: mail
    domainname: techniclab.net
    networks:
      ldap:
      internet:
      mail:
       aliases:
          - mail.techniclab.net
    volumes:
      - maildata:/var/mail
      -

[2018-03-13 20:02] TechnicLab commented on #892
version: '2'

services:
  mail:
    image: tvial/docker-mailserver:latest
    container_name: mail
    restart: always
    ports:
      - "25:25"
      - "143:143"
      - "587:587"
      - "993:993"
    hostname: mail
    domainname: techniclab.net
    networks:
      ldap:
      internet:
      mail:
       aliases:
          - mail.techniclab.net
    volumes:
      - maildata:/var/mail
      -

[2018-03-13 20:29] mwlczk commented on #892
@TechnicLab please change your pwds. the internetz does not forget.

[2018-03-13 20:30] TechnicLab commented on #892
dedede? this is not a real one) If you are about something else, than I'm already in process.

[2018-03-13 20:32] mwlczk commented on #892
@TechnicLab your real pwd is 14 chars long, alphanumeric only small and capital letters and has 'pwd' as a substring
;)

[2018-03-13 20:36] TechnicLab commented on #892
Well, looks like changing passwords after accidentally pressing 'enter' was great time investment. Thank you.

[2018-03-13 20:51] mwlczk commented on #864
what about the two week rule? did the time pass, so we could merge some of the PRs into the stable branch?

[2018-03-13 22:43] akmet commented on #894
Okay. Your environment variable for the ssl type is correctly set. That means the start-mailserver script is not able to access the letsencrypt files.
So either ``if [ -e "/etc/letsencrypt/live/$HOSTNAME/fullchain.pem" ]; then`` or ``if [ -e "/etc/letsencrypt/live/$HOSTNAME/privkey.pem" ]; then`` fails.
You could test what is not working with adding a ``notify`` line (see the other lines around).

[2018-03-13 23:07] rourke commented on #894
Ah that's good to hear. I can see what happens around those lines in `start-mailserver.sh`. I would be able to add the notify, but I don't know how to apply it to my docker-composer. I'll take a look at the custom SSL certs. Cheers!

[2018-03-13 23:42] rourke commented on #894
Perhaps this helps. I tried the manual files. The log returns (in green):
[code]
However I see amazon servers is doing something like a ping every few seconds (very annoying by the way) because it keeps giving me:
[code]

However Gmail still returns `SSL error: unknown CA (alert 48)`, and the log for that requests still returns:
[code]

[2018-03-13 23:54] rourke commented on #894
I'm starting to doubt the way I did my Let's Encrypt validation. As I mentioned before I validated through http, but it's for the subdomain `mail.domain.com`. Not sure if that's enough to get the required certificates?

[2018-03-14 01:22] joewashear007 commented on #557
Great docker image, been using for a while now and it is working great. I am hosing it alongside of nextcloud and want to make the users to have mail and nextcloud account working with same login. Setting up LDAP seemed like an extreme way to go, so I thought about making a Nextcloud hook for the change password.

Do any of the proposed solution working yet? Is #828 going to be the official method

[2018-03-14 05:25] marv3lls opened #899 "Can't get amavis up?"
## Context

The server won't spin up amavis, so I'm getting tons of errors looking like
`postfix/smtp[18326]: 5C39A19CC4B: to=<user@gmail.com>, relay=none, delay=0.18, delays=0.18/0/0/0, dsn=4.4.1, status=deferred (connect to 127.0.0.1[127.0.0.1]:10024: Connection refused)`
I was simply trying to semd an email to the user. `/var/log/mail/mail.err` is full of lines like:
`Mar 14 05:17:19 mail amavi

[2018-03-14 07:31] johansmitsnl commented on #892
Here is my config:

[code]

[2018-03-14 11:23] 17Halbe commented on #892
Hmm.. I really don't know enough to make any guesses here. @TechnicLab do you see anything problematic on the ldap side in @johansmitsnl yaml file?
@johansmitsnl there is still a passwd: LDAP_BIND_PW. You might want to remove it.
I'm sorry, ldap is a closed book for me.

[2018-03-14 13:45] TechnicLab commented on #892
@johansmitsnl I hope LDAP_BIND_PW is not your real password?

[2018-03-14 15:00] vincentcox opened #900 "Unable to send email due certificate SMTP server"
## Problem
I get an error while I try to send an email. This is due a certificate issue.

Please note that I am using Mac OS X. All details are shown below.

## Configuration
Please note that I replaced my actual domain-name with `my-domain.com`.

__content `.env`-file__:
[code]
(rest is as default)

__content `/etc/hosts`__:
[code]

## Steps to Reproduce
[code]

## My Environment
iMac (27-inch, L

[2018-03-14 15:14] vincentcox commented on #900
fixed by making `SMTP_ONLY` back empty instead of `1`

[2018-03-14 15:14] #900 closed

[2018-03-14 15:39] vincentcox commented on #663
I have the same issue...
[code]

.env file:

[code]

I'm running this on mac (Docker).

Any idea's?

[2018-03-14 18:00] TechnicLab commented on #892
@johansmitsnl Could you try to add OVERRIDE_HOSTNAME?

[2018-03-14 18:56] johansmitsnl commented on #895
@dmcgrandle the stable branch was working at the time. Sure that the state directory is not "dirty" for older config/packages?

[2018-03-14 18:59] julianhille commented on #895
I created a docker some time ago for my branch here: https://hub.docker.com/r/namekku/docker-mailserver/builds/ currently sick so will need some more days for #804

[2018-03-14 19:00] #878 closed

[2018-03-14 19:22] akmet commented on #894
The unsupported protocol error could be added by setting TLS_LEVEL to intermediate. This also enables  TLSv1, TLSv1.1 and some older ciphers that are disabled by default.

I'm not sure why Gmail is not accepting the CA. Did you test your SSL configuration with [checktls.com](https://www.checktls.com/TestReceiver)?

[2018-03-14 19:24] johansmitsnl commented on #864
@mwlczk there is still an issue with the tag builds, the 3.0.0 tag is not build on the hub. Because I don't have access to the docker hub I'm waiting to have this fixed. Then I can start merging new commits into stable and create releases for this.

[2018-03-14 19:25] johansmitsnl commented on #557
@joewashear007 yes it will. Waiting for the contributor to add tests and then it will be merged.

[2018-03-14 19:27] johansmitsnl commented on #899
The amount of ram with clamav needs to be at least 1Gb.
See https://github.com/tomav/docker-mailserver#requirements

[2018-03-14 19:27] #899 closed

[2018-03-14 19:39] johansmitsnl commented on #892
@17Halbe @TechnicLab the password was not the real password. No worries but thanks for the alert.

@TechnicLab what override should I set? the domain of the fqdn of the server?

[2018-03-14 19:51] marv3lls commented on #899
I was running this for about four months recently with no issues... Is there anyway I can not use `clamav` and just get by?

[2018-03-14 19:52] TechnicLab commented on #892
@johansmitsnl  The domain after @ symbol. For example test.com for example@test.com.

[2018-03-14 19:53] johansmitsnl commented on #899
512Mb is to low, maybe you where on the limit.

[2018-03-14 20:12] johansmitsnl commented on #892
Changing it gives errors on TLS level and not able to ignore it. But with the override should fix it don't it cause issues with domains that are not the override domain?
Just tested with my setup to send email from a other domain as the mailserver. But it uses the username@mail.domain.com.

When you add a account for your domain like:
**account.name** with email: test@super.com or test@test.super.

[2018-03-14 21:42] rourke commented on #894
That website helped me out. I used `cert.pem` instead of `fullchain.pem`. Now it's working, with TLS_LEVEL set to intermediate. Thank you so much!

[2018-03-15 06:39] #894 closed

[2018-03-15 15:02] vincentcox opened #902 "Unexpected prefix added to the from-address"
content `.env`:
[code]

When issuing the following command to send a test-email:
[code]

I see in the logs:
[code]
Note the "test@be.domain.be", which should be "test@domain.be".
The email will get in the spam (or even sent) because there are no DNS records for "be.domain.be".

Any idea what is causing this?

[2018-03-15 15:28] TechnicLab commented on #892
Yes, i can. Very strange problem, currently no ideas.

[2018-03-15 18:31] TechnicLab opened #903 "Consider not using spamhaus dns blacklist"
https://www.ripoffreport.com/reports/spamhaus/internet/spamhaus-spamhausorg-scam-tax-evasion-and-money-laundering-internet-1179782
https://translate.google.com/translate?hl=en&sl=auto&tl=en&u=https%3A%2F%2Fhabrahabr.ru%2Fpost%2F141231%2Fhttp%3A%2F%2F
https://translate.google.com/translate?hl=en&sl=auto&tl=en&u=https%3A%2F%2Fhabrahabr.ru%2Fpost%2F313316%2F

[2018-03-15 18:46] TechnicLab commented on #886
You need to use SPF and DKIM.

[2018-03-15 21:17] 17Halbe commented on #903
[Statement from Spamhaus](https://www.spamhaus.org/organization/statement/013/popular-spammer-myths-about-spamhaus)
I allways thought of Ripoff Reports as a gripe site.. ;) I couldn't find that much information about the site itself. They are in business for quite a while though. And their business model is apparently online defamation and getting payed for removing that content from their site. E

[2018-03-15 21:25] 17Halbe commented on #902
Are you using ldap?
Do you know when this started?

Just a wild guess, but since your domain is being rewritten,you could give this a try: https://github.com/tomav/docker-mailserver/issues/852#issuecomment-368348831 (Remember to switch spamassassin off or clean the cash after reloading postfix, otherwise your mail will still be regarded as spam.)

[2018-03-15 21:26] 17Halbe commented on #892
Probably related: #902

[2018-03-16 02:27] dmcgrandle commented on #895
@johansmitsnl I just tried again and this time it worked without incident.  Must have been a transient issue, as I did exactly the same thing I did last time but now it works.
@Fmstrat - I did the docker-compose down and up just as you wrote them, "docker rm mail" returns an error that there is no such process because docker-compose removes it cleanly.

Thanks all,
:D

[2018-03-16 08:08] vincentcox commented on #902
I am not using LDAP (I don't have changed any settings in the `.env`file, so I assume it's disabled)

It's a fresh install, with no changes in the config except the `.env` as indicated in the first post.

I am looking into the issue you mentioned, but I am not sure what I should change in my config-file. Can you elaborate?

Thanks already for the help, much appreciated.

[2018-03-16 08:14] vincentcox commented on #902
I assume that you mean `/etc/postfix/main.cf`, but where is the file located? Just create a `main.cf` file in the `config` folder?

[2018-03-16 08:24] akmet commented on #902
You can override postfix main.cf by editing config/postfix-main.cf

[2018-03-16 08:34] vincentcox commented on #902
What content should I put in the file to try this? @akmet, thanks for the help, much appreciated!

[2018-03-16 08:59] akmet commented on #902
Just that @17Halbe posted at #892

[2018-03-16 09:14] vincentcox commented on #902
I think I located the issue: in my **hostname** was a dot: `my-domain.be`, which somehow created this bug. The hostname shouldn't be the same as the domain-name .

I would like to thank all you guys for the help!

[2018-03-16 09:14] #902 closed

[2018-03-16 09:34] vincentcox commented on #902
![image](https://user-images.githubusercontent.com/9286611/37513500-8a1267b6-2905-11e8-97ff-4f4fd38dd44d.png)
whoop whoop! 😄

[2018-03-16 17:58] johansmitsnl commented on #886
You need both

[2018-03-16 18:05] johansmitsnl commented on #903
The articles are from several years ago.
Do you have personal experience it bad or harmful?

[2018-03-16 18:58] #864 closed

[2018-03-16 19:00] johansmitsnl commented on #864
Docker is building all tags as we speak: https://hub.docker.com/r/tvial/docker-mailserver/builds/
Updated the changelog and made changes to the versions that break behaviour
https://github.com/tomav/docker-mailserver/blob/master/CHANGELOG.md with the commends and issues that go with it.
New releases will have more extensive details to the changelog. Hoping it is much clearer about the changes and

[2018-03-16 19:46] dmcgrandle commented on #864
This is excellent work guys.  Looking forward to a much more predictably stable docker image in the future.  :)

[2018-03-17 07:24] jholster opened #904 "Exclude local-originating mails from spam filtering"
It would be nice if locally sent emails were excluded from spam filtering by default (e.g. system notifications for root etc). I'm not sure how this should be implemented, can we trust e.g. the 'received' headers to figure out if the mail originates from our server?

[2018-03-17 14:36] bityoda opened #905 "Dovecot with Full Text Search"
How about adding FullTextSearch support to dovecot?

## Context

I'm currently trying out your great project. Beside from the fact, that i have it already running, i'm thinking about to improve it using a better fulltextsearch support.
To be more detailed, i would like to enable this within your container:
https://www.howtoforge.com/community/threads/dovecot-with-fts-lucene.76812/

My first experi

[2018-03-17 16:35] elietheocari commented on #705
Hi all,
same issue here (I think).

When trying communicating with the server through Telnet from my local machine :
`Mar 17 16:26:39 mail dovecot: imap-login: Disconnected (no auth attempts in 8 secs): user=<>, rip=2.4.16.30, lip=172.18.0.8, TLS handshaking: SSL_accept() failed: error:1408F10B:SSL routines:ssl3_get_record:wrong version number, session=<LYB6MJ5ngswCBBAe>`

When trying to setup the

[2018-03-17 17:10] johansmitsnl commented on #905
This sounds good, what about the impact on disk and CPU when adding this?

[2018-03-17 20:37] mwlczk commented on #705
We should probably change the default (stabile) TLS_LEVEL to "intermediate".
Only those who know exactly what they do can change it to modern or override as they like.
TLS does not help at all, if the connection cannot be established at all. In that case most server's are falling back to unencrypted connection - this worse than some "only OK" TLSv1

[2018-03-18 01:03] ifolarin commented on #231
I had a situation on a DO Droplet with 1GB RAM. The system ran normaly when CLAMAV is disabled but maxed out the processor when enabled with the following output in the logs:

It turns out that swap was not enabled on the VM and once I did, the issue was resolved.
Someone might find this helpful.

[2018-03-18 12:59] Gompali commented on #487
as a matter of fact "hostname" parameter and .env config do not work with a docker-compose.yml in swarm mode, because .env file are not supported and the method suggested by Berndinox is a workaround using domain overriding

[2018-03-18 13:06] 17Halbe commented on #904
Who is denying it? Spamassassin or postscreen? Can you provide a log of the denial? What is your [permit_docker](https://github.com/tomav/docker-mailserver#permit_docker) setting? You are sending from where? (From inside the mailserver container/another docker container/ host system?)

[2018-03-18 13:09] 17Halbe commented on #892
I just realized, that the test suite creates the same strangely rewritten mail addresses. But also with SPOOF_PROTECTION off.. Is that the case for you as well?

`docker logs mail | grep "@mail."`

[2018-03-18 18:45] johansmitsnl commented on #892
Found something interesting with the grep, but don't know if this is what you mean. The email address looks normal in the log.

[code]

Is it using the sasl username to verify the sender email address and not the email address defined in ldap?

[2018-03-18 19:14] johansmitsnl commented on #892
Found some information about this but I don't know the exact details how it works.
* https://wiki.zimbra.com/wiki/Enforcing_a_match_between_the_FROM_address_and_the_sasl_username
* https://warden.github.io/articles/2010-01/postfix-sasl-ldap-auth

[2018-03-18 19:15] #852 closed

[2018-03-18 19:15] TechnicLab commented on #892
Most confusing part of this is that this setup is working for me.

[2018-03-18 20:42] Myiyk opened #908 "Password with spaces is stripped to first word"
With ./setup.sh you cannot save password with spaces.
Bug is with creation of new email and update. Both will save only first word as password.

## Expected Behavior

Saved password will be same as I write to command.

## Actual Behavior

If password contains space, only first word is saved as password.

## Steps to Reproduce

1. `./setup.sh email update somemail@example.com "super secrete passwor

[2018-03-18 22:04] capi opened #909 ""setup.sh alias del" removes entire alias and not just a single recipient"
Thanks for this great project.
When I was playing around with aliases, I noticed, that the "setup.sh alias del" does not work as I would expect it. It seems, that it doesn't care about the given target at all and will remove the entire alias

## Context
[code]

## Expected Behavior
I expected the alias to remain with just `recipient1@other.com`.

## Actual Behavior
The entire alias has been remove

[2018-03-19 09:24] 17Halbe commented on #909
Thanks a lot for your report!
I just checked the code and I really don't know how this should have worked in the first place. So it's confirmed.
Additionally your case wasn't tested for, so thanks for the additional test case! :+1:
PR is testing right now.

[2018-03-19 10:06] akmet commented on #839
@johansmitsnl could you close this?

[2018-03-19 10:11] 17Halbe commented on #892
Ah we got something to work with! :) So @TechnicLab is your SASL username scheme user@maildomain.tld?
And @johansmitsnl is the username being user@mail.domain.net intentional? Could you have a look at how to set up a ldap lookup, which then returns the logged in sasl user instead of the mail-address(for a specified alias or valid mail address)?

[2018-03-19 14:57] SeanFacer opened #911 "opendmarc[122]: ignoring connection from"
Im trying tos send emails from my application and getting bounced. I am able to send via the docker-mailserver container just not via any of the other containers within the network.

Belo is the error message I am receiving.

mail_1       | Mar 19 14:57:18 mail postfix/submission/smtpd[1151]: connect from irec_php-fpm_1.irec_default[172.24.0.5]
mail_1       | Mar 19 14:57:18 mail opendmarc[123]: i

[2018-03-19 15:24] SeanFacer commented on #663
Also getting this and unable to send via my codeignitor application

[2018-03-19 15:35] vincentcox commented on #663
make sure that
[code]

becomes:

[code]
hostname shouldn't be the domainname (can't contain dot's). And there should be no spaces after the "=" sign.

[2018-03-19 17:40] SeanFacer commented on #663
Thanks Vincent
These are already my current settings

HOSTNAME=mail
DOMAINNAME=irecordtime.co.uk
CONTAINER_NAME=irec_mail

[2018-03-19 19:26] #909 closed

[2018-03-19 19:27] #839 closed

[2018-03-19 19:31] johansmitsnl commented on #911
You need to send email on 587 port and not through 25.
See https://github.com/tomav/docker-mailserver#exposed-ports

[2018-03-19 19:32] johansmitsnl commented on #663
Check #911 for my answer

[2018-03-19 19:43] johansmitsnl commented on #892
@17Halbe here the LDIF of my ldap user entry. The username was not created by me. In my client it is just: johan.smits but it becomes johan.smits@mail.domain.net
Which command output in the container you interested in?

[code]

[2018-03-19 20:16] nicklayb opened #912 "Domain name being doubled in bounce address"
My bounce address domain is always doubled up

## Context
When I' sending email, the
[code]

I know that the SFP is not yet set but the domain is doubled up the line :
Received-SPF: neutral (google.com: 24.xxx.xxx.xx is neither permitted nor denied by best guess record for domain of srs0=2yi9=gj=armquebec.com=nboisvert@**armquebec.com.armquebec.com**) client-ip=24.xxx.xxx.xx;

Users I'm trying to

[2018-03-19 22:37] 17Halbe commented on #912
From when is your docker image? There was a issue with SRS which got fixed yesterday. Could you try rebuilding your docker image?
I guess you tried without OVERRIDE_HOSTNAME, right?

[2018-03-20 00:09] 17Halbe commented on #892
@TechnicLab can you point out the differences in your setup? As I said, I have no knowledge of ldap.

[2018-03-20 08:26] SeanFacer commented on #911
I am using port 587

.env

HOSTNAME=mail
DOMAINNAME=irecordtime.co.uk
CONTAINER_NAME=irec_mail
OVERRIDE_HOSTNAME=irecordtime.co.uk
DMS_DEBUG=1
ONE_DIR=0
POSTMASTER_ADDRESS=
PERMIT_DOCKER=network
TLS_LEVEL=modern
SPOOF_PROTECTION=1
ENABLE_SRS=0
ENABLE_POP3=
ENABLE_CLAMAV=0
ENABLE_FAIL2BAN=0
ENABLE_MANAGESIEVE=
POSTSCREEN_ACTION=enforce
SMTP_ONLY=
SSL_TYPE=
VIRUSMAILS_DELETE_DELAY=
ENABLE_POSTFIX_VI

[2018-03-20 08:29] SeanFacer commented on #911
May have used 25 while messing around / trying to debug and see if I got any different results.

Codeignitor config

$config = Array(
            'protocol' => 'smtp',
            // 'smtp_host'=> '172.24.0.7',
            'smtp_host'=> 'mail',
            // 'smtp_port'=> '465',
            'smtp_port'=> '587',
            'mailtype' => 'html',
            'charset'  => 'utf-8',
            'newl

[2018-03-20 08:56] 17Halbe commented on #905
What about [fts-solar](https://wiki2.dovecot.org/Plugins/FTS/Solr)? Lucene is a bit discouraged by the dovecot team. See this [note](https://wiki2.dovecot.org/Plugins/FTS/Lucene)

[2018-03-20 09:02] bityoda commented on #905
Solar uses more resources, lucene is based on c and smaller in comparison to solr. But also with solr i would be happy;-)

[2018-03-20 14:59] 17Halbe commented on #908
Thanks for reporting!

[2018-03-20 17:13] 17Halbe commented on #905
I haven't used either. But if we implement something, we should choose something which is still maintained, what is your experience/suggestion?

[2018-03-21 07:45] bityoda commented on #905
My impression is that both have their right to exist within dovecot and for both someone could find use cases that makes sense together with dovecot.

Targeting this project, supporting lucence would have less impact on resource usage and changes within the docker containers. Solr runs within his own jvm, with web frontend and so on. It is probably better yes, but also much bigger.

If you ask abo

[2018-03-21 16:05] rdearman opened #915 "Configuration of port 465"
I see from previous issues that there is support for using SSL and port 465, but I cannot see how to configure it. Is there any documentation or instructions you can provide?

[2018-03-21 17:17] nicklayb commented on #912
Right on it! Did a clean pull of the latest image and everything is as expected!

The `OVERRIDE_HOSTNAME` was required for let's encrypt certificates

[2018-03-21 17:17] #912 closed

[2018-03-21 17:58] manuelgu commented on #705
Any update on this?

[2018-03-21 18:19] johansmitsnl commented on #911
And?

[2018-03-21 18:20] SeanFacer commented on #911
and it still doesnt work :0

[2018-03-21 18:30] johansmitsnl commented on #905
I think after reading the post Solr is the way to go.
You can use https://hub.docker.com/_/solr/ for a server and make configuration to use the docker (like ldap).

[2018-03-21 18:31] johansmitsnl commented on #915
You need to map the port in the docker and your done.

[2018-03-21 18:32] johansmitsnl commented on #705
The company ignored my email... from my part no update.

[2018-03-21 18:34] johansmitsnl commented on #911
and when you use a normal email client?

[2018-03-21 20:17] HyEnd commented on #801
can confirm this on a freshly installed Debian 9 and default configuration (besides SMTP_ONLY=1)

if you need further information I will try my best :)

[2018-03-22 15:43] elietheocari commented on #911
Hi there, same issue here.
I try sending emails from a PHP app, using SSL protocol and port 465.

Here is what I get.

`Mar 22 15:38:27 mail postfix/smtps/smtpd[2992]: connect from md-forum-prod.docker_default[172.18.0.2]
Mar 22 15:38:27 mail postfix/smtps/smtpd[2992]: Anonymous TLS connection established from md-forum-prod.docker_default[172.18.0.2]: TLSv1.2 with cipher ECDHE-RSA-AES256-GCM-SHA38

[2018-03-22 16:04] elietheocari commented on #911
Well, I ended up using plain text authentication on port 25.
As this is one of my containers getting in touch with the mail server on the same host, I guess that this should not be a problem... should it?

[2018-03-22 16:38] 17Halbe commented on #905
What about a wiki entry if/when you got it running?

[2018-03-24 00:53] boldt commented on #705
I'm also running in this issue with a nextcloud 13.0.1 docker container, when it tries to send mails to the docker-mailserver with a configured LE certificate:

[code]

The following works well from the nextcloud container bash:

[code]

while the following fails from the container bash (as expected):

[code]

**Conclusion**: The openssl test from nextcloud's container bash works well, while nextc

[2018-03-24 07:40] mwlczk commented on #705
@boldt @johansmitsnl @17Halbe
I found a little bug in the processing of TLS_LEVEL. Will provide a fix today.
But I would also like to change the default to intermediate and whoever wants to be more modern can optin!
in June 2018 TLSv1 is going to be deprecated (https://blog.pcisecuritystandards.org/are-you-ready-for-30-june-2018-sayin-goodbye-to-ssl-early-tls).
I would add a third TLS_LEVEL "good"

[2018-03-24 08:41] mwlczk commented on #705
@boldt #916 should do it

[2018-03-24 13:11] jpmaas opened #917 "Sending mails from server using sSMTP"
Hello everyone,

first of all, thank you so much for this project! It spared me of hours of configuring this server myself 👍

I'm currently trying to send mails from command line using `ssmtp` and `mailutils` over the docker-mailserver to my private mail (relevant updates with monitoring etc. just some basic stuff). Testing it with Thunderbird from my home computer sending mails works perfectly.

[2018-03-25 11:10] akmet commented on #917
You could change your tls_level to intermediate. Please have a look at the readme for more details, currently on mobile.

[2018-03-25 11:20] jpmaas commented on #917
Just tried that, still the same behaviour unfortunately :(

[2018-03-25 16:07] andymel123 opened #918 "[Question] Persistence of mails"
I'm new to docker but it was really beautifully easy to setup your mail server image.
I just don't understand how the persistence works. I can see the mail data in /var/mail inside the docker image but not on the host machine. Nevertheless when I remove the image and compose it again, the old mails are still there.

The way I tested persistence:
- connected a mail client and sent/received some tes

[2018-03-25 16:37] akmet commented on #918
Docker is a container environment and therefore the /var/mail folder inside the docker container is not equal to your hosts /var/mail folder.

There is a nice article over the volumes topic here: https://docs.docker.com/storage/volumes/

To come back to your initial problem: You could use docker commit or docker export for backup the mail folders

[2018-03-25 16:43] andymel123 commented on #918
Oh, I thought the "maildata:/var/mail" in combination with "maildata: driver: local" means it is stored on the hosts local file system

Thanks...I will have a look at export/commit and read the article you mentioned! :)

[2018-03-25 16:43] #918 closed

[2018-03-26 05:48] mwlczk commented on #917
@jpmaas there is a little bug in processing the TLS_LEVEL. It works for SMTP and forr IMAP/POP. But fails to switch for SMTPD (submission daemon on ports 465 and 587).
I provided a PR #916. Until this is merged you could use config/postfix-main.cf to ovveride smtpd_mandatory_protocols and allow TLSv1 and tlsv1.1

But the best would be to use submission clients which are capable of TLSv1.2

[2018-03-26 15:00] 17Halbe commented on #705
Sounds good! Thanks for your work!

[2018-03-26 18:51] johansmitsnl commented on #917
#916 just got merged.

[2018-03-26 18:52] johansmitsnl commented on #705
#916 just got merged

[2018-03-26 22:36] boldt commented on #705
Thank you for the fix. I'm looking forward to a new docker image to test it.

[2018-03-27 05:06] jpmaas commented on #917
I just tested, it now works like a charm :) thank you very much, I'll close this one.

[2018-03-27 05:06] #917 closed

[2018-03-27 10:42] kopax commented on #886
Could we please recreate branch v1 ? I can't troubleshoot correctly, I know I should have fork but we are not supposed to delete tag aren't we?

[2018-03-28 05:58] johansmitsnl commented on #705
@boldt did it fixes the bug?

[2018-03-28 19:54] boldt commented on #705
I can confirm, that the following works now, with `TLS_LEVEL=intermediate`:

[code]

And: my nextcloud 13 container can send mails.

Thanks for the quick fix!

[2018-03-28 23:44] helmutundarnold commented on #860
Hello,
today I've added to my docker-compose.yml

     logging:

       driver: json-file

       options:

         max-size: 500k

I will check in a couple of days if that solves the problem.

Best Regards
            Helmut

Am 01.03.2018 um 09:45 schrieb 17Halbe:

[2018-03-29 16:13] crazystick opened #922 "Multi-domain Mailgun configuration"
The AWS SES settings work well for a single domain using [Mailgun](https://www.mailgun.com/) to relay email. However for a multi-domain setup it isn't quite enough, as we want to authenticate as different users depending on the sender's domain.

The configuration is described well in [this forum post][1].

From looking at the code, it looks like this will need code adding in `start-mailserver.sh#_

[2018-03-29 16:44] johansmitsnl commented on #922
@crazystick The SES is not sufficiënt indeed and it causes a lot of confusion for users. Love to see a PR for this.

1. The password can be unencrypted indeed.
2. If you could make a backwards merge by using the old variable into the new ones if set. The new one should have priority and we should and can depreciate the old variables with explanation with it.

The plan looks good to me.

[2018-03-29 21:04] piwai opened #923 "Adding emails without domains fails"
## Context

When trying to configure the server, the docker container started but no process were running. When checking the logs with docker logs, I spotted this:

[code]
I was sure that I ran the setup.sh as described, so I checked the addmailuser script, and I realized that it expected an account in the form "user@domain", while I just provided "user" after reading the README file.

## Expected

[2018-03-29 21:51] dmcgrandle commented on #922
Great PR idea!  I’ve been holding off on implementing multiple domains using this container, and runnning multiple containers instead due to these limitations.  I actually have quite different requirements for the different domains: one needs a smart relay host and the other does not.  One is IPv6 only, the other is IPv4, although I could live with the requirement that both be mixed.  Would like t

[2018-03-29 21:54] dmcgrandle commented on #922
One more difference, though I’m not certain it would matter.  One domain receives emails directly and the other pulls emails in from elsewhere using Fetchmail.

[2018-03-30 08:01] johansmitsnl commented on #923
Saw the PR, could you add a test to ensure it keeps working in the future to?

[2018-03-30 08:26] johansmitsnl commented on #874
Any information about this?

[2018-03-30 10:50] dasmaeh commented on #680
[code]
fails but
[code]
seems to work well.

[2018-03-30 11:51] dasmaeh commented on #475
This stil is a problem I think.
Setting the gid of all (mail) users to 5000 can't be the solution if you also store posixAccount login information in an ldap.
I've also tried setting `mail_uid=500` and `mail_gid=5000` in dovecot-ldap.ext - but no success.

[2018-03-31 09:10] crazystick commented on #922
WIP - still need to add code to `check-for-changes.sh` and to `setup.sh` but that is working for my use-case (sending for multiple domains via Mailgun with different username/passwords for each). I also verified that it will support sending for some domains via Mailgun and others via Sendgrid. @dmcgrandle does that work for you? I haven't tested direct delivery for some domains.

[2018-03-31 10:08] Starbix opened #925 "Daily error mail: duplicate log entry for /var/log/mail/mail.log"
## Context

I get a daily email that says that there's a duplicate entry.

I think this happens because there's `/var/log/mail/mail.log` in both `/etc/logrotate.d/maillog` and `/etc/logrotate.d/rsyslog`
## Expected Behavior

No error mails.

## Actual Behavior
I get a daily mail with the following content:

[code]

## Possible Fix

Removing either `/etc/logrotate.d/maillog` or the `mail.log` entry

[2018-03-31 15:11] helmutundarnold commented on #860
Yes, its working, you can close this issue. Thanks for the tip.
              Helmut

[2018-03-31 17:51] dmcgrandle commented on #922
I will need one domain delivering directly and one through a relayhost.  About to be on vacation for a while, happy to test when I return.

[2018-03-31 18:38] #860 closed

[2018-04-01 15:19] akmet commented on #925
Will have a look at it later, but it should not exists in rsyslog..
removing the /maillog would cause that no mail is sent

[2018-04-02 11:43] crazystick commented on #922
[Wiki](https://github.com/tomav/docker-mailserver/wiki/Configure-Relay-Hosts) is updated.

@dmcgrandle I'm hopeful that this will work for you - see the wiki page, specifically the exclude-domain command of setup.sh. I can't really test it since I'm running on Google Compute engine which doesn't allow outgoing connections on port 25. If it doesn't work, probably best to open a new issue, feel free

[2018-04-02 11:43] #922 closed

[2018-04-02 13:41] 17Halbe commented on #622
I gave it a try and it's working for my setup. Could you guys please give it a try?
There should only be the need to set your server domain. The ports and their configuration should work as is.
[17Halbe/z-push](https://github.com/17Halbe/z-push)

[2018-04-02 14:55] #908 closed

[2018-04-02 18:36] 17Halbe commented on #925
I had the same error once. But I thought the build process had a hickup.
I just confirmed it. It's a bug.
This is the line where the mail.log logrotate setting should get removed:
https://github.com/tomav/docker-mailserver/blob/2e06228b101b4deff794686e3cb997e458eb3d3b/Dockerfile#L201
That's step 43 during the build process.
The sed command should be following the next line. Basically switch line 2

[2018-04-02 18:55] 17Halbe opened #928 "Push service - looking for feedback"
Hey there,

I would like to introduce an image I build, which is basically an addon to this image.
It's based on [z-push](http://z-push.org/) and is providing push functionality for this mailserver.

So far I only tested it with my setup. And I would like to see others try it out as well, before I write a wiki entry about it.
So if you would like to give push a try, get the image from docker [17ha

[2018-04-02 19:24] 17Halbe commented on #928
Just found a bug, don't use the TIMEZONE variable for now.. Sorry, but currently docker isn't building.

[2018-04-02 21:56] crazystick commented on #794
When sending from Gmail, which appears to support IDN and even translates punycode back into the IDN, this is what I get:
[code]

[2018-04-03 06:51] helmutundarnold opened #929 "dkim-setup create two keys in mail.txt, which is the correct one? Is this correct?"
# Context
running the following command from console:
`docker run --rm -v /opt/ckb/ckb1/mailserver/mail12/config:/tmp/docker-mailserver -ti tvial/docker-mailserver:latest generate-dkim-config 1048
`
I get a mail.txt with two keys

[code]

## Expected Behavior

I would expect that I get an output similar to the one the the description with one key

## Actual Behavior

I get two keys

## Possible Fi

[2018-04-03 06:58] mwlczk commented on #929
Hi, it is one key. Because of UDP packet size it is split. You need to concatenate both strings to have the full dkim public key

[2018-04-03 08:46] helmutundarnold commented on #929
Thank you for the very quick answer. This issue can be solved.

[2018-04-03 08:46] #929 closed

[2018-04-03 13:45] r3pek commented on #877
Interest, yes :) I'd rather have traefik manage all my certificates (including the mailserver one), then to have just one container to do the mail server one ;)

[2018-04-03 13:56] honigbeutler123 opened #931 "Unable to send via Client but tested okay by checktls"
Hi,
unfortunately, I cannot give the name of the homepage so just think of it as domain.tld

my setup:
currently, the mx record is set to domain.tld not mail.domain.tld because my ssl certificate is only valid for domain.tld.

receiving mails works fine. and checktls verifies everything as fine.

i tested sending mails via https://www.checktls.com/perl/live/TestReceiver.pl
and got a lot of log inf

[2018-04-03 17:28] #925 closed

[2018-04-03 17:37] johansmitsnl commented on #931
You can check https://github.com/tomav/docker-mailserver#tls_level

[2018-04-03 19:48] crazystick opened #932 "VIRUSMAILS_DELETE_DELAY is unset"
According to README, VIRUSMAILS_DELETE_DELAY defaults to 7 if unset.

[This line][1] perhaps doesn't do what was intended?

Eventually you get this output from cron:
[code]

[1]: https://github.com/tomav/docker-mailserver/blob/31c40ce271f6268e4daac36b6aa3f8ff44843e2a/target/start-mailserver.sh#L1229

[2018-04-03 20:45] mathuin commented on #877
Right now, my workaround is to run an instance of `nginxdemos/hello` on https at my mail hostname, then I run a modified version of `dumpcerts.sh` to extract the certificate and key which I then copy into the location that this software expects, then I restart the mail server.

Suggested rough user documentation to use the change:
* Set up HTTPS web host for the mail domain to cause Traefik to gen

[2018-04-03 20:53] r3pek commented on #877
You're implying that traefik and mailserver run on the same node right? ;)

[2018-04-03 22:07] 17Halbe commented on #932
Good find! Thank you!
Did you set `VIRUSMAILS_DELETE_DELAY` during the container start? Or did you use the .env file?
If you did, I found the bug! ;)
So if you somehow touched(and not set) the variable when starting the container it gets set to nothing. If you just omit it at all, the variable should be at its default value. (It has been set during the build process)
Just want to make sure, before

[2018-04-03 23:31] crazystick commented on #932
Yes - I'm using the .env file

[2018-04-04 04:49] mwlczk commented on #622
@17Halbe, how is it different from IMAP push. I didn't read much about it, but it is for Microsoft Outlook only? Or does it help with Thunderbird, k9 and other clients as well?

[2018-04-04 06:02] cellcoresystems commented on #886
If you still get into the spam of gmail, then just send a mail to your gmail account and untag your email as spam.
We've tried every other way, even google support, no one could help.
Untagging does the trick 🕺 🎉

[2018-04-04 06:38] johansmitsnl commented on #622
@mwlczk It is activesync https://en.wikipedia.org/wiki/ActiveSync which has support for contacts and calendars as well.
And for example iOS does not have imap push and you can get this working with the Exchange option for push events.

[2018-04-04 06:40] johansmitsnl commented on #886
When you test the settings here what does it say?
http://www.appmaildev.com/en/dkim

[2018-04-04 07:36] helmutundarnold opened #933 "I would like to have pflogsumm and mailutils added to the base-image."
Currently I have to add this packet after each container-creation  manually.
## Context

commands would be
[code]
## Expected Behavior

pflogsumm and mail are available on commandline.

## Actual Behavior

not available
## Possible Fix

[code]
## Steps to Reproduce

1.
2.
3.
4.

## Your Environment

* Amount of RAM available:
* Mailserver version used:
* Docker version used:
* Environment settings

[2018-04-04 07:46] akmet commented on #933
Plogsumm **is** in the image. Could you try to pull the newest version? What version are you using?

[2018-04-04 07:46] 17Halbe commented on #933
pflogsumm is part of this image: See [REPORT_RECIPIENT](https://github.com/tomav/docker-mailserver#report_recipient)
What do you need mailtuils for?

[2018-04-04 07:57] helmutundarnold commented on #933
Sorry for confusion ..... YES pflogsumm is in the image just tested right now.

With the mailutils package I can send an email of pflogsumm to our admin-group using "email"  commandline tool. Is there possibly another way?

[2018-04-04 08:24] 17Halbe commented on #933
If you just need the pflogsumm report being sent then it's already there. Just specify the recipient in REPORT_RECIPIENT.
Otherwise there is sendmail. For an example have a look here: https://github.com/tomav/docker-mailserver/blob/f540f8e9c3ac0980364219c2946151abf149fc90/target/bin/postfix-summary#L18

[2018-04-04 08:53] helmutundarnold commented on #933
Great ..... your example helps me, so I can leave without mailutils.
Thanks for your quick help.

[2018-04-04 08:53] #933 closed

[2018-04-04 13:07] jonguenther commented on #931
I have the same problem but with my other containers. I can access my mails using Gmail for Android, and checktls.com also doesn't report any problems. But when I for example try to use [Mailpile](https://github.com/rroemhild/docker-mailpile) with an [Nginx reverse proxy](https://github.com/jwilder/nginx-proxy) with [Letsencrypt](https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion), I

[2018-04-04 13:28] 17Halbe commented on #622
Yes, I'm using to get Emails pushed to iOS. imap-push is more ressource intensive, which is why Apple unfortunately decided to not use it..
It would be possible to add contact, calendar sync and autodiscovery for email-settings. (You then would just have to enter your mail address and password without knowing anything else about ports or server names)
Nothing of this is implemented yet though.

[2018-04-04 16:48] #932 closed

[2018-04-04 16:53] johansmitsnl commented on #931
When you telnet to the server on port 587 what does it say?

[2018-04-04 16:59] #923 closed

[2018-04-04 18:27] honigbeutler123 commented on #931
for me telnet is stuck in  trying [ip] ...

the tls level does not seem to be the problem to me.

docker exec mail openssl s_client -connect 0.0.0.0:587 -starttls smtp -CApath /etc/ssl/certs/
works fine.

for some reasons i cannot reach the server with telnet or an email client but for checktls it seems to work fine.

[2018-04-04 22:07] crazystick opened #938 "default value for POSTMASTER_ADDRESS"
This might not be a bug, but I read the documentation and thought that an empty value for POSTMASTER_ADDRESS would lead to the value `postmaster@${DOMAINNAME}`
Actually it is literally as the documentation says: `postmaster@domain.com` - see [here][1]
I think it would be more logical to have the default be an actual useful address.

[1]: https://github.com/tomav/docker-mailserver/blob/137d623171da

[2018-04-05 06:29] 17Halbe commented on #938
Agreed, would you like to contribute?

[2018-04-05 09:19] crazystick commented on #938
Sure - will do.

[2018-04-05 15:40] crazystick opened #939 "hostname/domainname override tests don't actually test anything"
The actual hostname and the override hostname for the container `mail_override_hostname` are equal, so all those tests are going to pass whether or not the hostname override feature works!

[2018-04-05 15:42] xXcoronaXx commented on #888
i'm still with the same problem. There is a way to relay ALL the email to the relay server?

[2018-04-05 16:51] johansmitsnl commented on #931
The docker command is inside the container. This sounds like your firewall or a external firewall.

[2018-04-05 16:58] johansmitsnl commented on #939
Could you provide a PR for changing the tests?

[2018-04-05 16:59] johansmitsnl commented on #888
A new PR entered this week. See the wiki: https://github.com/tomav/docker-mailserver/wiki/Configure-Relay-Hosts

[2018-04-05 17:00] crazystick commented on #939
You want me to separate PR #940 into two separate ones?

[2018-04-05 17:05] johansmitsnl commented on #939
No not needed, just did not see your PR yet. It just got merged, thnx for the contribution!

[2018-04-05 17:05] #939 closed

[2018-04-05 17:05] #938 closed

[2018-04-05 17:08] johansmitsnl commented on #880
When amavis restarts memory is low. You need at least 1 GB only for the mailserver.

[2018-04-05 19:58] honigbeutler123 commented on #931
uh wow. okay seems like my router did block me because he had an whitelist which would only add email servers with an subdomain bevor the domainname... Sorry consider this as solved.

[2018-04-05 19:58] #931 closed

[2018-04-06 11:47] andymel123 opened #941 "How to remove zen.spamhaus.org in least destructive way"
I have to remove zen.spamhaus.org because the DNS servers I'm using are blocked because of too much queries.

Maybe you can give me some advise how to remove it in the least destructive way.

1. If I add a postscreen_dnsbl_sites and a smtpd_recipient_restrictions entry to my config/postfix-main.cf  without the zen.spamhaus.org parts I guess it will simply override the entries from the main.cf righ

[2018-04-06 13:40] viveksuhanda commented on #779
Sorry for the delay in reply
I am unable to ping the ldap server by its IP and also getting temporary look up error while sending mails

[2018-04-06 17:30] johansmitsnl commented on #779
It sounds like a docker setup issue with the linking.
You can find more here: https://docs.docker.com/network/links/#connect-using-network-port-mapping

[2018-04-06 19:38] 17Halbe commented on #941
Nr. 1 would be the way to go. For changes check the [release page](https://github.com/tomav/docker-mailserver/releases)
Though I don't think that every single config line change will be noted there.
You could always manually check after an update if something has changed, I know that its tedious, but I guess one has to die one death! ;)
There would be several ways to do so:
- you could just have a

[2018-04-07 12:26] cypriotxx commented on #424
hi there
i have a TVS-671 Qnap installed mailserver docker image and everytime run it , this error message comes up ,.. i cant see this in settings on the menu , where do i go and what do i do please ?

1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890
#

Initializing setup
Checking configuration
  * Setting hostname/domainname is required
Aborted

[2018-04-07 13:31] cypriotxx opened #943 "Mailserver on Qnap Container Station giving error"
hi there
i have a TVS-671 Qnap installed mailserver docker image and everytime run it , this error message comes up ,.. i cant see this in settings on the menu , where do i go and what do i do please ?

folder and files info ----------------------------
[/share/CACHEDEV1_DATA/.qpkg/container-station] # ll
total 1.1M
drwxr-xr-x 13 admin administrators 4.0K 2018-04-07 07:47 ./
drwxrwxrwx  9 admin ad

[2018-04-08 22:54] time4tea opened #944 "Restrict authenticated senders to mynetworks only"
More of an FYI than an issue really, could be added to docs?

If you use the given setup then senders on the internet can use AUTH commands to guess any users password. Once they have that then they will be able to use the server as a proxy.
If you want only people in your network to be able to authenticate, you can do the following:

in config/postfix-main.cf, add:
`smtpd_discard_ehlo_keyword_add

[2018-04-09 06:07] 17Halbe commented on #944
Thanks! That's a nice addition!
If you like you could add that to the wiki!

Though the attacker would have to wait 6 seconds after the ehlo command(if I remember correctly) before he could try one password . If he would speak too fast, postscreen would block him. However, if you got fail2ban enabled, three failed login attempts from the same IP would ban that IP as well. So I hope this attack vec

[2018-04-09 06:24] time4tea commented on #944
It is very likely. Fail2ban by default blocks for 10 mins. I can see remote
servers doing auth attempts every 12 mins. Raising the ban and search
times... the attackers change their patterns to match.
You only need a single user with a weak password.

James

On Mon, 9 Apr 2018, 07:07 17Halbe, <notifications@github.com> wrote:

[2018-04-09 07:27] 17Halbe commented on #944
Oh, ok, I don't have those. Just random ones. That's strange. Did you consider, that you are specifically targeted?
If you look at the common rainbowtables, they have around 1-1000 trillion ASCII entries. So if you are trying let's say just the most 1000 common passwords it would take you on average more than 4 days to find a valid one. I always thought the common way to transform a server into a

[2018-04-09 12:07] yura8 commented on #944
Would this prevent usage of SMTP relays such as SES and Mailgun? I suppose specific ranges could be added into the etc_postfix/esmtp_access file but companies may not announce those or change without a warning.

[2018-04-10 07:38] 17Halbe opened #945 "Separate test cases"
## Context
With the increasing amount of test cases testing is becoming more and more the bottleneck in development. Even a fast cached (`make all-fast`) build on a current PC currently takes around 17 minutes to complete.

My proposal would be to split the tests into separate test files according to the containers they are executed from.
The user could then decide to execute all containers and th

[2018-04-10 17:57] johansmitsnl commented on #945
Sounds good and it is indeed an issue.

We could also take advantage of Parallelizing the builds/tests https://docs.travis-ci.com/user/speeding-up-the-build/ ?
The issue is that the docker container needs to be build and building on each node does not sounds efficient. Any ideas on this?

[2018-04-10 20:39] mwlczk commented on #945
What about splitting the big container/services into a "composition" of postfix, dovecot and antivir as proposed in  #539. We could have many "service"-specific tests, and some "global" tests at the end.

[2018-04-10 20:58] 17Halbe commented on #945
@johansmitsnl That's a great idea, I'm not really familiar with Travis though. But as we would already separate the tests, we could easily perform the tests directly after container creation in parallel. I'll have a look into parallelizing Travis.
If I'm not totally wrong about this, we should be able to deny multithreading to the build target and then create the containers all based on the built

[2018-04-11 00:30] helmutundarnold opened #946 "DKIM Question: Is it possible to switch off DKIM?"
Is there a CONFIG VAR to switch DKIM off?

## Context

## Expected Behavior

## Actual Behavior

## Possible Fix

## Steps to Reproduce

1.
2.
3.
4.

## Your Environment

* Amount of RAM available:
* Mailserver version used:
* Docker version used:
* Environment settings relevant to the config:
* Any relevant stack traces ("Full trace" preferred):

[2018-04-11 05:11] pfmsny opened #947 "Local System User Mail Delivery Issues"
My setup is as follows, mail.maildomain.com, this domain does not have MX or any deliverable mailboxes, it is just a mail server for other virtual domains. This servers local mail (root@) appears to have delivery issues its trying to send mail to a hostname and domain name that do not accept mail, in addition to being the external hostname and domain name of the mail server itself. I added a .forw

[2018-04-11 08:45] #841 closed

[2018-04-11 09:15] viveksuhanda commented on #779
I have set the user defined bridge network between the two containers and telnet is working between them. Bur still facing the same issue of temporary look up failure while sending mails. Also in that it says it cannot connect to ldap server.

[2018-04-11 10:48] capi opened #948 "Logs & daily report contain lots of "warning: dnsblog_query: lookup error for DNS query""
I am new to using postscreen with DNS blacklists, I never configured them before, so maybe this is a misunderstanding on my part. To my understanding, a host is on the blacklist, if the DNS query returns a positive response.

I now see a lot of entries similar like this in the log files, and they are also reported in the daily summary e-mail as warnings:
[code]

To my understanding, this indicates

[2018-04-12 06:33] johansmitsnl commented on #945
@mwlczk there is already a ticket about this: #539 take a look at the conversation there.

[2018-04-12 06:33] johansmitsnl commented on #946
If you don't generate a DKIM key it does not sign it.
Never tested this though.

[2018-04-12 06:36] johansmitsnl commented on #779
But now you can ping it from the mail container?

[2018-04-12 07:01] akmet commented on #947
http://postfix.1071664.n5.nabble.com/dnsblog-lookup-error-questions-td52034.html

I got the same errors. Not sure what public DNS my mailserver is using at the moment. Will have a look at it later and will report :)

[2018-04-12 08:15] crazystick commented on #948
If you're using Google's public DNS servers (or several other public DNS servers) they don't allow querying of DNSBL. You can use the new Cloudflare DNS 1.1.1.1 or 1.0.0.1

I started working on a companion container that would run Unbound but since Cloudflare released their DNS servers, I gave up.

You can add the following to your docker-compose.yml to fix this:

[code]

[2018-04-12 08:49] capi commented on #948
Thank you. The docker host below was actually using 8.8.8.8. I updated this to my hosting provider's DNS servers (up until I checked I was quite sure I was using those). Will report back, if this fixes the issue.

[2018-04-12 09:19] capi commented on #948
I can confirm that with my own DNS server this is working as it should. So this is a host/DNS server configuration issue and not related to `docker-mailserver`. On the contrary, it is _good_ that these lines are logged, since they show that DNS configuration is not working as intended.

I will therefore close this issue. Thanks for the help!

[2018-04-12 09:19] #948 closed

[2018-04-12 09:28] crazystick commented on #947
To clarify - are you trying to have mail delivered from host to container, or trying to get the mail for root dlivered in the container (that's mainly cron output I think). If it's the latter, I'm working on a solution for it - as far as I can tell you need to configure /etc/aliases and use a hash: instead of texthash: database, and configure `mydestination` in main.cf

[2018-04-12 16:59] johansmitsnl commented on #779
You can also telnet to it inside the mail docker?
[code]

[2018-04-12 21:21] helmutundarnold commented on #946
Thanks that works. I did:

- stopped docker container
- rm -rf config/opendkim
- docker rm <container>
- recreate the container

[2018-04-12 21:30] #946 closed

[2018-04-13 04:42] pfmsny commented on #947
crazystick, I am actually unsure, "mail" "sandmail" and postfix are not installed on the host so I am assuming the attempts by root@ and amavis@ so far have been in the container. Can you shed some light on what the best to solve this would be?

[2018-04-13 06:05] viveksuhanda commented on #779
Yes telnet is also working between the two containers.
One query is it mandatory that postfix book schema should be used because the LDAP_QUERY_FILTER'S are desgined according to that schema. But, the openldap container doesn't include that schema.
Also, I included mail entry into the LDAP with inetOrgPerson object class and commented the LDAP_QUERY_FILTER_GROUP and LDAP_QUERY_FILTER_ALIAS in dock

[2018-04-13 06:32] johansmitsnl commented on #779
I have a docker ldap server that had the postfix book in it: https://hub.docker.com/r/jsmitsnl/docker-openldap-postfix-book/

[2018-04-14 07:10] callmemagnus opened #949 ""email del" does not remove data directory, even if it says so"
## Context
While investigating my failing test on my PR (https://github.com/tomav/docker-mailserver/pull/884), I discovered that one feature is not working as expected and its test fails to provide guard.

When running `./setup -c mail email del a.user@server.com`, there is an option to delete the data folder.

Sadly when that option is selected (-y or y at run time), it does not delete the direct

[2018-04-14 11:56] crazystick commented on #947
I have some questions of my own related to this, @johansmitsnl can you provide some input here.

To make this work, the following steps are necessary:

1. Postfix needs to accept mail for local machine => add `mydestination = $myhostname, localhost.$mydomain, localhost` in `main.cf`
2. Root needs a valid alias in `/etc/aliases` => add `root: valid-user@domain.com` in `/etc/aliases`
3. texthash doe

[2018-04-15 20:32] callmemagnus opened #950 "CI is not reliable (?)"
Still while investigating my broken builds, I see that the builds running on Travis are unreliable.

I believe that this is related to the amount of processing needed to start the containers completely. I see that this has probably already been an issue in the past when I see all the "sleep" commands present in the Makefile and in some tests.

The following screen show illustrates it at best:
![im

[2018-04-16 07:06] viveksuhanda commented on #779
Tried with this image too but facing the same error of lookup problem.
One more query how the parameters from the email sending script are passed in the ldap file ?

[2018-04-16 14:48] sulliwane commented on #728
With so many people running on letsencrypt certificates (3 months validity only) I'm surprised to discover that docker-mailserver do not auto-reload on certificate renewal/change? I'm wondering if everybody here is restarting its docker-mailserver every 3 month...? Thanks for your input

[2018-04-16 17:05] BirgerK commented on #680
I checked it on my site.

It's still the same problem, like reported [before](https://github.com/tomav/docker-mailserver/issues/680#issuecomment-361277981).

The exception still is:
[code]

[2018-04-16 19:12] capi opened #951 "Possibility to whitelist a sending IP/network to use this server as a relay"
I am currently trying to setup my home network to use my server as a mail relay. Unfortunately adding my home IP to `mynetworks` via `postfix-main.cf` does not work, since still all SPAM checks are still performed and my provider's IP range is listed as dialup and therefore is blacklisted by spamhouse.

## Context
I'd like to add hosts and/or networks as "trusted", so that they can use the server

[2018-04-16 19:13] johansmitsnl commented on #950
What you see is true. They are sometimes unreliable depending on the time the build is created.
However when you investigate the errors it is mostly test 6 that fails.
This can be improved by detecting if the images are running and available and then send the test data for processing and then again wait if this data is processed.

Any suggestions?

[2018-04-16 19:16] johansmitsnl commented on #680
@BirgerK please open the issue https://github.com/alinmear/docker-configomat

[2018-04-16 19:28] capi commented on #951
Unfortunately I'm talking about an external host, outside the local LAN.
I'm currently thinking about maybe creating a user for the server and configure the remote `postfix` to use the mailserver via login on port 587.

[2018-04-16 19:53] johansmitsnl commented on #951
From a security perspective unauthorized accounts are always better.
Accounts are free so creating a few for each service is the way to go.

[2018-04-17 09:02] crazystick commented on #945
It would be great if tests would not break each other. For example, the mail container is used by a bunch of tests, and adding a new test which sends an additional email breaks earlier tests that count emails, and debugging is hard because yet another test rotates the log file and so there's no data to find out why something failed earlier on. Maybe each test should have a separate file which also

[2018-04-17 12:10] viveksuhanda commented on #779
Also, getting the error of bad search filter. I tried this command inside the ldap container,

ldapsearch -D cn="admin,dc=x,dc=y,dc=z,dc=com" -w **** -b dc=x,dc=y,dc=z,dc=com -s sub "(&(&(mail=user@x.y.z.com)(mailEnabled=TRUE))(&(mailGroupMember=abc_group)(mailEnabled=TRUE))(&(mailAlias=postmaster@x.y.z.com)(mailEnabled=TRUE))(&(|(mail=*@x.y.z.com)(mailAlias=*@x.y.z.com)(mailGroupMember=abc_group)

[2018-04-17 16:27] callmemagnus commented on #950
I didn't look into all the details of the build.
As far as I can see it is the `dovecot/ssl-param` that requires a lot of CPU time, with current make I have 3-4 at the same time on my laptop.

It seems that the container is able to receive the test data but not to process it. Which breaks some tests (?)

Open questions:

# Are all the containers needed for the tests?
# Are all the containers to be

[2018-04-17 19:37] kortenkamp commented on #863
I know this is closed, but I just ran into a problem again with somebody using Mac OS 10.11.6 not being able to send mail – though I am on TLS_LEVEL=intermediate. Somehow, this is a bit of a problem, as we would like to be on the highest possible security, but at the same time cannot loose people using the latest security update on a not-ancient OS. Does anybody know of a list of necessary ciphers

[2018-04-17 19:44] johansmitsnl commented on #863
@kortenkamp not that I know of.

[2018-04-17 19:49] johansmitsnl commented on #950
Now there a clear steps that it goes trough for each combination.

1. build
2. start the different configurations
3. Put in test data for each configuration
4. Test if it worked correctly

This can be separated in several tests #945 can have a advantage in development time and also in test stability.

With `nc` you can also probe ports. But the SSL generation for Dovecot starts to listen on the po