[2016-04-28 09:06] #87 closed

[2016-04-28 10:56] stonemaster opened #167 "Add ManageSieve support to allows server-side filtering configuration for users"
Now that Sieve is configured with Dovecot it would be possible to install ManageSieve (http://wiki2.dovecot.org/Pigeonhole/ManageSieve) and let users configure their server-side rules themselves.
There are plugins available for e.g. Thunderbird: https://addons.mozilla.org/de/thunderbird/addon/sieve/

[2016-04-28 22:50] 00angus commented on #109
DOVECOT:
By looking at Dockerfile I noticed I made a small error.
The line:

unfortunately do not add the configuration for mailboxes.conf.
I've changed that, by including 15-mailboxes.conf (altready available in target).
From my checks on my production system it still works, it is only more polished IMHO.
My upcoming PR in including - among other small fixes - also this one.

[2016-04-29 15:37] stonemaster commented on #167
Closing because #169 has been merged.

[2016-04-29 15:37] #167 closed

[2016-05-01 14:42] diiigle opened #173 "Maildata Volume"
I do not get any data volume generated by the compose file. So i think the data is stored in the container locally.

Can you fix this, that the /var/mail folder is mapped to a secondary data volume container?

[2016-05-01 14:43] Slind14 opened #174 "User Unknown with uppercase letters in mail address"
[code]

[2016-05-02 08:37] 00angus commented on #174
What you want is making 'NoReply' user from 'domain.tld' be recognized as 'noreply' user for the same domain, if I'm right. That could be wrong from the authentication point of view as the mailserver is running in a unix server where the case matter (you CAN have two different users NoReply and noreply).
In fact email addresses are used to **authenticate** users (in our case via the userdb created

[2016-05-02 13:05] Slind14 commented on #174
hmm, ok. Might be good to be fixed with the container it self. I moved along by now, thanks anyways :)

[2016-05-03 13:10] tomav commented on #173
@diiigle could you try this one:

[code]

Let me know.

[2016-05-04 07:14] diiigle commented on #173
Nope, didn't worked. Still getting only one container 'mail' created.
 From this discussion:

I think we need the volumes_from command for the Data Volume Container.

aside question: how important is the hostname in this file? i set it to
the subdomain my mailserver is running on. Is that right?

On 03.05.2016 15:10, Thomas VIAL wrote:

[2016-05-04 08:51] diiigle opened #175 "Nameserver inside the container"
I propose to setup a local full resolving nameserver inside the container in order not to rely only on the server of the host.

Background:

I tried using a whitelist for my postfix configurations (https://www.dnswl.org/), but unfortunately my namerservers are already blocked for quering the whitelist (too many lookups i suppose).

Pretty much the same problem as in [here](http://postfix.1071664.n

[2016-05-04 14:34] 00angus opened #176 "SSL - The Drown Attack"
Today news: https://openssl.org/news/secadv/20160503.txt

I would suggest an image rebuild.
Ubuntu already patched it: http://www.ubuntu.com/usn/usn-2959-1/

[2016-05-04 22:35] tomav commented on #176
Just triggered builds. https://hub.docker.com/r/tvial/docker-mailserver/builds/

Thanks @00angus

[2016-05-04 22:35] #176 closed

[2016-05-07 11:38] manthis opened #177 "Rainloop Integration"
Hi,

I was thinking that a webmail such as Rainloop would be awesome. We could just integrate it in the docker compose file as a second service. Let me know if you'd be interested and I'll see how I can contribute. If you prefer to keep your project simple as it is, I can still fork it to include these two features

[2016-05-07 11:46] manthis commented on #175
Well, that would defeat the purpose of a mail server. I suggest you create your own compose file and add the dns as a service.

[2016-05-07 11:48] manthis commented on #173
@diiigle you could also do like me and store your emails on your host file system:

`version: '2'

services:
  mail:
    image: tvial/docker-mailserver:v2
    # build: .
    hostname: mail
    domainname: domain.com
    container_name: mail
    ports:
    - "25:25"
    - "143:143"
    - "587:587"
    - "993:993"
    volumes:
    - ./config/:/tmp/docker-mailserver/
    - ./maildata/:/var/mail`

Fee

[2016-05-07 12:56] tomav commented on #177
I highly recommend to use an external image for this in order to simplify maintenance of both mailserver and webmail, and also for service isolation and respect of docker philosophy.
But I'd be happy if you you want to add a page on the wiki regarding the necessary `docker-compose` setup in order to do that.

Let me know.

[2016-05-07 12:58] tomav commented on #175
I do agree with @manthis. Note that this can be added in the Wiki to help other users to do it.

[2016-05-07 13:26] tomav commented on #173
@diiigle I have limited access to internet through my mobile phone, so I can't pull the image to test but try:

[code]

[2016-05-07 13:26] tomav commented on #173
Once this is resolved, I'll publish `v2` as master version.

[2016-05-07 13:50] manthis commented on #177
Well, I'm actually building a Dockerfile and a docker-compose.yml file in order to to that. I'll keep you posted with my progress.

[2016-05-07 13:53] tomav commented on #177
Thank you @manthis

[2016-05-07 13:54] #174 closed

[2016-05-07 16:39] manthis opened #178 "Webmin Integration"
Hi,

Just had this idea while working on the rainloop docker image, it would be awesome to have a web admin interface to control postfix and dovecot. But I guess this would have to be directly integrated in docker-mailserver and not as an extra container. What do you think?

[2016-05-07 16:57] tomav commented on #178
No, **we don't want to integrate such tools** in this image because we don't want to have a big and unmaintainable image. We want to **be focused on the core mail service** (smtp and associated filters + client protocoles like imap).

A webmail is a client for our point of view, because generally it users imap (like outlook, mail.app, thunderbird) to connect the server.
Webmin can help beginners b

[2016-05-07 16:57] #178 closed

[2016-05-07 17:03] manthis opened #179 "Letsencrypt via DNS challenge"
Hi,

Was wondering why you actually use the letsencrypt certificates of the host while you could just install letsecnrypt and issue certificates on the fly. Is there any reason why you don't do it? If there is not, I'd like to work on it. I'm actually already doing the same implementation for the rainloop container I'm working on so it could benefit everyone.

[2016-05-07 17:04] manthis opened #180 "Webmin Integration"
Hi,

Do you think integrating webmin to administer dovecot and postfix would be a good thing? I do, so let me know.

[2016-05-07 17:05] tomav commented on #179
How do you do that if a webserver is already running on the server?

[2016-05-07 17:06] manthis commented on #178
Alright, no problem. It was just for a ease of use. But I doubt I can integrate it in a separate container.

[2016-05-07 17:06] #180 closed

[2016-05-07 17:07] tomav commented on #178
Even using volumes ?

[2016-05-07 17:07] tomav commented on #180
Duplicates #178

[2016-05-07 17:14] manthis commented on #173
Well I think what @diiigle would like is create a first volume container and then instantiate a docker-mailserver container using the volume from the first container. That's actually a good idea for backup purposes.

I guess it would be something like this to create the volume container:
`docker create -v /var/mail --name datastore tvial/docker-mailserver:v2`

And then this to use it:
`docker run

[2016-05-07 17:15] manthis commented on #173
Then of course you would only have to backup "datastore" to secure your data.

[2016-05-07 17:17] manthis commented on #179
Not sure to understand what would be the issue caused by a web server on the host.

[2016-05-07 17:18] diiigle commented on #173
@manthis yeah thats right, this would be the expected behaviour, since docker documentation advises you to store your data in data containers.

[2016-05-07 17:18] manthis commented on #178
Maybe, but it will make things a lot more complicated. And I don't think I can do it if I don't create volumes on your docker-mailserver image.

[2016-05-07 17:20] diiigle commented on #175
@manthis why should this defeat the purpose of a mailserver? Could you clarify your comment a bit?

[2016-05-07 17:24] manthis commented on #175
@diiigle Maybe "defeat" is not appropriate. I mean a DNS server is clearly not in the scope of an email server. So it has no reason to be integrated into the mail server container whose only purpose is to receive/send emails. It's better if it is integrated as a service in a docker compose file.

[2016-05-07 17:29] tomav commented on #179
I'm clearly not a LE expert, but I think that certificates automatic generation uses HTTP or HTTPS protocoles to validate that you really own the domain and expects to find some files for that.
There are options to do that, but most of them have an impact on both containers (mail and web).

What do you have in mind to do that?

[2016-05-07 17:30] diiigle commented on #175
@manthis okay, that sounds reasonable to me. I'll do my best and try the docker compose approach.
I'll keep you updated.

[2016-05-07 17:35] manthis commented on #179
Well me neither but in my comprehension of things letsencrypt just validates you own the domain by checking the ip address issuing the request and comparing with the ip address declared at your registrar. But I might be wrong. I'll give it a try with my container and I'll let you know if it works (even in case of a web server already present on host).

[2016-05-07 17:35] manthis commented on #175
Awesome. Thanks @diiigle

[2016-05-07 17:47] manthis commented on #179
Besides, with the present configuration, how do you do when you don't have any installed web server with ssl configured with letsencrypt? So the more I think about it, the more I think letsencrypt should create the certs inside of the container.

[2016-05-07 18:28] tomav commented on #179
Just had a look to LE, and you're right, they added DNS validation in late january 2016 while we added the feature in december 2015. So the workflow could be like this:
- if `SSL_TYPE` is `letsencrypt` check if files are provided (current setup)
- if file are not provided, generate them and configure the server

Or something like that. Let's talk about that.

[2016-05-07 18:32] manthis commented on #179
Yep, that would be great. As soon as I have the procedure I integrate it and make a pull request.

[2016-05-07 18:43] manthis commented on #179
Actually, this is the recommended docker use to generate certificates with letsencrypt: [https://letsencrypt.readthedocs.io/en/latest/using.html#running-with-docker](https://letsencrypt.readthedocs.io/en/latest/using.html#running-with-docker).

[2016-05-08 16:06] tomav commented on #179
That's the one I personaly use but with HTTP validation. I'll have to check how it works with DNS challenge.

[2016-05-08 16:08] tomav commented on #173
@diiigle tell me if the docker-compose templates works.

[2016-05-08 17:09] tomav commented on #173
@Chris54721 pushed the same fix.

[2016-05-08 17:38] tomav commented on #173
Merged.

[2016-05-08 17:38] #173 closed

[2016-05-08 17:43] tomav commented on #109
Will release tonight.

[2016-05-08 17:46] tomav commented on #109
(or in the next minutes)

[2016-05-08 18:30] tomav commented on #109
Dear contributors, **`v2` is the new `master` on github and `latest` + `v2` on docker hu**b.
Legacy version remains available in `v1` branch on github & tag on docker hub.

**I wanted to thank all of you for the work on this project.
**
I decided not to change the name of the project for the moment, but have `mailody` in mind... let me know what you think about it.

[2016-05-08 18:30] #109 closed

[2016-05-08 18:34] 00angus commented on #109
Good project and good work. Glad to have contributed and hope to continue.
On May 8, 2016 20:30, "Thomas VIAL" <notifications@github.com> wrote:

Dear contributors, *v2 is the new master on github and latest + v2 on
docker hu*b.
Legacy version remains available in v1 branch on github & tag on docker hub.

*
*I wanted to thank all of you for the work on this project. **
I decided not to change the

[2016-05-11 12:37] KyleOndy opened #183 "SSL Documentation + Wiki"
I finally swapped my mailserver over to `docker-mailserver` last night and while getting my ssl cert setup I noticed a handful of spots where both the documentation and wiki could be updated.

Later today I'll submit a PR with the changes.

[2016-05-12 11:23] dragonito opened #184 "Letsencrypt certs not loaded"
Hi there,

i generated some certs for my rwillig.de domain and this sould by loaded by adding env variables and mounting /etc/letsencrypt:/etc/letsencrypt. I looked through the docker image an the volumes are mounted correctly. But the check says it is still selfsigned.

Have I forgot some configurations?

Thanks for support!

Robin

[2016-05-12 12:08] Josef-Friedrich commented on #184
I use the latest version of docker-mailserver and it works:

`openssl s_client -connect mail.josef-friedrich.de:25 -starttls smtp`

Here is my docker compose file. I use a second docker container for letsencrypt.

[code]

[2016-05-12 12:30] tomav commented on #184
Hi @dragonito, could you:
- paste the startup logs
- use `tree` command of your `/etc/letsencrypt` on your host

You can also check these lines to understand what's expected to be use LetsEncrypt:
https://github.com/tomav/docker-mailserver/blob/master/target/start-mailserver.sh#L114-L117

[2016-05-12 13:45] dragonito commented on #184
Hi there,

i also use :latest version but without docker compose file (i use Rancher). Env is set but FAIL2BAN is not set.

My startlog:

´´´
12.5.2016 15:33:13Checking file line endings
12.5.2016 15:33:13Regenerating postfix 'vmailbox' and 'virtual' for given users
12.5.2016 15:33:13user 'robin' for domain 'rwillig.de' with password '********'
12.5.2016 15:33:13user 'melanie' for domain 'rwillig.

[2016-05-12 14:24] dragonito commented on #184
For tests i just added "ENABLE_FAIL2BAN=1" and it is shown in log while startup, so env variables from Rancher configs are set correctly

[2016-05-12 14:33] Josef-Friedrich commented on #184
Is your hostname correctly set?

By me:
[code]

`$(hostname)` -> hostname + domainname = mail.josef-friedrich.de

[2016-05-12 15:07] dragonito commented on #184
Thanks :) Thats the problem :( i love mailserver configuration *g*

Perhaps the documentation should be extend with this hint?

[2016-05-12 15:30] #184 closed

[2016-05-12 15:32] dragonito commented on #183
Perhaps you can add some information about letsencrypt and the correct hostname. I got some problems with it in issue #184

[2016-05-12 16:20] tomav commented on #184
It's already in the documentation: https://github.com/tomav/docker-mailserver/wiki/Configure-SSL

[2016-05-12 16:20] tomav commented on #183
It's already in the documentation: https://github.com/tomav/docker-mailserver/wiki/Configure-SSL

[2016-05-12 16:37] KyleOndy commented on #183
I've never worked with github's wiki before. Is there a way to clone it locally and edit it, or does everything need to be done via the web ui?

[2016-05-12 16:38] Josef-Friedrich commented on #183
https://github.com/tomav/docker-mailserver.wiki.git

[2016-05-12 17:01] KyleOndy commented on #183
My searching tells me its not possible, but I wanted to verify.

Is there no way to make a PR again the wiki?

[2016-05-14 17:49] dragonito opened #185 "Additional config options to postfix main.cf"
Hi,

is it possible to add additional config options to main.cf?

I would to increase message_size_limit to 50mb.

Thx a lot

Robin

[2016-05-15 12:30] skaren opened #186 "CA Certificate"
I use this docker container with custom ssl certificates (`SSL_TYPE=custom`). To use my own certificates I create a pem file from crt and key like this:
[code]

Is there a way to add the CA Certificate?

The option for postfix in `/etc/postfix/main.cf` is `smtpd_tls_CAfile = path_to_cert`.

[2016-05-17 08:14] tomav commented on #185
Yep, there's a feature (not documented for that).

Check this: https://github.com/tomav/docker-mailserver/blob/master/target/start-mailserver.sh#L196-L206

You have to mount a `postfix-main.cf` in the same folder of your accounts.
Each postfix variable will be loaded. With this, you can add configurations and override default.

This should be documented win a new Wiki page. If you have 20 minutes

[2016-05-17 08:26] #185 closed

[2016-05-17 08:28] tomav commented on #186
Hi,

I never tried this myself, this feature begin added by a contributor but:
- have a look to https://github.com/tomav/docker-mailserver/blob/master/target/start-mailserver.sh#L135-L153. It should do the trick except is something is missing (should be a good test)
- if it doesn't work, best thing is to try to fix and document this part
- last option is to configure it manually using what I expla

[2016-05-17 08:29] tomav commented on #186
Perhaps @emazzotta can help. (cf. [this PR](https://github.com/tomav/docker-mailserver/pull/90))

[2016-05-17 09:16] dragonito commented on #185
Thanks a lot! I´ll try it!

[2016-05-17 12:34] nathema commented on #177
Also interested in rainloop integration based on seperate image.

[2016-05-17 17:10] emazzotta commented on #186
Hi @skaren

The idea with the custom "full" certificate, is that it contains everything necessary, so you don't need to reference anything else.

I use startssl and my script to generate the "mail.domain.tld-full.pem" looks something like this:

[code]

So the first curl request gets the intermediate certificate and the second request gets the whole ca-bundle. Depending on the CA you get your cert

[2016-05-17 19:10] georgehrke opened #187 "LDAP"
I think it would be a huge enhancement if one could simply link a docker container containing a LDAP server against the docker-mailserver container and use existing LDAP accounts instead of `config/postfix-accounts.cf` while preserving the alias capabilities. :)

[2016-05-17 22:01] skaren commented on #186
I use StartSSL too. I get the following error, if I create the certificate with your script and test it on https://www.checktls.com/TestReceiver.

[code]

I get another problem with your script. It write the character \n instead of a line break. For the tests I removed this manualy.

[code]

Kind regards
Skaren

[2016-05-17 22:05] emazzotta commented on #186
That's interesting, I tested it and it works fine for me. Are you sure you're using the correct intermediate certificate?

With the line breaks, try replacing the two `echo`-statements with `echo -e`

[2016-05-17 22:19] skaren commented on #186
`echo -e` works well.

I used the class 1 intermediate certificate from https://www.startssl.com/certs/class1/sha2/pem/sub.class1.server.sha2.ca.pem

[2016-05-18 14:24] StianOvrevage opened #188 "Problems with relaying"
I have a problem relaying mails from another container via docker-mailserver. Because of certificates I use the FQDN and public-ip when connecting to docker-mailserver, and I guess that means the client is not using a 172.17.0.0/16 address but the public IP of the server.

So as far as I can see I have three options:
Add an entry in the local hosts file so that mail.domain.xx resolves to localhost

[2016-05-18 14:28] StianOvrevage commented on #188
For implementing option #2 I suggest this code added in start-mailserver.sh so that the option can be set via env-vars in docker-compose.yml

[code]

[2016-05-18 14:53] StianOvrevage commented on #188
It turns out I grossly underestimated how many changes are required to get relay working. So the above snippet is not enough. Still working on getting relay to work in Postfix.

[2016-05-19 11:24] tomav commented on #183
Wiki can be directly modified using your browser. Do not hesitate to improve it.

[2016-05-19 11:24] #183 closed

[2016-05-19 11:34] tomav commented on #188
Why not using authentication from the outside world?

Note that you can override default postfix configuration out of the box:
https://github.com/tomav/docker-mailserver/wiki/Override-default-postfix-configuration

[2016-05-19 11:40] tomav commented on #187
This will be a mix of configuration file and external authentication. Could be strange to maintain but should work.
Dovecot supports `LDAP` authentication: http://wiki2.dovecot.org/AuthDatabase/LDAP

Are you planning working on it?

[2016-05-19 12:39] tomav commented on #179
Can't find information on how DNS challenge works with LE client.

[2016-05-20 16:34] StianOvrevage commented on #188
Thanks. I have tried everything to get Postfix to accept relay from authenticated clients outside of mynetworks without luck. I will have another stab at this next week.

[2016-05-20 16:37] schoentoon opened #189 "I have to enable pop3 for imap?"
Hi,

I kind of only want IMAP access and I didn't see an ENABLE_IMAP for this so assumed it would work. But after sometime I figured out that this would only work with ENABLE_POP3=1, which quite frankly doesn't make any sense. And of course, then I have both pop3 (which I don't want) and imap. This by itself is not that much of an issue as I can just close the pop3 port. Still, ENABLE_POP3 for ima

[2016-05-20 20:04] Josef-Friedrich commented on #189
IMAP support is enable by default. I use `docker-mailserver`without POP3 and the IMAP access to my mail folders works great.

[2016-05-20 20:34] tomav commented on #189
Hi @schoentoon, @Josef-Friedrich is right. `IMAP` is enable by default.
`POP`is optional that's why we added a var to enable it or not.

[2016-05-20 20:34] #189 closed

[2016-05-21 06:45] tomav commented on #188
What kind of services are running into your other containers? Web applications?

[2016-05-21 18:43] emazzotta commented on #186
Clearly something is wrong with your certificate, are you sure you ran this correctly?

Try this again, I already changed it to be class 1:

[code]

[2016-05-22 05:45] tve opened #190 "Don't always fix permissions on start-up"
Fixing permissions on startup https://github.com/tomav/docker-mailserver/blob/master/target/start-mailserver.sh#L220 takes many minutes on my (perhaps a bit wimpy) mail server with many GB of messages stored in maildir format. Please either check whether the dirs already have the right perms or provide an option to skip the check. Thanks for an excellent docker image!

[2016-05-22 07:24] tve opened #191 "Persist spool directories"
As far as I can tell, restarting the container looses the postfix spool directories. IMHO these should be mapped to a volume in the sample docker-compose file so they persist.

[2016-05-22 12:58] FlyersWeb opened #192 "Letsencrypt do not seems to work"
I've tried to install your docker-mailserver image following the tutorial with a letsencrypt certificate.

The certificate works because I also use it on subdomain www for my website.

When I try to connect to the mail server I've got these error :
[code]

There is my full up output :
[code]

and my docker-compose.yml config :
[code]

Do you have any idea why I'm not able to use TLS nor SSL while

[2016-05-22 17:20] FlyersWeb commented on #192
After digging in others issues, I've found that the problem was about letsencrypt paths. keys were in ```/etc/letsencrypt/live/domain.com``` in lieu of ```/etc/letsencrypt/mail.domain.com```. Looks like i was not the first one to have this surprise :D

[2016-05-22 17:20] #192 closed

[2016-05-22 18:02] tomav commented on #192
@FlyersWeb glad to know you find out how to do.
Note that this was explained in the Wiki : https://github.com/tomav/docker-mailserver/wiki/Configure-SSL

[2016-05-22 18:03] tomav commented on #190
Thanks @tve
Would you submit a PR for that?

[2016-05-22 18:05] tomav commented on #191
Here again, if you want to modify the wiki / `README.md`, feel free to do it.

I think we should do the same for spamassassin database.

[2016-05-22 18:16] tomav commented on #191
The folder for spamassassin is `/var/lib/amavis/`

[2016-05-22 18:39] Josef-Friedrich commented on #191
I tried to mount this folders outside:

* `/var/lib/spamassassin`
* `/var/lib/fail2ban`
* `/var/lib/amavis`
* `/var/lib/clamav`

[2016-05-23 07:53] skaren commented on #186
I don't know where the problem lies.

Now I use let's encrypt. It's realy simple.

Thanks for the help!

[2016-05-23 07:53] #186 closed

[2016-05-24 04:57] tve commented on #191
I see two options here. One is to mount a slew of volumes onto all the directories with state. The other is to mount one or two volumes and move where the various daemons put their data onto the volume using symlinks or config changes.

Mounting a slew of volumes is cleaner is a way in that it exposes what's going on and avoids mysterious symlinks and locations. But it doesn't allow for a nice bac

[2016-05-24 07:09] Josef-Friedrich commented on #191
I prefer the one (two) volume backup solution.

[2016-05-25 14:25] 00angus commented on #191
That's a very good idea to allow persistence at least for emails spool.
The approach involving "a slew of volumes" is - IMHO - preferable as it makes explicit what will be shared with the host. After all once you have put all the relevant config in a docker-compose or a script it doesn't matter, I think.
Af for the convenience of the backup, if the slew of volumes come from the same base path ...

[2016-05-25 19:57] tomav opened #197 "Remove SORBS from RBL"
I noticed that some mails coming from gmail were blocked because of SORBS blacklisted 209.85.217.172 which is Google IP.

It's not the first time and it's very annoying...

I suggest to remove SORBS from the RBL list.
Let me know what you think about that.

Thank you.

[2016-05-26 05:40] netgusto commented on #197
Exactly the same problem for me. A lot of gmail emails being refused :

[code]

[2016-05-26 06:41] netgusto commented on #197
Fixed (I believe) by putting this line of conf in my `./config/postfix-main.cf`:
(removed the sorbs entry on the third line):

[code]

[2016-05-26 15:11] dominikwinter commented on #197
Yes, i had same problem with SORBS. Sometimes it rejects mails from big mail providers:

[2016-05-30 08:07] tomav commented on #197
It seems that emails finally arrived but with a huge delay.

I'm gonna remove SORBS in the next minutes.

[2016-05-30 08:34] #197 closed

[2016-05-31 14:13] cjharding opened #199 "Amavis problem?"
The mail server is up and running in a Bluemix container. I can connect to it via IMAP but don't see any mail, although mail appears to be reaching it. A log is attached showing a re-start and initial transaction. From this, it looks as though amavis may not be starting. Is there something I should fix in the configuration, please?
[mail-log.txt](https://github.com/tomav/docker-mailserver/files/29

[2016-05-31 14:53] tomav commented on #199
`You must explicitly assign a FQDN of this host to variable $myhostname`

It seems that your config is not correct. If you use `docker-compose`, please check thase lines:

[code]

[2016-05-31 14:53] #199 closed

[2016-05-31 16:19] cjharding commented on #199
Thanks for the quick response! Tried to avoid docker-compose as only need 1 container. Am now trying again using docker-compose - hopefully it will work.

[2016-06-01 01:27] tve commented on #190
Implemented in #194

[2016-06-01 01:27] #190 closed

[2016-06-01 01:29] dominikwinter opened #200 "Increase findtime and bantime for fail2ban?"
Hi,

I noticed lots of authentication failes from different ip addresses on my server .. for example:
[code]
Or:
[code]
After I set bantime = 21600, findtime = 21600 and maxretry = 2 in /etc/fail2ban/jail.conf and do ..

`service fail2ban reload`

.. everything is working fine again :)
[code]
Maybe it's a good idea to make these variables configurable or at least increase them by default a bit ..

[2016-06-01 01:29] tve opened #201 "Fail2ban not working"
Fail2ban is not working as far as I can tell. Dunno whether I broke something. Is it working for anyone else? The errors I get are of the form:
[code]

[2016-06-01 01:33] dominikwinter commented on #201
Hi, did you add?

[code]

Greets

[2016-06-01 01:45] tve commented on #201
nope, looking into that now... sounds like a good FAQ item unless I'm just blind...

[2016-06-01 10:44] tomav commented on #201
This is now resolved I suppose. Thanks for the Wiki page @tve

[2016-06-01 10:44] #201 closed

[2016-06-01 10:46] tomav commented on #200
Yep, good idea. Can you do that?

Variable can be named `FAIL2BAN_BANTIME` and should have a default value.
You can check what has been done for Spamassasin.

[2016-06-01 11:37] #191 closed

[2016-06-01 11:44] tomav commented on #146
Closed due to inactivity. Reopen if needed.

[2016-06-01 11:44] #146 closed

[2016-06-01 11:44] tomav commented on #175
Closed due to inactivity. Reopen if needed.

[2016-06-01 11:44] #175 closed

[2016-06-01 11:45] tomav commented on #177
Hi @manthis, any update on this?

[2016-06-01 11:48] tomav commented on #187
@georgehrke let us know please. Thank you.

[2016-06-01 11:48] tomav commented on #188
@StianOvrevage any update on this?

[2016-06-02 15:38] ppKrauss opened #202 "plug Postfix with PostgreSQL"
I need  PostgreSQL 9.5 at UBUNTU 16 LTS + *Docker*...  So,  [plug Postfix with PostgreSQL](http://www.postfix.org/pgsql_table.5.html): it is possible with docker-mailserver?

[2016-06-02 23:31] georgehrke commented on #187
Sorry, somehow missed your first answer.

I would just be a nice enhancement but really not something that's mandatory for me.
Given that I'm running short on time right now and that I'm no expert in this topic I'll probably not be able to work on this anytime soon.

[2016-06-03 03:47] cgorman opened #203 "Training Spamassassin's classifier"
First off, thanks for this project. I was dreading upgrading my server after the last time I did it and this saved my skin.

Anywho, my previous setup used sa-learn to train its classifier on my different folders. I think I set it up to be just spam in JUNK and ham everywhere else. Is there any way to use that with this container, or do we just not need to do that? I only ask because I migrated ev

[2016-06-03 06:37] Josef-Friedrich commented on #203
I had the same problem:

I changed the value of SA_TAG2

[code]

[2016-06-03 08:55] tomav commented on #203
I added cron on my server to launch `sa-learn` every day, like on classic postfix/amavis/spamassassin stack.

[2016-06-04 11:38] #200 closed

[2016-06-06 14:32] StianOvrevage commented on #188
I ended up adding my public ip to "mynetworks" in the postfix configuration. Not a good solution but it'll work for now. It's probably a postfix problem as well and not a docker-mailserver problem.

[2016-06-06 14:32] #188 closed

[2016-06-06 17:30] Crafter6432 opened #205 "Use a stronger Password hash algorithm"
I would propose to use SHA512 or SHA256 in your examples in order to protect the users passwords better in case of an database leak.

Other available algorithms: http://wiki.dovecot.org/Authentication/PasswordSchemes

[2016-06-07 08:32] cgorman commented on #203
Thanks for the info, this is my first foray into the Docker world so I wasn't sure what the best practices would be. I ended up writing a script that runs sa-learn and adding it to crontab, then committing the image. Seems to be working!

[2016-06-07 08:32] #203 closed

[2016-06-07 09:01] arielelkin opened #206 "Specify DNS Zone record"
I guess the exact procedure varies between different DNS providers, but could you please clarify if this is equivalent to adding a DNS Zone record, and if so what would be the subdomain (e.g. `*`) and type (e.g. `A` or `TXT`)?

[2016-06-07 09:55] tomav commented on #206
Hi @arielelkin, the answer is in the [Wiki](https://github.com/tomav/docker-mailserver/wiki/Configure-DKIM).

[2016-06-07 09:55] #206 closed

[2016-06-07 09:57] tomav commented on #179
Let's reopen this when a clear answer can be provided according to LetsEncrypt client.

[2016-06-07 09:57] #179 closed

[2016-06-07 10:00] tomav commented on #202
Hi @ppKrauss, it's possible because I think that [Dovecot supports postgresql](http://wiki2.dovecot.org/HowTo/DovecotPostgresql).

You can do it on your own overriding config files but this won't be merged in the current master, the purpose of this image (when you pull it), it to be managed using configurations files.

That said, let us know how you figured it out, a Wiki page could be a good plac

[2016-06-07 10:00] #202 closed

[2016-06-07 10:13] arielelkin commented on #205
[Sauce](https://books.google.de/books?id=rZhgtN90rIIC&pg=PA199&lpg=PA199&dq=%22md5+and+sha1+are+both+clearly+broken%22&source=bl&ots=o7HI4AVhGx&sig=GnP3jXEbSvjH4uiAtmNJ6tcVqg4&hl=en&sa=X&ved=0ahUKEwiZ36X11pXNAhWBWxQKHfzxD50Q6AEIJjAC#v=onepage&q=%22md5%20and%20sha1%20are%20both%20clearly%20broken%22&f=false)

[2016-06-07 11:22] tomav commented on #205
Good idea. Any other advice regarding the recommended algorithm?

[2016-06-08 16:27] dsummersl commented on #199
Thank you, that did it for me too - without docker-compose (using ansible).

[2016-06-10 12:01] lauri865 opened #207 "A way to override master.cf?"
Not really an issue with the repo, but probably my lack of knowledge.

Is there a way to override master.cf? I want to add a hook to trigger a php script, but couldn't find a way to override or append to master.cf. Any hints would be much appreciated.

[2016-06-10 14:07] tomav commented on #207
There's currently no such feature. But could be added, we do the same thing for some other file.

[2016-06-10 14:23] lauri865 commented on #207
Pushed a commit related to this. Please have a look if you have time. Thanks!

[2016-06-10 15:10] lauri865 commented on #207
Took a different stab at it. Should add more flexibility by enabling free execution of postconf

[2016-06-12 15:02] tomav commented on #207
Send the PR, I'll be able to see your 2 commit merged and review it.
You should also add integration tests.
Thanks.

[2016-06-13 22:06] Nhoty opened #209 "Error on generate-dkim-config"
I just follow all the stap on the readme.md file.

root@server1:/var/lib/docker# docker run --rm \

/usr/local/bin/generate-dkim-config: 6: /usr/local/bin/generate-dkim-config: cannot open /tmp/docker-mailserver/postfix-accounts.cf: No such file
/usr/local/bin/generate-dkim-config: 13: /usr/local/bin/generate-dkim-config: cannot open /tmp/docker-mailserver/postfix-virtual.cf: No such file
Creating

[2016-06-13 22:28] #209 closed

[2016-06-13 22:28] Nhoty commented on #209
It was a permission error ...

[2016-06-14 10:02] 00angus commented on #205
@arielelkin Good idea. I'm also currently using SSHA512 so for me it's ok.

[2016-06-14 10:30] tomav commented on #205
@Crafter6432 are you ok to adapt the doc and tests files with `SSHA512 `?

[2016-06-14 12:12] 00angus opened #212 "Question on "Override default dovecot configuration""
Is it working? I may be wrong but I think there is a problem.
[Here ](https://github.com/tomav/docker-mailserver/blob/master/target/start-mailserver.sh#L321-L324) we are copying into production the override config file **local.conf**, but AFAIK the **dovecot.conf** file doesn't load it by default (it's [commented out](https://github.com/tomav/docker-mailserver/blob/master/target/dovecot/dovecot.co

[2016-06-14 13:32] tomav commented on #212
I think it was @Josef-Friedrich who added this feature.

[2016-06-14 13:36] tomav commented on #205
WIP here https://github.com/tomav/docker-mailserver/pull/210

[2016-06-14 13:59] arielelkin commented on #205
👍

[2016-06-14 14:01] ttermeer-ouat opened #213 "[AWS] Domain Name"
This setup requires domainname in docker compose but AWS ECS task does not have such property. Any idea how to solve this ? amavis won't start because it doesn't have a FQDN in the hostname.

[2016-06-14 15:09] Josef-Friedrich commented on #212
It is working! [There are some tests.](https://github.com/tomav/docker-mailserver/blob/master/test/tests.bats#L229-L235)

It think the configuration file in the target folder [doveconf.conf](https://github.com/tomav/docker-mailserver/blob/master/target/dovecot/dovecot.conf) is not used.

This is the dovecot.conf of a running container from the latest docker-mail image:

[code]

Should we delete [d

[2016-06-14 15:16] 00angus commented on #212
Good to know 😃
I introduced that file so I thought it couldn't work. But probably we
stopped using that version at some point (I guess).

If not used probably should be removed.
Currently I cannot check this out.
On Jun 14, 2016 17:09, "Josef Friedrich" <notifications@github.com> wrote:

[2016-06-14 18:11] wb9688 opened #214 "Error 404"
I tried to install this following the [wiki](https://github.com/tomav/docker-mailserver/wiki), but I get an error 404:

![Screenshot](http://i.imgur.com/s9DoyYb.png)

[2016-06-14 23:46] roens commented on #213
ECS may not offer the flexibility required. I'm successfully running my server on a `t2.micro` instance.

[2016-06-15 07:52] tomav commented on #213
@ttermeer-ouat can you try without `docker-compose` using `docker run -h mail.domain.tld`?

[2016-06-15 07:56] tomav commented on #214
Can you paste the result of:
- `cat docker-compose.yml`
- `tree`

Thank you.

[2016-06-15 08:00] ttermeer-ouat commented on #213
Unfortunately EB and ECS does not expose docker run call. You have to create task definition using AWS modified version of docker property.
Here is the list of available parameters : http://docs.aws.amazon.com/fr_fr/AmazonECS/latest/developerguide/task_definition_parameters.html

[2016-06-15 11:02] tomav commented on #213
There is a `hostname` parameter in the page you linked.

[2016-06-15 11:03] tomav commented on #213
[code]

[2016-06-15 11:09] tomav commented on #214
It seems to be a docker issue, not related to this container.
You should check https://github.com/docker/docker/issues/17960

[2016-06-15 11:09] #214 closed

[2016-06-15 11:11] tomav commented on #213
I close this issue because it's not related to our image.
Let us know how it works on AWS with the suggested parameter.

Thank you @ttermeer-ouat

[2016-06-15 11:11] #213 closed

[2016-06-18 14:58] Krishath commented on #177
I've made this container [here](https://github.com/Krishath/docker-rainloop) which also has SSL support. I use it with this mailserver image without any issue. Let me know if this helps in any way.

[2016-06-21 22:02] jesusgalvan commented on #209
@Nhoty - how did you solve it?

[2016-06-21 23:05] strothj opened #215 "letsencrypt accept files ending with .pem and without"
There is an alternative acme client which creates a similar folder structure to the official client. The only difference is that the certificates do not have the .pem extension.

https://github.com/hlandau/acme
https://github.com/hlandau/acme/blob/master/_doc/SCHEMA.md

Is there a possibility of updating the letsencrypt SSL configuration section of start-mailserver.sh to take this into account?

[2016-06-22 15:19] tomav commented on #205
Fixed by https://github.com/tomav/docker-mailserver/pull/210

[2016-06-22 15:19] #205 closed

[2016-06-22 15:21] tomav commented on #177
I think @Krishath makes us move forward.
I close this thread as it not an issue and we have a solution for that.

As usual, feedback welcome. If they're positive, I'll be happy to link @Krishath's project in the `README`.

[2016-06-22 15:21] #177 closed

[2016-06-22 15:21] tomav commented on #207
Hi @lauri865, any update? Thank you.

[2016-06-22 20:58] Crafter6432 opened #216 "Option to disable AV"
It would be really nice to have an option to disable spamassassin, amavis and clamav as these services are very resource hungry(especially memory). In my case for instance these 3 services consume 23%(~450mb) which in my opinion isn't worth it as I'm the only user and know how to deal with viruses and spam if there's any.

[2016-06-24 15:50] keslerm commented on #215
I made symlinks (e.g. fullchain.pem -> fullchain ) as a work around if anyone else hits this.

[2016-06-26 17:27] kopax commented on #187
+1 for this feature. I am also looking to add this feature. I don't have experience with mail server yet, but I can help you.

[2016-06-26 21:09] QuadStingray opened #217 "Catch-All Address"
Hi,

when I configure an chatch-all-address all mails for an existing account will delivered to the catch-all adress and not to the account. What I`m doing wrong?

postfix-accounts.cf

`account@example.com|{SHA512-CRYPT}$6$Pi8yxp1ztD/lSkyG$kYd1NizLTUSz7Pc8y3v0b9vxcpaBROTUf0Fn3JVPrxBZftWPJfy2h3n.MhYSVAk6BzDeWfNB1cSJYftWLii.W0`

`account2@example.com|{SHA512-CRYPT}$6$Pi8yxp1ztD/lSkyG$kYd1NizLTUSz7Pc

[2016-06-29 07:18] belstgut opened #218 "Container command '/bin/sh' not found or does not exist."
[code]

[2016-06-29 07:34] belstgut commented on #218
same when trying to build the dockerfile from github directly:

[code]

[2016-06-30 05:05] kopax commented on #187
I started working on this. This feature seems not too hard to add.

https://wiki.gandi.net/fr/hosting/using-linux/tutorials/debian/mail-server-ldap

I will start to implement it for my own use. If you guys have idea's of configuration/usage/implementation. Please just share the specs here and I will do my best to implement the code.

[2016-06-30 17:54] kopax opened #219 "migrate v1 to v2"
[I would like to implement ldap configuration for everyone](https://github.com/tomav/docker-mailserver/issues/187) but I spent too much time trying to migrate from v1 to v2.

Why the certs aren't working in v2?

I have moved them in `/tmp/docker-mailserver/ssl` instead of `/tmp/postfix/ssl` but this doesn't seems to work.

I have also this error when trying to login. :  Password mismatch (SHA1 of

[2016-07-02 18:19] lnalex opened #220 "Spam auto-removed"
Hi,

I tried to test the spam configuration with the [GTUBE](https://spamassassin.apache.org/gtube/).

I created a junk folder and a Sieve rule to move all spam flagged email to this folder but it (SpamAssassin, Amavis or Postfix ?) still remove my email.

trace log:

    mail    | Jul  2 17:23:01 mail amavis[585]: (00585-01) Blocked SPAM {DiscardedInbound,Quarantined}, [1.1.1.1]:54163 [1.1.1.1] <

[2016-07-03 10:16] sspreitzer opened #221 "Add CHANGELOG"
Hi

I am updating from an older version and have to heavily fight with configuration changes that where brought in.
If they where a CHANGELOG this would be much easier.

Kind regards
Sascha

[2016-07-04 08:05] kopax commented on #219
Anyone could help please ?

	Postfix configurations
	postconf: fatal: -e, -X, or -# accepts no comment input
	postconf: fatal: missing attribute name: ""
	postconf: fatal: missing attribute name: ""
	postconf: fatal: -e, -X, or -# accepts no comment input
	postconf: fatal: missing attribute name: ""
	postconf: fatal: -e, -X, or -# accepts no comment input
	postconf: fatal: -e, -X, or -# accepts no

[2016-07-04 08:05] kopax commented on #221
I have opened a related [issue](https://github.com/tomav/docker-mailserver/issues/219)

+1 for changelog, did you manage to upgrade to v2?

[2016-07-05 16:13] kopax commented on #219
This warning are displayed when `postconf -e "$line"` is executed and can be ignored.

It seems there is an error in the custom certs configuration, it is not recommended to mix the certs and the key in the same file.

I have edited the start-mailserver.sh file to use the $(hostname)-key.pem in place of the key.

https://github.com/tomav/docker-mailserver/pull/224

I also added some explanation on

[2016-07-06 08:50] wanaoishi commented on #220
Have the same problem,
This is quite important that SPAM are not removed.

[2016-07-07 03:22] #221 closed

[2016-07-07 03:27] tomav commented on #221
@sspreitzer thanks for the PR. Merged.

@kopax: I personally upgraded changing the `docker-compose.yml` and pulling the new image.
I use LetsEncrypt certs. Nothing more.

I'll have a look to your issue, but perhaps you can start a new Wiki page on this topic with ideas you have.

[2016-07-07 03:31] tomav commented on #219
Regarding password mismatch, the accounts file has now encrypted passwords. Have a look to README and the wiki.

You can also send a gist and we'll try to have a look.

[2016-07-07 04:31] tomav commented on #220
Hi @lnalex and @wanaoishi, there is a docker env named `SA_KILL` set by default to `6.31`. From this score and above, emails are deleted. This is an amavis/spamassassin configuration.
Your test email is `Hits: 1000.364`.

Refer to spamassassin configuration for more information.

[2016-07-07 04:36] tomav commented on #220
Let me know.

[2016-07-07 04:36] #220 closed

[2016-07-08 20:12] lnalex commented on #220
That was the point. Thanks !

[2016-07-09 15:34] lnalex opened #225 "Docker Compose v1"
I use Rancher for container orchestration and only accept version 1 of docker compose file.
Since 9e1c4783a81fcad6c928a2439a0c9db54f511236 it has been upgraded to version 2.

Is it possible to keep a working version 1 of docker compose file ?

[2016-07-09 17:47] tomav commented on #225
Hi @lnalex, yes it should be possible.
Have a look to the [v1 format](https://github.com/tomav/docker-mailserver/tree/v1) and keep the paths of v2.

Let me know.

[2016-07-09 17:47] #225 closed

[2016-07-09 17:53] tomav commented on #216
Good idea @Crafter6432!
If you want to PR this enhancement, I'll be happy to merge it into master.
Be sure to read [this page](https://github.com/tomav/docker-mailserver/wiki/How-to-contribute) before.

[2016-07-09 17:55] tomav commented on #215
Symlink is the quickest way to do it.
I close this since its not an issue but we can discuss about an enhancement to manage this.

[2016-07-09 17:55] #215 closed

[2016-07-09 19:11] lnalex commented on #225
Ok great I'll test it. I didn't knew if the v1 was still updated.

[2016-07-10 13:36] cracker0dks opened #226 "fatal: no SASL authentication mechanisms"
I got the following error inside the docker container:

`Jul 10 10:43:18 1b83c6697007 postfix/smtpd[928]: fatal: no SASL authentication mechanisms`

solved it by connection to the container and changed user from "docker" to "postfix" as followed:

`chown postfix:postfix /var/spool/postfix/private`

[2016-07-10 13:40] cracker0dks commented on #226
ok after restart user is docker again and still working... dont know was the problem was -.-

[2016-07-10 13:40] #226 closed

[2016-07-11 11:40] approached commented on #217
Catchall work fine with:
[code]

But you can always use like this:
[code]

[2016-07-11 12:00] approached opened #227 "/etc/postfix/vhost for Domain listining"
hi@all

i have many domains and i will generate for these domains a alias. Like this:

/etc/postfix/vhost
[code]

Alias file:
[code]

Question: How i can manage the vhost file. I will that postfix will listening other domains too.

[2016-07-11 12:32] egorsmkv opened #228 "amavisd-new stops in the container"
I noted for the second time this behavior.

1. Start the container.
2. It works about half an hour.
3. Then he ceases to receive and send emails.

See [full_syslog.txt](https://github.com/tomav/docker-mailserver/files/357072/full_syslog.txt)

[2016-07-11 12:57] egorsmkv commented on #228
Well, it is the same mistake that here - https://github.com/tomav/docker-mailserver/issues/6

[2016-07-11 12:57] #228 closed

[2016-07-11 21:17] wanaoishi commented on #220
Thanks Tomav,
is there a way not to remove them but to move them to a spam box?

[2016-07-12 10:56] lnalex commented on #220
@wanaoishi You have to create a Sieve filter for your account.

    require "fileinto";
    if header :contains "X-Spam-Flag" "YES" {
      fileinto "Spam";
    }

[2016-07-13 11:42] wanaoishi commented on #220
Thanks

[2016-07-13 18:29] hitokiri8x opened #230 "Postfix: status=deferred (mail system configuration error)"
Hello, I'm having this error

while users sends email between them. (ex.   user1@example.com sends and email to user2@gmail.com and cc  user3@example.com ; user3 generate that error).
I should have set everything all-right, I tried also to set postfix's  main.cf

but then in the log I gain the warning

[2016-07-14 06:37] bigpigeon opened #231 "clamav start fail"
when i sent mail, I found error in logs:
mail    | Jul 14 06:22:53 mail amavis[618]: (00618-01) (!)connect to /var/run/clamav/clamd.ctl failed, attempt #1: Can't connect to UNIX socket /var/run/clamav/clamd.ctl: No such file or directory
mail    | Jul 14 06:22:54 mail amavis[618]: (00618-01) (!)connect to /var/run/clamav/clamd.ctl failed, attempt #1: Can't connect to UNIX socket /var/run/clamav/cl

[2016-07-14 06:51] bigpigeon commented on #231
I guess  memory was not enouth

[2016-07-14 14:41] jmparra commented on #231
maybe is a memory issue https://github.com/tomav/docker-mailserver/issues/6

[2016-07-15 07:12] bigpigeon commented on #231
yeah, i alse guess memory issue
my ec2 was 1GB memory

[2016-07-15 07:12] #231 closed

[2016-07-18 16:50] djbrown78 opened #232 "alpine version?"
Hi, did you give up on the Alpine version?

[2016-07-19 08:06] bigpigeon opened #233 "usually Connection timed out"
when I sent large numbers mail  .i was see like this
[code]

and the mail queue was very long

[2016-07-19 11:20] keyrush opened #234 "connection timed out when sending mails"
I tried with v2 and latest.
My accounts are well configured, I can receive emails.
I can send emails, but most are returned to sender because of timeouts.
For example, with recipients @gmail.com:

[code]

In the container, of course a telnet to gmail-smtp-in.l.google.com timed out.
It worked on the server running the container, though only with ipv6, not ipv4.

[code]
Did I miss anything?

[2016-07-19 17:31] keyrush commented on #234
Both following commands are working in the container:
[code]
mail-tester.com said DKIM was not set-up properly, I'm fixing that.
I still don't understand what's going on.

[2016-07-20 08:44] keyrush commented on #234
I was not aware that my port 25 was automatically blocked because of spams.
Sorry for the noise.

[2016-07-20 08:44] #234 closed

[2016-07-20 10:15] tomav commented on #227
Have you tried to create a user `fat@domain1.com` and add the aliases in `postfix-virtual.cf`

[2016-07-20 10:20] tomav commented on #230
Reproduced with your test case.

[2016-07-20 10:21] tomav commented on #232
Currently yes. But feel free to let us know if you have inputs on that part.

[2016-07-20 10:22] tomav commented on #232
I close the issue. Let's reopen if someone starts working on this.
On my side, the only value is a smaller image size. I'm not sure that maintenance will be that easy.
We can talk about that, I'm open to suggestions.

[2016-07-20 10:26] Zapadlo opened #235 "Not trailing docker logs"
After a number of restarts I stopped getting logs from `docker logs -f mail`. After start up, this is the last message:

[code]

Docker version:

[code]

Linux:

[code]

Ubuntu 16:04

[code]

[2016-07-20 11:29] tomav commented on #233
Seems that `ipv6` is default. This could probably be improved.

[2016-07-20 11:35] tomav commented on #235
Hi @Zapadlo, no idea at all regarding your problem. Perhaps a change in 16.04 ?
I don't think this is related to `docker-mailserver`.

Anyone has already seen this message?

[2016-07-20 11:35] #217 closed

[2016-07-20 11:49] tomav opened #236 "Looking for contributors"
Hi guys, first of all, thanks for using this image and for all you contributions on code and the wiki which looks great.
We've now 500+ stars but, as the project become more and more used, my availability for it doesn't scale.

That's why I'm looking for 2 contributors that can help me to answer questions, improve documentation and tools, and think about new versions.

If you interested, leave a m

[2016-07-20 11:53] keyrush commented on #234
For the record, I had to specify a sender access list limited to my domains in order to avoid to be considered as a spammer by my server provider.
[code]

[2016-07-20 11:56] StreakyCobra commented on #230
I have the same problem with a slightly different use case:

I defined the following virtual aliases:

    info@example.com user1@example.com,user2@example.com
    sales@example.com user2@example.com

Sending a mail to `sales@example.com` works as expected, i.e. the mail is being forwarded to `user2@example.com`.

Sending a mail to `info@example.com` doesn't work as expected, i.e. the mail is not

[2016-07-20 15:09] approached commented on #227
Good idea.
I think it will be worked. But this would be a workaround.

[2016-07-22 06:58] tomav opened #237 "Error on postmap /etc/postfix/sasl_passwd"
Got this error:

`postmap: warning: /etc/postfix/sasl_passwd, line 1: expected format: key whitespace value`

Will have a look.

[2016-07-23 16:27] tomav commented on #235
@Zapadlo, have a look to http://kb.apisnetworks.com/platform/tail/

I close this issue, seems to be not related to the image.

[2016-07-23 16:27] #235 closed

[2016-07-23 16:30] tomav commented on #233
`inet_protocols = all` is currently being used.
Changing it to `ipv4` should do the trick.

I'm gonna check to have a feature for this.

[2016-07-23 16:39] tomav commented on #233
@bigpigeon no need of new feature, use this : https://github.com/tomav/docker-mailserver/wiki/Override-default-postfix-configuration

[2016-07-23 16:39] #233 closed

[2016-07-23 18:35] #237 closed

[2016-07-23 20:05] #230 closed

[2016-07-23 21:13] tomav commented on #227
Hi @approached, I just tried what I suggested and it works as expected.
I added `@localdomain2.com user1@localhost.localdomain` in the virtuals and sent an email to
`wildcard@localdomain2.com`.

Mail is received and delivered to `user1@localhost.localdomain`.

[code]

[2016-07-23 21:13] #227 closed

[2016-07-23 21:16] tomav commented on #207
Closed due to inactivity. Reopen if needed.

[2016-07-23 21:16] #207 closed

[2016-07-23 21:18] tomav commented on #219
@kopax how are you? What about this issue?
Let me know.

[2016-07-24 02:55] kopax commented on #219
=> https://github.com/tomav/docker-mailserver/pull/224

[2016-07-24 11:02] StreakyCobra commented on #230
I confirm the issue is fixed for my use case. Thanks a lot!

[2016-07-24 11:18] tomav commented on #230
Great!

[2016-07-24 11:29] tomav commented on #219
@kopax, there are lot of things reported here:
- postconf issue
- password mismatch
- self-signed and custom certs changes
- LDAP is another topic.

How can we help?
Did you manage to fix your issues?

[2016-07-24 19:34] auchri opened #242 "DKIM does not respect hostname"
I've set my hostname do something different than `mail`.

But generate-dkim-config still generates the key for `mail`: https://github.com/tomav/docker-mailserver/blob/master/target/bin/generate-dkim-config#L36 & https://github.com/tomav/docker-mailserver/blob/master/target/bin/generate-dkim-config#L47

I don't know if this is the correct behavior. If this works as expected, please close the issue.

[2016-07-24 19:44] tomav commented on #242
Perhaps ask @bilak who added the feature.

[2016-07-26 10:20] chrisella opened #244 "Account that is an alias"
Hi,
I've just gotten started using this great container you've put together. It's vastly simplified getting my mail server up, so huge thanks for that!
In the past on my mail server I had an account like that defined in postfix-accounts.cf which I/family could use to send mail as on google. You would use those credentials to add the account in the gmail settings.

Then my server would just forward

[2016-07-26 15:15] joelchen opened #245 "Feature Request: OpenSMTPD"
With [goals](https://opensmtpd.org/goals.html) similar to [Docker](https://www.docker.com/what-docker) in terms of lightweight(lean) and secure, I think [OpenSMTPD](https://opensmtpd.org) is a better fit for this project than Postfix. What do you think?

[2016-07-26 19:38] auchri commented on #244
You could create a filter which forwards all messages: https://github.com/tomav/docker-mailserver/wiki/Configure-Sieve-filters

[2016-07-29 12:23] tomav commented on #244
Hi @chrisella and thanks for your feedback.
You should separate the account and the alias. What I mean here is that, as you said, account takes priority on alias. So create another mail account, and use your alias for external forward.

The Sieve configuration that @auchri exposed could work too.

[2016-07-29 12:23] #244 closed

[2016-07-30 17:29] kevintraver opened #248 "Does not work with Docker Cloud"
Is it possible to override `domainname`?

`hostname`,`domainname`, and `container_name` are not valid keys and cannot be manually set when using a Docker Cloud YAML stack file.

[2016-08-01 09:28] tomav commented on #248
Hi @kevintraver, it seems that `hostname` and `domainname` are supported in Docker Cloud YAML doc.
https://docs.docker.com/docker-cloud/apps/stack-yaml-reference/#/single-value-keys-analogous-to-a-docker-run-counterpart

[code]

How can we help?

[2016-08-01 14:21] BirgerK commented on #219
I'm interested in this project and started reading some issues. Most issues clearly say what they do or what's the problem.

But, sorry, what task shall this issue do? It's better to create a (mostly) detailed issue for every migration-problem and add to that tickets a tag f.e. 'v1_to_v2' or smth.

Just my two cents....

[2016-08-01 15:28] BirgerK opened #249 "Multiple mail-addresses for single user"
Is it possible that an user receives his mails by multiple mail-addresses?

For example the user `user1@domain.tld` gets all mails in his inbox when the mail was sent to:
* `user.1@domain.tld` or
* `1@domain.tld` or
* `user@domain.tld` or
* `user1@domain.tld` or
* .... I think you get it ...

Is it possible to do this? Does Dovecot can work with it?

[2016-08-01 15:31] tomav commented on #249
Yep, create `user1@domain.tld` as an account and the other as aliases.
https://github.com/tomav/docker-mailserver/wiki/Configure-Accounts
https://github.com/tomav/docker-mailserver/wiki/Configure-Aliases

They can on the same or different domains.

I personnally use this configuration with an account and 500+ aliases.

[2016-08-01 15:31] #249 closed

[2016-08-01 18:22] kevintraver commented on #248
Ah, I did not realize that. Thanks!

[2016-08-01 18:25] kevintraver commented on #248
It looks like there must be a different way set those properties. Regardless, this seems to be more of an issue with Docker Cloud so we can probably close this

[2016-08-02 12:03] tomav commented on #248
True.

[2016-08-02 12:03] #248 closed

[2016-08-04 08:03] omigeot commented on #187
Just my 2 cents here, but I just discovered your project while trying to build something similar. On the "external userdb" front (e.g. LDAP), I was thinking about adding a thin layer of abstraction between LDAP and the mail services.

Both Postfix and Dovecot are more or less able to get their userdatabases from either shell-scripts/commands and/or simple telnet-like services. Given that, wouldn't

[2016-08-04 08:35] tomav commented on #187
Yep, I think only connector should go in docker-mailserver and use external pre-existing LDAP (or equivalent) images.

[2016-08-04 08:38] omigeot commented on #187
Pluggability has an added advantage : it'd allow to plug non-docker user sources. Think "pre-existing LDAP/AD", "owncloud SQL db", ...

[2016-08-04 10:41] ep0ch2 commented on #216
Don't suppose there's an image with this feature that i could test?

[2016-08-04 14:26] KyleOndy commented on #216
@tomav Could we just wrap the configuration and starting of each component in a check for an Env var? Similar to the existing `ENABLE_MANAGESIEVE` and such?

I will submit a PR if that sounds reasonable.

[2016-08-04 15:29] tomav commented on #216
@KyleOndy of course. But it could have an impact on some config files, like postfix.

[2016-08-04 19:24] tomav commented on #216
Done

[2016-08-04 19:24] #216 closed

[2016-08-04 19:29] KyleOndy commented on #236
I'll throw my hat into the ring.

-----

As a fairly new comer to the opensource world I am looking for something other than a personal project to get involved with, I think docker-mailserver is a good fir for me. I would like to contribute to the sustained development and hopeful proliferation of this project.

## The ~~Bad~~ Not Ideal

* I do not have any experience with postfix or dovecot (or a

[2016-08-06 04:07] kopax commented on #187
As I told @tomav, I did it already.
I will now submit a PR with LDAP, somebody needs to take care of the regression test and documentation.

[2016-08-06 05:25] kopax commented on #219
- postconf issue

The ` -e, -X, or -# accepts no comment input` occur when using postconf command.
Previous postfix configuration file was just copied in /etc/postfix and use has it was.

Solution was to remove comment and just use value that I needed to overwrite.

- password missmatch

I wasn't able to correct that one. It seems that the previous account file containings mail and password wasn't

[2016-08-08 08:54] tomav commented on #219
Ok, I will close this issue because:
- LDAP has its own issue #187
- Changes regarding user management is explained in the Wiki

Regarding self-signed certs, you're right I don't use them, I'm using LetsEncrypt.
Perhaps @emazzotta or @00angus may help.
Otherwise, feel free to PR your fix with tests. I know that we don't cover 100% of this image scope and if you have experienced with this, it will

[2016-08-08 08:54] #219 closed

[2016-08-08 09:03] tomav commented on #245
Hi @joelchen, I've never heard about OpenSMTPD before.
I checked online for comparaison but it seems to be "too young".
I also checked [google trends](https://www.google.com/trends/explore?cat=31&date=today%2012-m&q=opensmtpd,postfix&hl=en-US) to see the activity and discussions around it...

I can't see any advantage of such migration now.
Personally, I wouldn't change to OpenSMTPD.

Guys, what d

[2016-08-08 09:26] 00angus commented on #219
Hi - by reading the comments it seems that the user has something working now.
Anyway, as for the password mismatch issue - as you @tomav suggest - the problem is quite certainly with the account file: from v1 to v2 that file has important changes in its content => you cannot simply copy/move it.
The main change is with the **passwords** that **cannot be written anymore in clear text**.

By simply

[2016-08-10 06:38] peterphilipp opened #252 "SMTP Relay"
Hi,

thanks for this great docker image!

One Question: I do not get how to use external Relay servers. For that I need to change "/etc/postfix/sasl_passwd" but so far I do not see how add parameters to that file. Do I overlook something, or would that be a feature request?

Best regards from Hamburg

Peter

[2016-08-10 07:09] tomav commented on #252
Hi @peterphilipp, [this feature exists](https://github.com/tomav/docker-mailserver#sasl_passwd).

[2016-08-10 11:19] Zehir opened #253 "SSL_TYPE letsencrypt not working"
Hello, I try to use a letsencrypt cert but the script dont load it.

docker-compose.yml
[code]
I see in the start-mailserver.sh script L120 that I should see this line in log: echo "Adding $(hostname) SSL certificate"

But there is my log:
[code]

My 4 files for cert exist:

[code]

So what I have wrong?

Thank

[2016-08-10 11:29] Zehir commented on #253
I found my error, the cert files should be in /etc/letsencrypt/live/mx.my_domain.tld/ and not /etc/letsencrypt/live/my_domain.tld/

Sorry I should read the docs more carefully

[2016-08-10 11:29] #253 closed

[2016-08-10 11:32] tomav commented on #253
No problem, you're welcome.
Glad to know the doc help sometimes 😄

[2016-08-10 11:45] tomav commented on #242
@auchri did you try it on your server? The `selector` given is just a name (it could be default) and should work with other sub-domains of the main domain.

Let me know.

[2016-08-10 11:48] auchri commented on #242
Yes it works, but if you have different mailservers on different subdomains it won't work.

[2016-08-10 11:50] tomav commented on #242
Will you be able to contribute a patch for that?

[2016-08-10 11:50] bilak commented on #242
Hi can you please investigate why it should not work?

[2016-08-12 19:48] auchri commented on #242
@bilak Because I assume the second mailserver on a different subdomain would generate a different DKIM key at the same selector.

[2016-08-12 21:09] tomav opened #254 "Easy config for secondary / backup MX server"
Note for later...

[2016-08-14 16:50] tomav opened #255 "Add greylisting using postgrey"
From https://www.administrator.de/link/fullstack-simple-mailserver-smtp-imap-antispam-antivirus-ssl-using-docker-312376.html

[2016-08-14 16:55] tomav opened #256 "Bug in selective service"
Bug found by @ep0ch2 in https://github.com/tomav/docker-mailserver/pull/250

@KyleOndy: I'm opening this issue for reminder.
Will you be able to work on it? May I help?

Thank you.

[2016-08-14 17:17] tomav opened #257 "Docker-Mailserver v2.1"
This is non exhaustive list of what can be done in `docker-mailserver 2.1`. Let me know if you have ideas.
**I'm also looking for contributors (#236)**

### New features
- [ ] Easy config for secondary / backup MX server (#254)

### Bug fixes
- [ ] Fix bug in selective services (#256)

### Refactor
- [ ] Refactor `ENV` enable/disable. "Everything" should be disabled by default to let users configu

[2016-08-15 13:01] KyleOndy commented on #256
I went on a yak-shaving expedition attempting to expand the testing suite to catch issues like this. Let me look back into it.

[2016-08-15 17:49] bilak commented on #242
@auchri if there are different subdomains, there will be different DKIM keys (eg mail._domainkey.subdomain1.domain.com and mail._domainkey.subdomain2.domain.com). I see here two possible issues:

1. we aren't able to use custom selectors
2. if we want to be able to use dkim of parent domain in subdomains (we are using it by specifying --subdomains flag in genkey) the process should check if key fo

[2016-08-15 21:10] mathuin opened #259 "RFC: config as named volume, not directory"
Anyone can fork a project -- I'd like my contributions to be upstream-friendly, so I don't want them to come as a complete surprise.  Before I put any effort into this idea, I wanted to ask for comments and thoughts.

Tools like Rancher and docker-machine work well with named volumes, and less so with mounted directories.  Changing config to work as a named volume would involve the following steps

[2016-08-16 13:23] jcgruenhage opened #260 "Fetchmail"
What do you think about including fetchmail?
You can use that to fetch mail from mail providers, e.g. gmail or whatever you might have been using before. You could also set up forwarding online instead, that is ugly and not supported by every mail provider.

[2016-08-16 13:25] tomav commented on #260
Hi @jcgruenhage, must it be built-in or can it be used as another docker image?

[2016-08-16 19:45] Zehir opened #261 "mynetworks missmatch container ip"
Hello, I try to send a mail with auth from the docker host but I get the error: Relay access denied

So I look the main.cf file and I see:
`smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128 172.17.0.0/16`
But the ip address of eth0 of container is 172.18.0.2 so is not in 172.17.0.0/16.

This is

[2016-08-16 21:06] Zehir commented on #257
Maybe you can improve the doc about the sasl auth

[2016-08-16 22:28] citec opened #262 "custom ssl location"
Hi, I have installed the container in production for a test domain, it is working perfect, thanks for the amazing job.
I have used custom ssl certificate and I have noticed a documentation error:
In the wiki/Configure-SSL it says $(pwd)/postfix/ssl, but then, the start-mailserver.sh tries to get the "$(hostname)-full.pem from /tmp/docker-mailserver/ssl, that is mounted from ./config, so:

That ./p

[2016-08-17 07:43] tomav commented on #257
Hi @Zehir, yeah probably. I personally don't use it so I'm not an expert.
I'm currently refactoring tests and when I look at SASL, they're not clear neither.

Do you have any input based on your experience? Feel free to update the Wiki if you have useful informations.

I log your request in 2.1.

[2016-08-17 07:44] tomav commented on #262
Hi @citec and thanks for your message. Can you update the Wiki as it should be?

[2016-08-17 07:46] tomav commented on #261
Mine is `172.17.0.1`. Perhaps this could be determined when container start.
A workaround is to use authentication, no?

[2016-08-17 07:46] Zehir commented on #257
I have no experience about SASL, I try to use it but the doc what I have found is not clear. Some say that the auth is "AUTH PLAIN "+ base 64 of username\0username\0password or username\@host\0password but none work.

[2016-08-17 07:52] Zehir commented on #261
I try to use sasl #257 ..
My docker0 ip address on host is 172.17.0.1 too but I have a a interface named br-05dccab054bd with 172.18.0.1.
And in the container logs I see this:
`mx postfix/smtpd[1445]: warning: unknown[172.18.0.1]: SASL PLAIN authentication failed:`

so is the ip address of bridge who is used.

I do not tweak any docker config except docker-compose.yml. And I do not change anything

[2016-08-17 07:57] tomav commented on #257
I used it in the `docker-mailserver v1`, we can see in the tests.
I think I used [this page](http://www.samlogic.net/articles/smtp-commands-reference-auth.htm) as doc.

[2016-08-17 08:04] Zehir commented on #257
In the docker compose doc https://docs.docker.com/compose/networking/#/networking-in-compose
He says that when you create a container with docker-compose a bridge named mail_default is created
With the command docker network inspect mail_default I see this network:

[code]
Maybe in the install script you should detect network address for [mynetworks](https://github.com/tomav/docker-mailserver/blob

[2016-08-17 08:17] tomav commented on #257
Yes, that's what I suggested in the other thread.
I create another issue separated from this roadmap.

[2016-08-17 08:20] tomav commented on #261
We should add a `PERMIT_DOCKER_NETWORK` (false by default).
When set to `1`, the docker network should be whitelisted.

[2016-08-17 08:21] tomav commented on #261
Wanna work on it?

[2016-08-17 08:34] YouriT opened #263 "How to reload without restart"
Well the title is pretty explanatory but I was wondering how to reload the config easily without `docker exec -ti mail bash` then modifying the files manually and reloading each services individually?

Thanks for this great container!

[2016-08-17 08:43] Zehir commented on #261
Why not, I looking for a way to get network address.
Do you have a other container on the same host to check if his network address is the same bridge/network?

You can use this commands:
[code]

[2016-08-17 08:55] Zehir commented on #261
Using this command:
`docker exec mail cat /etc/postfix/main.cf`
I get:
`mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128 172.17.0.0/16`
And with
`docker exec mail postconf -d`
I get:
`mynetworks = 127.0.0.0/8 172.18.0.0/16 [::1]/128 [fe80::]/64`
Any idea why?

[2016-08-17 09:18] Zehir commented on #261
after some test I see that the default conf should allow the host but not the other container
So I my mind if you add the option PERMIT_DOCKER_NETWORK you should add 172.0.0.0/8. And by default keep the default value and not this value:
`127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128 172.17.0.0/16`
by default postfix allow all ip on same network of eth0.

This seems to be correct for you?

[2016-08-17 09:22] Zehir commented on #261
maybe we can use by default:
`mynetworks = 127.0.0.0/8 [::1]/128 [fe80::]/64`
to allow only localhost

then with option `PERMIT_DOCKER_HOST` add (in my case) `172.18.0.0/16` (so the default value of postfix)
and with option `PERMIT_DOCKER_OTHER_CONTAINER` add (in my case) `172.0.0.0/8`

[2016-08-17 12:52] jcgruenhage commented on #260
I thought it could not, but because you asked I looked again and voila, there was a premade container somewhere, although that probably will not work since it is optimised for exim.

[2016-08-17 12:52] #260 closed

[2016-08-17 15:14] tomav commented on #261
I agree on the default.
I agree on `PERMIT_DOCKER_HOST` to add host automatically.
For the last one, I would name it `PERMIT_DOCKER_NETWORK`.

[2016-08-17 15:14] tomav commented on #262
It seems that you modified the Wiki.
Thanks!

[2016-08-17 15:14] #262 closed

[2016-08-17 16:31] Josef-Friedrich commented on #260
I would welcome it, if  `fetchmail` would be built in. A time ago I tried  to run fetchmail in a separate container - without success. Isn’t `fetchmail` a UNIX mail tool like `postfix` or `dovecot`, which should live in one container among their companions.

[2016-08-17 17:03] tomav commented on #260
I accept PR and docs 😄

[2016-08-18 07:58] tomav commented on #263
Thank @YouriT!
Regarding your question, currently I reload postfix process when I add an alias directly in the `/etc/postfix/` folder using `docker exec mail /etc/init.d/postfix reload`.

If your change is related to an account a low level configuration, you have to restart your container which takes few seconds.

Perhaps few things can be improved, I'm open to suggestions and pull requests.

[2016-08-18 07:58] #263 closed

[2016-08-18 15:29] citec opened #266 "Monitoring tools"
Hi, have you though about integrating some monitoring tool? It good be great to have some tool (cli or gui or both) to analyce pending email queue, log statistics, etc

[2016-08-18 15:39] tomav commented on #266
IMHO, an ELK stack, external to the project is a good option, except that it's not lightweight.
I tried few other command line tools but they don't give relevant information.

[2016-08-18 15:40] tomav commented on #266
https://elk-docker.readthedocs.io/

[2016-08-18 15:41] citec commented on #266
Is there any elk stack that already analyse email logs?

[2016-08-18 15:42] citec opened #267 "imapsync"
I have created a mini-container with imapsync on it and add to the project. I don't know if you guys find it useful. But we could add imapsync to the container so users could use it to migrate accounts.

[2016-08-18 15:47] citec commented on #263
I used to have postfix linked to mysql and I needed no restart to load new accounts. This is really a problem (the need to stop the whole service to add an email account or change a password).
Is there any way of changing the postfix-accounts.cf file and reload postfix without having to restart the whole service?

[2016-08-18 18:00] KyleOndy commented on #256
These next few weeks I am going to have very little or no availability. Anyone is welcome to take a look at this and submit a PR.

[2016-08-18 21:50] clobercow opened #268 "docker-compose.yml issues"
ERROR: In file './docker-compose.yml' service 'version' doesn't have any configuration options. All top level keys in your docker-compose.yml must map to a dictionary of configuration options.

The error above is what is generated when I paste the contents of the example you have on the wiki and try to run it. I only edited the domain name section.

Can you assist?

[2016-08-19 05:33] Anthony-Tatowicz opened #269 "SMTP will not connect"
I need some guide on getting outgoing mail to work. I have looked through all the docs and wiki and can't find anything. I can run the container and connect to the server and even receive mail, but when sending it always fails, but there is no logs on the server side like it can't even connect, but the proper ports (25, 587) are open and the container is running.

[2016-08-19 07:26] Zehir commented on #261
we must use one option at a time so maybe you should name the options like this:
PERMIT_DOCKER=HOST
PERMIT_DOCKER=NETWORK

Because 172.18.0.0/16 is included in 172.0.0.0/8

[2016-08-19 07:54] tomav commented on #261
True.

[2016-08-19 07:57] Zehir commented on #261
By default it should also add the IP address of the container. Although it should use 127.0.0.1.
I'm working on now, I should make a PR in the day

[2016-08-19 08:00] tomav commented on #269
If you even don't see a connection, you have another problem.
When you say "ports are open" it's because you configured your firewall to, or because you can telnet the server on port 25 and 587. If you can telnet from the host you're trying to send emails from, you will have something in `/var/log/mail/mail.log`.

Other question, do you recently change your DNS configuration?

[2016-08-19 08:02] tomav commented on #261
`127.0.0.1` is already listed I think.
Thanks for the PR.

[2016-08-19 08:12] Zehir commented on #261
Yes 127.0.0.1 is already included but I talking about 172.18.0.2/32

[2016-08-19 10:45] Zehir commented on #261
I make the pull request but the travis build fail but it's not my fault

[2016-08-19 11:17] Zehir commented on #257
You can also upgrade to ubuntu lts 16.04

[2016-08-19 21:09] Anthony-Tatowicz commented on #269
Well the connection times out on port 25 and there is no log of connection with smtp, but imap works. I am not sure where I'm going wrong on the server 25 and 587 accepts connections from all ips and DNS works fine for imap, so everything seems to be correctly routed. I don't know what could be blocking the smtp traffic? This is also hosted remote on a virtual server, so there should be no blackli

[2016-08-19 21:13] Anthony-Tatowicz commented on #269
[code]

Here is the compose, certs work DNS is is an `@ MX mail.fakedomain.com` and the A record points the the proper IP the DKIM is `@ TXT <key> for  fakedomain.com`

[2016-08-19 21:16] Anthony-Tatowicz commented on #269
LMAO, sorry I'm closing this issue it was an issue with port 25 being blocked on the client end?? Wtf, sorry to waste your time.

[2016-08-19 21:16] #269 closed

[2016-08-20 21:24] payneio commented on #268
Need to update docker-compose

[2016-08-21 20:16] tomav commented on #268
@payneio is right, you're probably using a `docker-compose` version lower than 1.6.
Could you confirm?

[2016-08-21 20:18] tomav commented on #267
Hi @citec, this should be kept apart from this image because it could be used with other image than docker-mailserver, no?

[2016-08-21 20:22] citec commented on #267
Yes, maybe it is just a bad habit I have to put always an utils folder along with the project. I will keep it in my own branch then. Thanks

[2016-08-21 21:13] tomav commented on #267
If your imap sync can be an image, you should publish and document it.
I'll be happy to have a link a third party tools to create an ecosystem.

[2016-08-21 21:13] #267 closed

[2016-08-21 21:52] haraldkoch commented on #266
Part of an ELK solution is here: https://github.com/whyscream/postfix-grok-patterns

[2016-08-21 22:12] mc-molo commented on #268
I've had the same issue as @clobercow. Updating docker-compose (as described here https://docs.docker.com/compose/install/ ) fixed this issue.
Container starting up without errors.

[2016-08-22 07:34] tomav commented on #268
Great, thank you @mc-molo.

[2016-08-22 07:34] #268 closed

[2016-08-22 08:57] bigpigeon opened #272 "sending speed over Max Send Rate on amazon ses"
sometime the system will sent big number mail in a short time,
that have many connection timeout email in my mail queue.
Can it make a cache to sending mail as a buffer

ps: my Max Send Rate:	14 emails/second
mailq infomation

[code]

[2016-08-22 15:38] tomav commented on #212
@00angus have you checked what you wanted to? Thank you!

[2016-08-22 18:38] citec commented on #266
thanks, I will try it

[2016-08-22 18:40] citec opened #274 "mail proxy"
Hi, now that we can have our email infrastructure on docker, we can move the containers easily. So now comes a question to my mind: in order to make **user-transparent server migrations** of our email services, we would need an **email proxy service**. Does any of you have any experience building an imap/smtp proxy?

[2016-08-22 19:13] egorsmkv commented on #274
Nginx support mail proxy. For example, show this project: https://github.com/jwilder/nginx-proxy

[2016-08-22 19:17] citec commented on #274
Yes, I am using that image in some projects here already, but for web proxies, I never implemented a mail proxy, I guess it is complicated because of the certificales, auth, etc. I found this: https://www.nginx.com/resources/admin-guide/mail-proxy/
I will try it on the weekend

[2016-08-22 21:02] fatinishrak opened #275 "having problem using $ docker-compose up -d mail"
Hello, i am using Ubuntu 14.04 for setup mail server. i face this error pls help.

root@docker-4gb-nyc1-01:~/docker-mailserver# docker-compose up -d mail
Creating mail

ERROR: for mail  Cannot create container for service mail: Conflict. The name "/mail" is already in use by container c157858ebb8de31f85c97b69d6e26c4063ab51da57de144c6905a0747e016815. You have to remove (or rename) that container to

[2016-08-22 21:08] tomav commented on #275
Hi, you already have a container named mail. that's what is written :-)
Remove it (if possible) and restart. Otherwise change the name in your `Dockerfile` to something else than mail.

[2016-08-22 21:08] #275 closed

[2016-08-22 21:33] cies opened #276 "Mention the requirement on docker-compose version in the REAMDE"
When I come to the installation step:

    docker-compose up -d mail

Then I get:

    ERROR: In file './docker-compose.yml' service 'version' doesn't have any configuration options. All top level keys in your docker-compose.yml must map to a dictionary of configuration options.

A bit of intuition and looking around and I found that I should install `docker-compose` by `curl` and not by `apt-get`

[2016-08-22 21:34] fatinishrak commented on #275
how can i test?

On 23 August 2016 at 03:34, Hamin Ishrak <haminishrak@gmail.com> wrote:

--

[image: --]

Fatin Ishrak
[image: https://]about.me/Ishrak
<https://about.me/Ishrak?promo=email_sig&utm_source=email_sig&utm_medium=email_sig&utm_campaign=external_links>

[2016-08-22 21:36] egorsmkv commented on #274
Sorry, I gave wrong link.

Explore this project https://github.com/hasufell/nginx-mail-proxy, show **Dockerfile**.

[2016-08-22 21:45] tomav commented on #276
Hi @cies, another has been reported with exact same problem: https://github.com/tomav/docker-mailserver/issues/268

[2016-08-22 21:45] #276 closed

[2016-08-24 01:59] bigpigeon commented on #272
I found that error is  25 port, when I replace 587 number with port number  that server work well

[2016-08-24 01:59] #272 closed

[2016-08-24 08:18] YouriT commented on #263
I must agree with @citec on that point.
The use case is pretty simple, you don't want to restart your service (even if it's fast) each time you add a new mailbox to your system. Hopefully MX will try again later but that should not be the regular use-case I'd say. A simple DB even with SQLite would help solving this problem @tomav isn't ?

@citec I found another one that works with MariaDB if that

[2016-08-24 08:27] tomav commented on #263
Hi guys, just to be clear, I do agree with you 😄
It's just that it doesn't exist right now in the proposed features.

A database will go against the concept of this image which is supposed to be based on static files, at least by default. I'm not opposed to any other approach as options in the image.

The feature you request could be added with a refactor of `bin/start-mailserver.sh` if you want t

[2016-08-24 08:28] tomav commented on #261
Merged.

[2016-08-24 08:28] #261 closed

[2016-08-24 08:30] YouriT commented on #263
And what about a SQLite? You would still rely on static files while having a database :)

[2016-08-24 14:47] aks2687 opened #281 "Error when starting mail server."
Hi
Unable to send/receive the mails from one account to another account. I am able to create new accounts and authenticate them against the mail server.

Following is the message seen in the logs :
mail    | Aug 24 14:07:29 test postfix/qmgr[1313]: 4311BB2C: from=<abc@aaa.com>, size=521, nrcpt=1 (queue active)
mail    | Aug 24 14:07:29 test postfix/smtpd[1330]: disconnect from unknown[172.18.0.1]

[2016-08-24 14:49] tomav commented on #281
Hi @aks2687, perhaps it's related to https://github.com/tomav/docker-mailserver/pull/270

[2016-08-25 14:44] aks2687 commented on #281
I tried setting the DOCKER_PERMIT.
If I am correct after setting the above option, I should see the following logs based on the DOCKER_PERMIT setting, when starting the mail server :
For host: echo "Adding $container_network/16 to my networks"
For network: echo "Adding docker network in my networks"

But I do not see any of the above logs. I did a pull for the latest docker image & using the follo

[2016-08-27 08:14] fatinishrak opened #282 "docker"
how can i setup docker mail server.please give me a tutorial

[2016-08-27 19:01] Josef-Friedrich commented on #282
In the [Wiki](https://github.com/tomav/docker-mailserver/wiki) of the project you find a lot of documentation.

[2016-08-28 01:50] saydulk opened #283 "Is their any Graphical User Interface thus I can manage this mail server"
Hello, i am new using this server. Is their any Graphical User Interface thus I can manage this mail server??

[2016-08-28 10:04] egorsmkv commented on #283
Use only terminal!

[2016-08-28 15:55] tomav commented on #282
Same as @Josef-Friedrich.

[2016-08-28 15:55] #282 closed

[2016-08-28 16:28] tomav commented on #283
Using an GUI won't let you understand how a mail server works.

[2016-08-28 16:28] #283 closed

[2016-08-28 18:13] citec opened #284 "Autoresponder"
It would be great to have the ability of setting up Autoresponders for some email accounts.
Here is a guide on how to set it up in for postfix: https://www.howtoforge.com/how-to-set-up-a-postfix-autoresponder-with-autoresponse
What do you think?

[2016-08-28 18:14] citec commented on #254
+1

[2016-08-28 18:24] citec commented on #187
We could add and environment var to define which auth method will be used and the start script would set everything up.
For me is almost mandatory to have a db of users and aliases so an external  database container would be great. This way each deployment will have the auth method that suits its needs and, for example, no more container restarts when adding an email account. Also external db woul

[2016-08-28 19:13] tomav commented on #236
Thanks @KyleOndy, and by the way thanks for you additions.

@Josef-Friedrich, @00angus, also interested?

[2016-08-28 19:40] citec commented on #263
As I mentioned in another issue, we could set the auth method using an env var and the bin/start-mailserver.sh script can do the rest

[2016-08-28 19:40] neonecosystem commented on #283
Hello, without GUI how any new person can use this mail server. After all we are not familiar with terminal! where is the details things to do after setup this docker-mail server? (waiting). My friend has setup & Docker is running with mail server with roundcube. But how i iwll use this to send email & otherss managements?

[2016-08-28 19:44] tomav commented on #263
SQLite as indeed the advantage not to rely on a server. File can be consumed directly.

[2016-08-28 19:47] tomav commented on #283
Being not familiar with a terminal and using docker sounds strange, no?

What do you want to do exactly?

[2016-08-28 19:47] tomav commented on #283
What do you want to do exactly?

[2016-08-29 08:38] kopax commented on #187
@citec, what do you mean?
Two containers, one for mailserver, second for managing users accounts ?
This is exactly what we are talking about by adding authentication through LDAP using a different postfix configuration.
LDAP is an ISO database for distributed directory information services over an Internet Protocol.
https://en.wikipedia.org/wiki/Lightweight_Directory_Access_Protocol

[2016-08-29 12:27] citec commented on #187
no, I mean to specify, by using env vars, when the user accounts are stored. Give different options to user. For example I don't use ldap, but I would like to use mysql or postgres. @tomav likes more files and you like ldap, so all of us can use the stack, but each one of us use different user account storage.
ldap container can be external, not in the project, mysql too, no need to be local, but

[2016-08-29 19:22] Josef-Friedrich commented on #236
I’m interested. I can work on _“ Refactor ENV enable/disable. "Everything" should be disabled by default to let users configure their container”_

3 years ago I set up a mail environment (postfix, dovecot, fetchmail, roundcube) without docker on debian. This setup runs 3 years and now I switch to this project.

[2016-08-30 08:02] tomav commented on #242
@auchri, reopen this issue if you have any other element to provide regarding @bilak explanation.
Thank you.

[2016-08-30 08:02] #242 closed

[2016-08-30 08:03] #212 closed

[2016-08-30 08:03] tomav commented on #245
Not planned.

[2016-08-30 08:03] #245 closed

[2016-08-30 08:03] #252 closed

[2016-08-30 14:14] tomav commented on #236
@KyleOndy, @Josef-Friedrich are you more Gitter or Slack?
If you're ok, we can have a chat room to synchronize each others or discuss if some points need it.

[2016-08-30 14:29] Josef-Friedrich commented on #236
Unfortunately I have neither Gitter nor Slack. I’m a old-fashioned man. But I can create an account. That’s no problem.

[2016-08-31 20:51] Josef-Friedrich commented on #284
I would appreciate a autoresponder in `docker-mailserver`. However - the script in the tutorial is not downloadable. [Unfortunately the project `autoresponder` is deprecated](http://nefaria.com/2009/12/autoresponse-is-deprecated)

[2016-08-31 21:15] Josef-Friedrich opened #297 "Refactor environment variables for services (ENABLE_.../DISABLE_...)"
All services should be disabled by default to let users configure their container.
# Current situation:

[code]
# Proposal 1:

[code]
# Proposal 2:

[code]
# Proposal 3:

Proposal 1 + Proposal 2

[2016-09-01 00:37] keslerm opened #298 "Allow Amavis configuration to be overriden"
While trying to get this running on a kubernetes cluster I ran into a problem where kubernetes will not allow you to define a hostname for a pod/container. This obviously breaks a few things.

1. The postfix configuration is fairly easy to fix, you can just define the hostname info in the override file.
2. Dovecot does not generally need a hostname but I found it broke without adding in a setting

[2016-09-01 00:43] keslerm commented on #298
One caveat is that Amavis config files are perl files so it is structured a specific way. I'm partial to requiring a user to provide the entire config file to copy rather than do any injecting into an existing file.

I figure if someone is needing to expand the Amavis config file they are probably aware of what it needs to look like.

[2016-09-01 05:36] tyranron commented on #298
Please, look at parameter `subdomain` at [v1.PodSpec](http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_podspec).
For me it resolved the relevant issue.

Example:
[code]

After that all containers of your pod will have hostname as FQDN in Kubernetes DNS style `<hostname>.<subdomain>.<pod namespace>.svc.<cluster domain>`.

[2016-09-01 10:13] tomav commented on #297
Hi @Josef-Friedrich, I was thinking about proposal 1 but 2 also works.
What's you opinion?

[2016-09-01 10:24] Josef-Friedrich commented on #297
My favourite is `Proposal 3`. Proposal 3 is probably a little bit harder to implement, but gives the user more control over how they want configure `docker-mailserver`.

[2016-09-01 12:04] keslerm commented on #298
Excellent - thank you! I googled everywhere for setting a hostname on a pod but never came up with the Subdomain setting in the PodSpec.

I think I'll put this in the wiki

[2016-09-01 14:44] MhdSyrwan commented on #281
I had the same problem, i found that `amavisd` was not running for unknown reason. i stopped/removed the `mail` container and then started it again, it worked then.

[2016-09-02 05:33] egorsmkv opened #301 "Dockerfile lint"
Hi, @tomav

@lukasmartinelli has created a good tool -  http://hadolint.lukasmartinelli.ch
It shows some errors. Look, when you have time.

[2016-09-02 07:07] tomav commented on #301
Mainly `COPY` vs `ADD`. Most should be fixed easily.
Not sure for:
- user root switch
- fixed version
- provide my email address 😄

[2016-09-02 09:35] umbrellary opened #302 "Plaintext authentication disabled"
Hi:

I can send the email, but i can't receive!

Log:

mailserver | Sep 2 09:24:06 mail dovecot: imap-login: Disconnected (no auth attempts in 0 secs): user=<>, rip=117.81.23.114, lip=192.168.16.2, session=<VtZa5II7RAB1URdy>
mailserver | Sep 2 09:24:06 mail dovecot: imap-login: Disconnected (no auth attempts in 0 secs): user=<>, rip=117.81.23.114, lip=192.168.16.2, session=<5cdb5II7RQB1URdy>
mails

[2016-09-02 12:31] tomav commented on #297
Mine goes to proposal 2 because it's more explicit and meaningful.
Perhaps a bit easier to implement test on the env matrix too.

[2016-09-02 15:14] Josef-Friedrich commented on #297
Ok ... I will try proposal 2

[code]

[2016-09-02 15:49] tomav commented on #297
Sorry... typo in my previous post. Was talking about proposal 1. Really sorry.
Perhaps we should ask for @KyleOndy advice.

[2016-09-02 17:49] Josef-Friedrich commented on #302
Is your mail client configured correctly? `Dovecot` gets no user `user=<>`. A successful login should look like this log example:

[code]

To enable plaintext authentication (no recommended) generate a configuration file named `dovecot.cf` in `config/dovecot.cf` (not tested)

[code]

and then

[code]

[2016-09-03 01:42] umbrellary commented on #302
@Josef-Friedrich I tested this morning, but the original error happened.

This is my email client:
![image](https://cloud.githubusercontent.com/assets/6939585/18221925/2dded4f6-71ba-11e6-9e05-79b037ba3fff.png)

This is my log:

root@splendidtel:/docker# docker-compose up mailserver
Creating mailserver
Attaching to mailserver
mailserver    | Checking file line endings
mailserver    | Regenerating p

[2016-09-03 07:35] Josef-Friedrich commented on #301
For better illustration:

`docker run --rm -i lukasmartinelli/hadolint < Dockerfile`

[code]

[2016-09-03 08:52] tyranron opened #305 "[Question] Postfix and Dovecot delivery integration"
According to current (release 2.0.0) configuration Postfix delivers mails to account's mailboxes via LDA command:

[/target/postfix/main.cf:64-65](https://github.com/tomav/docker-mailserver/blob/2.0.0/target/postfix/main.cf#L64-L65)
[code]

[/target/postfix/master.cf:66-71](https://github.com/tomav/docker-mailserver/blob/2.0.0/target/postfix/master.cf#L66-L71)
[code]

So Postfix uses `/usr/lib/dov

[2016-09-03 10:50] CrystalMethod opened #306 "PERMIT_DOCKER & Rancher"
I'm using the ``docker-mailserver`` in an Rancher [1] environment. Since some days I'm unable to use SMTP anymore. IMAP still works pretty well. In the logs I can find something like:

[code]

Since I'm on vacation I was not able to dig into details.

[1] http://rancher.com/rancher/

[2016-09-04 14:59] ckiszka opened #307 "config/dovecot.cf doesn't get loaded"
I have override configs for both dovecot and postfix. In the startup script, I see the postfix override config loaded, however, I do not see the dovecot override config loaded. This is solidified with missing configurations after boot.

[2016-09-04 16:42] Josef-Friedrich commented on #307
That’s not good at all! Are you really sure that `dovecot.cf` is not loaded? For this features there are [tests](https://github.com/tomav/docker-mailserver/blob/master/test/tests.bats#L256-L262) that have not failed on the last built.

To debug your dovecot configuration you can use this command:

[code]

[setup.sh](https://github.com/tomav/docker-mailserver/blob/master/setup.sh) is included in th

[2016-09-04 16:46] ckiszka commented on #307
I'm never really sure when it comes to these things, however, I'll try not to waste your time the best I can ;).

I looked at the log line by line and did not see the dovecot.cf loaded like I saw with the postfix. I'll run these debug steps and get back to you soon.

[2016-09-04 17:27] Josef-Friedrich commented on #306
@Zehir can you please look at this problem?

[2016-09-04 17:29] Josef-Friedrich commented on #305
Sounds interessting

[2016-09-04 17:42] Zehir commented on #306
Hello, I dont Know Rancher.  Can you send me the result of this 2 commands from inside the container?
ip addr show eth0
Ifconfig
Thank

[2016-09-04 18:40] viossat opened #309 "Missing secure AUTH methods"
Hi,

By default, there is no available secure AUTH method:
[code]

I think methods such as `CRAM-MD5` should be available instead of this image supports TLS/STARTTLS.

[2016-09-04 18:42] tomav commented on #305
Hi @tyranron, thanks for this input.
@00angus, any comment?

[2016-09-04 19:13] CrystalMethod commented on #306
Here comes the result:

[code]
[code]

[2016-09-04 20:21] Zehir commented on #306
Ok so the problem is because you have 2 ipv4 address on the same network card. I will create a fix for this.

[2016-09-04 21:36] Zehir commented on #306
For 10.42.15.210/16 network, my rapid correction ignore it. I'll add a `PERMIT_EXTRA` option which will allow the addition of IP addresses, or network (comma separated).
For example:
`PERMIT_EXTRA = 10.42.15.210/16,A.B.C.D/32,E.F.G.H/30`

[2016-09-05 07:35] tyranron opened #311 "[Question] Is spamd required to be running?"
During my investigation of how this image works and reading a lot of tutorials about Postfix + AMaViS + SpamAssassin + ClamAV integrations I was wondered why many tutorials have no words about `spamd` or `service spamassassin start`, but AMaViS requires SpamAssassin to be installed.
That's why I have googled more about how AMaViS uses SpamAssassin and finally found [this archived mail](http://mail

[2016-09-05 07:53] umbrellary commented on #302
I have solved the problem!
just turn off the ssl!

[2016-09-05 07:53] #302 closed

[2016-09-05 10:29] tomav commented on #311
Hi @tyranron, I think you're right.
`spamd` could be disabled.

You can submit a PR for that, we'll be happy to merge it.

[2016-09-05 10:32] tomav commented on #306
Are you overriding postfix configuration? Avoid comments in this file.

[2016-09-05 10:33] tomav commented on #236
@KyleOndy still interested?

[2016-09-05 11:13] Zehir commented on #306
I received an email about a comment concerning the postfix configuration but I do not find this comment. Who posted?

[2016-09-05 13:31] tomav commented on #306
That was me. I think that comments in postfix override file break the script because it tries to `postconf -e # my comment`.

[2016-09-05 13:33] Zehir commented on #306
Here?
https://github.com/tomav/docker-mailserver/blob/master/target/start-mailserver.sh#L265

[2016-09-05 14:40] tomav commented on #306
Yep.

[2016-09-05 15:48] Zehir commented on #306
@tomav See #313

[2016-09-05 21:17] #307 closed

[2016-09-05 21:17] #301 closed

[2016-09-05 21:18] Josef-Friedrich commented on #309
Can you help to implement more secure AUTH methods and write tests?

[2016-09-05 22:15] viossat commented on #309
Sure. But in the meantime I discovered that raises another issue:
[code]
Indeed, [enable non-plaintext authentication requires to store passwords as plaintext](http://wiki.dovecot.org/Authentication/Mechanisms#Non-plaintext_authentication).

I currently hash the passwords with `SHA512-CRYPT`. And in my case, I don’t want to allow admins see the password of all users.

According to [RFC 2487](https

[2016-09-05 22:15] #309 closed

[2016-09-06 11:05] tomav commented on #266
Anybody had time to have a look to ELK?

[2016-09-06 11:06] tomav commented on #311
Thank you @tyranron

[2016-09-06 11:06] #311 closed

[2016-09-06 11:08] tomav commented on #281
@aks2687 you still have the problem? All services are running?
Let is know.
Thank you.

[2016-09-06 16:48] cutec-chris commented on #203
Is it possible to add this script to this image here ?

[2016-09-06 22:51] 00angus commented on #305
lmtp! Very good IMHO.
I was for lmtp even before:
https://github.com/tomav/docker-mailserver/pull/166

Just my 0,02€ :)

-- Marco

On Sep 4, 2016 20:42, "Thomas VIAL" <notifications@github.com> wrote:

Hi @tyranron <https://github.com/tyranron>, thanks for this input.
@00angus <https://github.com/00angus>, any comment?

—
You are receiving this because you were mentioned.
Reply to this email direc

[2016-09-07 11:44] Josef-Friedrich commented on #305
Why still hesitate? @tyranron can you implement LMTP in `docker-mailserver`?

[2016-09-07 12:27] #284 closed

[2016-09-07 13:05] tyranron commented on #305
@Josef-Friedrich yeap, I'll try in next few days.

[2016-09-07 13:38] NathanTheGr8 opened #315 "Documentation"
I followed the read me till I got to

I have the file at the specified path, but I don't understand where to put it? Is the guide assuming I am running my own DNS server? My domain is on Google Domains, and there is a section labeled `Custom Resource Records` that looks like [this.](http://i.imgur.com/xO3At1V.png) Do I need to need to make a entry there?

What I am trying to accomplish is run my o

[2016-09-07 13:52] Josef-Friedrich commented on #315
You need no own DNS server. Only what you need is a `TXT` record. I found a screenshot which illustrates that:

![Screenshot](https://657cea1304d5d92ee105-33ee89321dddef28209b83f19f06774f.ssl.cf1.rackcdn.com/Add%2520DKIM%2520DNS%2520TXT%2520Record-ffa5cdd00697dba206c568bb70c19923401e3248d9c5ddd39819998269759618.png)

Instead of `default._domainkey` write `mail._domainkey`

[2016-09-07 14:12] NathanTheGr8 commented on #315
should I have separate lines for v, k , and p?
https://www.dropbox.com/s/zj4ha65kr1rmzss/Screenshot%202016-09-07%2009.11.54.png?dl=0

[2016-09-07 16:30] Josef-Friedrich commented on #315
Only one line, the key-value-pairs are separated by semicolons. You can debug your TXT record with the `dig` tool.

[code]
Output:

[code]

[2016-09-07 16:53] NathanTheGr8 commented on #315
Awesome dig  ouputs,

; <<>> DiG 9.9.5-3ubuntu0.8-Ubuntu <<>> TXT mail._domainkey.janemariedavis.com
	;; global options: +cmd
	;; Got answer:
	;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 9742
	;; flags: qr rd ra; QUERY: 1, ANSWER: 3, AUTHORITY: 0, ADDITIONAL: 1

	;; OPT PSEUDOSECTION:
	; EDNS: version: 0, flags:; udp: 512
	;; QUESTION SECTION:
	;mail._domainkey.janemariedavis.com. IN	TXT

[2016-09-07 17:16] Josef-Friedrich commented on #315
There’s a cool Thunderbird addon named [DKIM-verifer](https://addons.mozilla.org/en-US/thunderbird/addon/dkim-verifier)

[2016-09-07 18:10] #315 closed

[2016-09-07 18:19] Josef-Friedrich commented on #259
Is it possible to use both mount options?: mounted directories as well as named data volumes.

[2016-09-07 19:59] tomav commented on #259
Hi @mathuin,
Same as @Josef-Friedrich, docker offers both options. We should not constraint on that point.
Regarding your last point, have a look to https://github.com/tomav/docker-mailserver/blob/master/setup.sh

[2016-09-07 21:23] tomav commented on #254
- `SERVER_TYPE` with `primary` as default, `secondary` as other possible value
- keep file generation in both modes
- synchronize recipient list from primary to secondary using `scp`

[2016-09-08 03:52] mathuin commented on #259
The one major issue I found when using a named volume has now been addressed, and I have been using this project in production for a week or so now.  I'm okay for this to be closed, if you are.

[2016-09-08 04:42] #259 closed

[2016-09-08 23:26] keslerm commented on #306
Just had this break my kubernetes deployment.

IP addresses are 10.24.x.x but can vary.

End up with a lot of log messages like this:

[code]

[2016-09-09 05:57] tomav commented on #306
All test cases haven't been fulfilled using `bats`.

[2016-09-09 07:35] #236 closed

[2016-09-09 14:26] joshuisken opened #318 "Outgoing mail using external smtp service with authentication"
Hi,

Similar to using AWS_SES_HOST / AWS_SES_PORT / AWS_SES_USERPASS I would like to use another smtp server for outgoing mail.
Is that possible?  (Somehow I cannot get mail out...)

Regards

[2016-09-09 14:34] tomav commented on #318
Hi @joshuisken, this is a more a general Postfix question than something specific to this image.
I clearly don't think that we can manage all usage and configuration types using our `ENV` variables on top of postfix.

SASL can do the trick. Check postfix configuration.

We have a lot of work on the table, do not hesitate if you want to contribute.

[2016-09-09 20:36] CrystalMethod commented on #306
I have to admit that the problem with a faulty SMTP service was caused by an incorrectly set up WLAN router here at my holiday location (the router simply blocks SMTP ports). As soon as I use my mobile phone to set up a mobile hotspot, everything works.

But the error message "No such file or directory" continuous to appear. I haven't tried other (neither PERMIT_DOCKER: host/network nor PERMIT_EXT

[2016-09-09 20:59] CrystalMethod opened #319 "[Q] best practice for white/black listing"
Sometimes it happens that Github/Twitter notification will be marked as spam. So, whats the best practice for white/black listing?

**Amavis**
in ``/etc/amavis/conf.d/50-user`` add something like the following

```@whitelist_sender_maps = (['github.com']);```

Since 02f854f4e9daeeac8581bf90a41e5debc8473386 it is possible to customize Amavis configuration.

**SpamAssassin**
in ``/etc/spamassassin/l

[2016-09-11 09:57] tomav commented on #319
Hi @CrystalMethod, I would use Amavis. Spamassassin is triggered by Amavis so it should be the best option IMHO.

[2016-09-11 10:06] tomav commented on #281
@aks2687 reopen when you other information to provide. We'll be happy to help.

[2016-09-11 10:06] #281 closed

[2016-09-11 10:07] #319 closed

[2016-09-11 10:07] #318 closed

[2016-09-11 10:10] #274 closed

[2016-09-11 10:11] tomav commented on #298
Hi @keslerm, how can we help, what are the points that need to be unlocked?
Thanks.

[2016-09-11 18:13] tomav commented on #266
@citec, @haraldkoch?

[2016-09-11 20:50] tomav opened #322 "ONE_DIR issue: Postfix and Amavis don't start because of permission problem"
Just got this error locally when build/test the project using:

[code]

Only in `mail` container, tried with fresh clone to be sure I didn't have any old data.

@Josef-Friedrich let me know if you reproduce the problem when you have few minutes.

[2016-09-11 21:56] Josef-Friedrich commented on #322
@tomav I couldn’t reproduce this problem. All tests were fine.

[2016-09-12 08:03] tomav commented on #322
I'm gonna try on another machine and see what happens.

[2016-09-12 10:06] tomav commented on #322
Retried on another brand new VM.

`make` commands hangs here:

[code]

And here are the logs:

[code]

Amavis and Postfix are not running.
This may happen on new clones/builds.

[2016-09-12 11:57] tomav commented on #322
Changing `ONE_DIR` option to `0`on the `mail` container worked as expected.
The idea is good, but not convinced regarding the implementation.
I'll have a look.

[2016-09-12 13:04] traedamatic commented on #257
Hello,
first of all I want to thank you for this great project. I use this docker container for my mailserver and it works great.
But I have one question, is their any idea about improving the spam filter. I think about a automatically update for the spam databases for spamav.
On my last server I had a cron task that searched through a IMAP folder that contained all the spam messages. Because of t

[2016-09-12 13:50] tomav commented on #257
Hi @traedamatic, you're right, it could be added.
Personally, I added a cron on my host machine that triggers `sa-learn` of some specific mailboxes (not all). You can open an issue on that specific point let's see different suggestions on that specific point.

I'm not sure there's a "on size fits all" configuration on that but a single command line explained in the wiki may be useful.

[2016-09-12 13:51] Josef-Friedrich commented on #257
see #203

[2016-09-12 13:54] Josef-Friedrich commented on #257
@tomav Can you please share your cron entry? Is this topic already in the wiki?

[2016-09-12 13:54] tomav commented on #257
`0 2 * * 1 docker exec mail sa-learn --spam /var/mail/domain.com/username/.Junk`

I'll add it to Wiki in the next minutes.

[2016-09-12 14:00] tomav commented on #257
https://github.com/tomav/docker-mailserver/wiki/FAQ-and-Tips#how-can-i-make-spamassassin-learn-spam

[2016-09-12 15:42] KyleOndy commented on #236
Sorry, I was out of the country the last ~2 weeks. I am still interested in helping out.

I can use either Glitter or slack. No real preference.

[2016-09-12 15:47] tomav commented on #236
Great!

[2016-09-12 16:02] KyleOndy commented on #297
I prefer Proposal 1.

Since all this config should be stored within a script or a ~docker-compose.yml` the verbosity should not be a concern.

Checking a single environmental variable, as we do now in all the scripts, for a service seems cleaner than checking for the existence for the service name in a single environmental variable.

[2016-09-12 16:47] tomav commented on #297
Ok for me.

[2016-09-12 17:12] KyleOndy opened #324 "Test suite deficiencies"
As I started looking back into #256 and #250 some maintainability issues have become apparent within the test suite. Given the current set of tests, coverage is low since we are only [testing the ability to send mail on the `mail` docker image.](https://github.com/tomav/docker-mailserver/blob/f42a0c193528b74777faef18683a8794d7cbb848/Makefile#L82-L101)

For instance, in #250, the test passes becaus

[2016-09-12 18:29] Josef-Friedrich commented on #297
Ok! I’ll try to implement proposal 1.

[2016-09-12 18:51] 00angus commented on #236
I'm still travelling, I've seen some of the threads but I don't know how to
help as currently I'm a little bit busy.

Great project and I'll continue to look out for any help I can give!

[2016-09-12 18:53] tomav commented on #236
OpenSource is probably not a fulltime job for us :-)
Good to know that we could be 4 core members.

[2016-09-12 21:00] tomav commented on #324
Hi @KyleOndy, great summary.
Same conclusion here, but few points to move forward:
- `bats` allows to [skip tests](https://github.com/sstephenson/bats#skip-easily-skip-tests)
- I tried to "refactor" tests using the [Travis Matrix Build](https://docs.travis-ci.com/user/speeding-up-the-build/). It could be an alternative. [All configuration can be tested separately](https://travis-ci.org/tomav/docke

[2016-09-13 07:32] traedamatic commented on #257
Fast and great. Very nice.

[2016-09-13 22:03] kachkaev commented on #244
@auchri should not it be just this?
[code]
The messages preserve in the inbox otherwise and it will eventually get full.

[2016-09-15 19:26] ckiszka commented on #307
Sorry for the delay. I did confirm the dovecot override settings are in place with the grep filter. My problem was Dovecot was failing before it could even be applied due to no IPV6 support. I have to map host / container dovecot and postfix etc folders and edit the config files to only support IPV4. If I try to add this to the top of the override file it does not take effect and I get fatal error

[2016-09-16 21:48] mathuin commented on #306
For what it's worth, I'm using this image in a Rancher environment with `PERMIT_DOCKER: network` and I am not having any problems.  I would request that no new functionality in this area be added to the default configuration, lest it break things for others.

[2016-09-18 14:11] keslerm commented on #306
I think that maybe the issue I've run into is not specifically a Rancher issue, but warrants a separate about PR #310 that breaks any containers that use an IP that does not begin with 172. The PR may fix the multiple ip issue in situations where the default IP range is used for Docker, but breaks anything else.

[2016-09-18 18:11] mathuin commented on #306
Wow, that fix is horrible.

https://tools.ietf.org/html/rfc1918 is the RFC which refers to private addressing space.

Here's the bit which identifies those ranges:

[code]

Please note that 172.0.0.0-172.15.255.255 and 172.32.0.0-172.255.255.255 are valid external IP addresses administered by ARIN, the registry responsible for distributing addresses throughout much of North America.  With that PR

[2016-09-18 19:04] Josef-Friedrich commented on #306
@mathuin @Zehir Any ideas for a better fix?

[2016-09-18 19:43] mathuin commented on #306
First, let's demonstrate there's actually a problem to fix.

https://github.com/tomav/docker-mailserver/issues/306#issuecomment-246032470 says that the original report was unrelated to any actual problem with the container, but was instead related to the router's configuration.  I can recommend to @CrystalMethod that they try `PERMIT_DOCKER: network` as it does work for my Rancher setup.  If **tha

[2016-09-20 04:04] remingtonc opened #326 "System Requirements"
Hi, any info on the system requirements for this to run effectively? Thanks!

[2016-09-20 07:10] tomav commented on #326
Hi @remingtonc, 1 core and 1GB of RAM is recommended even if it could work with 512MB.

[2016-09-20 07:10] #326 closed

[2016-09-20 19:51] Alex-Tsvetanov opened #327 "How can I view text of e-mails to me? (Question)"
How can I view text of e-mails to me?

[2016-09-20 20:10] Alex-Tsvetanov opened #328 "ERRO[0019] Handler for GET /v1.22/networks/docker_default returned error: network docker_default not found"
How to fix it?

[2016-09-20 20:21] tomav commented on #328
Hi @Alex-Tsvetanov, how can we reproduce that?

[2016-09-20 20:21] tomav commented on #327
I don't understand. Could you be more explicit? Thank you.

[2016-09-20 20:23] Alex-Tsvetanov commented on #328
That is from ``sudo dockerd`` logs.

[2016-09-20 20:25] Alex-Tsvetanov commented on #327
I send e-mail from ostrietoxxx@gmail.com to alex@tsalex.tk. How can I view content of message from alex@tsalex.tk?

[2016-09-21 05:49] tomav opened #329 "Server is logging to both /var/log/mail/mail.* AND /var/log/syslog"
Am I right?
Perhaps we should only keep `/var/log/mail.*` to avoid log duplication / optimize disk space.

Any thoughts?

[2016-09-21 06:46] kachkaev commented on #297
Looks like this is a breaking change, so needs to become v3, not 2.1 Current users should be able to keep pulling `tvial/docker-mailserver:v2` without changing ENV.

Awesome stuff BTW! Really looking for it, mainly because my container is using ≈0.5G of memory atm.

[2016-09-21 12:20] keslerm commented on #298
This is resolved with the Amavis configuration and/or the suggestion by @tyranron - closing this!

[2016-09-21 12:20] #298 closed

[2016-09-21 21:09] Josef-Friedrich commented on #329
You are right. The same issue in my container.

In `/etc/rsyslog.d/50-default.conf` `*.*;auth,authpriv.none		-/var/log/syslog` should be replaced with  `*.*;mail,auth,authpriv.none     -/var/log/syslog` (untested)

[2016-09-22 08:47] tomav commented on #327
If the question is "how can I use a mail client to read and send emails", the answers is in the [Wiki](https://github.com/tomav/docker-mailserver/wiki/FAQ-and-Tips#how-can-i-configure-my-email-client).

Otherwise, I still not understand clearly what you're trying to do :-)

[2016-09-22 08:50] tomav commented on #328
Is this related to `docker-mailserver` or to `docker`it self?
What do you do to have this errors?
How can we reproduce that?

Again, if you need contributors to help you, you have to be more explicit.

[2016-09-23 06:22] #329 closed

[2016-09-23 19:10] castorinop commented on #266
HI, i working on #331, is a simple forward logs to ELK stack.

I hope it is useful.

[2016-09-24 14:13] mastepanoski opened #332 "SMTP SSL (port 465) and AUTH Required (port 587) support"
Hi, I have tested my email server against http://emailsecuritygrader.com, and it has gotten a score of 88! great for you. However, the test report returned this:

"A secure mail server will force local users to authenticate prior to sending mail, and will use either ports 465 or 587 for message encryption and submission. Therefore we will test the following:

[code]

Your score will be determined

[2016-09-24 15:44] #327 closed

[2016-09-24 15:44] #328 closed

[2016-09-26 08:41] np opened #333 "Broken link for "Why I created this image: Simple mail server with Docker""
I get that `https://tvi.al/simple-mail-server-with-docker/` redirect to itself.

[2016-09-26 08:44] tomav commented on #333
Hi @np, you're right, a `ghost` did that but did not had time to dig into...
I will this week.

Thanks for reporting this.

[2016-09-26 08:57] tomav commented on #333
Resolved. Changed HTTPS config on nginx.

[2016-09-26 08:57] #333 closed

[2016-09-26 18:40] tomav opened #334 "Unable to get remote IPs"
Hi guys, just was wondering if you experience the same issue I have.
I cannot see any remote IP in my logs, only `172.17.0.1`, which is my `docker0` interface ip.
It worked correctly "before", I don't know if this is related to my infra or to the container itself.

[code]

Thanks.

[2016-09-26 18:50] tomav commented on #334
Pulled latest image, restarted server and everything goes well.
Dunno where problem was.

[2016-09-26 18:50] #334 closed

[2016-09-29 20:49] tomav opened #336 "ELK - field [received_at] doesn't exist"
When running fixtures, this error shows:

[code]

[2016-09-29 20:49] tomav opened #337 "ELK - Document Wiki"

[2016-09-30 09:51] alinmear opened #338 "Restructure start-mailserver.sh"
From my point of view it would be a big benefit, to structure the script with functions, for better maintenance.

With this improvement it would be possible to better control the bootstrap of the container:

I would appreciate this step and would spent my time working on this.

Best Regards

[2016-09-30 11:03] tomav commented on #337
Note that a `tvial/docker-mailserver:elk` exists now. Ping @castorinop

[2016-09-30 11:04] tomav opened #339 "ELK - Postfix log not splitted as fields in Kibana"

[2016-09-30 11:07] tomav opened #340 "ELK - amavis_duration is seen as a string and should be a number"

[2016-09-30 11:54] #340 closed

[2016-09-30 11:56] tomav commented on #338
You're right, this file is a bit messy.
Can you work on that?

All, any thoughts?

[2016-09-30 12:06] Josef-Friedrich commented on #338
Functions for start-mailserver.sh would be great!

[2016-09-30 13:42] castorinop commented on #336
test create a index with with time-field @timestamp
apparently not all logs from syslog are RFC-3164 compliant and logstash can't work well.

https://discuss.elastic.co/t/indices-data-read-field-stats-s-nested-illegalargumentexception-field-timestamp-doesnt-exist/52738/15

[2016-09-30 19:40] alinmear commented on #338
If you merge my pull request #335 then we would have the logic for container setup with postfix as central part as mta of a full featured mailserver:

Postfix <-> User database and User Validation <-> imap/pop server
Postfix <-> dovecot/postfix local <-> dovecot
Postfix <-> dovecot/postfix ldap (dovecot ldap needs to be implemented)<-> dovecot
Postfix <-> dovecot local/postfix ldap <-> dovecot
Pos

[2016-10-02 12:51] jcgruenhage opened #343 "Fetchmail can't connect to imap.google.com"
Hello,

I have very very strange problems with fetchmail, I can not fetch my mails with it. It seems my container can connect to everything properly except imap.google.com

[code]
Do you have any idea why imap.google.com is redirected to imap.google.com.janchristiangruenhage.de?

The ping logs have been taken by executing a bash shell in the mail container, also, see my fetchmail config (without p

[2016-10-02 15:37] Josef-Friedrich commented on #343
Maybe this article helps: http://stackoverflow.com/questions/26192467/fetchmail-error-on-imap-gmail

[2016-10-02 16:02] jcgruenhage commented on #343
Nope, doesn't help... Well, the ping logs makes it seem like the problem is not fetchmail itself, but some part of the container.. OR my docker config.. :D

[2016-10-03 15:58] tomav commented on #343
`imap.google.com` does not exist.

[code]

[2016-10-03 15:59] tomav commented on #343
You have a DNS config that add your domain name: `imap.google.com.janchristiangruenhage.de`

[2016-10-03 16:33] jcgruenhage commented on #343
well... thank you

[2016-10-03 16:33] #343 closed

[2016-10-06 11:00] a0n opened #344 "Put the minimum Hardware Requirements in the README"

[2016-10-06 21:10] citec opened #345 "Message too large for server"
Hi, i got the "Message too large for server" error when trying to send an email. How do I increase that limit?

[2016-10-07 10:02] tomav opened #346 "Clean Amavis virusmail"
Virus mails are not deleted.
This command may do the trick.
`find /var/lib/amavis/virusmails/ -type f -mtime +30 -delete`

To be tested and implemented in the image.

[2016-10-07 10:04] tomav commented on #345
Any log on the server?

[2016-10-07 10:07] tomav commented on #346
Usefull article (french) https://blog.antoine-augusti.fr/2012/12/les-problemes-rencontres-avec-amavis/

[2016-10-07 16:05] citec commented on #345
I only get this when trying to send the email:

```Oct  7 16:03:16 mail3 postfix/submission/smtpd[21588]: warning: connect to Milter service inet:localhost:54321: Connection refused```

Then I get that "Message too large for server" error message in my email client (K-@ Mail on Android)

[2016-10-07 16:10] citec commented on #345
I restarted and the Milter error dissapeared, but still getting that size limit message on the email client

[2016-10-07 16:19] citec commented on #345
Solved, I increased limit by adding

```message_size_limit = 102400000```

to config/postfix-main.cf

as default was 10MB:

```message_size_limit = 10240000```

[2016-10-08 14:06] tomav commented on #346
Note that is your server is targeted by virus, your disk usage may be growing a lot.
This should help.

[2016-10-08 16:53] tomav commented on #345
Great!

[2016-10-08 16:53] #345 closed

[2016-10-08 16:55] tomav commented on #344
The answer is already in the [FAQ](https://github.com/tomav/docker-mailserver/wiki/FAQ-and-Tips#which-system-requirements-needs-my-container-to-run-docker-mailserver-effectively).

Do not hesitate to PR if you really think it should also be in the README.

[2016-10-08 16:55] #344 closed

[2016-10-08 16:56] tomav commented on #336
Seems to work, thanks!

[2016-10-08 16:56] #336 closed

[2016-10-08 16:58] tomav commented on #322
We should use volumes for these folders.

[2016-10-08 17:00] tomav commented on #257
Topic postponed, no time/contributors to correctly plan a roadmap.

[2016-10-08 17:00] #257 closed

[2016-10-08 17:02] #346 closed

[2016-10-08 18:42] HolyGuacamole opened #348 "mailserver on a raspberry pi"
Hi!

I'm trying to get the mail server to run on a raspberry pi.
To achieve this I've modified the Dockerfile here and there e.g. :
- change the base image (because ARM)
- replace the apt installation of the filebeat package with a download from somewhere else. (because ARM)

The current error when I try to build the image is the following:
`chown: invalid user: ‘syslog:root’`

I get this at at th

[2016-10-10 14:47] chrisella opened #349 "Feature: Add (daily/weekly/...) summary of mailserver by parsing logs"
More of a feature really,
It would be nice if there was a summary (daily, weekly etc) of the server.
What I mean is including something like Pflogsumm and running it at a schedule defined in a config.

Currently I'm exec'ing into the container and manually running it to get summary information about my mail server, but if this could be included, and even send its output to a defined email address,

[2016-10-11 03:18] dodekeract opened #350 "Catch All Address?"
I want to use one email address per website where I register. They should all be combined into one account (so I don't have to add ~100 accounts to my mail client...).

Is this possible with this mailserver and if it is - how can I do it?

[2016-10-11 03:23] dodekeract commented on #350
Sorry, seems to be a duplicate of #217.

[2016-10-11 03:23] #350 closed

[2016-10-11 12:47] tomav commented on #348
Yep, from `Ubuntu` image:

[code]

[2016-10-11 12:47] #348 closed

[2016-10-11 12:52] tomav commented on #349
Hi @chrisella, we also released a bridge to ELK which could give long term stats and allow to debug a lot of things.
The implementation is partial but works, this could be a better option, no?

[2016-10-11 12:52] tomav commented on #349
https://github.com/tomav/docker-mailserver/pull/331

[2016-10-12 09:18] GeoffreyVDB opened #351 "ERROR: client and server don't have same version (client : 1.22, server: 1.18)"
[code]

Any ideas?

[2016-10-12 09:22] aborsu commented on #351
That means the docker client and the docker daemon on your machine have different versions. If you updated recently you might need to restart the docker daemon to use the latest version.
What os are you using?

[2016-10-12 09:23] GeoffreyVDB commented on #351
I'm using Debian Jessie, installed docker from the debian repos

[2016-10-12 11:32] aborsu commented on #351
try restarting the docker daemon.
I'm not sure but it should be something like
```sudo systemctl restart docker``` or maybe ```sudo service docker restart```
If it is using an older version of docker, it should update to the new binary after the restart.
If it still doesn't work after that, please give me the output of
```which docker``` and ```sudo systemctl status docker```

[2016-10-12 11:40] GeoffreyVDB commented on #351
from `sudo service docker status`:

[code]
`which docker` points to `/usr/bin/docker`

[2016-10-12 12:49] aborsu commented on #351
Did you restart the docker daemon?

[2016-10-12 12:49] aborsu commented on #351
Can you show me the content of the /lib/systemd/system/docker.service file?

[2016-10-12 12:50] aborsu commented on #351
Apparently both the daemon and your executable point to the same docker file so ... weird.
Are you still experiencing the problem?

[2016-10-12 13:04] GeoffreyVDB commented on #351
[code]

[code]

[code]

Strange...

[2016-10-12 13:08] aborsu commented on #351
I think this might be related?
http://stackoverflow.com/questions/29727171/docker-compose-up-leads-to-client-and-server-dont-have-same-version-client

[2016-10-12 23:03] scottstensland opened #353 "outbound email works fine ... inbound bounces : postfix/smtpd NOQUEUE: reject: RCPT from"
outgoing emails work just fine :

swaks -server mydomain.com:587 -tls --auth-user stens --auth-password mypwd   --to otherperson@gmail.com  --from  stens@mydomain.com

similarily sending outgoing email using nodejs client is OK too with env var

export MAIL_URL=smtp://stens:mypwd@mydomain.com:587/?debug=true

However I get a bounce back from external email accounts trying to send incoming email ..

[2016-10-13 03:33] scottstensland commented on #353
Solution -  needed to perform two actions
( 1 )
 edit  /etc/postfix/main.cf

old
mydestination =

new
mydestination =  $myhostname localhost.$mydomain $mydomain

save ... force config reload :

/etc/init.d/postfix  reload

so now  this gives different error ...

mail    | Oct 13 03:11:23 mail postfix/smtpd[2758]: connect from nm15-vm8.bullet.mail.ir2.yahoo.com[212.82.96.205]
mail    | Oct 13 03:11

[2016-10-13 10:03] kongconf opened #354 "TLS library problem"
Hi,

I made the configuration just as the introduction in README.md on github.com. Setting SSL_TYPE=manual and provide the .crt and .key files.

Testing by checktls.com:
It seems the address test is pass.
IMAP3(993) work well.
SMTP(25) work well too.
But when I tried ESUBMISSION-TLS(587), the server display error:
**postfix/submission/smtpd[1359]: warning: TLS library problem: error:14094438:SSL r

[2016-10-13 17:13] scottstensland opened #355 "/var/log/fail2ban.log has errors : iptables v1.4.21: can't initialize iptables table `filter': Permission denied (you must be root)\nPerhaps iptables or your kernel needs to be upgraded."
Seeing this on new freshly built container ....

fail2ban is running as root yet seeing these errors

[code]

group of fail2ban process is adm as per

[code]

here is content of

visudo

[code]

[2016-10-13 18:04] tomav commented on #355
Hi @scottstensland, this [Wiki](https://github.com/tomav/docker-mailserver/wiki/Configure-Fail2ban) may help.

[2016-10-13 18:04] #355 closed

[2016-10-13 18:40] #339 closed

[2016-10-13 18:41] tomav commented on #351
Yep, debian packages a probably not up to date.
I close this issue because not related to the base image we maintain.

Thanks for using `docker-mailserver` and feel free to ask to help if needed on its usage.

[2016-10-13 18:41] #351 closed

[2016-10-14 00:57] kongconf commented on #354
I tried self-signed the ssl, the same issue happened.

[2016-10-14 16:17] ckiszka opened #357 "Update Password"
Thank you for this docker! The wiki illustrates creating an account and password. Is there a command to update (change) a password? I'm nervous to attempt and lose access to mail without guidance. Any help is greatly appreciated. Thanks in advance. -- Chris

[2016-10-15 07:36] OmgImAlexis commented on #326
@tomav it'd be great to see this added to the README

[2016-10-17 11:54] tronicum commented on #332
So your problem is that  587 would allow non STARTTLS connections?
Or what do you want beside copy&pasting stuff?

[2016-10-18 01:49] #354 closed

[2016-10-18 03:08] Nesousx commented on #357
Hi,

In order to update your password, you can run the following command ::

`docker run --rm -e MAIL_PASS=Y0uR_P4$$w0rd! -ti tvial/docker-mailserver:latest /bin/sh -c 'echo "$(doveadm pw -s SHA512-CRYPT -p $MAIL_PASS)"'`

It will generate a string. Then, just replace the old password string with the new one inside **config/postfix-accounts.cf**.

This config file looks like this:

NB : Please not

[2016-10-18 14:43] Brandl commented on #357
Maybe a takeaway from this is, that the setup.sh, should maybe support another command:

SUBCOMMANDS:

  email:

    ./setup.sh email add <email> <password>
    ./setup.sh email update <email> <password>
    ./setup.sh email del <email>
    ./setup.sh email list

Search for the EMail and replace the password.

[2016-10-18 15:00] ckiszka commented on #357
Nesousx -- Thanks!

[2016-10-19 09:22] tomav commented on #353
`user 'stens' for domain 'stens' with password '********'`

I think that `stens` is not a valid domain. Your user file is probably wrong.

[2016-10-19 09:22] #353 closed

[2016-10-19 09:22] tomav commented on #266
ELK is available.

[2016-10-19 09:22] #266 closed

[2016-10-20 15:22] patgg opened #358 "how to import user's imap files/directories"
hello,

i test this wonderful container. But i don't know how to import correctly an imap directory from users ?
i did a scp and all directories from users are copyied. Or is it the manifest on docker-config.yml which is bad ?  indeed when i test the IMAP or POP accounts i can't download messages. i can create new messages but my old messages aren't visible.

my .yml is ;

`version: '2'

services:

[2016-10-20 15:32] tomav commented on #358
Hi @patgg, probably a permission issue.
Compare visible email to inviable one and you'll get your answer.
Should look like `-rw-r--r--  1 docker docker`

[2016-10-20 15:56] patgg commented on #358
indeed, it seems to be a right problem...  thx

by example :

on the host, i ve this :
-rw-r--r-- 1 5000 5000  813365 oct.  20 15:26 domain.com/s.toto/new/1330619646.P29670Q0M853772.mail

on the container, i ve this :
-rw-r--r-- 1 docker docker  813365 Oct 20 13:26 /var/mail/s.toto/new/1330619646.P29670Q0M853772.mail

i modyfied in adding r to group or other, but there's no diffrences in reading m

[2016-10-20 19:44] alycklama opened #359 "Client host rejected: Access denied"
First of all, thank you very much for setting up the docker environment!

The only problem I have right now is that I can't seem to send mail. I always get the following message:

Client host rejected: Access denied

Login is not an issue, just sending mail.

[2016-10-21 09:58] tomav commented on #359
What's your configuration? (compose, userfile). We're blind 🙈

[2016-10-21 09:59] tomav commented on #359
And paste more logs from postfix. Thanks.

[2016-10-21 10:00] tomav commented on #256
@KyleOndy, ny update on these 2 issues #256 and #324 ? Thanks.

[2016-10-21 10:02] tomav commented on #305
Hi @tyranron, any update on this? Thank you.

[2016-10-21 10:03] tomav commented on #306
@Josef-Friedrich, do you know if this has been resolved? Thanks.

[2016-10-21 10:05] tomav commented on #322
If anyone working on OSX with [Docker-for-Mac](https://docs.docker.com/docker-for-mac/#download-docker-for-mac) can try to reproduce this issue. Thanks.

[2016-10-21 10:07] tomav commented on #357
@ckiszka would you like to contribute to the project adding this feature on `setup.sh`?

[2016-10-21 10:13] #349 closed

[2016-10-21 10:13] tomav commented on #358
You're welcome.

[2016-10-21 10:13] #358 closed

[2016-10-21 10:23] tomav commented on #332
Regarding `PLAIN`and `AUTH`, I added theses mechs but this was a mistake.
I'm OK to remove them because the goal of this image is to include the best practices natively.

There's probably work to do on `SSL/STARTLS` too.

Who wants to work on that?

[2016-10-21 11:32] Josef-Friedrich commented on #306
A paragraph how to configure the mail-server in a rancher environment should be added to the documentation. The issue was never a issue. Any volunteers?

[2016-10-21 11:37] tomav commented on #306
@CrystalMethod perhaps?

[2016-10-21 13:58] ckiszka commented on #357
@tomav -- I will give it a shot. This is new to me, it may take me a little longer than you guys ;)

[2016-10-21 14:31] tomav commented on #357
No problem, we'll be happy to count you as a contributor!

[2016-10-22 13:54] tyranron commented on #305
@tomav oops, sorry. Totally forget about this. It was better to say "few months" =/

[2016-10-23 14:08] kachkaev commented on #297
@Josef-Friedrich would you still like to have a look at this? Just wondering what your plans are.

[2016-10-23 17:47] Josef-Friedrich commented on #297
Yes, but at the moment I'm busy

[2016-10-23 21:14] kachkaev commented on #256
Great that this issue has been reported! I struggled to figure out what went wrong after setting `DISABLE_AMAVIS=1` :–)

It seems reasonable to switch to an alternative service config as suggested in https://github.com/tomav/docker-mailserver/issues/297 while fixing this bug – it will require some config refactoring anyway.

IMHO not having a spam filter and an anti-virus has more pros than cons s

[2016-10-24 13:02] tomav commented on #359
Could you paste `/etc/postfix/main.cf`?

[2016-10-24 13:04] tomav commented on #305
Fixed by #360, thanks @tyranron

[2016-10-24 13:04] #305 closed

[2016-10-24 13:30] alycklama commented on #359
Here you go:

[code]

[2016-10-24 13:42] tomav commented on #359
Who is trying to send an email? A client configured with SMTP Auth? A web application trusted on the network?
Part of `127.0.0.0/8 [::1]/128 [fe80::]/64 172.17.0.0/16 172.17.0.0/16`?

What did you check so far?

[2016-10-24 15:21] alycklama commented on #359
I'm running the image in a VPS. I've added the e-mail account in my local machine to use the mail server within the docker image running on a VPS. I would want to be able to send mail from any device from this mail server.

I've read that it could have something to do with permit_sasl_authenticated or permit_mynetworks. As authenticated sasl users should be able to send mail, but according to the

[2016-10-24 19:00] tyranron commented on #359
@alycklama It seems that you are trying to perform SMTP authentication on 25 port. Please make sure that you are using 587 port for SMTP authentication.
Even better show your full client configuration.

[2016-10-24 19:22] alycklama commented on #359
The client configuration was set to port 143, but changing it to 587 didn't make any difference. I dived into the client settings and noticed that I hadn't filled in the authentication settings for the mail server. It fully makes sense now why I couldn't connect. The only problem I'm still facing is that I can't seem to send anything.

[code]

[2016-10-25 06:48] tomav commented on #359
Check that `amavis` is running.

[2016-10-25 08:47] tomav opened #362 "unused parameter: dovecot_destination_recipient_limit=1"
This parameter raises a warning now and may be removed from the default configuration.

[code]

[2016-10-25 13:08] KyleOndy commented on #256
I have not looked into this issue much as I have still been trying to figure out an acceptable way to remedy #324.

I may switch gears in the next week and at least push out a simple fix that will work for the time being.

[2016-10-25 13:10] tomav commented on #362
If unused, this `dovecot_destination_recipient_limit` may be removed.
I'll prepare the fix. In the meantime, if someone thinks it may have an impact, feel free to let me know.

[2016-10-25 14:44] alinmear commented on #338
@tomav i will start here, when we can be sure, whether the pull request of @dennis95stumm, and also my new rebased pull request for the kopano feature has been successfully merged or not. Because both will result in some alterations of the start-mailserver script.

[2016-10-25 16:02] tomav commented on #362
@StreakyCobra & @hitokiri8x, note that the configuration added in https://github.com/tomav/docker-mailserver/issues/230 produces a warning now.

The test seems to work without the parameter, but perhaps the test does not cover your use case.
Please let us know what you think about this change.

Thank you.

[2016-10-25 17:40] alycklama commented on #359
I've added the following to the docker run command and now it works!
-h myhostname.com

The only question I have remaining has to do with ClamAV. It gives me a message in the log:
_The virus database is older than 7 days!_

Is there any cron job running that takes care of this within the container, or am I supposed to update it myself once in a while?

[2016-10-26 07:20] tomav commented on #359
The hostname should be checked on startup t be sure that they've been setup.
I'll create an issue for that.

Regarding the virus database, `freshclam` is the command you may type on first boot to be synced.
There's a cron that should work every night :-)

[2016-10-26 07:20] #359 closed

[2016-10-26 07:52] tomav opened #364 "Add a check on hostname and domainname on startup"
They must be filled to make things work as expected.

[2016-10-26 07:53] tomav commented on #338
Roger that!

[2016-10-26 15:30] tomav commented on #338
@alinmear tests are missing in your other PR by the way.

[2016-10-26 18:44] makloda opened #365 "Spamassassin bayes database location (amavis vs. root)"
The FAQ states running sa-learn user docker exec -it which runs inside the docker container using root, hence the bayes database is built in the /root/.spamassassin path inside the container.

I am not 100% sure, but I believe Amavis is calling Spamassassin using the amavis user, and therefore looking in the wrong location for the bayes db:

[code]

Please take this with a grain of salt as I'm a d

[2016-10-26 21:18] tyranron commented on #365
Yeap, you're right. AMaViS is actually an implementation of SpamAssassin daemon. More details [described here](https://github.com/tomav/docker-mailserver/issues/311).

Try to specify [`--dbpath` option](https://spamassassin.apache.org/full/3.2.x/doc/sa-learn.html) for `sa-learn` command.

[2016-10-26 21:49] makloda commented on #365
OK I can confirm using the database path option worked for me, I am now getting Bayes scoring. Maybe this could be added to the FAQ for those interested.

Thanks for this fantastic docker image!

[2016-10-27 05:27] tyranron commented on #365
Hmm...@tomav may be we can hack this moment a bit?
[code]

[2016-10-27 05:57] tomav commented on #365
Are you using `ONE_DIR=1`?

[2016-10-27 12:59] #362 closed

[2016-10-27 13:01] StreakyCobra commented on #362
I can not update my mail server for now, but I'll let you know when I'll try to do so :-)

[2016-10-27 13:52] ppKrauss opened #366 "Confirm that we can use certbot for SSL"
About use of [SSL with Dovecot](http://wiki.dovecot.org/SSL) with a _**free** SSL certificate_, prepared by [`certbot`](https://certbot.eff.org/)...  It is "plug-and-play" to use it here, with *docker-mailserver*? There are a "how to" about?

-----

About techinical resources and process, suppose the following:

 1. [prepare letsencrypt (or similar) to `certbot`](https://ubuntu101.co.za/ssl/update

[2016-10-27 15:02] Josef-Friedrich commented on #306
I volunteered [here](https://github.com/tomav/docker-mailserver/wiki/FAQ-and-Tips#is-docker-mailserver-running-in-a-rancher-environment) ...

[2016-10-27 15:02] #306 closed

[2016-10-27 17:24] tomav commented on #306
Thank you!

[2016-10-28 03:56] scottstensland commented on #366
Have you read the WiKi ?

https://github.com/tomav/docker-mailserver/wiki/Configure-SSL

[2016-10-28 11:30] ppKrauss commented on #366
ops, sorry... "letsencrypt recommended" is perfect!  @scottstensland  thanks a lot!

[2016-10-28 12:29] #366 closed

[2016-10-28 13:16] KyleOndy commented on #256
That is a pretty big reduction in resources @kachkaev.

You bring up a good point regaring keeping `AMAVIS` to maintain DKIM. I agree that should be the reccomendation for most users.

I am going to attempt to turn off the virus and spam checking on my personal server as I am moving to a smaller host. Once I get a clean implementation I'll  open up a PR.

-----

Also, what dashboard / munitioning

[2016-10-28 13:18] makloda commented on #365
For any amavis/spamassassin noobs who get confused coming from Mailscanner (like myself) there's lots of introductory info here:

https://wiki.apache.org/spamassassin/IntegratedInPostfixWithAmavis
https://www.ijs.si/software/amavisd/#faq-spam

[2016-10-28 13:27] tomav commented on #256
Grafana probably.

[2016-10-28 15:16] kachkaev commented on #256
@KyleOndy it's [netdata](https://github.com/firehol/netdata) – really great stuff!

[2016-10-28 16:08] kachkaev commented on #256
One important thing to note before anyone else has started to encounter this. I don't know if this is related to turning off spam and viruses filtering, but I've recently started to spot these pretty sad warnings in the logs from time to time:

[code]

It turns out that some attempts to forward notifications from github, ebay and other services to gmail via my custom email server fail. I was doing

[2016-10-28 19:42] KyleOndy opened #367 "Easier LetsEncrypt SSL setup"
I am not sure if this is even the right place for this discussion, so if not this can be moved somewhere else.

---

Soon the wildcard SSL cert I use for my mail server will expire. I have planned to move to LetsEncrypt at this point. I read the [ssl page](https://github.com/tomav/docker-mailserver/wiki/Configure-SSL) in the wiki and saw that the instructions delegated out to LetsEncrypts's [certb

[2016-10-28 22:18] makloda commented on #365
I used ONE_DIR=1 now which works well. Also I mapped /etc/amavis/conf.d to a host folder to have control over amavis file extension (virus) filtering in a more flexible way.

Bayes is working now, own rules are working and bayes token updates are cronned using:

`/usr/local/bin/docker exec --user amavis mailserver sa-learn --spam /var/mail/domain.com/user/.Junk --dbpath /var/lib/amavis/.spamassass

[2016-10-30 11:42] #364 closed

[2016-10-30 15:02] electerious opened #369 "regexp aliases not working"
Hi, I tried to use a regexp alias to receive all emails mailed to `@electerious.com`. Sadly it's not working for me. Mailing to my mailserver account works fine, but anything else returns `Recipient address rejected: User unknown in virtual mailbox table`.
- The `postfix-virtual.cf` file exists in the `config/` folder
- I'm not using any other virtual aliases (= no `postfix-virtual.cf` file)
- Fil

[2016-10-30 15:17] electerious commented on #369
Startup log:

[code]

[2016-10-31 10:41] tomav commented on #338
We should have a pre function that checks configuration to stop the execution if a configuration is provided:
* if FQDN is not provided (already exists at the top of the script)
* display configuration (alias provided or not, regexp-alias provided or not, dkim provided or not...) before it starts the server

Let me know if I can help or if you want to talk about that.

[2016-11-01 10:07] #322 closed

[2016-11-01 14:03] dbrgn opened #370 "Mailing List Support"
Hi. Do you have any experience with running this setup together with mailing list software (e.g. Mailman 3)?

[2016-11-01 15:36] dragonito opened #371 "How to increase mail size for smtp?"
Hi there,

how can i increase the mail size for outgoing emails?

Thanks a lot

Robin

[2016-11-01 15:53] Josef-Friedrich commented on #371
Create a configuration file named `config/postfix-main.cf`:

For 50MB:

[code]

[2016-11-01 15:57] tomav commented on #371
Other configuration options can be found on [postfix website](http://www.postfix.org/postconf.5.html).

[2016-11-01 15:57] #371 closed

[2016-11-01 20:27] jcgruenhage opened #372 "Changing the fetchmail config file has no effect."
Only the first launch of the container with fetchmail enabled changes the config file, changing it later in is impossible without manually deleting files in the container and relaunching it.

The following part should be removed from setup-fetchmail to resolve this:

[code]

[2016-11-02 10:28] tomav commented on #372
Merged.

[2016-11-02 10:28] #372 closed

[2016-11-02 13:20] dragonito commented on #371
thx a lot

[2016-11-03 18:16] Brandl opened #374 ""Connection timed out" on own IP/Domain"
I just looked at the logfile and it's got hundreds of lines, which are simlar to those:

    Nov  3 18:05:55 mail postfix/qmgr[1434]: 81571C2D: from=<root@mail.mydomain.com>, size=642, nrcpt=1 (queue active)
    Nov  3 18:06:25 mail postfix/smtp[1436]: connect to mail.mydomain.com[123.456.789.123]:25: Connection timed out
    Nov  3 18:06:25 mail postfix/smtp[1436]: 81571C2D: to=<root@mail.mydomai

[2016-11-08 02:49] PhilAndrew opened #375 "How do I renew the letsencrypt certificates?"
Mine have expired, how do I renew?

[2016-11-08 09:48] tomav commented on #375
Hi @PhilAndrew, this is not related to this docker image.
You should check `certbot` documentation and search for `renewal`.
https://certbot.eff.org/all-instructions/

Restart your mail instance when new certs are deployed.

[2016-11-08 09:48] #375 closed

[2016-11-08 09:51] tomav commented on #374
Hi @Brandl, I can't reproduce the problem on my instances.
Could you send and receive mails? Everything is ok regarding firewall/network?

[2016-11-08 09:59] tomav commented on #367
Hi @KyleOndy, on my side I use HTTP challenge and this is what I trigger from my host.
It will only renew if needed.

[code]

[2016-11-08 12:17] hansbogert opened #376 "only allow sending to its own domain"
Is there a toggle, i.e., environment variable option, to enable/disable sending to other domains than the mailserver's own domain? Or do I need to make my own Dockerfile which overwrites the postfix configuration files for that?

[2016-11-08 16:18] tomav commented on #376
Hi @hansbogert, you probably need to [override postfix configuration](https://github.com/tomav/docker-mailserver/wiki/Override-default-postfix-configuration), which does NOT require a custom build.

[2016-11-08 16:18] #376 closed

[2016-11-08 16:22] tomav commented on #370
Nope, but you can create basic list using virtuals.
https://github.com/tomav/docker-mailserver/issues/99

Otherwise, if you find a solution that may be documented in our wiki, feel free to contribute.

Thanks.

[2016-11-08 16:22] #370 closed

[2016-11-10 06:27] Nesousx opened #377 "[Question] Certificates renew and restart of services"
Hi,

I was wondering, if it was necessary  / mandatory to restart the postfix and dovecot (or in this case, our mail container) services after renewing the certificates.

If I am not mistaken, renewing a cert with nginx requires a service restart (and not just a reload). I am wondering if it is also the case with the mail stack.

Thanks in advance.

[2016-11-10 20:07] sebastiangraf commented on #370
@dbrgn : I have a mailman-container working with this image: https://github.com/sebastiangraf/docker-mailman3 .
Documentation should be given in the readme, otherwise just file a bug (over there).

[2016-11-11 00:33] jgillich opened #378 "With ClamAV disabled, ***UNCHECKED*** is added to all titles"
Apparently 512MB RAM aren't enough, so I disabled ClamAV to save memory by setting `DISABLE_CLAMAV=1`. Now `***UNCHECKED***` is added to all titles. It would be nice if this behavior could be turned off automatically; from what I've found this is probably done by amavis.

[2016-11-11 14:23] jcgruenhage opened #380 "Document LDAP Support"
I just switched my server over to LDAP, expecting the things mentioned in the Readme to be enough, or finding a wiki page, should there be anything else I had to do. Looking into the log of the server revealed that there were additional config files, which should be created.

It would also be nice to have support in the setup.sh file to debug LDAP, like with fetchmail.

I'll try setting LDAP up no

[2016-11-17 18:28] mathuin opened #384 "Add support for dovecot-antispam plugin"
http://wiki2.dovecot.org/Plugins/Antispam

Can this be added to the container?  Running the `sa-learn` process by hand or via cron is a little clumsy.

[2016-11-18 16:38] diluex opened #385 "554 5.7.1 <test@example.com>: Relay access denied"
The receiver mx server denies accepting emails.
telnet and also thunderbird showed this error.
receiving mail and imap login work.
also smtp login by telnet.

Did a clean install with docker-compose.yml:

version: '2'

services:
  mail:
    image: drakulix/armhf-mailserver
    # build: .
    hostname: mail
    domainname: example.com
    container_name: mail
    ports:
      - "25:25"
      - "143

[2016-11-18 16:42] tomav commented on #385
Hi @diluex, have you configured your client with SMTP auth?
If no, you should.

For the rest:
- we don't have enough information here to help you
- you're using en modified version of this image and we can't support it

Thank you.

[2016-11-18 17:08] diluex commented on #385
HI @tomav,
i'm aware of the patched docker image but should be the same for armhf architecture as it is compiled on the official source code.
your docker image shows the same error on my desktop.

i'm not sure what you're talking about the smtp auth (maybe no).
just followed your description on the codepage and adapted some settings as mentioned above.

Which information do you need? how do i conf

[2016-11-18 17:10] tomav commented on #385
You have configured IMAP (probably) with authentication.
You need to do the same for SMTP.
https://github.com/tomav/docker-mailserver/wiki/FAQ-and-Tips#how-can-i-configure-my-email-client

[2016-11-18 17:33] diluex commented on #385
oh yeah! of course i've did. i just skipped the word 'client'.
so that was not the problem.
any ideas left?

[2016-11-21 10:53] tomav commented on #380
Let's ping @dennis95stumm and @alinmear to check if they can improve this part.

[2016-11-21 10:54] tomav commented on #378
@jgillich would you like to contribute with a patch for this enhancement?

[2016-11-21 10:55] tomav commented on #377
Hi @Nesousx, yes restart is necessary.

[2016-11-21 10:55] #377 closed

[2016-11-21 16:31] dennis95stumm commented on #380
In the latest Version of the LDAP integration no config files are necessary. Only the environment variables specified in the README.

[2016-11-21 19:55] jcgruenhage commented on #380
Oops, then I must have done something wrong :D

[2016-11-21 19:55] #380 closed

[2016-11-22 08:03] jrehwaldt commented on #369
Try `/^[\w]*@electerious.com/ tobias@electerious.com` (`*` instead of `+`). I had a similar issue and it seems like postfix simply doesn't support `+`. Give it a try and report back.

[2016-11-22 08:07] jrehwaldt commented on #332
What's the desired result? I secured my image with STARTTLS-only, high grade ciphers, prefer server side ciphers and a few more tweaks. Obviously, such a setup would break existing setups which use unsecured access. Is that okay for you?

[2016-11-23 11:44] mlegenhausen opened #386 "Mail relay does not work when amavis is disabled"
Configuration

[code]

Relay server configuration

[code]

The error message

[code]

The problem is that `content_filter = smtp-amavis:[127.0.0.1]:10024` is statically set even when amavis is disabled.

Current workaround is to add `content_filter =` to the `postfix-main.cf`.

I think this value needs to be setted depending  amavis is enabled or disabled?

[2016-11-23 12:47] abipit opened #387 "dovecot: auth: passwd-file(adrien@domain.com): unknown user"
Hello and thank you @tomav for this container !!

I configured the files and started your container and I can send mail to another domain.
Example: from hotline@domain.com, I send and receive an email on adrien@gmail.com or adrien@yahoo.fr, no problem.

But if i want send email to the same domain, from hotline@domain.com to adrien@domain.com, I get the following errors :

[code]

Remarks : I insta

[2016-11-23 13:22] tomav commented on #386
You're right, this should be fixed. Want to contribute?

[2016-11-23 13:27] chiel1980 opened #388 "Delimiter +"
Hi,

I am setting up delimiters for sieve filtering in /etc/dovecot/conf.d/15-lmtp.conf, 90-sieve.conf and in postfix/main.cf.
Whenever I send an email to a delimiter email adress I get the following error from Dovecot:
[code]
It seems that dovecot does not seem to strip the delimiter/detail from the username

I also had to specify the following in 10-auth.conf:
[code]

otherwise the address was b

[2016-11-23 13:28] tomav commented on #387
Hi @abipit, are you sure user accounts / aliases are created?
`User doesn't exist: adrien@domain.com` is strange if config is good.

Have you tested with a real mail client instead of `mail` command just to be sure that this problem don't come from the tool.

[2016-11-23 13:43] tomav commented on #388
Tested on my instance, and works as expected.
Make sure you have this line in your config:
https://github.com/tomav/docker-mailserver/blob/master/target/postfix/main.cf#L16

[2016-11-23 13:50] abipit commented on #387
Thanks @tomav.
Yes I confirm that the 2 accounts tested exists (I receive emails on adrien@domain.com from a real mail client, ex: from gmail).

On my server, I just test with the command mail in your container.
But I'm not sure to understand, I explain : my domain is already configured in a web hosting with a lot of emails accounts, here I just want to send email from one of these account to anot

[2016-11-23 13:57] tomav commented on #387
You have 2 mail server? One with everything configured and working fine (using any mail server software) and another one in the container and you want to use it to send email to the first server?

[2016-11-23 13:59] chiel1980 commented on #388
Ok, have you set delimiters in other places like 15-lmtp.conf, and change the username allowed characters in 10-auth.conf? Or is this the default config from the container?

[2016-11-23 14:14] abipit commented on #387
One with my web hoster (nuxit.com) and yes we can send emails between accounts without problems on our _domain.com_
And the second with your container to send email from and to _domain.com_

I explain my goal : on my server I want to send email when there is a problem or If the server restart for example. So I need a mail server no ? And your container seems me perfect. I configured my _domain.com

[2016-11-23 14:25] tomav commented on #388
On my side its default config (I think), I only override 2 postfix parameters but not related.

[2016-11-23 14:34] chiel1980 commented on #388
Hmm I reverted my install from a snapshot of this morning and you're right..seems to be PEBKAC ;)

[2016-11-23 14:37] tomav commented on #388
Great!

[2016-11-23 14:37] #388 closed

[2016-11-23 16:56] mlegenhausen commented on #386
I can but I want to make sure that only amavis needs this content_listener whats about clamav?

[2016-11-23 18:27] dragonito commented on #371
Perhaps give a hint for this in the documentation?

[2016-11-23 22:53] tomav commented on #386
IMHO, clamav should also be disabled because triggered by amavis.

[2016-11-23 22:55] tomav commented on #371
@dragonito this could make sense, but the this repo and its wiki provide support on the usage of the docker image (docker specific topics) and won't replace the great postfix/dovecot documentation.

[2016-11-24 00:43] jgillich commented on #378
Yes, but I'm not sure when I'll get to it.

[2016-11-24 10:08] mlegenhausen commented on #386
So when `DISABLE_AMAVIS` is set clamAV is disabled automatically?

[2016-11-24 11:53] #387 closed

[2016-11-24 20:52] electerious commented on #369
Thanks for the tip, but the problem still occurs even when replacing `+` with `*` :-/

[2016-11-25 11:12] alinmear commented on #338
Sorry for my absence, but i was very busy.
Today i start working on this. Your last post seems to be clear and a good idea. If i can think of something else i will post here again!

[2016-11-25 14:23] Kralock opened #389 "Cannot build the Dockerfile"
Hi there !
When i trie to build the Dockerfile, i've got this error :

[code]

My objective, to build Smtp with Ldap configuration, but file is COPY from directory :

`"COPY target/postfix/ldap-users.cf target/postfix/ldap-groups.cf target/postfix/ldap-aliases.cf /etc/postfix/"`

That's why I need to re-build with the Dockerfile..

[2016-11-27 22:30] tronicum opened #391 "custom rbls"
I would like to have custom rbls or at least the option to override the default selection. would supply a PR, where would I put such variable within target/postfix/main.cf (and default it to the current, so it does not break)?

[2016-11-27 22:33] tronicum commented on #391
I would also like to have an custom "append main.cf" var, so i could add
smtpd_tls_received_header = yes
to see detailes TLS headers, e.g.

[2016-11-28 08:15] tomav commented on #391
Hi @tronicum, have you read the [wiki](https://github.com/tomav/docker-mailserver/wiki/Override-Default-Postfix-Configuration)?

[2016-11-28 10:13] #187 closed

[2016-11-28 10:43] tomav commented on #332
Following emailsecuritygrader.com explanation, `PLAIN` and `LOGIN` auth mechanisms should not be available on port `25` or `143`.

[2016-11-28 10:45] tomav commented on #256
Hi @KyleOndy, have you been able to fix the selective service startup?
Thank you.

[2016-11-28 10:45] tomav commented on #338
Thank you @alinmear!

[2016-11-28 11:13] tronicum commented on #332
Sometimes you might allow it on 127.0.01 connections

[2016-11-28 11:14] tronicum commented on #391
yes, but i just want to add custom stuff, or customize options, not replace the whole configuration

[2016-11-28 11:16] tomav commented on #332
Yes, but it's an exception that may be whitelisted.  Otherwise, we have `PEMRIT_DOCKER` env.

[2016-11-28 11:17] tomav commented on #391
It's an override. It keeps default config and change only what's provided in the override config.

[2016-11-28 11:45] tomav commented on #385
I haven't been able to reproduce your problem.
Reopen this issue if you have more information / logs to provide.

[2016-11-28 11:45] #385 closed

[2016-11-28 11:46] tomav commented on #365
Yep this could go in the FAQ. Feel free to update it.

[2016-11-28 11:46] #365 closed

[2016-11-28 11:47] tomav commented on #374
Feel free to reopen if you have more information /logs to provide.

[2016-11-28 11:47] #374 closed

[2016-11-28 11:51] tomav commented on #369
`+` is considered as `recipient_delimiter` out of the box.
EXISTINGUSER+random_number_or_characters@EXISTINGDOMAIN.TLD will be delivered to existing user.

Regarding the regexp, I'll give a try.

[2016-11-28 11:56] #391 closed

[2016-11-28 12:02] tronicum commented on #391
you need to take care with newslines though (i copied the rbl lines and they need to be in one line (or mybe \ would work)

[2016-11-28 13:57] tomav commented on #386
Yes, amavis is the entrypoint for clamav and spamassassin.
If amavis is not running, clamav should not be running neither.
Let me know if I can help.

[2016-11-28 13:59] tomav commented on #386
But keeping amavis and disabling clamav should be a working solution too.
There's an old bug reported on this part:
https://github.com/tomav/docker-mailserver/issues/256

[2016-11-28 18:36] oozone opened #392 "Policyd support"
Would it be possible to integrate [policyd](http://wiki.policyd.org/start) support. Do you plan on doing so? If not, how would one go about this?

[2016-11-29 14:33] tomav commented on #392
Hi @oozone, no planned currently.
What's the killer feature of Policyd?

[2016-11-29 15:09] oozone commented on #392
Hi thanks for your reaction. With policyd one could limit the rate at which emails are sent, eg a rule could be enforced wherin a user can only send 1000 emails / month, would be great in this image. Unless you know if there's other ways to achieve the same goal?

[2016-11-29 15:21] tomav commented on #392
Not sure a limitation on email sent is a common wanted behaviour.
Let's see what other say but policyd brings lot of features that we already have

[2016-11-29 16:21] tomav commented on #389
You can't mount the folder or use `FROM tvial/docker-mailserver:v2`?
I tried to build the project from scratch on a fresh server and it works well. I can't reproduce your issue.

Let me know is you have more information to provide.

[2016-12-01 15:14] alinmear commented on #338
@tomav i just made a pull request for this. The next step would be implementing the checks logics you mentioned. I haven't done this in this scope, otherwise the batch size of changes would be that big, that if we mess something else up here it's hard to find where we did so.

I marked some sections with @TODO where we could start with several checks.

[2016-12-01 15:24] alinmear commented on #338
@tomav: there is also one very important thing i recognized while working on this. We have to different kinds of environment variables: task based, e.g. should we make a config step like ENABLE/DISABLE_SOMETHING and section based, e.g. what should we do withing that task.

Dealing with this we should make a convention that task based vars should always have the same form and is a conditional for r

[2016-12-02 11:27] alinmear opened #394 "Add Option for specifying postfix virtual_transport (in order to work with kopano as dagent)"
@tomav i already made a pull request for kopano support (#335) of this project. In order to generalize this issue i would suggest instead of only making a config step for kopano we could make this one for the virtual_transport in general. This could be useful for people that need to be more flexible regarding the configuration of the postfix lmtp client and is also much cleaner (compared to my fir

[2016-12-03 12:59] Neikius commented on #254
What about dovecot master/master replication: http://wiki.dovecot.org/Replication ?

[2016-12-07 09:25] mestaritonttu opened #395 "FAQ and Tips: named volumes"
In the FAQ and Tips wiki there is this mention: "You should use a data volume container for /var/mail to persist data." It links to a Medium blog post. The blog post now has an update that **named volumes** should be used instead.

Should the Medium blog post link be replaced with this: https://docs.docker.com/engine/tutorials/dockervolumes/

People are working on improving that tutorial: https://

[2016-12-07 10:55] Berndinox opened #396 "Something wrong?"
Sorry, issue was on my side :)
Please close!

[2016-12-07 13:31] #396 closed

[2016-12-08 14:35] lolownia commented on #378
It seems that clamav-scan is being run nevertheless. I'm not sure about the solution, but what I did is I've added config/amavis.cf file with:

[code]

[2016-12-11 16:10] oozone commented on #392
Or what do you think of an Admin interface for this Docker image?
https://github.com/opensolutions/ViMbAdmin

[2016-12-13 20:09] arcaine2 opened #397 "Time mismatch between host and container"
I had time shifted -1h versus the host and my current time. Something as simple as "      - /etc/localtime:/etc/localtime:ro" in volumes section in yml file is enough.

[2016-12-13 20:12] arcaine2 opened #398 "Fail2ban fails to start after restarting container"
It looks like fail2ban doesn't shutdown properly and after a container restart there's still a fail2ban.sock file left in /var/run/fail2ban/ directory.

[2016-12-15 08:14] icosahedron opened #399 "[Question] Way to backup/preserve/restore mail?"
This might be a docker question rather than a mail server question.

What is the best way to preserve mail or backup/restore mail in between docker run invocations?  I'd like to add some features (e.g. SSL) that I didn't add the first time.

[2016-12-16 02:04] icosahedron commented on #399
I think this is what I'm looking for.

[Manage data in containers](https://docs.docker.com/engine/tutorials/dockervolumes/#/backup-restore-or-migrate-data-volumes).

Can someone confirm that backing up the mail data volume and then restoring it after a subsequent docker-compose will indeed restore e-mail?

[2016-12-17 15:26] tomav commented on #399
Hi @icosahedron, if your data are stored in a volume, external data container, or on host, the answer is yes.
A backup script for your emails can be found in the [FAQ](https://github.com/tomav/docker-mailserver/wiki/FAQ-and-Tips#what-about-backups)

[2016-12-17 15:26] #399 closed

[2016-12-17 15:27] tomav commented on #398
Hi @arcaine2, I think I already faced this problem.
A check in `start-mailserver.sh`may solve the issue.
Could you provide a patch for that?

[2016-12-17 15:29] tomav commented on #397
Yep, this is more docker related but its a nice trick.
I add it to the [FAQ](https://github.com/tomav/docker-mailserver/wiki/FAQ-and-Tips#how-can-i-sync-container-with-host-datetime).

[2016-12-17 15:29] #397 closed

[2016-12-17 15:31] tomav commented on #395
Yep, documentation should be better. If you're comfortable with this topic, do not hesitate to contribute to Wiki and default config.

[2016-12-17 15:32] tomav commented on #389
Closing do to lack of information.
Reopen if needed.

[2016-12-17 15:32] #389 closed

[2016-12-17 15:36] #338 closed

[2016-12-17 15:37] tomav commented on #394
You can't override config files for that? All this kopano stuff doesn't seem mainly used.

[2016-12-17 15:38] tomav commented on #392
Feel free to document how to use this kind of tool, but it should be not integrated into the image core.

[2016-12-17 15:38] #392 closed

[2016-12-17 20:23] tomav opened #401 "/etc/default/locale: No such file or directory"
[code]

[2016-12-17 20:55] mestaritonttu commented on #395
Sorry, I'm pretty ignorant when it comes to Docker :)

[2016-12-17 21:21] tomav commented on #369
Hi, the regexp aliases must be provided in `postfix-regexp.cf`.
Have a look to https://github.com/tomav/docker-mailserver/blob/master/target/start-mailserver.sh#L477-L485

[2016-12-17 21:21] #369 closed

[2016-12-17 21:27] #401 closed

[2016-12-18 11:02] Nesousx opened #403 "Sending email from the server"
Hi,

I have been using this container for a few weeks now. It is working fine. I, however, have a question. How can my server keep sending email, like reports?
On my other servers, I have sendmail running, for example, in order to send "system mails". However, since I have the container running on the same port, I had to disable sendmail...

Any idea how to fix this?

Thanks.

EDIT : I guess, I co

[2016-12-18 11:34] alinmear commented on #394
@tomav, in particular this has nothing to do with kopano itself; this would implement the possibility without providing specific config files to fire up a container with a particular lmtp client (e.g. exim, postfix, sendmail, cyrus, dovecot, kopano, etc.) or to have e.g. dovecot on a different server; for this take a look at http://wiki2.dovecot.org/LMTP.

I tried to generalize the needs of my par

[2016-12-18 12:10] arcaine2 commented on #398
I'm new to that (on github) so please check if haven't mess up anything but this should do.

[2016-12-18 13:02] kbeaugrand opened #405 "dir owned by 5000:5000"
Hi,

I've got an issue when using your container.
The mail directory has always it's owner changed to 5000:5000 at startup.
With this kind of error message :

In my configuration, I would have the /var/mail directory owned by dovecot (103:107).
How could that done ?

Thank you for your awnser.

[2016-12-18 14:37] thiras opened #406 "Multi Domain Support"
It'd be great if we can have multiple domains on a single setup. Maybe also a control panel like postfixadmin

[2016-12-18 14:56] tomav commented on #406
What do you mean by multiple domains? Can send and receive emails for domain1.tld and domain2.tld? If yes, it also work out of the box.

[2016-12-18 15:15] thiras commented on #406
Yes that is exactly what i meant. Then you can close the ticket.

[2016-12-18 15:55] #406 closed

[2016-12-18 20:54] tomav commented on #405
Are you mounting `/var/mail` from the host? This may be the cause.

[2016-12-18 21:00] tomav commented on #367
Perhaps a link to your repository in the wiki may be sufficient for people using AWS.

[2016-12-18 21:00] #367 closed

[2016-12-18 21:00] tomav commented on #254
@Neikius yep why not, have you tried to?

[2016-12-18 21:03] kbeaugrand commented on #405
Yes I'm,

What do you recommend ?

[2016-12-18 21:07] tomav commented on #405
You should not have depend on your host, and may use backups.

Docker data volumes or data volume containers will do the trick.
Documentation is not perfect currently. If you dig into this topic, feel free to submit an doc. update.

There's an issue related to that.
https://github.com/tomav/docker-mailserver/issues/395

I use data volume container (data volume did not exist when I started the proj

[2016-12-18 21:08] tomav commented on #405
I close this issue because it duplicates #395.
Do not hesitate to share idea there.

[2016-12-18 21:08] #405 closed

[2016-12-18 21:08] kbeaugrand commented on #405
Are you sure that this could be the cause ?
Because Regading to the setup file (line 759) you've got a function that changes the owner of /var/mail :

[code]

[2016-12-18 21:10] tomav commented on #405
Sure? Absolutly not.
But persistant data should be managed carefully and you're not the first person having problem with mounted folders.

[2016-12-18 21:12] tomav commented on #405
BTW, I just edited your comment to anonymize your email / domain.

[2016-12-18 21:12] kbeaugrand commented on #405
Please take a look at target/start-mailserver.sh line 759 ...

Ok thx for the anonymizing

[2016-12-18 21:18] tomav commented on #405
https://github.com/tomav/docker-mailserver/blob/master/target/dovecot/10-mail.conf#L109-L112

`docker` user is `5000:5000`

[2016-12-18 21:21] kbeaugrand commented on #405
Hoo Ok I will try with your solution.

thank you

[2016-12-19 11:55] Rubytastic2 opened #407 "Kubernetes support"
Loving this project but abandoned docker to many issues on OSX
Is there any interest in coverting this project to kubernetes or add support for it?

Im currently looking at this,
perhaps its an idea to make this project "hybrid"

[2016-12-19 13:29] tomav commented on #395
I suggest this configuration (tested locally, no deployed to production yet)

[code]

We create 2 docker volume to manager `/var/mail` and `/var/mail-state` (assuming `ONE_DIR=1`).
Start the container, create a dummy file in both directories.
Stop the container, remove (=delete) it.
Re-start it.
Your 2 dummy files should be kept.

cc @kbeaugrand

[2016-12-19 13:31] tomav commented on #407
Hi, @Rubytastic2
I think @tyranron and @keslerm are using Kubernetes.

[2016-12-19 13:33] tomav commented on #407
@iMartyn too

[2016-12-19 13:46] tomav commented on #398
Should be fixed by #404

[2016-12-19 13:46] #398 closed

[2016-12-19 14:25] iMartyn commented on #407
I switched to https://github.com/Mailu/Mailu fwiw

[2016-12-19 20:14] tyranron commented on #407
@Rubytastic2 and what is the problem to use this image in Kubernetes?

Just write a `Deployment` & `ConfigMap`s you require and that's it.

[2016-12-19 22:44] tomav commented on #407
@tyranron is there a value to maintain a page in the wiki for Kubernetes users? If yes, could you do that? Thanks.

[2016-12-19 22:54] iMartyn commented on #407
[deploy.yml.txt](https://github.com/tomav/docker-mailserver/files/662351/deploy.yml.txt)
[service.yml.txt](https://github.com/tomav/docker-mailserver/files/662352/service.yml.txt)
fwiw these are what I used to set it up in a single-node cluster (so no need for shared storage).  Note that the deployment is set up to my dockerhub image because the original dev hasn't merged my pull request to add th

[2016-12-20 06:27] tyranron commented on #407
@tomav yes, we can help people with that page, because there are some some tips which are not obvious enough. Like `v1.PodSpec.subdomain` usage, or placing `docker-mailserver` beyond reverse-proxies (which requires proxy protocol enabling).
I can do that but cannot guarantee doing it fast.

Also, +1 for merging #390 of @iMartyn .

[2016-12-20 07:35] tomav commented on #407
@tyranron thanks, this page will be helpful.
Regarding @iMartyn PR, I'll merge as soon as he resolves the conflict. No problem.
Do not hesitate to review other's PR on topics that are important for you.

[2016-12-20 07:52] tomav commented on #403
Hi @Nesousx, thanks for using this image.
Regarding your point, `/etc/aliases` to set email address and installing package like `ssmtp` should do the trick.

Let me know.

[2016-12-20 07:56] tomav commented on #394
Feel free to submit a PR and document this in Wiki.

[2016-12-20 08:09] alinmear commented on #394
@tomav see #409

[2016-12-20 10:32] iMartyn commented on #407
Unfortunately my patch was before the script was effectively rewritten.  I'm not going to have time to refactor it so completely.  Hopefully it will serve as inspiration to someone else but as I'm not using this any more, my time is limited to work on it.

[2016-12-20 11:13] dbellavista opened #410 "Support more SSL ciphers"
The Dovecot SSL cipher suite is really strict and programs such as node.js with the default ciphers are unable to connect using TLS.

The only way to connect is to use `DES-CBC3-SHA` which is not secure (BEAST attack).

Those are the default nodejs ciphers:

[code]

[2016-12-20 19:26] icosahedron opened #411 "[Question] Does Dovecot use ELK for IMAP searches?"
If the ELK stack is installed, or if docker-mailserver is configured to use an external ELK stack, does Dovecot use this for IMAP searches or does it rely on its own indexing?

[2016-12-20 22:57] devel0 opened #412 "remote ip when in bridged network"
Running the container in an alternative network, say for example

[code]

and specifying the follow in the docker-compose.yml

[code]

I receive attacks that fail2ban can't block, or in other words, it block myself, infact it will list the docker gateway ip

[code]

instead of the remote.

following is the network config from inside the docker

[code]

any suggestion ?

[2016-12-20 23:27] devel0 commented on #412
solved, it was my mistake:
I exported ports to the host ( -p arguments ) and enabled host firewall using the INPUT rule while the correct manner seems to preroute traffic 25,587,993 and so on directly to the ip of the docker, this way remote ip is shown correctly.

[2016-12-20 23:27] #412 closed

[2016-12-21 10:03] viossat commented on #281
I had the same problem, it was impossible to send/receive emails:
[code]
Switching to `supervisord` could be an option for better stability.

[2016-12-21 10:29] tomav commented on #411
Hi @icosahedron, absolutely not. The mailstack forwards logs to ELK for stats/debug.
IMAP searches depend on mail client.
Not sure there's something to do, but feel free to reopen if needed.

[2016-12-21 10:29] #411 closed

[2016-12-21 10:33] tomav opened #414 "Increase Travis Build time"

[2016-12-21 10:39] tomav commented on #281
@viossat the problem with amavis not running?
If yes, I do agree, `supervisord` may be an interesting option.
Feel free to submit a PR with tests. I'll be happy to merge it.

[2016-12-21 10:42] tomav commented on #410
Hi @dbellavista, which do you suggest?
Want to contribute?

[2016-12-21 11:03] #414 closed

[2016-12-21 12:22] kbeaugrand opened #417 "SSL Support"
Hi,

I'm using SSL support with letsencrypt for my mail server with your container and I've got an error with SSL.

When trying connect to secured communication I encounter an SSL handshake failure on SMPTS ports (465, 587).

[code]

But this works fine with IMAPS port (993).
[code]
Here is an extract of my container configuration:
[code]

Regards,

[2016-12-21 12:24] tomav commented on #417
Can I see the startup log?  (you should edit and reformat your issue for more readability)

[2016-12-21 12:28] kbeaugrand commented on #417
Yes sure,

This is my startup logs :

[code]

[2016-12-21 12:42] tomav commented on #417
Are you trying from OSX?

[2016-12-21 12:46] kbeaugrand commented on #417
No, i'm trying from Windows 10 on Cmder.

________________________________
De : Thomas VIAL <notifications@github.com>
Envoyé : mercredi 21 décembre 2016 13:42:46
À : tomav/docker-mailserver
Cc : Kevin BEAUGRAND; Author
Objet : Re: [tomav/docker-mailserver] SSL Support (#417)

Are you trying from OSX?

-
You are receiving this because you authored the thread.
Reply to this email directly, view it

[2016-12-21 12:47] tomav commented on #417
Ok, I'll have a look. There might be an issue.

[2016-12-21 14:51] tomav commented on #410
They may be aligned to Postfix configuration:

[code]

[2016-12-21 16:03] tomav commented on #417
Just tried on your mail server and seems to work. Did you recently changed something?

[2016-12-21 17:02] kbeaugrand commented on #417
I didn't changed anything. And for me it's still note working.
I know that you're french (I'm too), we can speak with IM if you want more reactivity...

________________________________
De : Thomas VIAL <notifications@github.com>
Envoyé : mercredi 21 décembre 2016 17:03:30
À : tomav/docker-mailserver
Cc : Kevin BEAUGRAND; Author
Objet : Re: [tomav/docker-mailserver] SSL Support (#417)

Just tried

[2016-12-21 17:14] scottstensland commented on #407
I have this repo running inside Docker using kubernetes to run on Amazon AWS
and am keen to pitch in to help others reach this possibility ... however my pressing concern
is to port onto ubuntu 16.04 ... not to jackknife this post but can someone point me to
current state of affairs on any ongoing port to 16.04 ?  If not I will share my progress on that port

[2016-12-21 17:20] tomav commented on #417
Try `docker exec mail openssl s_client -connect mail.ntic-infos.net:587 -starttls smtp -CApath /etc/ssl/certs` and paste the result here.

[2016-12-21 17:23] kbeaugrand commented on #417
Hi, it seems taht everything is ok :

[code]

[2016-12-21 17:26] tomav commented on #407
Hi @scottstensland, thanks for your help on Kubernetes. It could be usefull to have a Wiki page on that topic for docker-mailserver.
Regarding `16.04`, we can probably upgrade without major issue. Want to contribute on that point?

[2016-12-21 17:41] citec opened #419 "postfix-virtual delivery duplicated"
Hi, I have configured some virtual addresses, for example:

junior@example.com   junior@example.com, produccion@example.com

I want to get a copy in junior@example.com and another one delivered to produccion@example.com, but, instead of that, I get one copy in junior@ and TWO copies in produccion@, why? maybe some recursive delivery? or am I setting it up wrong?

Thanks

[2016-12-22 09:01] tomav commented on #417
There are probably things to improve on SSL configuration, but currently this seems ok.
Feel free to reopen or open a new issue if needed.

[2016-12-22 09:01] #417 closed

[2016-12-23 17:55] danielquinn opened #421 "Allow for delivery via generic mail servers"
I have been looking for this sort of project for a long time, so I'm just thrilled to have stumbled upon it this morning.  Unfortunately, the one use case I need it for is not yet supported: I want to have this mailserver run on a local network, accept mail for delivery and then *have an external mail service do the actual delivery*.  I see the wiki has this page about [doing this with AWS](https:

[2016-12-23 21:22] tronicum opened #422 "always spam headers, with results from spamassassin"
i tried /etc/amavisd/conf.d/101-docker.conf but it does not work

@local_domains_maps=read_hash("/etc/postfix/vhost");

$sa_tag_level_deflt  = undef;  # add spam info headers if at, or above that level
$sa_tag2_level_deflt = 5; # add 'spam detected' headers at that level

[2016-12-23 22:53] tomav commented on #422
Hi @tronicum, [Documentation](https://github.com/tomav/docker-mailserver#sa_tag) might be helpful :-)

[2016-12-23 22:55] tomav commented on #421
Try AWS config, it may work when I look at the code.
Let us know.

[2016-12-23 23:23] tomav opened #423 "Add CONTRIBUTING.md"

[2016-12-24 02:30] kachkaev opened #424 "Error: Please fix your configuration. Exiting..."
Hi guys,

I just pulled and updated image `tvial/docker-mailserver:v2` and started seeing this in the logs:

[code]

I'm using `docker-compose.yml`. Nothing has been changed in the config since the last `docker-compose up` around a month ago; all was working perfectly in the time-being.

Given that the image was updated just three hours ago, can it be some newly introduced bug or a backwards-compa

[2016-12-24 04:44] tronicum commented on #422
it does not add spam result headers, i already tried that.

[2016-12-24 04:45] tronicum commented on #422
do not have reopen rights

[2016-12-24 09:11] tomav commented on #424
Yes, it's possible, I worked late, tests were green but as you know, we don't have 100% coverage.
I introduced a `DMS_DEBUG` env. Set it to `1` to get full startup log and paste it here.
I'll add how to contribute (PR and issue) in #423

[2016-12-24 09:11] tomav opened #425 "warning: /etc/aliases, line 2: record is in "key: value" format; is this an alias file?"

[2016-12-24 09:56] tomav opened #426 "Dovecot/postfix new SSL config breaks Mail OSX client"
cc @dbellavista @icewind1991

I'm gonna revert 2 latest changes.

[2016-12-24 13:24] #426 closed

[2016-12-24 13:24] tomav commented on #424
@kachkaev let me know if I can help.

[2016-12-24 13:52] #423 closed

[2016-12-24 14:08] kachkaev commented on #424
Hi @tomav, thanks for this hint.

I tried adding `DMS_DEBUG: 1` to my `docker-compose.yml` and the service has started! Interestingly enough, when I remove this environment variable and `docker-compose down; docker-compose up`, the container does not boot again. Tried this a few times just now. Any thoughts?

[2016-12-24 14:10] tomav commented on #424
Could you paste your ENV via `printenv`?
I'll try to reproduce (after XMas sorry)

[2016-12-24 14:11] kachkaev commented on #424
You mean `printenv` inside the container?

[2016-12-24 15:27] psi-4ward commented on #283
Hey getting this up. I'm also interested in a GUI, not for the administration but more for the *resller*:
* managing accounts
* manage a simple account: autoresponder ...

@tomav Pls take a look into your "other" Folder in Facebook :)

[2016-12-24 17:48] tomav commented on #424
I tried with your ENV and started well using `DMS_DEBUG` 1 or 0.
If your data persist outside the container, remove it and start again.

We know with @alinmear that a work needs to be done on function return value during startup.
If you have some time to dig into with us, feel free!

[2016-12-24 18:05] tomav commented on #422
This should help: http://blog.dmitryleskov.com/small-hacks/forcing-spamassassin-to-add-the-x-spam-status-header-to-ham-for-debugging/

[2016-12-24 18:41] tomav commented on #422
Tested on my servers, `SA_TAG=-5.0` should work. (negative value)

[2016-12-24 18:41] #422 closed

[2016-12-24 20:32] tronicum commented on #422
[code]

[code]

[2016-12-24 21:09] tronicum commented on #384
looks nice, but the software is not released since 2013. might look into it in February.

[2016-12-24 21:09] tronicum commented on #419
which file did you put that in?

[2016-12-24 21:11] tronicum opened #430 "explore dovecot master/master"
What about dovecot master/master replication: http://wiki.dovecot.org/Replication ?

[2016-12-24 21:17] tronicum commented on #410
seems to be fixed with 2a15ac619e5d3de81c3ff4d6620c2a3a0f8e4f11

[2016-12-24 22:22] tomav commented on #410
Yep.

[2016-12-24 22:22] #410 closed

[2016-12-24 22:25] tomav commented on #430
There is already a discussion about that in #254. Feel free to feed the discussion.

[2016-12-24 22:25] #430 closed

[2016-12-24 22:39] tronicum commented on #430
yes, but about a different topic...

[2016-12-24 22:44] tronicum commented on #430
if you really care about #236 you should work on your communication and leading style.

[2016-12-24 22:44] tronicum commented on #430
i just started a branch for 254 but with that kind of bingo. have a nice christmas.

[2016-12-24 23:32] tomav commented on #430
Thanks @tronicum, let us know.
I'll keep your advice in mind.
Merry Christmas too.

[2016-12-24 23:36] tomav commented on #422
Are you sure you fully restarted the container? (`start-mailserver.sh`must be triggered).

[code]

[2016-12-25 00:28] dbellavista commented on #378
[code]

This log is from 2-3 SMTP connections trying to send email with attachments. I used the environment variable `DISABLE_CLAMAV=1` however `amavis` still tries to perform the scan

[2016-12-25 00:44] tronicum commented on #422
I did docker-compose down && docker-compose up -d that ensures recreation.

[2016-12-25 00:54] tronicum commented on #254
after hacking some stuff into the #254 branch. secondary and primary is ok for 2 node clusters. should we care about 3? if we do master master (#430), this naming scheme is not relevant as both are master. thinking about it.

function _setup_ha_nonprimary() {
....
}

it should act as being a master, unless it is tagged as a slave (dont like that name)
or failover node (failover does not "work" for

[2016-12-25 14:29] tomav commented on #378
I'm gonna push a fix. You'll let me know.

[2016-12-25 14:40] tomav commented on #378
Implemented @lolownia suggestion.

[2016-12-25 14:41] #378 closed

[2016-12-25 14:49] tomav commented on #378
Image is being built.

[2016-12-25 14:55] tomav commented on #378
You can now `docker pull tvial/docker-mailserver:v2`.
There are 2 things to check:
- no more presence of `(!)connect to /var/run/clamav/clamd.ctl failed` in the logs (tested)
- UNCHECKED should disappear (not fully tested)

[2016-12-25 14:56] #425 closed

[2016-12-25 15:51] ma-ver-ick commented on #424
Having the exact same problem :(
Tried docker-compose rm -v && docker-compose up with untouched configuration files and still get the error message.
DMS_DEBUG does nothing.

[2016-12-25 16:15] tomav commented on #424
Could you paste startup log with and without debug?

[2016-12-25 17:15] tomav commented on #256
I'm gonna work on this one.
`DISABLE_AMAVIS` will me removed to let DKIM work as expected.
`DISABLE_CLAMAV` will remain untouched.`
`DISABLE_SPAMASSASSIN` does not exist in the code :-)

[2016-12-25 17:28] tomav commented on #256
And I think everything should be `ENABLE_` and not `DISABLE_`.

[2016-12-25 18:03] tomav commented on #424
Had the same problem on restart. Removing the container and restarting solved the issue.
However, there's something wrong that needs to be fixed.

[2016-12-25 18:27] alinmear commented on #424
A fast workaround would be to bypass the return values. So we would lose the possibility to check whether a configuration step was OK or not. It would be much better to identify the problem, which means on what step the error occurs.

Every configuration step is rather verbose, so post the section where the startup failed.

[2016-12-25 18:28] tomav commented on #424
Yep, and I'll try to figure it out if I'm able to reproduce the problem on my dev environment.

[2016-12-25 18:32] alinmear commented on #424
@tomav, does this problem on restart only occurs with debug flag set to 1?

[2016-12-25 18:33] tomav commented on #424
I had `DMS_DEBUG=1` when I had the issue. Which was not the case for @kachkaev

[2016-12-25 19:41] TheReal1604 commented on #426
@tomav my mail OS X client could not connect with the latest image from a day ago. (Also my iPhone could not send mails.) Can you fix this pls?

[2016-12-25 19:54] tomav commented on #426
Are you sure you have the very latest? We identified this issue yesterday and fixed it.
I have not this problem anymore (I'm also using OSX/iOS)

[2016-12-25 20:21] TheReal1604 commented on #426
@tomav think so...

[code]
[code]

How can I give you more details? ;)

[2016-12-25 20:24] tomav commented on #426
`docker exec hype_mail_1 cat /etc/dovecot/conf.d/10-ssl.conf` output?

[2016-12-25 20:25] TheReal1604 commented on #426
[code]

[2016-12-25 20:25] dbellavista commented on #426
Also, `openssl --version` (sorry for the intrusion :) )

[2016-12-25 20:27] TheReal1604 commented on #426
@dbellavista where should I execute this command? Inside the docker container, on my Mac OS X client?

[2016-12-25 20:27] tomav commented on #426
You're right image is the latest. (sometimes people pull but don't restart properly)

[2016-12-25 20:29] TheReal1604 commented on #426
@tomav Ah, some more detail: I can only not send emails, receiving works fine.

[2016-12-25 20:29] tomav commented on #426
What do you have in logs?

[2016-12-25 20:31] TheReal1604 commented on #426
@tomav Could you please be more concrete? What logs? Postfix, Dovecot, Mac Mail? ;-)

[2016-12-25 20:32] tomav commented on #426
Default container output, based on `/var/log/mail/mail.log` (want to see you errors when sending emails)

[2016-12-25 20:37] TheReal1604 commented on #426
No errors in the logs.. here is the log:

[code]

[2016-12-25 20:39] dbellavista commented on #426
@TheReal1604 the macos client. And the output of `openssl s_client -connect 127.0.0.1:25 -starttls smtp`

[2016-12-25 20:41] tomav commented on #426
@TheReal1604 you can't send email but have no error in the logs?
This logs is just a startup log (thanks for it, it helps sometimes). But what we'd like to see is the result in the logs when you try to send an email.

[2016-12-25 20:44] TheReal1604 commented on #426
from my Mac:
[code]
on my server:
[code]
@tomav there are no logs written when I try to connect with smtp from my iPhone or Mailclient. :(

[2016-12-25 21:05] tomav commented on #426
You should have logs if you can connect (error or success).
From your mac, can you retry the `openssl` command replacing `127.0.0.1` with your real server?

[2016-12-25 21:08] TheReal1604 commented on #426
[code]
[code]

[2016-12-25 21:10] tomav commented on #426
Your server is not reachable. That's all.
Check your firewall.

[2016-12-25 21:28] dbellavista commented on #426
@TheReal1604 when using the 587 port the command should be
`openssl s_client -connect mail.myserver.de:587`

[2016-12-25 21:44] TheReal1604 commented on #426
hmm. thanks for the infos guys.

Maybe there is something fishy with my iptables rules, but its after the recreation of the container. Argh.

[2016-12-25 21:54] #256 closed

[2016-12-25 22:12] tomav commented on #357
Fixed by #413

[2016-12-25 22:12] #357 closed

[2016-12-26 09:08] tomav opened #433 "ELK Build fails"
[code]

[2016-12-26 10:08] tomav commented on #433
[code]

https://github.com/elastic/logstash/issues/6411
https://github.com/logstash-plugins/logstash-filter-translate/issues/39

[2016-12-26 10:23] tomav commented on #297
Fixed by #432

[2016-12-26 10:23] #297 closed

[2016-12-26 11:11] citec commented on #419
config/postfix-virtual.cf

[2016-12-26 23:49] TheReal1604 commented on #426
@dbellavista @tomav just to give a summary on the issue:

- docker-mailserver and my iptables rules are working just fine
- our isp filtered port 25 and 587 on our connection. (WTF?)

thanks for your awesome work!

[2016-12-27 10:47] tomav opened #434 "Move to supervisord"
Proposed by @viossat, good idea.

[2016-12-27 10:50] tomav opened #435 "Make POSTMASTER_ADDRESS mandatory"
And configure dovecot + `/etc/aliases` with it.

[2016-12-27 11:07] tomav commented on #435
Just see that, when empty, it's currently statically set to `postmaster@domain.com` which is not a good idea.

[2016-12-27 13:15] tomav commented on #426
It happens on some xDSL or fiber modem. Usually its a default setting that can be disabled in the admin.

[2016-12-27 13:16] tomav commented on #426
Anyway, thanks for the update!

[2016-12-27 14:39] tomav opened #437 "ENABLE_POP3 should be set to 0 by default"

[2016-12-27 14:55] #437 closed

[2016-12-27 18:21] nwolber opened #442 "Use recipient_delimiter with aliases"
It is currently not possible to use the `recipient_delimiter` (by default +) with aliases configured in `config/postfix-virtual.cf`. The reason is, that dovecot doesn't know about the aliases.

Let's say you have `me@somedomain.com` configured as an account in `config/postfix-accounts.cf` and an alias `full.name@somedomain.com` in `config/postfix-virtual.cf`. When a mail with recipient `full.name+

[2016-12-27 20:57] ma-ver-ick commented on #424
So, sorry for the confusion.

With this docker-compose.yml file

[code]

I get:

[code]

When enabling DMS_DEBUG=1 I get:

[code]

I just repulled the latest image with docker pull. `docker-compose rm -v && docker-compose up` doesn't help - same output as shown above.
Hope this helps in diagnosing the problem.

[2016-12-27 21:49] cortopy commented on #255
hi, just wondering if postgrey is still in the roadmap

[2016-12-27 21:53] tomav commented on #255
Hi @cortopy, I have not much time to add new feature, I'm more on refactoring current code and adding tests. But I'll help each person wanting to contribute to this project.

[2016-12-28 17:43] spock commented on #389
Have the same razor-related problem while building.
I was getting different error messages (resulting in build failure) at this step:
`Step 24 : RUN razor-admin -create && razor-admin -register && pyzor discover`

Some of the errors that I've seen are:
[code]

(Haven't recorded the first few, but along the same lines of having problems with sockets, timeouts, etc.)

The build did work on the 4th-5

[2016-12-28 19:12] benne commented on #424
I'm seeing the same behavior as @ma-ver-ick

[2016-12-29 07:58] weo opened #443 "SASLAUTH rimap: does it work?"
I want to use imap auth for smtp submission and configured
[code]
In start-mailserver.sh, function _setup_saslauthd(), that SASLAUTHD_MECHANISMS setting is overwritten in case SASLAUTHD_LDAP_SEARCH_BASE is empty or not set.

I worked around that and set SASLAUTHD_LDAP_SEARCH_BASE to a dummy value. Then MECHANISMS in /etc/default/saslauthd  is set to "rimap".

But authentication still fails when se

[2016-12-29 18:52] MaxLareo commented on #424
I got the same problem too and it seems like the problem come from volumes description in the docker-compose yaml.

I was using the same configuration than @ma-ver-ick and after multiple try, I found that using this

[code]

fix the configuration error.

Hope this helps

[2016-12-29 21:40] spock opened #445 "readme.md: adding accounts and generating DKIM keys, why not with setup.sh?"
Thanks for a great project, preparing to start using it very soon.

There exists the highly convenient `setup.sh` script, but `readme.md` is still showing "full" examples of adding email accounts and generating DKIM keys. Is this left so on purpose? If not, then I can update the readme.md to show `setup.sh` commands instead.

[2016-12-30 07:46] alinmear commented on #443
Hm, obviously we are missing some Postfix configurations, that were set by master.cf. I am currently a little bit busy, but hopefully i can dig today into it.

[2016-12-30 07:49] alinmear commented on #424
Hopefully today I have time to dig into this. Maybe this is connected to the the Misc function to save the container state.

[2016-12-30 13:26] citec commented on #419
I need to explain here that junior@ is a real mail account in the container, but I want to receive copies in produccion@, so junior@ receives one copy and produccion@ receives another copy. Instead of that I get one copy in junior@ and two copies in produccion@

[2016-12-30 19:08] tomav commented on #442
Are you sure this is possible on aliases on postfix?

[2016-12-30 19:23] nwolber commented on #442
I think it is, I got it working for me. I just pushed the commit here: https://github.com/nwolber/docker-mailserver/commit/19c6a40e758aa56000fdb9a526a48047ef150ddb

Unfortunatly I didn't have time to write a test case yet.

[2017-01-01 09:57] tomav commented on #445
Hi @spock, a lot of things were existing in `README` but there was too much information.
We only want to keep what allows you to start a container with an email account (and a default security). "Advanced" options are detailed in wiki.

Fee free to add a note/link to the wiki for `setup.sh` if you think it's necessary.

[2017-01-01 09:59] tomav commented on #442
Tes case are needed to integrate a PR. We have 100+ tests but its currently not enough.
Have you checked https://github.com/tomav/docker-mailserver/pull/409?
@alinmear any thought?

[2017-01-01 18:18] nwolber commented on #442
I thought so. I hope to get time to write a test some time soon. When I'm done with it, I will open a PR.

[2017-01-02 10:39] alinmear commented on #424
So i found the problem:

it is linked with the DEBUG logic of @tomav for handling the verbosity of the container startup and the function _fix_var_mail_permissions.

the container starts up the first time as expected, because at first startup the first statement is met:

# Fix permissions, but skip this if 3 levels deep the user id is already set
if [ `find /var/mail -maxdepth 3 -a \( \! -user 500

[2017-01-02 10:45] alinmear commented on #424
@tomav you wrote

Can you paste the output the container startup because then your problem can not be related with the problem of @kachkaev  and @benne.

[2017-01-02 10:52] tomav commented on #424
Thanks for spotting this. I'll PR your `return 0` today except if you want to do it.
Regarding the problem, I was not able to reproduce it. I'll try again changing `DMS_DEBUG` value.

[2017-01-02 11:25] alinmear commented on #443
@weo can you provide more informations about your setup.

First let us investigate the saslauthd:
did you specify the SASLAUTHD MECH_OPTIONS?

e.g. MECH_OPTIONS="127.0.0.1".

is saslauthd working properly. Did you try testsaslauthd -u <user> -p <pass> -r <domain>

it would be great when you connect this with a unit test for saslauthd and rimap. Right now we are only checking for ldap authenticatio

[2017-01-02 11:39] alinmear commented on #424
@tomav. it would be good for me, if you gonna make the PR! Thx so far!

[2017-01-02 12:40] tomav commented on #424
@kachkaev image is building. Once done, could you pull and test it to see if it's better? Thank you.

[2017-01-02 12:53] weo commented on #443
Yes, MECH_OPTIONS is set to 127.0.0.1

"testsaslauthd -u myuser -p mypass -r mydomain" succeeds

But smtp access is not authorized ...

I will try to create a test case ...

[2017-01-02 13:25] tomav commented on #424
Image ready.

[2017-01-02 15:44] kachkaev commented on #424
Thanks for you work @tomav! I just commented-out `DMS_DEBUG=1` and re-started the container, it worked! At least it gets to the point when I see:
[code]

The only thing that was not 100% obvious was that I had to change `tvial/docker-mailserver:v2` to `tvial/docker-mailserver:2.1` in my `docker-compose.yml`. Maybe updating two other tags (`v2` and `v2.1`) [on Docker Hub](https://hub.docker.com/r/t

[2017-01-02 15:48] Rubytastic2 opened #449 "Connection refused after starting docker container"
Unable to connect to the docker mailserver.
We disabled the port 25 , would this cause issues? port 25 is pop3 we would like to disable
pop3.

Could someone please explain a bit more how to get this up and running?
I understand that the mail data is stored outside the docker container image on the host itself?
We use CentOS